<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% if session['type'] == "company" %}
                {% if session['role'] == 'creator' %}
                    {% include 'company_nav_bar.html' %}
                {% else %}
                    {% include 'manager_nav_bar.html' %}
                {% endif %}
            {% else %}
                {% include 'user_nav_bar.html' %}
            {% endif %}


        <div class="container-fluid mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="row mb-3 d-none">

                    </div>
                    <div class="row">
                        <div class="col-xl-12 offset-lg-0 offset-xl-0">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold">{{_('Add a new campaign')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p></p>
                                    <form name="form" action="/company/add_campaign/" method="POST">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label><strong>{{_('Campaign name')}}</strong><br></label><input class="form-control" type="text" name="name" required></div>
                                                <div class="form-group"><label><strong>{{_('Campaign description')}}</strong></label><textarea class="form-control" type="text" required rows="3" name="description"></textarea></div>
                                            
                                            
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="pass" id="flexCheckDefault" {{box_pass}} name="pass">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{pass}}
                                            </label>
                                        </div>
                                        <hr>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="experience" id="flexCheckDefault" {{box_experience}} name="experience">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{experience}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="skill" id="flexCheckDefault" {{box_skill}} name="skill">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{skill}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="training" id="flexCheckDefault" {{box_training}} name="training">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{training}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="recommendation" id="flexCheckDefault" {{box_recommendation}} name="recommendation">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{recommendation}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="hiring" id="flexCheckDefault" {{box_hiring}} name="hiring">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{hiring}}
                                            </label>
                                        </div>
                                        <hr>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="work" id="flexCheckDefault" {{box_work}} name="work">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{work}}
                                            </label>
                                        </div>
                                       
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="vacation" id="flexCheckDefault" {{box_vacation}} name="vacation">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{vacation}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="internship" id="flexCheckDefault" {{box_internship}} name="internship">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{internship}}
                                            </label>
                                        </div>
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="relocation" id="flexCheckChecked" {{box_relocation}} name="relocation">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                {{relocation}}
                                            </label>
                                          </div>
                                          <br>
                                            
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-6 col-xl-3">
                                                <div class="form-group"><button id="in_progress_button" class="btn btn-primary btn-sm" type="submit">{{_('Add')}}</button></div>
                                            </div>
                                            <div class="col-6 col-xl-3">
												<a href="/user/">
													<div class="form-group"><button class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
													</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

</body>

</html>
