<!DOCTYPE html>
<html>
<!-- campaign_codehtml-->
<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
              {% if session['type'] == "company" %}
              {% include 'company_nav_bar.html' %}
              {% else %}
              {% include 'user_nav_bar.html' %}
              {% endif %}

        <div class="container-fluid  mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;{{_('Reference code')}}</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/request_certificate" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>{{company_name}} {{_(' provided you with a Reference code. Enter this code to access to the available credentials.')}}
                                        <br>
                                        </p>
                                    <div class="row">
                                        <div class="col-6 offset-3">
                                        <div class="form-group">
                                            <input class="form-control" type="text" title="" data-bs-tooltip="" required  name="reference_code" >
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" title="" type="submit" name="choice" value="reference_code">{{_('Next')}}</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button onclick="goBack()" title="Back to previous view" class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                             {% include 'user_footer.html' %}
    </div>
    <script>function goBack() {  window.history.back();}</script>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
</body>

</html>
