<!DOCTYPE html>
<!-- issue_identity_credential.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
           {% include 'company_nav_bar.html' %} 
                <div class="container-fluid mt-3">
                    <h3 class="text-dark mb-4">{{name}}</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8 col-xl-6 offset-xl-3">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <p class="text-primary m-0 font-weight-bold">{{_('Issue verifiable ID')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form id="form" action="/company/issue_credential_workflow?id={{credential_id}}" method="POST">
                                                <fieldset {{field}} >

                                                <input hidden value="{{image}}" name="image" >
   
                                                <div class="form-row">
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>Reference</strong><br></label><input class="form-control" value="{{reference}}" type="text" name="reference" disabled></div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>{{_('Title')}}</strong><br></label><input class="form-control" value="{{jobTitle}}" type="text" name="jobTitle" ></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>{{_('Firstname')}}</strong></label><input class="form-control" value="{{givenName}}" type="text" name="givenName" required></div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>{{_('Lastname')}}</strong></label><input class="form-control" type="text" value="{{familyName}}" name="familyName" required></div>
                                                    </div>
                                                </div>

                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label><strong>{{_('Address')}}</strong></label><textarea class="form-control" type="text"  name="address" >{{address}}</textarea></div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>{{_('Birthdate')}}</strong><br></label><input class="form-control" value="{{birthDate}}" type="date" name="birthDate"></div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>{{_('Email')}}</strong></label><input class="form-control" type="text" value="{{email}}" name="email"></div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>{{_('Gender')}}</strong><br></label>
                                                        <select class="form-control" name="gender" >
                                                            <option value="Male" selected="">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>{{_('Phone')}}</strong></label><input class="form-control" value ="{{telephone}}" type="text" name="telephone" ></div>
                                                </div>
                                                
                                            </div>

                                        </fieldset>

                                            <div class="form-row">
                                                {% if session['call'][4] != 'signed' and session['role'] in ['creator', 'reviewer', 'issuer'] %}
                                                <div class="col-xl-3 order-xl-1">
                                                    <div class="form-group"><button title="This credential will be updated only." onclick="return confirm('Are you sure you want to update this credential ?')"  class="btn btn-primary btn-sm" name="exit" value="update" type="submit">{{_('Update')}}</button></div>
                                                </div>
                                                {% endif %}
            
                                                {% if session['call'][4] == 'drafted' and session['role'] in [ 'reviewer', 'cretaor'] %}
                                                <div class="col-xl-3 order-xl-1">
                                                    <div class="form-group"><button class="btn btn-primary btn-sm" onclick="return confirm('Are you sure you want to validate this credential ?')" title="This credential will be considered as reviewed" name="exit" value="validate" type="submit">{{_('Validate')}}</button></div>
                                                </div>
                                                {%  endif %}
            
                                                {% if session['call'][4] != 'signed' and session['role'] in ['creator', 'issuer'] %}
                                                <div class="col-xl-3 order-xl-1">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-sm" name="exit" id="in_progress_button" title="This credential will be signed and sent to the Talent" onclick="return confirm('Are you sure you want to sign this credential ?')" value="sign" type="submit">{{_('Sign')}}</button>
                                                    </div>
                                                </div>
                                                {% endif %}
            
                                                {% if session['role'] in ['creator', 'reviewer', 'issuer'] %}
                                                <div class="col-xl-3 order-xl-1">
                                                    <div class="form-group"><button class="btn btn-primary btn-sm" title="This credential will be removed from the local database" name="exit" value="delete" onclick="return confirm('Are you sure you want to delete this item?')" type="submit">{{_('Delete')}}</button></div>
                                                </div>
                                                {% endif %}
            
            
                                                <div class="col-xl-3 order-xl-1">
                                                    <div class="form-group"><button onclick="goBack()" class="btn btn-primary btn-sm" title="" name="exit" value="back" type="button">{{_('Back')}}</button></div>
                                                </div>

                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'user_footer.html' %}
    </div>
    <script>function goBack() {  window.history.back();}</script>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
     <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
     <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

</body>
</html>
