<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        {% include 'company_nav_bar.html' %}

        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-xs col-md-8 offset-md-2 ">
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">&nbsp;Request a reference credential</p>
                </div>
                <div class="card-body">
                  <form action="/user/request_reference_credential/" method="post">
                    <div class="form-row">
                      <div class="col text-dark">
                        <p>Complete this request form as precisely as possible to help your referent to draft the final credential. He will receive an email with this information.</p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Title</label><input title="Title for the certificate" required class="form-control" type="text" name="title"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Location</label><input class="form-control" required type="text" name="location"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Project description</label><textarea rows="4" title="A description of the project, objectives, technologies, team, delay..." required class="form-control" name="description"></textarea></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Start date</label><input class="form-control" required type="date" name="startDate"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>End date</label><input class="form-control" required type="date" name="endDate"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Budget</label><input class="form-control" required type="text" name="budget"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Staff</label><input title="ex: ISO 9001"  class="form-control" required type="text" name="staff"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Core competencies (Optional)</label><input title="List of competencies with comma separator : competency1, competency2, ..." class="form-control" type="text" name="competencies"></div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-xl-6">
                        <div class="form-group"><label>Your contact</label>
                          <select name="reviewer_username" id="" class="form-control" required >
                            <optgroup label="Select a contact in the list below">
                              {{select|safe}}
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="form-group"><label>Reference</label><input title="Reference of your credential within the company" class="form-control" required type="text" name="reference"></div>
                      </div>
                    </div>
                    <br>

                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button class="btn btn-primary btn-sm" title="Send the form to your Referent." type="submit" name="choice" value="send">Send</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button onclick="goBack()" title="Cancel the request." class="btn btn-primary btn-sm" type="button" value="Back">Back</button></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script>function goBack() {window.history.back();}</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
