<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'user_nav_bar.html' %}


        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-4 ">
              <div class="card shadow my-5">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">{{_('Certificate of employment')}}</p>
                </div>
                <div class="card-body">
                  <form action="/user/request_work_credential" method="POST">
                    <div class="form-row">
                      <div class="col text-dark">
                        <p>{{_('Select options for your certificate')}}</p>
                      </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="on" name="baseSalary">
                        <label class="form-check-label" >
                            {{_('Salary to be included')}}
                        </label>
                    </div>
                   
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="on" name="jobTitle">
                        <label class="form-check-label" >
                            {{_('Job title to be included')}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="on" name="employmentType">
                        <label class="form-check-label" >
                            {{_('Contract type to be included')}}
                        </label>
                    </div>
                  
                    <br>
                    <div class="form-row">
                      <div class="col-6">
                        <div class="form-group"><button class="btn btn-primary btn-sm" title="Send the form to your Referent." type="submit" >{{_('Confirm')}}</button></div>
                      </div>
                      <div class="col-6">
                        <div class="form-group"><button onclick="goBack()" title="Cancel the request." class="btn btn-primary btn-sm" type="button" value="Back">{{_('Back')}}</button></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script>function goBack() {window.history.back();}</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
