<!DOCTYPE html>
<!-- phonepass_end.html -->
<html>

<head>
    {% include 'head.html' %}

</head>

   <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                       {% include 'guest_nav_bar_2.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                                <div class="p-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >{{message}}</h4></div>                                    
                                    <div class="text-center"><a class="small" href="/phonepass">{{_('Back')}}</a></div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
</div>
</div>

{% include 'user_footer.html' %}

    <script>function goBack() {window.history.back();}</script>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
</body>
</html>
