<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
   
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">

    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                 {% include 'guest_nav_bar_2.html' %}
      <br><br><br>
      
      <div id="content_desktop" class="d-none d-sm-block">
        <div class="text-center"       
        <p>{{_('Scan the QRCode bellow with your wallet')}}</p>
          <div class="my-3"><img src="{{qrcode(url)}}" style="width: 250px;border-radius:0px;"></div>
        </div>
        <div class="col text-center mt-2">
          <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
      </div>
      </div>

      <div id="content_smartphone" class="d-block d-sm-none">
        <div class="card">
          <img src="/static/img/image_16.jpeg" class="card-img-top">
          <div class="card-body">
              <div class="text-center">
                  <p class="card-text">
                    <br>{{_('Download your proof of phone number to your wallet')}}<br>
                  </p>
                  <a href="{{deeplink}}" class="btn btn-primary">{{_('Open the Talao wallet')}}</a>
              </div>
          </div>
      </div> 
     
    </div>

        {% include 'user_footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

<script>

var source = new EventSource('/phonepass/stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.check == 'success' & result.url_id == '{{id}}' ){
       window.location.href="/phonepass/end?followup=success";
     }
     if (result.check == 'expired' & result.url_id == '{{id}}' ){
       window.location.href="/phonepass/end?followup=expired";
     }
};


</script>
  </body>
</html>