<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Certificate</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-lg-8 col-xl-8 offset-xl-2">
              <div class="row">
                <div class="col-lg-9 col-xl-10 offset-lg-4 offset-xl-1">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <div class="row">
                        <div class="col-xl-12">
                          <p class="text-primary m-0 font-weight-bold"><strong>Agreement </strong>Certificate
                            <a class="text-secondary" href="/certificate/verify/?certificate_id={{certificate_id}}"><i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col">
                        <h1 class="text-dark mt-4" style="text-align: center;margin-bottom: 10px;font-family: Arimo, sans-serif;"><em>Certificate&nbsp;</em></h1>
                        <h1 class="text-dark" style="text-align: center;font-size: 16px;font-family: Arimo, sans-serif;">No. {{registration_number}}</h1>
                        <hr>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col" style="margin-left: 15px;">
                                <p class="text-dark" style="font-family: Arimo, sans-serif;">This certificate was issued to :&nbsp;<br></p>
                            </div>
                            <div class="col">
                                <h4 class="text-dark ml-2" style="font-family: Arimo, sans-serif;">{{issued_to_name}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">We confirm that the following project was carried out in accordance with our expectations :</p>
                                <h5 class="text-dark text-center mb-4" style="font-family: Arimo, sans-serif;"><strong>{{title}}</strong></h5>
                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">In compliance with the requirements of the following standard</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-dark text-center mb-4" style="font-family: Arimo, sans-serif;">{{stantard}}</p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                  <div class="col">
                                        <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">Location : <strong>{{location}}</strong></p>
                                </div>
                              </div>
                                <p class="text-dark ml-2 m-0" style="font-family: Arimo, sans-serif;">Description :</p>
                                <p class="text-dark ml-2 p-2 text-justify overflow-auto" style="font-family: Arimo, sans-serif;height: 120px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{description}}</p>
                                <p class="text-dark ml-2 m-0">This certificate is valid for the following scope :&nbsp;</p>
                                {{service_product_group|safe}}
                                <br>
                                <p class="text-dark text-center ml-2 m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">This certificate was issued through the Talao plateform.&nbsp; </p>
                            </div>
                        </div>
                        <hr style="margin-bottom: 0px;">
                        <div class="row mt-3" >
                            <div class="col">
                                <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">Date of issue : <strong>{{date_of_issue}}</strong></p>
                                <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">Issued by {{issuer_name}} :</p>
                                <div class="text-center"><img src="{{ url_for('send_file', filename=logo) }}" style="width: 250px;"></div>
                            </div>
                            <div class="col" style="height: 350px;">
                                <p class="text-dark ml-2" style="font-family: Arimo, sans-serif;">Valid until : <strong>{{date_of_validity}}</strong></p>
                                <p class="text-dark mt-4 ml-2" style="font-family: Arimo, sans-serif;">Signature :</p>
                                <div class="text-center"><img src="{{ url_for('send_file', filename=signature) }}" style="width: 200px;"></div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'user_footer.html' %}
      <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
