<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            
            {% if viewer == 'guest' %}    
                 {% include 'guest_nav_bar.html' %}    
             {% else %} 
                   {% if session['type'] == "company" %}    
						{% include 'company_nav_bar.html' %}    
					{% else %} 
						{% include 'user_nav_bar.html' %} 
					{% endif %}
               
             {% endif %}
             
                <div class="container-fluid">
                    <div class="row mb-3">
						
						
                        <div class="col-lg-8 col-xl-8 offset-xl-2">
                            <div class="row">
                                <div class="col-lg-9 col-xl-10 offset-lg-4 offset-xl-1">
                                   
                          
                                   
                                    <div class="card shadow mb-3">                                    
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <p class="text-secondary m-0 font-weight-bold"><strong>{{identity_firstname}} {{identity_lastname}}&nbsp;</strong>Professional Certificate
                                                    <a  class="text-secondary"  href="/certificate/verify/?certificate_id={{certificate_id}}&call_from={{call_from}}"><i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i></a></p>
                                                </div>
                                                
                                                
        										
												<div class="col">
                                                   
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        <div class="card-body">
                                            <form action="/user/user_settings/" method="POST">
                                                <div class="form-row">
                                                    <div class="col-xl-7">
                                                        <p class="text-center"><strong>{{title}}</strong><br></p>
                                                        <p class="text-center" style="font-size: 16px;">from {{start_date}} to {{end_date}}</p><textarea class="form-control" rows="4" style="font-size: 16px;">{{description}}</textarea>
                                                        <hr>
                                                        <div>
                                                            <div class="text-center">
																{{badge|safe}}
															</div>
                                                            <hr>
                                                            
                                                            
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How satisfied are you with the overall delivery ?</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star00}}"></i><i class="fa fa-star" style="{{star01}}"></i><i class="fa fa-star" style="{{star02}}"></i><i class="fa fa-star" style="{{star03}}"></i><i class="fa fa-star" style="{{star04}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How likely are you to recommend this talent to others ?</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star10}}"></i><i class="fa fa-star" style="{{star11}}"></i><i class="fa fa-star" style="{{star12}}"></i><i class="fa fa-star" style="{{star13}}"></i><i class="fa fa-star" style="{{star14}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How would you rate his/her ability to deliver to schedule ?</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star20}}"></i><i class="fa fa-star" style="{{star21}}"></i><i class="fa fa-star" style="{{star22}}"></i><i class="fa fa-star" style="{{star23}}"></i><i class="fa fa-star" style="{{star24}}"></i></div>
                                                            </div>
                                                          
                                                          
                                                           <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How would you rate his/her overall communication skills ?</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star30}}"></i><i class="fa fa-star" style="{{star31}}"></i><i class="fa fa-star" style="{{star32}}"></i><i class="fa fa-star" style="{{star33}}"></i><i class="fa fa-star" style="{{star34}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-5">
                                                        <div>
                                                            <p class="text-center"><strong>Issued by </strong><br></p>
                                                            <img id="company" class="mx-auto d-block" src="{{ url_for('send_file', filename=logo) }}" height="150" width="150">
                                                        </div>
                                                        <div><br><br><br><br>
                                                            <p class="text-center"><strong>Signed by {{manager}}</strong><br></p>
                                                             <img id="signature" class="mx-auto d-block" src="{{ url_for('send_file', filename=signature) }}" height="150" width="150">
                                                        </div>
                                                     </div>
                                                     
                                                </div>
                                            </form>
                                            <div class="row">
												{% if viewer == 'user' or session.get('endpoint') == 'certificate'  %}
												<div class="col text-right"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">Back</button></div>
													{% endif %}
											</div>
                                   </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                                        {% include 'user_footer.html' %}    

        <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
        	<script>function goBack() {  window.history.back();}</script>

    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>     
       
</body>

</html>
