<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if viewer == 'guest' %}
        {% include 'guest_nav_bar.html' %}
        {% else %}
        {% if session['type'] == "company" %}
        {% include 'company_nav_bar.html' %}
        {% else %}
        {% include 'user_nav_bar.html' %}
        {% endif %}
        {% endif %}
        <div class="container-fluid">
          <h3 class="text-dark mb-4">{{issuer_name}}</h3>
          <div class="row">
            <div class="col-xl-6 offset-xl-3">
              <div class="card-deck">
                <div class="card shadow mb-5">
                  <div class="card-body">
                    <h4><img class="mx-auto d-block card-img" src="{{ url_for('send_file', filename=issuer_picturefile) }}"></h4>
                    <div role="tablist" id="accordion-1">
                      <div class="card-body">
                        <h4 class="text-dark mb-4">Proof of Identity</h4>

                        {{kbis|safe}}
                        <br>
                      </div>
                      <!--     <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text contact">
                                                <h5 class="mb-0" title="text experience"><i class="fa fa-briefcase"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordio-1.item-2" href="#accordion-1 .item-3">&nbsp; Proof of Identity</a></h5>
                                            </div>
                                            <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <p class="card-text">{{kbis|safe}}</p>
                                                </div>
                                            </div>  -->
                      <!-- <div class="card">
                                            <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text personal">
                                                <h5 class="mb-0"><i class="fa fa-id-card"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1.item-1" href="#accordion-1 .item-1">&nbsp; Company Details</a></h5>
                                            </div>
                                            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <p class="card-text">{{personal|safe}}</p>
                                                </div>
                                            </div>
                                        </div> -->
                    </div>
                  </div>
                </div>
                <div class="card shadow mb-5">
                  <div class="card-body">
                    <h4 class="text-dark mb-4">Company Details</h4>

                    {{personal|safe}}
                    <br>
                    <div class="form-group"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">Back</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include 'user_footer.html' %}

  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
