<!DOCTYPE html>
<!-- identitypass_certificate.html-->
<html>

<head> 
    {% include 'head.html' %}
</head>

<body>
    <div id="content">
        <div id="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 offset-lg-4">
                            <div class="card shadow my-5">
                            <img class="card-img-top" src="{{image}}" >
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{givenName}} {{familyName}}</h5>
                                    <p class="card-text">
                                        {{company}}<br>
                                        {{jobTitle}}<br>
                                        {{email}}</br>
                                        {% if telephone != "None"  %}
                                        {{telephone}}</br>
                                        {% endif %}
                                        
                                    </p>        
                                    {% if viewer == 'user'  %}
                                    <button onclick="goBack()" class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button>
                                    {% endif %}
                                </div>  
                                <p class="text-dark text-center m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">{{_('This credential has been issued with the ')}} <a href="https://talao.co" >Talao issuer platform</a></p>

                               
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <script>function goBack() {  window.history.back();}</script>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
     <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
     <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

</body>
</html>
