<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}

</head>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
           
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-8 offset-lg-2">
                                    <div class="card shadow my-5">

                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col text-center">
                                                    <p class="text-secondary m-0 font-weight-bold">{{_('Professional Credential of ')}} {{givenName}} {{familyName}}
                                                    <a  class="text-secondary"  href="/certificate/verify/?certificate_id={{certificate_id}}"><i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i></a></p>
                                                </div>
												
                                            </div>
                                        </div>
                                        <div class="card-body">

                                            <form action="/user/user_settings/" method="POST">
                                                <div class="form-row">
                                                    <div class="col-xl-7">
                                                        <p class="text-center"><strong>{{title}}</strong><br></p>
                                                        <p class="text-center" style="font-size: 16px;">{{_('From')}} {{start_date}} {{_('to')}} {{end_date}}</p><textarea class="form-control" rows="4" style="font-size: 16px;">{{description}}</textarea>
                                                        <hr>
                                                        <div>
                                                            <div class="text-center">
																{{badge|safe}}
															</div>
                                                            <hr>

                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">{{questionDelivery}}</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star00}}"></i><i class="fa fa-star" style="{{star01}}"></i><i class="fa fa-star" style="{{star02}}"></i><i class="fa fa-star" style="{{star03}}"></i><i class="fa fa-star" style="{{star04}}"></i></div>
                                                            </div>

                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">{{questionRecommendation}}</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star10}}"></i><i class="fa fa-star" style="{{star11}}"></i><i class="fa fa-star" style="{{star12}}"></i><i class="fa fa-star" style="{{star13}}"></i><i class="fa fa-star" style="{{star14}}"></i></div>
                                                            </div>

                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">{{questionSchedule}}</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star20}}"></i><i class="fa fa-star" style="{{star21}}"></i><i class="fa fa-star" style="{{star22}}"></i><i class="fa fa-star" style="{{star23}}"></i><i class="fa fa-star" style="{{star24}}"></i></div>
                                                            </div>

                                                           <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">{{questionCommunication}}</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star30}}"></i><i class="fa fa-star" style="{{star31}}"></i><i class="fa fa-star" style="{{star32}}"></i><i class="fa fa-star" style="{{star33}}"></i><i class="fa fa-star" style="{{star34}}"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-5">
                                                        <div>
                                                            <p class="text-center"><strong>{{_('Issued by')}} {{companyName}} </strong><br></p>
                                                            <img id="company" class="mx-auto d-block" src="{{logo}}" height="200" width="200">
                                                        </div>
                                                        <div><br><br><br><br>
                                                            <p class="text-center"><strong>{{_('Signed by')}} {{managerName}}</strong><br></p>
                                                             <img id="signature" class="mx-auto d-block" src="{{signature}}" height="150" width="200">
                                                        </div>
                                                     </div>

                                                </div>
                                            </form>
                                            {% if viewer == 'user'  %}
                                            
												        <div class="col text-center"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
                                              
                                                {% endif %}
                                            <br>
                                            <p class="text-dark text-center m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">{{_('This credential has been issued through the Talao plateform')}}</p>
                      
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
	<script>function goBack() {  window.history.back();}</script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
    //    https://stackoverflow.com/questions/18191893/generate-pdf-from-html-in-div-using-javascript

        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>DIV Contents</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>
</body>

</html>
