<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}

 
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% if viewer == 'guest' %}
        {% include 'guest_nav_bar.html' %}
        {% else %}
        {% if session['type'] == "company" %}
        {% include 'company_nav_bar.html' %}
        {% else %}
        {% include 'user_nav_bar.html' %}
        {% endif %}
        {% endif %}
        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-lg-8 col-xl-8 offset-xl-2">
              <div class="row">
                <div class="col-lg-9 col-xl-10 offset-lg-4 offset-xl-1">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <div class="row">
                        <div class="col-xl-12">
                          <p class="text-primary m-0 font-weight-bold"><strong>Reference </strong>Certificate
                            <a class="text-secondary" href="/certificate/verify/?certificate_id={{certificate_id}}"><i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="text-dark text-center mb-4" ><strong>{{title}}</strong></h5>

                      <div class="row">
                        <div class="col-md-7" >
                            <p class="text-dark" >This claim was issued to : <strong>{{issued_to_name}}</strong><br></p>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-md-7">
                              <p class="text-dark">From <strong>{{start_date}}</strong> to <strong>{{end_date}}</strong><br></p>
                            </div>
                            <div class="col">
                              <p class="text-dark">Location :<strong> {{location}}</strong></p>
                            </div>
                      </div>
                      <div class="row">
                            <div class="col-md-7">
                              <p class="text-dark">Budget :<strong> {{budget}} Euros</strong></p>
                            </div>
                            <div class="col">
                              <p class="text-dark">Staff :<strong> {{staff}}</strong></p>
                            </div>
                      </div>
                          <p class="text-dark m-0">Description :</p>
                          <p class="text-dark p-2 text-justify overflow-auto" style="height: 150px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{description}}</p>
                          <hr>
                      {% if badge != '' %}
                      <div class="text-center">
                            {{badge|safe}}
                      </div>
                      <hr>
                      {% endif %}
                      <div class="form-row">
                            <div class="col">
                              <div class="form-group">
                                <p style="font-size: 16px;">How satisfied are you with the overall delivery ?</p>
                              </div>
                            </div>
                            <div class="col-md-12 col-xl-2 order-1" style="height: 40px;"><i class="fa fa-star" style="{{star00}}"></i><i class="fa fa-star" style="{{star01}}"></i><i class="fa fa-star" style="{{star02}}"></i><i class="fa fa-star"
                                style="{{star03}}"></i><i class="fa fa-star" style="{{star04}}"></i></div>
                      </div>
                      <div class="form-row">
                            <div class="col">
                              <div class="form-group">
                                <p style="font-size: 16px;">How would you rate his/her ability to deliver to schedule ?</p>
                              </div>
                            </div>
                            <div class="col-md-12 col-xl-2 order-1" style="height: 40px;"><i class="fa fa-star" style="{{star20}}"></i><i class="fa fa-star" style="{{star21}}"></i><i class="fa fa-star" style="{{star22}}"></i><i class="fa fa-star"
                                style="{{star23}}"></i><i class="fa fa-star" style="{{star24}}"></i></div>
                      </div>
                      <div class="form-row">
                            <div class="col">
                              <div class="form-group">
                                <p style="font-size: 16px;">How would you rate its communication ?</p>
                              </div>
                            </div>
                            <div class="col-md-12 col-xl-2 order-1" style="height: 40px;"><i class="fa fa-star" style="{{star10}}"></i><i class="fa fa-star" style="{{star11}}"></i><i class="fa fa-star" style="{{star12}}"></i><i class="fa fa-star"
                                style="{{star13}}"></i><i class="fa fa-star" style="{{star14}}"></i></div>
                      </div>
                      <div class="form-row">
                            <div class="col">
                              <div class="form-group">
                                <p style="font-size: 16px;">How would you rate its ability to stay within the set budget?</p>
                              </div>
                            </div>
                            <div class="col-md-12 col-xl-2 order-1" style="height: 40px;"><i class="fa fa-star" style="{{star30}}"></i><i class="fa fa-star" style="{{star31}}"></i><i class="fa fa-star" style="{{star32}}"></i><i class="fa fa-star"
                                style="{{star33}}"></i><i class="fa fa-star" style="{{star34}}"></i></div>
                      </div>

                      <div class="form-row">
                            <div class="col">
                              <div class="form-group">
                                <p style="font-size: 16px;">How likely are you to recommand this company ?</p>
                              </div>
                            </div>
                            <div class="col-md-12 col-xl-2 order-1" style="height: 40px;"><i class="fa fa-star" style="{{star40}}"></i><i class="fa fa-star" style="{{star41}}"></i><i class="fa fa-star" style="{{star42}}"></i><i class="fa fa-star"
                                style="{{star43}}"></i><i class="fa fa-star" style="{{star44}}"></i>
                            </div>
                      </div>

                          <hr>

                          {% if signature != None and logo != None %}
                          <div class="row mt-3" >
                              <div class="col">
                                  <p class="text-dark" >Issued by : <strong>{{issuer_name}}</strong> </p>
                                  <div class="text-center"><img src="{{ url_for('send_file', filename=logo) }}" style="width: 200px;"></div>
                              </div>
                              <div class="col">
                                  <p class="text-dark " >Signature :</p>
                                  <div class="text-center"><img src="{{ url_for('send_file', filename=signature) }}" style="width: 200px;"></div>
                              </div>
                          </div>
                          {% else %}
                          <div class="row mt-3" >
                            <div class="col">
                                <p class="text-dark " >Issued by : <strong>{{issuer_name}}</strong></p>
                            </div>
                          </div>
                          {% endif %}
                      <br>
                      <p class="text-dark text-center  m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">This certificate was issued through the Talao plateform.&nbsp; </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
      <script>
        function goBack() {
          window.history.back();
        }
  </script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
