<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}

 
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% if viewer == 'guest' %}
        {% include 'guest_nav_bar.html' %}
        {% else %}
        {% if session['type'] == "company" %}
        {% include 'company_nav_bar.html' %}
        {% else %}
        {% include 'user_nav_bar.html' %}
        {% endif %}
        {% endif %}
        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-lg-8 col-xl-8 offset-xl-2">
              <div class="row">
                <div class="col-lg-9 col-xl-10 offset-lg-4 offset-xl-1">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <div class="row">
                        <div class="col-xl-12">
                          <p class="text-primary m-0 font-weight-bold"><strong>Reference </strong>Credential
                            <a class="text-secondary" href="/certificate/verify/?certificate_id={{certificate_id}}"><i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="text-dark text-center mb-4" ><strong>{{title}}</strong></h5>

                      <div class="row">
                        <div class="col-md-7" >
                            <p class="text-dark" >This credential was issued to <strong>{{issued_to_name}}</strong></p>
                        </div>
                        <div class="col">
                          <p class="text-dark">Date of issuance :<strong> {{issuanceDate}}</strong></p>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-md-7">
                              <p class="text-dark">Project schedule : <strong>{{startDate}}</strong> to <strong>{{endDate}}</strong><br></p>
                            </div>
                            <div class="col">
                              <p class="text-dark">Project location :<strong> {{location}}</strong></p>
                            </div>
                      </div>
                      <div class="row">
                            <div class="col-md-7">
                              <p class="text-dark">Budget :<strong> {{price}} {{currency}}</strong></p>
                            </div>
                      </div>
                          <p class="text-dark m-0">Core competencies :</p>
                          <p class="text-dark p-2 text-justify overflow-auto" style="height: 30px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{skills}}</p>

                          <br>
                          <p class="text-dark m-0">Project description :</p>
                          <p class="text-dark p-2 text-justify overflow-auto" style="height: 150px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{description}}</p>
                          <br>
                          <p class="text-dark m-0">Customer review :</p>
                          <p class="text-dark p-2 text-justify overflow-auto" style="height: 150px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{review}}</p>
                          <br>

                          <div class="row mt-3" >
                              <div class="col">
                                  <p class="text-dark" >Issued by : <strong>{{issuer_name}}</strong> </p>
                                  <div class="text-center"><img src="{{ url_for('send_file', filename=logo) }}" style="width: 200px;"></div>
                              </div>
                              <div class="col">
                                  <p class="text-dark " >Signature :</p>
                                  <div class="text-center"><img src="{{ url_for('send_file', filename=signature) }}" style="width: 200px;"></div>
                              </div>
                          </div>
                      <br>
                      <p class="text-dark text-center  m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">This credential was issued through the Talao plateform.&nbsp; </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
      <script>
        function goBack() {
          window.history.back();
        }
  </script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
