<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% if viewer == 'guest' %}
        {% include 'guest_nav_bar.html' %}
        {% else %}
        {% if session['type'] == "company" %}
        {% include 'company_nav_bar.html' %}
        {% else %}
        {% include 'user_nav_bar.html' %}
        {% endif %}
        {% endif %}
        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-lg-8 col-xl-8 offset-xl-2">
              <div class="row">
                <div class="col-lg-9 col-xl-10 offset-lg-4 offset-xl-1">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <div class="row">
                        <div class="col-xl-12">
                          <p class="text-primary m-0 font-weight-bold"><strong>Self Claim {{type}} </strong>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">

                      <div class="row">
                        <div class="col" style="background: rgba(255,255,255,0.9);height: 330px;">
                            <h1 style="font-size: 16px;color: rgb(0,0,0);text-align: center;"><strong>{{title}}</strong></h1>
                            <p class="text-dark m-0">Company : <strong>{{company}}</strong> </p>
                            <hr>
                            <p class="text-dark">Start Date : <strong>{{start_date}}</strong> <br> End Date : <strong>{{end_date}}</strong></p>
                            <hr>
                            <h5 class="text-dark">Contact info:</h5>
                            <p class="text-dark m-0">Name : <strong>{{contact_name}}</strong> <br>Mail : <strong>{{mail}}</strong><br>Tel : <strong>{{tel}}</strong></p>

                            <br>
                            <img src="/static/img/logo_noir.png" style="width: 100px;"></div>
                        <div class="col" style="background: rgba(255,255,255,0.81);width: 768px;height: 330px;">
                            <p class="text-dark m-0">Description: </p>
                            <p class="text-dark p-2 text-justify overflow-auto" style="height: 180px;font-weight: 400;font-size: 16px;border: 1px solid #ced4da;border-radius: .25rem;">{{description}}</p>
                            <hr>
                            <p class="text-dark m-0">Skills: </p>
                              <div class="text-center">
                                {{badge|safe}}
                              </div>
                            {% if link != '' %}
                              <p class="text-dark m-0">Link : <strong>{{link}}</strong> </p>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'user_footer.html' %}
      <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
