

  <h4  class="my-5 text-center text-white">Best of...</h4>

  <div id="carouselExampleIndicators" class="carousel slide" data-interval="10000" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <div class="row mb-5 justify-content-center">
          <div class="col-1">
              <a href = '{{server}}login/VerifiablePresentationRequest' ><img class="img-thumbnail" src="static/img/talao_icon.png" alt="..."></a>
          </div>
          <div class="col-1">
               <img class="img-thumbnail" src="static/img/expering_icon.jpeg"  alt="...">
          </div>

          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/seloger.png"  alt="...">
       </div>

       <div class="col-1">
        <img class="img-thumbnail" src="static/directory/temple.png"  alt="...">
   </div>

       <div class="col-1">
        <img class="img-thumbnail" src="static/directory/sygnum.png"  alt="...">
   </div>
          <div class="col-1">
                  <img class="img-thumbnail" src="static/directory/tezotopia.jpeg" alt="...">
          </div>

          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/spruce.jpeg" alt="...">
    </div>

          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/indeed.png" alt="...">
    </div>
        </div>      
      </div>

      <div class="carousel-item ">
        <div class="row mb-5 justify-content-center">
          
          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/thanos.jpeg" alt="...">
        </div>

        <div class="col-1">
          <img class="img-thumbnail" src="static/directory/avisclient.png" alt="...">
      </div>
          <div class="col-1">
               <img class="img-thumbnail" src="static/directory/crypto.png"  alt="...">
          </div>

          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/padi.png"  alt="...">
       </div>

          <div class="col-1">
               <img class="img-thumbnail" src="static/directory/cryptodeleguate.jpeg"  alt="...">
          </div>

          <div class="col-1">
            <img class="img-thumbnail" src="static/directory/nomadics.jpeg"  alt="...">
       </div>

          <div class="col-1">
                  <img class="img-thumbnail" src="static/directory/tezoscommons.png" alt="...">
          </div>
        </div>      
      </div>

    </div>


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</div>