<!DOCTYPE html>
<html> <!--- durectory.html -->

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="text-center d-none d-lg-block m-5">This webpage is only available for smartphone wallet</div> <!-- hide on screen smaller than lg-->
    <div class="d-flex flex-column d-lg-none">
      <div id="content">

        <!-- Nav Bar  -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: rgba(11,69,128,0.93);">
    <div class="container-fluid">
     
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item dropdown no-arrow h-100 mr-2" role="presentation">
          <!-- search bar-->
            <form id='form' class="d-flex" action="/directory" method=''>
              <div class="input-group rounded">
                <input id="searchBar" name="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="input-group-text border-0" id="search-addon"> <i class="fas fa-search"></i> </button>
              </div> 
            </form>
          <!-- search bar-->
        </li>
        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: white;"><i class="fas fa-globe fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <a class="dropdown-item" role="presentation" href="/language?lang=en"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>English</a>
              <a class="dropdown-item" role="presentation" href="/language?lang=fr"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>Français</a>
            </div>
        </li>  
        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: white;"><i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <!--<a class="dropdown-item" role="presentation" href="https://credential-portfolio.readthedocs.io/en/latest/contents.html"><i class="fas fa-book-reader fa-sm fa-fw mr-2 text-gray-400"></i>{{_('What is Talao')}}</a>
              <a class="dropdown-item" role="presentation" href="https://credential-portfolio.readthedocs.io/en/latest/quick.html"><i class="fa fa-question fa-sm fa-fw mr-2 text-gray-400"></i>{{_('Quick start')}}</a>
              <hr>-->
              <a class="dropdown-item" role="presentation"  href="/login"><i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>{{_('My portfolio')}}</a>
            </div>
        </li>
      </ul>
      
     
    </div>
  </nav>
  <!-- End of Nav Bar -->


      <!-- issuer-->
          <div id="myscroll" style="height:600px; overflow:auto;  overflow-x: hidden;"> 
            {{card|safe}}
          </div>

      <!-- strandard credentials-->
          <p  class="mt-5 mb-1 text-center ">{{_('Get Passes & Cards')}}</p>

              <div class="row my-3 mx-1">
                <div class="col-4"> 
                  <div class="card shadow bg-secondary text-white text-center" >                        
                          <i class="mt-2 fas fa-2x fa-question"  ></i>
                          <p style="font-size:3vw;" class="m-1">{{_('Loyalty Cards')}}</p>
                          <a href="/loyaltycard" class="stretched-link" ></a>

                  </div>
                </div>
                <div class="col-4"> 
                  <div class="card shadow text-center text-white bg-secondary">                        
                          <i class=" mt-2 far fa-2x fa-envelope"></i>
                          <p style="font-size:3vw;" class="m-1">{{_('Email Pass')}}</p>
                          <a href="/emailpass" class="stretched-link" ></a>
                  </div>
                </div>
                <div class="col-4"> 
                  <div class="card shadow text-center text-white bg-secondary">                        
                          <i class="mt-2 fas fa-2x fa-phone"></i>
                          <p style="font-size:3vw;" class="m-1">{{_('Phone Pass')}}</p>
                          <a href="/phonepass" class="stretched-link" ></a>

                  </div>
                </div>
              </div>
        <!-- standard credentials -->

      </div>
    </div>
  </div>

  <div class="d-flex flex-column d-lg-none">
    <div class="footer-clean">
      <footer>
        <div class="container">
          <div class="row justify-content-center">      
            <div class="col item">
              <h3>{{_('About')}}</h3>
              <ul>
                <li><a href="/company">{{_('Company')}}</a></li>
                <li><a href="/text_file?file=privacy">{{_('Privacy Policy')}}</a></li>
                <li><a href="/text_file?file=terms_and_conditions">{{_('Terms & Conditions')}}</a></li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center">      
            <div class="col item social">
              <a href="https://wwww.facebook.com/TalaoDAO/"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/Talao_io"><i class="fab fa-twitter"></i></a>
              <a href="https://t.me/TalaoCommunity"><i class="fab fa-telegram"></i></a>
              <a href="mailto:relay@talao.io"><i class="fas fa-envelope"></i></a>
              <p class="copyright">© Talao 2021 Version : {{Version}}</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div> 

  <script>function goBack() {window.history.back();}</script>
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

  <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>

</body>
</html>
