<nav class="navbar navbar-expand-lg navbar-light background: rgba(11,69,128,0.93);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Jobs</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Games</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Crypto</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Sports</a></li>

      </ul>
     
      <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <h1  class="my-2 text-center text-white">Services directory for SSI wallets (demo)</h5></h1></li>
    
      <li class="nav-item dropdown no-arrow h-100" role="presentation">
        <div class="nav-item dropdown show">
          <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
            <span  style="color: white;"><i class="fas fa-globe fa-sm fa-fw mr-2 text-gray-400"></i></span>
          </a>
          <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
            <a class="dropdown-item" role="presentation" href="/language?lang=en"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>English</a>
            <a class="dropdown-item" role="presentation" href="/language?lang=fr"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>Français</a>
          </div>
      </li> 
      </ul> 
      <a class="nav-link text-white" href="#">Download</a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>