<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include '/wallet/test/playground_nav_bar.html' %}

  <div class="text-center">  
    <div id="id_text" class="m-5">
      <h2><strong>{{type}}</strong></h2><br><br>

      <div id="content_desktop" class="d-none d-sm-block">

        Scan the QRCode below with your Talao wallet. 
        <br>  
        <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url) }}"  width="200" ></div>
        <br><br><br>
        QRcode = {{url}}
      </div>
      <br>
    
      <div id="content_smartphone" class="d-block d-sm-none">
        <a href="{{deeplink}}" class="btn btn-primary">Open the Talao wallet</a>
      </div>

      
    <br>
    <p><button  type="button"  onclick="goBack()">Back</button></p>
   
   </div> 
  </div>

  <pre class="whitespace-pre-wrap m-auto">{{credentialOffer}}</pre>

  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script> 
  <script>      
  function goBack() {  window.history.back();}
  </script>
  <script>
  var source = new EventSource('/wallet/test/offer_stream');
  source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.check == 'success' & result.id == '{{id}}'){
       window.location.href="/wallet/test/credentialOffer_back";
     }
  };
  </script>

</body>
</html>