<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    

        <form action="/wallet/test/presentationRequest" method="POST">
              <div class="text-center">  
                <div id="id_text" class="m-5"><h1><strong>Verifier Simulator</strong></h1><br><br>
                <input type="radio" name="query" value="DIDAuth"> DIDAuth, No VC selection<br><br>
              <input type="radio" name="query" checked value="QueryByExample"> QueryByExample<br><br>
              Reason : <textarea rows="3" name="reason" ></textarea></textarea><br><br>
              Type(s) : <input type="text" name="type" ><br><br>
              Issuer(s) : <input type="text" name="trustedIssuer" ><br><br>
              Schema(s) : <input type="text" name="credentialSchema" ><br><br>
              </div>
              <button  type="submit">QR Code</button>
              </form>
      <script>

        var source = new EventSource('/wallet/test/presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/wallet/test/presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/wallet/test/presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>