<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    

        <form action="/wallet/test/presentationRequest" method="POST">
              <div class="text-center">  
                <div id="id_text" class="m-5"><h1><strong>Verifier Simulator</strong></h1><br><br>
                <input type="radio" name="query" value="DIDAuth"> DIDAuth, No VC selection<br><br>
              <input type="radio" name="query" checked value="QueryByExample"> QueryByExample<br><br>
              
              ----Query 1 ------<br>
              Reason : <textarea rows="3" name="reason1" ></textarea></textarea><br><br>
              Type (only one) : <input type="text" name="type1" ><br><br>
              Issuer (multiple with comma): <input type="text" name="trustedIssuer1" ><br><br>
              Schema (only one) : <input type="text" name="credentialSchema1" ><br><br>
              
              ----Query 2 ------<br>
              Reason : <textarea rows="3" name="reason2" ></textarea></textarea><br><br>
              Type (only one) ': <input type="text" name="type2" ><br><br>
              Issuer (multiple with comma) : <input type="text" name="trustedIssuer2" ><br><br>
              Schema (only one) : <input type="text" name="credentialSchema2" ><br><br>

              ----Query 3 ------<br>
              Reason : <textarea rows="3" name="reason3" ></textarea></textarea><br><br>
              Type (only one) : <input type="text" name="type3" ><br><br>
              Issuer (multiple with comma) : <input type="text" name="trustedIssuer3" ><br><br>
              Schema (only one) : <input type="text" name="credentialSchema3" ><br><br>

            </div>
              <button  type="submit">QR Code</button>
              </form>
      <script>

        var source = new EventSource('/wallet/test/presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/wallet/test/presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/wallet/test/presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>