<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include '/wallet/test/simulator_nav_bar.html' %}


        <form action="/wallet/test/presentationRequest" method="POST">
              <div class="text-center mt-5">  
                <input type="radio" name="query" value="DIDAuth"><strong> DIDAuth -> No VC selection</strong><br><br>


                <input type="radio" name="query" checked value="QueryByExample"><strong> QueryByExample -> VC to be selected in a filtered list</strong><br><br>
              
                <div class="row">
                
                  <div class="col">
              
              Reason : <input type=""text" name="reason" size="50" ><br><br>
              Type  : <input type="text" name="type" ><br><br>
              Issuer : <input type="text" name="trustedIssuer" ><br><br>
            
                </div>
              </div>

              <div class="row mt-5">  
                <div class="col">
                  <div class="text-center">
                  <button  type="submit">Generate QR code</button>
                  </div>
                </div>
              </div>

              </form>
              <br><br>

             <h2><a href ="https://github.com/TalaoDAO/wallet-interaction/blob/main/README.md#presentation-request-query-types">Query types specifications</a></h2>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script>

        var source = new EventSource('/wallet/test/presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/wallet/test/presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/wallet/test/presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>