<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include '/wallet/test/simulator_nav_bar.html' %}

  <div class="text-center">  
    <div id="id_text" class="m-5">
      <h2><strong>{{type}}</strong></h2><br><br>

      Scan the QRCode bellow with your Talao wallet. 
      <br></div>  
    <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url) }}" class=" w-30 h-30"></div>
    {{url}}
    <br>
    <br>
    <p><button  type="button"  onclick="goBack()">Back</button></p>
   
   </div> 
  </div>

  <p><strong>  Issuer GET response will be (look at the scope and display attribute...) : </strong></p>
  <pre class="whitespace-pre-wrap m-auto">{{credentialOffer}}</pre>

  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script> 
  <script>      
  function goBack() {  window.history.back();}
  </script>
  <script>
  var source = new EventSource('/wallet/test/offer_stream');
  source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.check == 'success' & result.id == '{{id}}'){
       window.location.href="/wallet/test/credentialOffer_back?scope=" + result.scope;
     }
  };
  </script>

</body>
</html>