<!DOCTYPE html>
<!-- prosoon.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include './wallet/test/grant_nav_bar.html' %}
                <div class="container-fluid mt-5">
                    <div class="text-center">
                        1 - Download the smartphone app "Talao wallet" from Google or Apple store and generate your key<br>
                   2 - Clic on the link below to display the QR code<br>
                   3 - Scan the QR code with the smartphone app scanner
                    </div>
                    <div class="row my-5">
            
                       
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=tezotopia_voucher.jsonld"><img  src="/static/img/15.png"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_("Tezotopia voucher with image")}}</strong>
                            </div>
                        </div>
                       
                        
                        
                    </div>
                    <div class="row my-5">
                        
                        <<div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Carte_etudiant_des_metiers.jsonld"><img  src="/static/img/carte_etudiant.jpg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Student card with image</strong>
                            </div>
                        </div>

                     
                       
                       
                    </div>
                    
                   

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
