<!DOCTYPE html>
<html>
  <head>{% include 'head.html' %}</head>
  <body>

        <div id="content_desktop" class="d-none d-sm-block">

              <div class="text-center">  
                <div id="id_text" class="m-5">
                  <br><br><strong>Scan the QRCode below with your AltMe wallet to Sign-In.</strong> 
                <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url, icon_img='./img/talao_icon.jpg') }}" class=" w-30 h-30"></div>
                <br> 
                <p><button  type="button"  onclick="goBack()">Back</button></p>
               </div> 
              </div>  
        </div>
        
       

          <div id="content_smartphone" class="d-block d-sm-none">
            <div class="card mt-5">
              <img src="/static/img/image_16.jpeg" class="card-img-top">
              <div class="card-body">
                  <div class="text-center">
                      <p class="card-text">
                        <br>{{_('Sign-In with your wallet')}}<br>
                      </p>
                      <a href="{{deeplink}}" class="btn btn-primary">{{_('Open the Talao wallet')}}</a>
                  </div>
              </div>
          </div> 
          </div>
          


  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
             
      <script>      
                function goBack() {  window.history.back();}
      </script>
      <script>
        var source = new EventSource('/wallet/test/login_presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/wallet/test/login_presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/wallet/test/login_presentation_display?message=' + result.message ;
        } 
        };
      </script>
  </body>
</html>