<!DOCTYPE html>
<!-- playground.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include './wallet/test/playground_nav_bar.html' %}
                <div class="container-fluid mt-5">
                  <div class="text-center">
                <b>{{_('All the VCs below are for testing purpose only')}}</b>
                </div>
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Voucher.jsonld"><img  src="/static/img/voucher.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a NFT voucher')}}</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/presentationRequest"><img  src="/static/img/image_16.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Verifier simulator')}}</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=LearningAchievement.jsonld"><img  src="/static/img/diploma.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a Diploma')}}</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=emailpass.jsonld"><img  src="/static/img/email_proof.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an email proof (fake)')}}</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/credentialOffer2"><img  src="/static/img/8.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Issuer simulator')}}</strong>
                            </div> 
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Over18.jsonld"><img  src="/static/img/over18.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an Over 18 proof (fake)')}}</strong>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="row my-5">
            
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/certificate_of_employment.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a certificate of employment')}}</strong>
                            </div>
                        </div>
                        
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_VP"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Display the verifiable Credential and Verifiable Presentation')}}</strong>
                            </div>
                        </div>
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=StudentCard.jsonld"><img  src="/static/img/student_card.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a Student Card')}}</strong>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row my-5">

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=TalaoCommunity.jsonld&cm=1"><img  src="/static/img/talao_community_card.jpg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Talao Community Card</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=TezVoucher_1.jsonld&cm=1"><img  src="/static/img/tezotopia_voucher.png"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Tezotopia Voucher</strong>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_login"><img  src="/static/img/login.jpeg"  style="width: 200px;border-radius:0px;"></a>
                                <br><strong>{{_('Login with Verifiable Credentials')}}</strong>
                            </div>
                        </div>  

                    </div> 

                    <div class="row my-5">

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=1"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 1</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=2"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 2</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=3"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 3</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=4"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 4</strong>
                            </div>
                        </div>

                    </div>

                   

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=VerifiableDiploma.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>EBSILUX verifiable diploma signed by Ebsi</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=VerifiableDiploma_1.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>EBSILUX verifiable diploma signed by Didkit</strong>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
