  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">

      <div class="">
        <a href="https://talao.io"><img  src="/static/img/logo.png" style="width: 120px;border-radius:0px;"></a>
      </div>
      <!-- Title for large devices -->
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h1 class="d-none d-sm-block"style="color: grey ; margin-bottom: 0">{{_('Wallet Playground')}}</h1> 
      </h6>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">


        
        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: grey;"><i class="fas fa-globe fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <a class="dropdown-item" role="presentation" href="/language?lang=en"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>English</a>
              <a class="dropdown-item" role="presentation" href="/language?lang=fr"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>Français</a>
            </div>
        </li>  


       

        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: grey;"><i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <!-- 
              <a class="dropdown-item" role="presentation" href="https://talao.io">{{_('What is Talao ?')}}</a>
                <a class="dropdown-item" role="presentation" href="https://identity.foundation/faq/">{{_('What is Self Sovereign Identity ?')}}</a>
            <hr>  -->
                
                <a class="dropdown-item" role="presentation" href="https://play.google.com/store/apps/details?id=co.talao.wallet">{{_('Download the app from Google store')}}</a>
                <a class="dropdown-item" role="presentation" href="https://apps.apple.com/fr/app/talao-wallet/id1582183266#?platform=iphone">{{_('Download the app from Apple store')}}</a>
                 
              <hr>
              <a class="dropdown-item" role="presentation"  href="/login"><i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>{{_('Sign-In')}}</a>
              <a class="dropdown-item" role="presentation"  href="/register"><i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>{{_('Register')}}</a>

            </div>
        </li>

      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
