<!DOCTYPE html>
<!-- prosoon.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include './wallet/test/playground_new__nav_bar.html' %}
                <div class="container-fluid mt-5">
                    <div class="text-center">
                        1 - Télécharger l'app smartphone Talao wallet de Google ou Apple store <br>
                   2 - Cliquer sur l'image pour ensuite scanner avec le wallet smartphone de Talao
                    </div>
                    <div class="row my-5">
            
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/image_9.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Attestation employeur')}}</strong>
                            </div>
                        </div>
                       
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Voucher.jsonld"><img  src="/static/img/20.jpeg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_("Carte de réduction")}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        
                        <<div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Carte_etudiant_des_metiers.jsonld"><img  src="/static/img/carte_etudiant.jpg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_("Carte d'étudiant")}}</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=LearningAchievement.jsonld"><img  src="/static/img/8.png"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_("Diplomes")}}</strong>
                            </div>
                        </div>
                       
                       
                    </div>
                    
                   

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
