<!DOCTYPE html>
<!-- register_password.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include './wallet/test/playground_nav_bar.html' %}
                <div class="container-fluid mt-5">
                  
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/create_residentcard"><img  src="/static/img/20.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Create a resident card')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=ResidentCard.jsonld"><img  src="/static/img/residentcard.png"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a resident card')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/presentationRequest"><img  src="/static/img/image_16.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Verifier simulator')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Talao_TT_IdentityPass.jsonld"><img  src="/static/img/TT_identity.png"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an identity pass')}}</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/emailpass"><img  src="/static/img/email.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an email proof')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=AffiliationCard_expired.jsonld"><img  src="/static/img/9.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an expired Verifiable Credential')}}</strong>
                            </div>
                        </div>
                       
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/login"><img  src="/static/img/talao_icon.jpg"  style="width: 200px;border-radius:0px;"></a>
                                <br><strong>{{_('Log to Talao.co')}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
            
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/image_9.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a certificate of employment')}}</strong>
                            </div>
                        </div>
                        
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_VP"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Display a Verifiable Presentation')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/credentialOffer2"><img  src="/static/img/8.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Issuer simulator')}}</strong>
                            </div> 
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/phonepass"><img  src="/static/img/phone.jpeg"  style="width: 200px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a phone proof')}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/register/qrcode"><img  src="/static/img/21.jpeg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_('Register to Talao')}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=ProfessionalExperienceAssessment.jsonld"><img  src="/static/img/credential.jpeg"  style="width: 250px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a professional experience certificate')}}</strong>
                            </div>
                        </div>
                       
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=LoyaltyCard.jsonld"><img  src="/static/img/7.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Share link by QRcode')}}</strong>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/revoked_qrcode"><img  src="/static/img/revoked.jpeg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a revokable Verifiable Credential')}}</strong><br>
                                the VC is currently {{status}}
                            </div>
                        </div> 

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/revoke"><img  src="/static/img/red_button.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>{{_('Revoke my Verifiable Credential')}}</strong>
                            </div>
                        </div>                    
                    </div> 

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
