<!DOCTYPE html>
<!-- playground.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include './wallet/test/playground_nav_bar.html' %}
                <div class="container-fluid my-5">

                 
            
                <hr>
                    <div class="text-center">
                        <h4>Package of 6 Verifiable Credentials for wallet testing</h4>
                    </div>
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Voucher.jsonld"><img  src="/static/img/voucher.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a NFT voucher')}}</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/certificate_of_employment.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a certificate of employment')}}</strong>
                            </div>
                        </div>
                      
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=LearningAchievement.jsonld"><img  src="/static/img/diploma.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a Diploma')}}</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=emailpass.jsonld"><img  src="/static/img/email_proof.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an email proof (fake)')}}</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=StudentCard.jsonld"><img  src="/static/img/student_card.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get a Student Card')}}</strong>
                            </div>
                        </div>
                        
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Over18.jsonld"><img  src="/static/img/over18.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Get an Over 18 proof (fake)')}}</strong>
                            </div>
                        </div>
                       
                       
                    </div>

                    <hr>
                    <div class="text-center">
                        <h4>Verifiable Presentation Request protocol simulator</h4>
                    </div>
                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/presentationRequest"><img  src="/static/img/image_16.jpeg"  style="width: 350px;border-radius:0px;"></a>
                               
                            </div>
                        </div>
                      

                    </div> 

                    <hr>

                    <div class="text-center">
                        <h4>Tools</h4>
                    </div>
                   
                    <div class="row my-5">

                       

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_VP"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Display a Verifiable Presentations content')}}</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/credentialOffer2"><img  src="/static/img/8.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>{{_('Issuer simulator for all VCs')}}</strong>
                            </div> 
                        </div>

                       

                    </div>
                    
                    <hr>
                    <div class="text-center">
                        <h4>Under dev</h4>
                    </div>

                    <div class="row my-5">
            
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=TalaoCommunity.jsonld&cm=1"><img  src="/static/img/talao_community_card.jpg"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Get a Talao community card</strong>
                            </div>
                        </div>
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=TezVoucher_1.jsonld&cm=1"><img  src="/static/img/tezotopia_voucher.png"  style="width: 300px;border-radius:0px;"></a>
                                <br><strong>Get a Tezotopia Voucher</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <form name="form" action="/wallet/test/direct_offer" method="GET">
                                    <img src="/static/img/crypto_wallet.png"  style="width: 150px;border-radius:0px;">
                                    <br><strong>Tezos Associated Wallet</strong>
                                    <div class="form-group"><label>simulate a Tezos associated address :  </label><input type="text" name="address"></div>
                                    <input hidden type="text" name="VC" value="TezosAssociatedWallet.jsonld">
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Get your associated wallet proof</button></div>
                                </form> 
                            </div>
                            </div>
                        </div>
                        
                       
                    </div>
<!--

                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/display_login"><img  src="/static/img/login.jpeg"  style="width: 200px;border-radius:0px;"></a>
                                <br><strong>{{_('Demo login with Verifiable Credentials (Verifier)')}}</strong>
                            </div>
                        </div>  

                    </div> -->

                    <hr>
                    <div class="text-center">
                        <h4>Credential Manifest output descriptors tests</h4>
                    </div>
                    <div class="row my-5">

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=1"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 1</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=2"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 2</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=3"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 3</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=4"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS with credential manifest 4</strong>
                            </div>
                        </div>

                    </div>

                    <hr>
                    <div class="text-center">
                        <h4>Credential Manifest input descriptors tests</h4>
                    </div>

                    <div class="row my-5">

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=5"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS issuance with 1 filter</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=6"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>PCDS issuance with 2 filters</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=Pcds.jsonld&cm=7"><img  src="/static/img/21.jpeg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Transfer profil data</strong>
                            </div>
                        </div>

                      

                    </div>


                    <hr>
                    <div class="text-center">
                        <h4>EBSI simulation</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=VerifiableDiploma.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>EBSILUX verifiable diploma signed with did:ebsi</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/wallet/test/direct_offer?VC=VerifiableDiploma_1.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>EBSILUX verifiable diploma signed with other DID methods</strong>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
