<!DOCTYPE html>
<html>
  <head>{% include 'head.html' %}</head>
  <body>
        {% include '/wallet/test/simulator_nav_bar.html' %}
          
        
  <div id="content_desktop" class="d-none d-sm-block">
      <div class="text-center">  
                <div id="id_text" class="m-5">
                  <br><br>Scan the QRCode bellow with your Talao wallet to display your VC and VP. 
                <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url) }}" class=" w-30 h-30"></div>
                <br>
                URL endpoint = {{url}}
                <br>
                <br>
                <p><button  type="button"  onclick="goBack()">Back</button></p>
                </div>
      </div>
       
  </div>

  <div id="content_smartphone" class="d-block d-sm-none">
    <div class="text-center m-5"> 
      <img src="/static/img/12.png" class="card-img-top" alt="...">
      <br><br>
      <a href="{{deeplink}}" class="btn btn-primary">Open the Talao wallet</a>
      </div>
    </div>






  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
             
      <script>      
                function goBack() {  window.history.back();}
      </script>
      <script>
        var source = new EventSource('/wallet/test/VP_presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/wallet/test/VP_presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/wallet/test/VP_presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>