<!DOCTYPE html>
<html>

<head>
    {% include 'oauth/oauth_head.html' %}
</head>

<body>
    <div class="login-card"><img style="width: 96px;  display: block;  margin-left: auto; margin-right: auto;"  src="{{ url_for('static', filename='img/logo_noir.png')}}">
        <p class="profile-name-card"> </p>
        <p>{{consign}}</p>

        <form class="form-signin" action="/api/v1/oauth_login" method="POST" ><span class="reauth-email"> </span>
            <input class="form-control" type="text" name="username" value="{{username}}" required="" placeholder="Username" autofocus="">
            <input name="password" class="form-control" type="password" id="inputPassword" required="" placeholder="Password">
            <div
                class="checkbox">
                <div class="form-check"><input class="form-check-input" type="checkbox" checked="" name="checkbox"><label class="form-check-label">Remember me</label></div>
                </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
        </form>
    <a class="forgot-password" href="/forgot_password/">Forgot your password ?</a><br>
    <a class="forgot-password" href="/forgot_username/">Forgot your username ?</a></div>

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>