<!DOCTYPE html>
<!-- create2.html -->
<html>

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Sign-In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Google-Style-Login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="login-card"><img style="width: 96px;  display: block;  margin-left: auto; margin-right: auto;"  src="{{ url_for('static', filename='img/logo_noir.png')}}">
    <p class="profile-name-card"></p>
    {{consign}}
 <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <form class="user" action="/api/v1/oauth_two_factor" method="post">
                 <div class="form-group">
                           <div class="custom-control custom-checkbox small"><h6 class="text-warning">{{message}}</h6></div>
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="Enter your secret code" name="code" style="color: rgb(133,135,150);"></div>  
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Next</button> 
                                    </form>

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
