<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Sign-In</title>
    <meta name="description" content="Professional Decentralized Identity Solution">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <style type="text/css">
        #qrcode {
       width: 244px;
       margin-right: auto;
       margin-left: auto;
      }
   </style>

</head>

<body onload="page_onload()">

<div class="d-block d-lg-none">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
          <div id="content"></div>
        </div>
    </div>
</div>


<div class="d-none d-sm-block" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 ">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body">
                        <div class="text-center"><h4 class="text-dark mb-4">Connect with your Mobile Wallet</h4></div>
                            <div id="qrcode">
                                <canvas id="canvas" width="244" title="Scan with your mobile wallet." style="border:1px solid #000000;" ></canvas>
                            </div>
                            <div class="text-center"><a class="small" href="/help/?file=/oauth/oauth_wc_help.html" >Help</a></div>  
                            <div class="text-center"><a class="small" href="/api/v1/oauth_login_larger" >Try larger QR code !</a></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>

    <script>async function page_onload(){
    let device = ""
    if (window.screen.width <= 560)
        {device = 'mobile';
        let value = await window.onInit(device);
        window.location = "/api/v1/oauth_wc_login/?wallet_address=" + value[0] + '&wallet_name=' + value[1] + '&wallet_logo=' + value[2];}
    else
        {device = 'mobile_off';
        let value = await window.onInit(device);
        window.location = "/api/v1/oauth_wc_login/?wallet_address=" + value[0] + '&wallet_name=' + value[1] + '&wallet_logo=' + value[2];}
    }
    </script>

</body>

</html>