<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Sign-In</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body id="page-top" onload="page_onload()" >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 class='text-dark mb-4'>Scan with your Mobile Wallet</h4>
                            To access your Identity we support several crypto mobile wallets (Trust, Metamask, Argent, Rainbow, Pillar, ImToken, TokenPocket, Mykey, Nash...).<br>
                            To connect, go to Settings, on the settings screen, select <a href="https://walletconnect.org/" >WalletConnect</a>.<br>
                            This opens the camera to scan the QR code. After scanning, it should prompt you to approve the connection to <b>Talao Professional Identity.</b><br>
                            If you use your mobile to access the Talao website, your crypto mobile app will open automatically.
                            Your mobile will allow you to list the supported mobile linking wallets and provide you with logo, name, color and targetted deep links.
                            <br>
                        <br>
                        <div class="form-group"><button  onclick="goBack()" class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Back</button></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>function goBack() {  window.history.back();}</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>
</html>