<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Google-Style-Login.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                                <div class="login-card text-center">
                                    <img style="width: 96px;  display: block;  margin-left: auto; margin-right: auto;"  src="{{ url_for('static', filename='img/logo_noir.png')}}">
                                    <p class="profile-name-card"> </p>
                                    <form action="" method="POST">
                                        <p>Allow <b>{{client_name}}</b> to access your data.</p>

                                        <div class="form-group">
                                            {% if openid == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input type="hidden" class="form-check-input" value={{openid}} type="checkbox" name="openid" ><label class="form-check-label" ></label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if profile == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{profile}} type="checkbox" name="profile" ><label class="form-check-label" >I authorize this application to access my public profile.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if address == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{address}} type="checkbox" name="address" ><label class="form-check-label" >I authorize this application to access my postal address.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if about == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{about}} type="checkbox" name="about" ><label class="form-check-label" >I authorize this application to access my description.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if birthdate == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{birthdate}} type="checkbox" name="birthdate" ><label class="form-check-label" >I authorize this application to access my birthdate.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if resume == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{resume}} type="checkbox" name="resume"><label class="form-check-label" >I authorize this application to access my professional resume.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if proof_of_identity == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input"  {{proof_of_identity}} type="checkbox" name="proof_of_identity"><label class="form-check-label" >I authorize this application to access my proof of identity.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if email == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{email}} type="checkbox" name="email" ><label class="form-check-label" >I authorize this application to access my email.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if phone == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{phone}} type="checkbox" name="phone" ><label class="form-check-label" >I authorize this application to access my phone number.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if user_manage_referent == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input"  type="checkbox" {{user_manage_referent}} name="user:manage:referent" ><label class="form-check-label" ><p>I authorize this application to add or remove referents from my Identity.</p></label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if user_manage_partner == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" {{user_manage_partner}} name="user:manage:partner" ><label class="form-check-label" >I authorize this application to manage my parnerships.</label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if user_manage_certificate == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" {{user_manage_certificate}} name="user:manage:certificate" ><label class="form-check-label" ><p>I authorize this application to issue or delete certificates with my signature.</p></label></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if user_manage_data == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" {{user_manage_data}} name="user:manage:data" ><label class="form-check-label" ><p>I authorize this application to update or delete data of your settings.</p></label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-4 col-xl-3">
                                                <div class="form-group"><button  title="" class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Allow</button></div>
                                            </div>
                                            <div class="col-4 col-xl-3">
                                                <div class="form-group"><button class="btn btn-primary btn-block btn-lg btn-signin" name ="reject" type="submit">Reject</button></div>
                                            </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>