<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body id="page-top"  onload="page_onload()">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4  id="id_page"  class='text-dark mb-4'>Your wallet is connected</h4>
                          <form id="dynForm" action="/api/v1/oauth_wc_login/" method="post">
                              <input id="id_wallet_signature" type="hidden" name="wallet_signature" value="">
                              <input type="hidden" name="wallet_address" value="{{wallet_address}}">
                          </form>
                          <div class="">
                            <img id="id_wallet_logo" src="{{wallet_logo}}" style="width: 120px;border-radius:0px;">
                            <div id="id_wallet_name">{{wallet_name}}</div>
                          </div>
                            <br>
                            <span>Your wallet account :</span>
                            <p id='id_address_html'>{{wallet_address}}</p>
                            <br>
                            <p id="id_client"></p>
                              <br>
                              <div id="id_button"></div>
                            
                            <p id="id_code" ></p>
                        <div class="text-center"><a class="small" onclick="End()" href="#" >Change wallet account</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>


  <script> function Reject() {
    window.onEnd();
    window.location.href = "/api/v1/oauth_wc_login?reject=on";
  }
  </script>

  <script> function End() {
    window.onEnd();
    window.location.href = "/api/v1/oauth_login";
  }
  </script>

<script> async function sign_message() {
  document.getElementById("id_page").innerHTML = "Waiting for wallet signature...";
  let signature = await window.sign('{{nonce}}');
  if (signature){
  document.getElementById("id_page").innerHTML = "Authentication in progress...";
  document.getElementById("id_wallet_signature").value = signature;
  document.getElementById("dynForm").submit();
  document.getElementById("id_code").innerHTML = "";
  window.onEnd();
  }
};
</script>

<script>
async function page_onload(){
  await window.getAccountAddress().then(value => {
    console.log('value dans page_onload = ', value);
  });
  const href = "https://talao.co/board/?workspace_contract=" + '0x' + '{{client_did}}'.split(":")[3];
  document.getElementById("id_button").innerHTML = '<div class="spinner-border"></div>'
  // check client signature here
  // if client signature is not ok , reject the call
  const message = '{{client_id}}' + '{{nonce}}' + '{{redirect_uri}}' + '{{scope}}' + '{{client_did}}'
  check = await window.checkSignature('{{client_did}}', '{{signature}}', message);
  console.log('signature check = ', check);
  if (check){
    document.getElementById("id_client").innerHTML = '<a href=' + href + ' >Client has been verified</a>';
    document.getElementById("id_code").innerHTML = "Code to confirm  : {{nonce}}";
    document.getElementById("id_button").innerHTML = '<button class="btn btn-primary text-white btn-user" onclick="sign_message()" id="in_progress_button" type="button">Authenticate your account</button>'
    }
  else
  {document.getElementById("id_client").innerHTML = "Client has not been verified";
  document.getElementById("id_button").innerHTML = '<button class="btn btn-primary text-white btn-user" onclick="Reject()" name ="reject" type="button">Reject</button>';
  }
}
</script>


</body>
</html>