<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
 <!-- <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}"   -->
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <br><br><br><br><br><br>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-1"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4 offset-xl-4">
                            <div class="card mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Confirm your consent</p>
                                </div>
                                <div class="card-body text-center shadow">
                                    <form action="" method="POST">
                                        <p>Authorize <b>{{grant.client.client_name}}</b> to access your Decentralized Identity.
                                            <br><br>
                                            You can restrict data access and permitted actions or reject all requests.</p>
                                        <div class="form-group">
                                            {% if profile == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{profile}} type="checkbox" name="profile" ><label class="form-check-label" >I authorize company to access my public profile</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if resume == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{resume}} type="checkbox" name="resume"><label class="form-check-label" >I authorize company to access my public resume</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if proof_of_identity == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input"  {{proof_of_identity}} type="checkbox" name="proof_of_identity"><label class="form-check-label" >I authorize company to access my proof of identity</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if email == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{email}} type="checkbox" name="email" ><label class="form-check-label" >I authorize company to access my public email</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if phone == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                                <div class="form-check"><input class="form-check-input" {{phone}} type="checkbox" name="phone" ><label class="form-check-label" >I authorize company to access my public phone</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if certificate == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input"  type="checkbox" {{certificate}} name="certificate" ><label class="form-check-label" >I authorize company to issue certificates</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {% if private == 'checked' %}
                                            <div class="form-inline custom-control-inline">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" {{private}} name="private" ><label class="form-check-label" >I authorize company to access my private data</label></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-row">
                                            <div class="col-6 col-xl-3">
                                                <div class="form-group"><button id="in_progress_button" title="" class="btn btn-primary btn-sm" type="submit">Accept</button></div>
                                            </div>
                                            <div class="col-6 col-xl-3">
                                                <div class="form-group"><button class="btn btn-primary btn-sm" name ="reject" type="submit">Reject</button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>