<!DOCTYPE html>
<!-- authentification.html -->
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
                       {% include 'guest_nav_bar.html' %}

    <div class="container">
        <div class="row m-5 justify-content-center">
            <div class="col-lg-4">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                                <div class="m-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >{{_('Get an Email Pass')}}</h4></div>

                                    <p>{{_('Verify your email to get one-click access to your services with your Talao smartphone wallet.')}}</p>

                                    <form name="form" class="user" action="/emailpass" method="post">
                                        <div class="form-group"><input required="" class="form-control" type="text" placeholder="Enter your email" name="email" style="color: rgb(133,135,150);"></div>
                                        <button id="in_progress_button" class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">{{_('Next')}}</button>
                                    </form>

                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% include 'user_footer.html' %}


    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    
</body>
</html>
