<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                      <div class="flex-grow-1 bg-login-image">
                        <div class="container px-5 pt-5">
                          <p class="text-center"><img class="mb-4" src="/static/img/Logo_cci.jpg" alt="You have been redirected by CCI" style="max-width: 200px"><br>
                            Talao est un protocole qui utilise la technologie de la Blockchain pour permettre de:</p>
                          <ul class="pl-3">
                            <li> Obtenir des certificats immuables et totalement traçables</li>
                            <li> Gérer votre identité professionnelle numérique </li>
                            <li> Stocker des données privées de manière sécurisée</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-4">
                        <div class="text-center">
                          <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Choisissez votre mot de passe</h4>
                        </div>
                        <div class="col" style="color: rgb(255,2,2);">
                          <small>{{message}}</small>
                        </div>
                        <form class="user" action="/create_company_ext/password" method="post">
                          <p class="text-center">Le mot de passe doit contenir au moins un nombre, une majuscule et une minuscule. <br>
                            Il doit aussi contenir au moins 8 caractères.</p>
                          <div class="form-group">
                            <input class="w-100" id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must contain number, uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
                            placeholder="Mot de passe" required>
                          </div>
                          <div class="form-group">
                            <input class="w-100"  id="password_two" name="password_two" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verifier votre mot de passe" required>
                          </div>
                          <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Suivant</button>
                        </form>
                        <div class="text-center"><a class="small" href="/starter/">Retour au départ</a></div>
                        <div class="text-center"><a class="small" href="/login/">Login</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include 'user_footer.html' %}
        </div>

        <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
