<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
   
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                      {% if session['type'] == "company" %}
                 {% include 'company_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}
      <br><br><br>
      <div class="text-center"       
      <p>{{_('Scan the QRCode bellow with your Credible wallet')}}</p>
      <div class="my-8"><img src={{ qrcode(url) }} class="w-20 h-20"></div>
     
      <br><br><br>
      </div>
        <div class="col text-center">
            <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
        </div>
    </div>

        {% include 'user_footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

<script>

var source = new EventSource('/save_stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.check == 'success' & result.id == '{{id}}'){
       window.location.href="/user?flash_message=credential_offered";
     }
     if (result.check == 'incorrect subject' & result.id == '{{id}}'){
       window.location.href="/user?flash_message=credential_refused";
     }
};


</script>
  </body>
</html>