<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">       
              {% include 'guest_nav_bar.html' %}
              <br><br><br>
              <div class="text-center"    
                <p>Scan the QRCode bellow with your wallet Credible</p>
                <div class="my-8"><img src={{ qrcode(url) }} class="w-20 h-20"></div>
                <br><br><br>
                <div id="id_spinner"></div>
                <div id="id_button">
                  <div class="col text-center">
                    <a href="/user/" ><button class="btn btn-primary btn-sm" type="button" >{{_('Back')}}</button></a>
                  </div>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}

      <script>function goBack() {  window.history.back();}</script>
      <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    
      <script>


        var source = new EventSource('/credible_stream');
        source.onmessage = function (event) {
          console.log('event data = ', event.data);
        const result = JSON.parse(event.data)
        if (result.check == 'ok'){
          document.getElementById("id_button").style.visibility = "hidden";
          document.getElementById("id_spinner").innerHTML = '<div class="spinner-border"></div>';
          window.location.href="/user/?token=" + result.token;
          }
        };
  
  </script>
  </body>
</html>