<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% if not session['role'] %}
                {% include 'company_nav_bar.html' %}
           {% else %}
               {% include 'manager_nav_bar.html' %}
           {% endif %}
        <div class="container-fluid mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Add a new Reviewer</p>
                        </div>
                        <div class="card-body">
                            <form action="/company/add_employee/" method="post">
                                <p>Allows you to give an acces to a new reviewer .<br>
                                    <br>This reviewer MUST have his own Identity as a person to be added here. His signature
                                    will be used for certification.<br>
                                    <br>
                                </p>
                                <div class="form-group">
                                    <label title=""><strong>Choose a username for this person within the company</strong><br></label>
                                    <input class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" required title="lowercase only"  name="employee_username" >
                                </div>

                                <div class="form-group">
                                    <label title="The Signer username of his own Identity"><strong>Identity username of this person</strong><br></label>
                                    <input class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" required title=""  name="identity_username" >
                                </div>

                                {% if session['role'] in ['admin', 'creator'] %}
                                <div class="form-group">
                                    <label title=""><strong>Select a referent for this reviewer</strong><br></label>
                                    <select required name="referent_username" class="form-control">
                                        <optgroup label="Choose an issuer as referent">
                                       {{issuer_select|safe}}
                                        </optgroup>
                                    </select>
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    <label title="wallet texte"><strong>Authentication Email</strong><br></label>
                                    <input class="form-control" type="email" data-toggle="tooltip" data-bs-tooltip="" required name="employee_email" title="An email to login">
                                </div>

                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit"  >Add</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										   <a href="/user/?username={{username}}">
												<div class="form-group"><button class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Back</button></div>
											</a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


                          {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
</body>

</html>
