<div id="superFaq">

    <p id="youHaveQuestions">You have questions ?
        We have answers.</p>


    <div class="container">
        <div class="accordion">
            <div class="accordion-item superQuestions">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title">What is this Tezos student NFT collection ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        To reward newly graduated European students who have claimed their diploma in the verifiable
                        credential format (EBSI), Altme and the Tezos Foundation are offering a unique non-transferable
                        NFT to each student ! Each NFT represents a unique proof of graduation and offers exclusive
                        advantages, benefits and opportunities in the Tezos ecosystem.

                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title">How can I mint my Tezos student NFT ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        To mint your Tezos student NFT, follow these steps:

                        Share your verifiable diploma credential from an EBSI-conformant wallet (such as: Altme wallet
                        or other conformant wallets) to prove your graduation.
                        Pair your preferred Tezos wallet such as: Altme wallet, Temple, Trust Wallet, Kukai… and mint !

                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title">Can I mint more than one Tezos student NFT ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        No, each student is eligible to mint only one NFT. This ensures that the collection remains
                        limited and exclusive to European graduates only.

                    </p>
                </div>
            </div>

            <div class="accordion-item superQuestions">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">What information is disclosed in the NFT ?</span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        The Tezos student NFT does not disclose any personal information. It solely proves that a Tezos
                        address is owned by a European graduate without revealing any private details.
                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title">Are there any costs associated with minting the NFT ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        The minting process may involve transaction fees on the Tezos blockchain. These fees are
                        standard and will be applicable based on the current network conditions.

                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title">What are Tezos projects that offer advantages and benefits ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        A growing number of Tezos projects will join this initiative and offer advantages and benefits
                        to European students. The list of projects, as well as the advantages offered by each project,
                        will be disclosed soon.
                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title">What advantages and benefits can I expect with the Tezos student NFT ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        These benefits may include discounts, cashbacks, exclusive NFT drops, perks, access to special
                        events or opportunities, and more. Stay tuned for updates on the advantages provided by Tezos
                        projects.

                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">Can I transfer or sell my Tezos student NFT ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        No, the Tezos student NFT is non-transferable and cannot be sold.

                    </p>
                </div>
            </div>
            <div class="accordion-item superQuestions">
                <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title">Is the collection limited ?
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        Yes, the collection is limited in number for each university or school promotion. Once your
                        diploma is available in this new verifiable credential format, it is recommended to mint your
                        Tezos NFT as soon as possible to secure your benefits in the Tezos ecosystem.

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>