<div id="superFaq">

    <p id="youHaveQuestions">You have questions ?
        We have answers.</p>
    <div id="underFrame19">
        <button id="buttonGeneral" class="buttonFAQ">
            <div id="divButtonGeneral" class="activeButtonFAQ">
                <p id="frame16P">General</p>
            </div>
        </button>
        <button id="buttonSecurity" class="buttonFAQ">
            <div id="divButtonSecurity" class="inactiveButtonFAQ">
                <p id="frame17P">Decentralized Identity</p>
            </div>
        </button>
        <button id="buttonSSI" class="buttonFAQ">
            <div id="divButtonSSI" class="inactiveButtonFAQ">
                <p id="frame18P">Security</p>
            </div>
        </button>

        <!-- <div id="frame19"></div>-->
    </div>
    <div id="generalQuestions" class="activeQuestions">
        <button id="showAnswer11" class="showAnswerButton">
            <div id="question11" class="superQuestions">
                <div class="question">
                    <p class="questionP">What is the Altme wallet and how can I get it?
                    </p>
                    <img id="arrow11" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer11"> ● Altme is a free-to-use, non-custodial, multi-chain wallet
                    that
                    allows you to manage your decentralized identity and digital assets in a privacy-preserving way. You
                    can
                    download the Altme wallet from the Google Play store or the Apple App store:
                    <a href="https://altme.io">https://altme.io</a>
                </p>

            </div>
        </button>
        <button id="showAnswer12" class="showAnswerButton">
            <div id="question12" class="superQuestions">
                <div class="question">
                    <p class="questionP">What can I do with Altme?
                    </p>
                    <img id="arrow12" class="arrows" src="/altme-identity/static/arrow-circle-down.png">

                </div>

                <p class="inactiveAnswer" id="answer12"> ● With Altme, you can take control of your personal data and
                    decentralized identity. It enables you to prove your identity, age, compliance, and more while
                    protecting your privacy. Use Altme to leverage your data, access regulation-compliant web3 services,
                    participate in age-restricted games, and more.

                </p>

            </div>
        </button>
        <button id="showAnswer13" class="showAnswerButton">
            <div id="question13" class="superQuestions">
                <div class="question">
                    <p class="questionP">How can I add a decentralized identity to my favorite crypto wallet?
                    </p>
                    <img id="arrow13" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer13"> To add a decentralized identity to your existing crypto wallet,
                    simply pair your preferred wallet by scanning the 1st QR code. Then, scan the 2nd QR code with your
                    Altme wallet to obtain a proof of ownership. This process is straightforward, free, and 100% secure.

                </p>

            </div>
        </button>
        <button id="showAnswer14" class="showAnswerButton">
            <div id="question14" class="superQuestions">
                <div class="question">
                    <p class="questionP">Which crypto wallets are compatible with Altme?
                    </p>
                    <img id="arrow14" class="arrows" src="/altme-identity/static/arrow-circle-down.png">


                </div>

                <p class="inactiveAnswer" id="answer14">Altme is compatible with a growing number of wallets on Tezos,
                    Ethereum, BNB Chain and more ! Reach us if you can’t connect you favorite wallet.
                </p>

            </div>
        </button>
        <button id="showAnswer15" class="showAnswerButton">
            <div id="question15" class="superQuestions">
                <div class="question">
                    <p class="questionP">How can I contact Altme for support?
                    </p>
                    <img id="arrow15" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer15"> If you need support or have any questions, you can reach us by
                    email at support@altme.io

                </p>

            </div>
        </button>
        <button id="showAnswer16" class="showAnswerButton">
            <div id="question16" class="superQuestions">
                <div class="question">
                    <p class="questionP">Is the Altme wallet available in languages other than English?
                    </p>
                    <img id="arrow16" class="arrows" src="/altme-identity/static/arrow-circle-down.png">

                </div>

                <p class="inactiveAnswer" id="answer16"> ● Currently, the Altme wallet is only available in English.
                    However, we are working on expanding its availability to other languages in the future.

                </p>

            </div>
        </button>

    </div>
    <div id="securityQuestions" class="inactiveQuestions">
        <button id="showAnswer21" class="showAnswerButton">
            <div id="question21" class="superQuestions">
                <div class="question">
                    <p class="questionP">What is Self-Sovereign Identity (SSI)?
                    </p>
                    <img id="arrow21" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer21">
                    Self-Sovereign Identity (SSI), also known as Decentralized Identity (DID), is a technology that
                    enables
                    individuals and organizations to control their own data, through a new data standard called
                    “verifiable
                    credentials”. It eliminates the need for a central authority or database and provides improved
                    privacy
                    and security through decentralized storage, management, and sharing of personal data.

                </p>

            </div>
        </button>
        <button id="showAnswer22" class="showAnswerButton">
            <div id="question22" class="superQuestions">
                <div class="question">
                    <p class="questionP">What are Verifiable Credentials and why are they useful?
                    </p>
                    <img id="arrow22" class="arrows" src="/altme-identity/static/arrow-circle-down.png">

                </div>

                <p class="inactiveAnswer" id="answer22"> Verifiable Credentials are cryptographically signed digital
                    claims
                    that represent tamper-proof information such as identity cards, proof of age, proof of diploma,
                    proof of
                    compliance, and more. Verifiable Credentials are reusable and instantly verifiable, providing a
                    secure
                    and efficient way to manage and share digital information.


                </p>

            </div>
        </button>
        <button id="showAnswer23" class="showAnswerButton">
            <div id="question23" class="superQuestions">
                <div class="question">
                    <p class="questionP">How can I use my Altme SSI wallet to manage and share my verifiable
                        credentials?
                    </p>
                    <img id="arrow23" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer23">Once you receive a verifiable credential in your Altme wallet,
                    it
                    becomes part of your decentralized identity. You can use these credentials to prove your identity
                    both
                    off-chain and on-chain (only for privacy-preserving binary proof). For example, you can access
                    compliant
                    decentralized finance services or on-chain games using proof of age and proof of humanity
                    credentials.

                </p>

            </div>
        </button>
        <button id="showAnswer24" class="showAnswerButton">
            <div id="question24" class="superQuestions">
                <div class="question">
                    <p class="questionP">What is Zero Knowledge Proof (ZKP)?
                    </p>
                    <img id="arrow24" class="arrows" src="/altme-identity/static/arrow-circle-down.png">


                </div>

                <p class="inactiveAnswer" id="answer24"> Zero Knowledge Proof is a cryptographic solution that allows
                    one
                    party to prove knowledge of certain information without revealing the actual information itself. It
                    enables secure verification of claims without disclosing sensitive personal data.

                </p>

            </div>
        </button>
        <button id="showAnswer25" class="showAnswerButton">
            <div id="question25" class="superQuestions">
                <div class="question">
                    <p class="questionP">What is "selective disclosure"?
                    </p>
                    <img id="arrow25" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer25">Selective disclosure is a feature that allows SSI users to
                    reveal
                    specific pieces of information about their identity without disclosing sensitive details. It
                    enhances
                    security during online interactions by providing necessary information while protecting privacy.

                </p>

            </div>
        </button>
        <!--<button id="showAnswer26" class="showAnswerButton">
        <div id="question26" class="superQuestions">
            <div class="question">
                <p class="questionP">How do I backup my keys and credentials in Altme ?</p>
                <img id="arrow26" class="arrows" src="/altme-identity/static/arrow-circle-down.png">

            </div>

            <p class="inactiveAnswer" id="answer26"> To backup your Altme wallet, you need to write down your passphrase
                and download your digital credentials. It's important to store these in a secure location, such as a
                password-protected file or a physical safe.
                If you lose access to your Altme wallet, there is nothing we can do to help you. Altme is self-custodial
                which means only you can control your keys and your credentials.
            </p>

        </div>
    </button>-->


    </div>
    <div id="SSIQuestions" class="inactiveQuestions">
        <button id="showAnswer31" class="showAnswerButton">
            <div id="question31" class="superQuestions">
                <div class="question">
                    <p class="questionP">How secure is the Altme wallet?
                    </p>
                    <img id="arrow31" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer31"> The Altme wallet is highly secure and protected by
                    military-grade
                    encryption and biometric authentication. Your data, stored as verifiable credentials, are encrypted
                    and
                    stored only on your device, ensuring robust privacy and security.

                </p>

            </div>
        </button>
        <button id="showAnswer32" class="showAnswerButton">
            <div id="question32" class="superQuestions">
                <div class="question">
                    <p class="questionP">What does "self-custodial" mean?
                    </p>
                    <img id="arrow32" class="arrows" src="/altme-identity/static/arrow-circle-down.png">

                </div>

                <p class="inactiveAnswer" id="answer32"> A self-custodial wallet (= non custodial wallet), like Altme,
                    means
                    that your data is encrypted and stored only on your device. You have exclusive access to your keys,
                    data, and assets. No one can access your data or funds without your authorization.

                </p>

            </div>
        </button>
        <button id="showAnswer33" class="showAnswerButton">
            <div id="question33" class="superQuestions">
                <div class="question">
                    <p class="questionP">Are there any risks in adding a decentralized identity to my existing wallet?

                    </p>
                    <img id="arrow33" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer33">No, there are no risks in obtaining a "proof of blockchain
                    address
                    ownership" in Altme. You don't need to share or disclose any passphrase or private keys. Simply scan
                    a
                    QR code with your preferred crypto wallet to receive a proof of ownership verifiable credential in
                    Altme.

                </p>

            </div>
        </button>
        <button id="showAnswer34" class="showAnswerButton">
            <div id="question34" class="superQuestions">
                <div class="question">
                    <p class="questionP">How does Altme wallet protect my personal information?
                    </p>
                    <img id="arrow34" class="arrows" src="/altme-identity/static/arrow-circle-down.png">


                </div>

                <p class="inactiveAnswer" id="answer34"> Altme leverages Self-Sovereign Identity (SSI) technology, which
                    ensures secure, private, and decentralized storage and management of personal data. Your personal
                    information is encrypted and stored solely on your phone. You have full control over sharing
                    encrypted
                    verifiable credentials from your wallet. If you want to know more : https://www.w3.org/TR/did-core/

                </p>

            </div>
        </button>
        <button id="showAnswer35" class="showAnswerButton">
            <div id="question35" class="superQuestions">
                <div class="question">
                    <p class="questionP">Where are my digital credentials stored in Altme?
                    </p>
                    <img id="arrow35" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer35">Your digital credentials are securely encrypted and stored on
                    your
                    device only. Altme does not have any central database or cloud storage for your data. This maintains
                    the
                    principles of self-sovereign identity (SSI). You are the sole owner and controller of your data.

                </p>

            </div>
        </button>
        <button id="showAnswer36" class="showAnswerButton">
            <div id="question36" class="superQuestions">
                <div class="question">
                    <p class="questionP">How do I back up my keys and credentials in Altme?

                    </p>
                    <img id="arrow36" class="arrows" src="/altme-identity/static/arrow-circle-down.png">
                </div>

                <p class="inactiveAnswer" id="answer36">To back up your Altme wallet, write down your passphrase and
                    download your digital credentials. Store them securely in a password-protected file or a physical
                    safe.
                    If you lose access to your Altme wallet, we cannot provide assistance as Altme is a self-custodial
                    wallet. Only you have control over your keys and verifiable credentials.


                </p>

            </div>
        </button>

    </div>
</div>