<div class="row m-5">
    <div class="col-2">
      <div class="card shadow my-5">
      <img class="card-img-top" src="/static/img/logo.png" >
        <div class="card-body text-center">
            <h5 class="card-title">{{givenName}} {{familyName}}</h5>
            <p class="card-text">company<br>jobTitle<br>email</br></p>        
        </div>  
        <p class="text-dark text-center m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">{{_('This credential has been issued with the ')}} <a href="https://talao.co" >Talao issuer platform</a></p> 
      </div>
    </div>

    <div class="col-2">
        <div class="card shadow my-5">
        <img class="card-img-top" src="/static/img/logo.png" >
          <div class="card-body text-center">
              <h5 class="card-title">{{givenName}} {{familyName}}</h5>
              <p class="card-text">company<br>jobTitle<br>email</br></p>        
          </div>  
          <p class="text-dark text-center m-0" style="font-family: Arimo, sans-serif;font-size: 14px;">{{_('This credential has been issued with the ')}} <a href="https://talao.co" >Talao issuer platform</a></p> 
        </div>
      </div>
  </div>
