<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material-icons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Article-Cards.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel.css') }}">

  <style type="text/css">
    body { background: rgba(233, 124, 52, 0.93); important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
 </style>

</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content" >

      


        {% include 'services/directory_nav_bar.html' %}



          <!--------------------------------------------------------------------->
          <h4  class="mt-5 text-center text-white">Access on-line services in one-click (dummy)</h4>


        <div id="carouselExampleIndicators_1" class="carousel slide" data-interval="10000" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators_1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators_1" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active my-5">

              <div class="row justify-content-center">
              <div class="col-3">
                <div class="card " >
                  <div style="height:600px; overflow:auto;  overflow-x: hidden;"> 
                  <div class="card-body">
                    <h5 class="card-header"> <img src="static/img/talao_icon.png" alt="..."></h5>
                    <div class="card-title"><strong>Talao</strong></div>

                    <p class="card-text">Talao provides verifiable credentials issuance services for companies and public services.<br>
                      <br>For registration an Email Pass is required.</p>

                   

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href = '{{server}}login/VerifiablePresentationRequest' class="card-link">Sign-In</a></li>
                    <li class="list-group-item"><a href= '{{server}}register/qrcode' class="card-link">Register</a></li>
                    <li class="list-group-item"><a href="#" class="card-link">We are hiring ! send us your resume</a></li>
                    <li class="list-group-item"><a href='{{server}}login/VerifiablePresentationRequest?issuer_username=talao&vc=certificateofemployment' class="card-link text-secondary">HR services : Get a Certificate of Employment</a></li>
                    <li class="list-group-item"><a href='{{server}}login/VerifiablePresentationRequest?issuer_username=talao&vc=professionalexperienceassessment' class="card-link text-secondary">HR services : Request a Professional Experience Assessment</a></li>
                    <li class="list-group-item"><a href='{{server}}login/VerifiablePresentationRequest?issuer_username=talao&vc=identitypass' class="card-link text-secondary">HR services : Request an Identity Pass</a></li>

                  </ul>
                </div>
                </div>
                </div>
                <div class="col-3">
                  <div class="card" >
                    <div style="height:600px; overflow:auto; overflow-x: hidden;"> 
                    <div class="card-body">
                      <h5 class="card-header"><img src="static/directory/indeed.png"  alt="..."></h5>
                      <div class="card-title"><strong>Indeed</strong></div>

                      <p class="card-text">Indeed is an Irish worldwide employment website for job listings launched in November 2004. It is a subsidiary of Japan's Recruit Co. Ltd. and is co-headquartered in Austin, Texas and Stamford, Connecticut with additional offices around the world.[2] As a single-topic search engine, it is also an example of vertical search.<br>
                        <br>For our services an Identity Card is required.</p>

                     
                    </div>

                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#" class="card-link">Publish your resume</a></li>
                     
                    </ul>
                  </div>
                  </div>
                  </div>
                  <div class="col-3">
                    <div class="card" >
                      <div style="height:600px; overflow:auto; overflow-x: hidden;"> 
                      <div class="card-body">
                        <h5 class="card-header"><img src="static/directory/seloger.png" alt="..."></h5>
                        <div class="card-title"><strong>Seloger.com</strong></div>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br>
                          <br>For our services an Identity Card is required.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">Place an add</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">Complete your rental file</a></li>
                      </ul>
                    </div>
                    </div>
                    </div>
            </div>      
            </div>


            <div class="carousel-item my-5">
              <div class="row my-3 justify-content-center">
                <div class="col-3">
                  <div class="card " >
                    <div style="height:600px; overflow:auto;  overflow-x: hidden;"> 
                    <div class="card-body">
                      <div class="card-header"> <img src="static/directory/temple.png" alt="..." ></div>
                      <div class="card-title"><strong>Temple</strong></div>
                      <p class="card-text">
                        Reimagining Trusted Interactions
                        We’re advancing the use of verified information while retaining user privacy. Our mission is to create new trusted infrastructure for the world.<br>
                        <br>For our services a Self ID pass is enough.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="" class="card-link">Buy and Sell cryptos</a></li>
                    </ul>
                  </div>
                  </div>
                  </div>
                  <div class="col-3">
                    <div class="card" >
                      <div style="height:600px; overflow:auto; overflow-x: hidden;"> 
                      <div class="card-body">
                        <h5 class="card-title"><img src="static/directory/sygnum.png"  alt="..."></h5>
                        <div class="card-title"><strong>Sygnum</strong></div>

                        <p class="card-text">Founded on Swiss and Singapore heritage,
                          Sygnum empowers its clients to invest in the digital asset economy with complete trust.<br>
                          <br>For our services an Identity Card is required.</p>
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">Open an account</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">Apply for a loan</a></li>



                      </ul>
                    </div>
                    </div>
                    </div>
                    <div class="col-3">
                      <div class="card" >
                        <div style="height:600px; overflow:auto; overflow-x: hidden;"> 
                        <div class="card-body">
                          <h5 class="card-title"><img src="static/directory/padi.png" alt="..."></h5>
                          <div class="card-title"><strong>Padi</strong></div>

                          <p class="card-text">The Professional Association of Diving Instructors (PADI) is a recreational diving membership and diver training organization 
                            founded in 1966 by John Cronin and Ralph Erickson.<br>
                            <br>For our services an Email Pass is required.</p>
                          
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><a href="#" class="card-link">Request your Diving eCard</a></li>
                          <li class="list-group-item"><a href="#" class="card-link">Replace your cards</a></li>
                        </ul>
                      </div>
                      </div>
                      </div>
              </div>      
              </div>
           
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators_1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators_1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>

     <!--------------------------------------------------------------------->

     {% include 'services/standard_credentials.html' %}

     <!--------------------------------------------------------------------->



       
      </div>
    </div>
    <br><br>
    {% include 'user_footer.html' %}

  <script>function goBack() {window.history.back();}</script>
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
