<h4  class="my-5 text-center text-white">Get your standard credentials for your wallet</h4>
          
<div class="row m-3">

  <div class="col-2"> 
    <div class="card h-100" >
      <a href='{{server}}emailpass' class="stretched-link"></a>
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-x fa-envelope"></i> Email Pass</h5>
        <h6 class="card-subtitle mb-2 text-muted">Get a pass</h6>
        <p class="card-text">Use your email to Sign-In.</p>
      </div>
    </div>
  </div>

  <div class="col-2"> 
    <div class="card h-100" >
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-x fa-id-card"></i> Identity Card</h5>
        <h6 class="card-subtitle mb-2 text-muted">Get your Identity Card</h6>
        <p class="card-text">Show your official Identity Card to access services.</p>
      </div>
    </div>
  </div>

  <div class="col-2"> 
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-x fa-question"></i> Self ID</h5>
        <h6 class="card-subtitle mb-2 text-muted">Get an anonymous pass</h6>
        <p class="card-text">Pseudonym accepted for games, cryptos,....</p>
      </div>
    </div>
  </div>


  <div class="col-2"> 
    <div class="card h-100" >
      <a href="https://tzprofiles.com/" class="stretched-link"></a>

      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-x fa-twitter"></i> Tweeter</h5>
        <h6 class="card-subtitle mb-2 text-muted">Link your ID</h6>
        <p class="card-text">Associate your Tweeter account with your Digital ID.</p>
      </div>
    </div>
  </div>

  <div class="col-2"> 
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><i class="fab fa-x fa-linkedin"></i> LinkedIn</h5>
        <h6 class="card-subtitle mb-2 text-muted">Link your ID</h6>
        <p class="card-text">Associate your LinkedIn account to find a job.</p>
      </div>
    </div>
  </div>

  <div class="col-2"> 
      <div class="card h100">
          <div class="card-body">
            <h5 class="card-title"><i class="fab fa-x fa-facebook"></i> Facebook</h5>
            <h6 class="card-subtitle mb-2 text-muted">Social</h6>
            <p class="card-text">Associate your Facebook account with your Digital ID.</p>
          </div>
        </div>
  </div>  



</div>
</div>