<!DOCTYPE html>
<!-- authentification.html -->
<html>

<head>
    {% include 'head.html' %}

</head>


   <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                   {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
				{% endfor %}
			{% endif %}
		{% endwith %}

                       {% include 'guest_nav_bar.html' %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
                                    <p class="text-center" style="margin: 75px 50px 0px;"><br><br><br>{{_('Enter the secret code you have just received for authentication.')}}</p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >{{_('Check your secret code.')}}</h4></div>

                                    <form name="form" class="user" action="/login/authentification/" method="post">
                                        <div class="form-group"><input required="" class="form-control" type="password" placeholder="" name="code" style="color: rgb(133,135,150);"></div>
                                        <button id="loading_button" class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">{{_('Login')}}</button>
                                    </form>
                                    <div class="text-center"><a class="small" href="/forgot_password">{{_('Forgot password ?')}}</a></div>
                                    <div class="text-center"><a class="small" href="/login">{{_('Back to Login !')}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                         {% include 'user_footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    
</body>
</html>
