<!DOCTYPE html>
<html>
<!-- did_auth.html -->
<head>
    {% include 'head.html' %}

</head>
<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
			    {% if messages %}
				{% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				{% endfor %}
			    {% endif %}
		        {% endwith %}
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-lg-4 offset-lg-4">
				            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body">
                                    <div class="text-center"><h4 class="text-dark mb-4">Sign In with your Identity</h4></div>
                                    <form id="form" name="form" action="/did_auth/" method="POST"  >
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input id="username" class="form-control" type="text" title="Enter your username"  name="username" style="color: rgb(133,135,150);" required>
                                            <input hidden id="response" class="form-control" type="text" name="response" >
                                        </div>
                                        <br>
                                        <button  onclick="make_response()" class="btn btn-primary btn-block text-white btn-user"  type="button">Sign In</button>
                                    </form>
                                    <div class="text-center"><a class="small" href="/login/" >Sign In with password</a></div>  
                                    <div class="text-center"><a class="small" href="/forgot_username/">Forgot Username</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script src="{{ url_for('static', filename='ion.js') }}"></script>
    <script src="{{ url_for('static', filename='jwt-decode.js') }}"></script>


<script>

async function make_response(){
    const username = document.getElementById("username").value;
    // relaying party request
    const rp_request = jwt_decode('{{request}}');
    const encrypted_key = localStorage.getItem('identity_key');
    var key;
    if (!encrypted_key) {
        window.alert('Your Identity credential has been deleted, Sign In with password !')
        return ;
        }
    else {
        key = await Decode(encrypted_key, username);
        if (key == 'error') {
        window.alert('Your username is not correct, Sign In with password or clic on Forgot Username.')
        document.getElementById("username").value = ""
        return ;}
        }
    console.log('key password is OK');
    const KeyPair = JSON.parse(key)
    const signed_challenge = await ION.signJws({
        payload: {"challenge" : rp_request.challenge},
        privateJwk: KeyPair.privateJwk,
        detached : false
        });
    if (!signed_challenge) {
        window.alert('Your Identity credential has been deleted, Sign In with password !')
        return ;
        }
    const response = {
        signed_challenge : signed_challenge,
        did : KeyPair.privateJwk.kid,
        publicJwk : KeyPair.publicJwk,
        }
    console.log('Your DID is :', KeyPair.privateJwk.kid)
    document.getElementById("response").value = JSON.stringify(response) ;
    document.getElementById("form").submit();
    }



</script>

</body>
</html>
