<!DOCTYPE html>
<!-- forgot_password_init.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                {% include 'guest_nav_bar.html' %}
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Update your password</p>
                        </div>
                        <div class="card-body">
                            <form  action="/forgot_password/" method="post">
                                <div class="form-row">
                                    <div class="col-md-8 offset-md-2">
                                        <br>Enter your username and you will receive an email to get a new password.<br></p>
                                        <div class="form-group"><input placeholder="Enter you username" class="form-control"  type="text" name="username" required="" title="Enter your username"></div>
                                        <div class="form-row">
                                        <div class="col-6 col-xl-4">
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Send</button></div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </form>
                            <div class="text-center"><a class="small" href="/login/">Sign-In</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    {% include 'user_footer.html' %}

    </div>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
