<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
   
  </head>
  <body>
      
    <div id="content_smartphone" class="d-block d-sm-none">
      <style>
        .container {
          height: 500px;
          position: relative;
        }
        
        .vertical-center {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        </style>
      <div class="container">  

        <div class="vertical-center col text-center">  

      <a href="myapp://credible">
        <img  src="/static/img/credible.png" style="width: 120px;border-radius:0px;">
    </a>
    <br><br>
    <div class="col text-center">
      <a href="/user/" ><button class="btn btn-primary btn-sm" type="button" >{{_('Back')}}</button></a>
    </div>
    </div>
    </div>
    </div>

    <div id="content_desktop" class="d-none d-sm-block">    
        {% include 'guest_nav_bar.html' %}
              <div class="text-center">  
                <div id="id_text" class="m-5"><strong>{{message}}</strong><br>{{_('<br> Scan the QRCode bellow with your  smartphone wallet. <br>You can present any credential.')}}</div>  
                <div id="id_qrcode" class="m-5"><img src="{{ qrcode(url) }}" class=" w-30 h-30"></div>
                <div id="id_loading" class="m-5"></div>
                <div id="id_spinner" class="m-5"></div>
              </div>
              
              <div id="id_button" class="m-5">
                <div class="col text-center">
                <button onclick="goBack()" class="btn btn-primary btn-sm" type="button" >{{_('Back')}}</button>
              </div>


              <form id="id_token" action="/user/" method="POST">
              <input id="input_token" hidden name="token" >
              </form>


      </div>
      {% include 'user_footer.html' %}
      <script>function goBack() { window.history.back();}</script>
      <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
      <script>
        var source = new EventSource('/login/stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          document.getElementById("id_button").style.visibility = "hidden";
          document.getElementById("id_text").innerHTML = "";
          document.getElementById("id_qrcode").innerHTML = "";
          const loading_message = '{{_("Your portfolio is loading ...")}}'
          document.getElementById("id_loading").innerHTML = '<div class="col-lg-4 offset-lg-4"><div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">\
                                                            <div class="card-body p-0"><div class="col">\
                                                            <div  class="p-5"><div class="text-center"><h4 class="text-dark mb-4">' + loading_message + '</h4>\
                                                            </div><div class="spinner-border"></div></div></div></div></div>' 
          document.getElementById("input_token").value=result.token;
          document.getElementById("id_token").submit()
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/unregistered?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>