<!DOCTYPE html>
<!-- login_password.html -->
<html>

<head>
    {% include 'head.html' %}
</head>
<body id="page-top" >

    <div id="content_smartphone" class="d-block d-sm-none">
        <div class="my-5 text-center">
            <a href="app/login" > Login with smartphone </a>
        </div>
    </div>

    <div id="content_desktop" class="d-none d-sm-block">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            
            <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background_5.png');">

                {% with messages = get_flashed_messages(with_categories=true) %}
			    {% if messages %}
				{% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				{% endfor %}
			    {% endif %}
		        {% endwith %}
                {% include 'guest_nav_bar_2.html' %}
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
				            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div id = "id_loading">
                                        <div class="p-5">
                                            <div class="text-center"><h4 class="text-dark mb-4">{{_('Sign-In')}}</h4></div>
                                            <form class="user" action="/login" method="POST">
                                                <div class="form-group">
                                                    <label>{{ _('Username') }}</label>
                                                    <input class="form-control" type="text" title="Enter your username" value="{{username}}" name="username" style="color: rgb(133,135,150);" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{_('Password')}}</label>
                                                    <input required="" class="form-control"  type="password" title="Default password is identity"  name="password" style="color: rgb(133,135,150);">
                                                </div>
                                                <br>
                                                <button class="btn btn-primary btn-block text-white btn-user" id="" type="submit">{{_('Next')}}</button>
                                            </form>

                                            <div class="text-center"><a class="" href="/forgot_password">{{_('Forgot Password')}}</a></div>  
                                            <div class="text-center"><a class="" href="/forgot_username">{{_('Forgot Username')}}</a></div>

                                            <div class="d-none d-sm-block"> <!-- this part is not display on smartphone -->
                                                <br><p id="id_text_1" class="text-center">{{_('or')}}</p>
                                                <div id="id_qrcode" class="text-center">
                                                    <a href="/login/VerifiablePresentationRequest"><img  src="{{ qrcode(url) }}"  style="width: 150px;border-radius:0px;"></a>
                                                </div>
                                                <div id="id_text_2" class="text-center">
                                                    {{_('Scan and present any credential issued by Talao')}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <form id="id_token" action="/user/" method="POST">
                                            <input id="input_token" hidden name="token" >
                                        </form>

                                        <form id="id_failed" action="/login/" method="GET">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="space"></div>
                       </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
     {% include 'user_footer.html' %}  

     </div>
     
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>   

    <script>
        var source = new EventSource('/login/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data);
            if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
                document.getElementById("space").innerHTML = "<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>";
                const loading_message = '{{_("Your portfolio is loading ...")}}'
                document.getElementById("id_loading").innerHTML = '<div  class="my-5">\
                                                                        <div class="text-center">\
                                                                            <h4 class="text-dark mb-4">' + loading_message + '</h4>\
                                                                        </div>\
                                                                        <div class="text-center">\
                                                                            <div class="spinner-border"></div>\
                                                                        <div>\
                                                                    </div>' 
                document.getElementById("input_token").value=result.token;
                document.getElementById("id_token").submit();
            }
            if (result.code == 'ko' & result.stream_id == '{{stream_id}}' ) {
                console.log(result.message);
                window.alert(result.message)
                document.getElementById("id_failed").submit();
                
            }
            
        };
      </script>


</body>
</html>
