<!DOCTYPE html>
<!-- logout.html -->
<html>
<head>
  {% include 'head.html' %}

</head>

<body id="page-top"  >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if session['type'] == "company" %}
        {% if session['role'] == 'creator' %}
          {% include 'company_nav_bar.html' %}
        {% else %}
          {% include 'manager_nav_bar.html' %}
        {% endif %}
    {% else %}
        {% include 'user_nav_bar.html' %}
    {% endif %}
          <div class="container-fluid mt-3">
          <h3 class="text-dark mb-4">{{name}}</h3>
          {% if session['type'] == 'company' %}
          <h6 class="text-dark mb-4">{{session['employee']}}, {{session['role']}} </h6>
          {% else %}
          <h6 class="text-dark mb-4">{{profil_title}}</h6>
          {% endif %}

          <div class="row justify-content-center">
            <div class="col-xl-4">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 class='text-dark mb-4'>{{_('Logout')}}</h4>
                       <form class="user" action="/logout" method="post">
                          <div>
                          
                          </div>
                          <div class="form-row">
                            <div class="col">
                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">{{_('Confirm')}}</button></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
                            </div>
                        </div>
                        </form>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
    <script>function goBack() {  window.history.back();}</script>

  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
 <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
