<!DOCTYPE html>
<!-- login_password.html -->
<html>
    <head>
        {% include 'head.html' %}           
    </head>
<body>

    <div id="content_smartphone" class="d-block d-sm-none">
        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content" >
                    {% include 'guest_nav_bar_2.html' %}
    
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-sm-6 offset-sm-3">
                                <div id = "id_loading">
                                    <div class="card">
                                        <img src="/static/img/12.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <h5 class="card-title">{{_('Connect to your credential repository')}}</h5>
                                                <p class="card-text">  <br>{{_('Present a credential signed by Talao')}}<br>
                                                </p>
                                                <a href="{{deeplink}}" class="btn btn-primary">{{_('Open the Talao wallet')}}</a>
                                            </div>
                                        </div>
                                    </div> 
                                </div>                                      
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>   
    </div>

    <div id="content_desktop" class="d-none d-sm-block">
        <div id="wrapper">
            <div class="d-flex flex-column">
                <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/tezotopia.png');">

              
                    <div class="container">
                        <div class="row mb-3">


                            

                                                <div id="id_qrcode">
                                                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                                        <br><br><br><br><br><br><br><br><br><br><br><br><r>
                                                    <img  src="{{ qrcode(url, icon_img='./img/talao_icon.jpg') }}"  
                                                    style="position:fixed; right:50px; bottom:50px; width:200px; height:200px; border:none;"                                                 
                                                 >
                                                </div>
                                                
                             
                                    <div>


                                   
                            </div>
                       </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <form id="id_token" action="/user/" method="POST">
        <input id="input_token" hidden name="token" >
    </form>
     {% include 'user_footer.html' %}  

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>   

    <script>
        var source = new EventSource('/login/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data);
            if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
              
               
                document.getElementById("input_token").value=result.token;
                document.getElementById("id_token").submit();
            }
            if (result.code == 'ko' & result.stream_id == '{{stream_id}}' ) {
                console.log(result.message);
                window.alert(result.message)
                window.location.href= "/login";
                
            }
            
        };
      </script>


</body>
</html>
