<!DOCTYPE html>
<!-- update_password_external.html-->
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

                {% include 'guest_nav_bar.html' %}

        <div class="container-fluid">
          <div class="text-center">
          </div>
            <div class="row mb-3">
                <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">{{_('Update your password')}}</p>
                        </div>
                        <div class="card-body">
                            <form  action="/forgot_password_token/" method="post">
                                <div class="form-row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="form-group"><input placeholder="Your email" class="form-control"  type="email" name="email" required="" ></div>
                                       <div class="form-group"><input placeholder="New password" class="form-control" id="password" type="password" name="password" required="" pattern=".{8,}" title="Eight or more characters"></div>
                                        <div class="form-group"><input placeholder="Confirm new password" class="form-control" id="confirm_password" type="password" name="confirm_password" required="" pattern=".{8,}" title="Eight or more characters"><span id='message'></span></div>

                                        <div class="form-row">
                                        <div class="col-6 col-xl-4">
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">{{_('Update')}}</button></div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </form>
                            <div class="text-center"><a class="small" href="/login/">{{_('Login')}}</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    {% include 'user_footer.html' %}

    </div>
   <script>$('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
          $('#message').html('Matching').css('color', 'green');
        } else
          $('#message').html('Not Matching').css('color', 'red');
      });</script>
       <script>function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }</script>


<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>

</html>
