  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">

      <div class="">
        <a href="https://talao.io"><img  src="/static/img/logo.png" style="width: 120px;border-radius:0px;"></a>
        <a href="https://www.gaia-x.eu/"><img  src="/static/img/gaiax.png" style="width: 120px;border-radius:0px;"></a>
      </div>
      <!-- Title for large devices -->
     
      <div class="text-secondary d-none d-sm-block">
        <h2 class="d-none d-sm-block"style="color: grey ; ">&nbsp;&nbsp;Gaia-X Hackathon 3</h2> 
      </div>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item d-none d-none d-md-block" role="presentation"><div id="connected"></div></li> 

        
       


        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: grey;"><i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <a class="dropdown-item" role="presentation"  href="/gaiaxpass"><i class=" fa-sm fa-fw mr-2 text-gray-400"></i>Get an Gaia-X Pass</a> 
              <a class="dropdown-item" role="presentation"  href="/gaiax/login"><i class="fa-sm fa-fw mr-2 text-gray-400"></i>Log to Gaia-X simulator</a> 
              <a class="dropdown-item" role="presentation"  href="/wallet/playground"><i class="fa-sm fa-fw mr-2 text-gray-400"></i>{{_('Talao wallet playground')}}</a>    
   
   
       
            </div>
        </li>

      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
