<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
   
  </head>
    <body >
      <div id="content">
      {% include 'guest_nav_bar.html' %}
        <div class="text-center">       
          <div class="m-5">{{_('Scan the QRCode bellow with your Credible wallet')}}</div>
          <div class="m-5"><img src="{{ qrcode(url) }}" class="w-20 h-20"></div>
          </div>
            <div class="text-center m-5">
              <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
            </div>
          </div>
        </div>
      </div>
      {% include 'user_footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

<script>

var source = new EventSource('/register/stream');
source.onmessage = function (event) {
    const result = JSON.parse(event.data)
    window.location.href="/register/password?did=" + result.did;
    }; 


</script>
</body>
</html>