<!DOCTYPE html>
<!-- register.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
               
                {% include 'guest_nav_bar.html' %}
                <div class="container-fluid ">
                    <div class="col-lg-4 col-xl-2 offset-lg-4 offset-xl-5">
                            <div class="card shadow my-auto">
                                <div class="card-body">
                                    <form id="form" name="form" action="/register/" method="POST"  >
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="choice" value="company">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Register a company account
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="choice" value="user" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Register a personal account
                                            </label>
                                          </div>
                                        <br>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="text-center">
                                                    <div  class="form-group"><button  class="btn btn-primary btn-sm" type="submit">Next</button></div>
                                                    </div>
                                                </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


  


</body>
</html>
