<!DOCTYPE html>
<!-- regiqter_ctredible_qrcode.html-->
<html>
  <head>
    {% include 'head.html' %}
   
  </head>
    <body >
      <div id="content">
      {% include 'guest_nav_bar.html' %}
        <div class="text-center">       
          <div id="id_text" class="m-5">{{_('Scan the QRCode bellow with your Credible wallet')}}</div>
          <div id="id_qrcode" class="m-5"><img src="{{ qrcode(url) }}" class="w-20 h-20"></div>
          <div id="id_loading" class="m-5"></div>
          <div id="id_spinner" class="m-5"></div>
          </div>
            <div class="text-center m-5">
              <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
            </div>
          </div>
        </div>
      </div>
      {% include 'user_footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
 
<script>

var source = new EventSource('/register/stream');
source.onmessage = function (event) {
    const result = JSON.parse(event.data)
    if (result.did == 'registered'){
      window.location.href="/register/error";
    }
    else {
    document.getElementById("id_text").innerHTML = "";
    document.getElementById("id_qrcode").innerHTML = "";
    document.getElementById("id_loading").innerHTML = '<div>' + '{{_("Installing your portfolio...")}}' + '</div>';
    document.getElementById("id_spinner").innerHTML = '<div class="spinner-border"></div>';
    window.location.href="/register/create_for_credible?did=" + result.did;
    }
    }; 


</script>
</body>
</html>