<!DOCTYPE html>
<!-- credible_user_register.html-->
<html>

<head>
    {% include 'head.html' %}

</head>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="card shadow o-hidden border-0 my-5">
                                <div class="card-body p-0">
                                    <div class="row">
                                        
                                        <div class="col">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">{{_('Create a new Professional Digital Identity')}}</h4>
                                                </div>
                                            
                                            <form id="form" class="user" action="/register/credible/user" method="POST">
                                                <div class="form-group"><input class="form-control" type="text" placeholder="{{_('Firstname')}}" value="{{firstname}}" name="firstname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="text" placeholder="{{_('Lastname')}}" value="{{lastname}}" name="lastname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" name="CGU">
                                                    <label style="color: rgb(133,135,150);" title="" >{{_('I read and I accept the service conditions')}}</label>
                                                </div>

                                                <button class="btn btn-primary btn-block text-white border rounded btn-user" id="in_progress_button" type="submit">{{_('Next')}}</button>
                                            </form>
                                        <div class="text-center"><a class="small" href="/login">{{_('Sign-In')}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

        </div>
    </div>
</body>
</html>
