<!DOCTYPE html>
<!-- register_password.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}
                <div class="container-fluid mt-3">
                <div class="row mb-3">
                    <div class="col-sm-6 offset-sm-3  col-lg-4 offset-lg-4  col-xl-4 offset-xl-4 ">

                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold">{{_('Choose a password.')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>{{_('This password will be used to access your repository.')}}<br>
                                        {{_('Password must contain a number, an uppercase letter and a lowercase letter.
                                            It also must contain at least 8 characters.')}}</p>
                                    <br>
                                    <form id="form"  name="form" action="/register/password" method="POST"  >
                                        <div class="form-group">
                                            <input class="form-control" id="password" title=" The password must contain a number, a uppercase letter and a lowercase letter. <br>
                                            It also must contain at least 8 characters." name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must contain number, uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
                                            placeholder="Password" required>
                                          </div>
                                          <div  class="form-group">
                                            <input class="form-control" id="password_two" title=" The password must contain a number, a uppercase letter and a lowercase letter. <br>
                                            It also must contain at least 8 characters." name="password_two" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required>
                                          </div>
                                        <br>
                                        <div class="form-row">
                                            <div class="col">
                                                <div  class="form-group"><button  class="btn btn-primary btn-sm" type="submit">{{_('Next')}}</button></div>
                                            </div>
                                            <div class="col">
											    <div onclick="goBack()" form-group"><button class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
                                            </div>
                                           
                                        </div>

                                    </form>
                                    <div class="text-center"><a class="small" href="/login">{{_('Sign-In')}}</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
      </script>

</body>

</html>
