<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
              <div class="card shadow border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                      <div class="flex-grow-1 bg-login-image">
                        <div class="container px-5 pt-5">
                          <p class="text-center"><img class="mb-4" src="/static/img/Logo_cci.jpg" alt="You have been redirected by CCI" style="max-width: 200px"><br>
                            Talao est un protocole qui utilise la technologie de la Blockchain pour :</p>
                          <ul class="pl-3">
                            <li> Obtenir des attestations immuables et totalement traçables.</li>
                            <li> Gérer votre identité professionnelle numérique.</li>
                            <li> Stocker des données privées de manière sécurisée.</li>
                          </ul>
                          <br>
                          <p class="text-center">Saisissez le nom de l'entreprise, un email ainsi que le SIREN</p><br>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-5">
                        <div class="text-center">
                          <br><br>
                          <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Créer votre Identité entreprise</h4>
                        </div>
                        <div class="col" style="color: rgb(255,2,2);">
                          <small>{{message}}</small>
                        </div>
                        <form class="user" action="/create_company_cci/" method="post">
                          <div class="form-group"><input class="form-control" type="text" placeholder="Nom" name="name" style="color: rgb(133,135,150);" required=""></div>
                          <div class="form-group"><input class="form-control" type="email" placeholder="Email" name="email" required=""></div>
                          <div class="form-group"><input class="form-control" type="text" placeholder="SIREN" name="siren" pattern="(?=.*\d).{9,9}" required=""></div>
                          <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Suivant</button>
                        </form>
                        <div class="text-center py-3"><a class="small" href="/login/">Connexion</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          {% include 'user_footer.html' %}


        </div>

        <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
