<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% include "beacon/beacon_verifier_nav_bar.html" %}

        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1 ">
              
                  <form action="/sandbox/op/beacon/verifier/console" method="POST">

                  <div class="card shadow my-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p style="color:#09060f;" class=" m-0 font-weight-bold">Beacon integration for dApp</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color: #09060f;" class="m-0 font-weight-bold">Company and dApp information</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Company name</strong><br></label><input class="form-control" required type="text" value="{{company_name}}"  name="company_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Application name</strong><br></label><input class="form-control" type="text" value="{{application_name}}"  name="application_name" ></div>
                            </div>
                            <div class="col">
                              {% if session['login_name'] != "admin" %}
                              <div class="form-group"><label><strong>User</strong><br></label><input readonly class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% else %}
                              <div class="form-group"><label><strong>User</strong><br></label><input class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% endif %}
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Issuer Id</strong><br></label><input class="form-control" name="client_id" readonly type="text" value="{{client_id}}" ></div>
                            </div>
                        
                        </div> 
                        <div class="form-row">
                            <div class="col-3">
                              <div class="form-group"><label><strong>Contact name</strong><br></label><input class="form-control" type ="text" value="{{contact_name}}" name="contact_name" ></div>
                            </div>
                            <div class="col-3">
                              <div class="form-group"><label><strong>Contact email</strong><br></label><input class="form-control" type="email" value="{{contact_email}}" name="contact_email" ></div>
                            </div>
                              
                          <div class="col-6">
                            <div class="form-group"><label><strong>Note</strong><br></label><textarea class="form-control" name="note" >{{note}}</textarea></div>
                          </div>
                        </div>


                        </div>
                        </div>

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color: #09060f;" class="m-0 font-weight-bold">Beacon payload and webhook</p>
                            </div>
                          </div>
                          <div class="card-body">

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Payload message</strong></label><input class="form-control" type="text" name="beacon_payload_message" value="{{beacon_payload_message}}"></div>
                              </div>
    
                            </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Beacon payload (RAW)</strong></label><input readonly class="form-control" type="text" value="{{raw_payload}}"></div>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Beacon payload (MICHELINE)</strong></label><input readonly class="form-control" type="text" value="{{micheline_payload}}"></div>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Beacon payload (OPERATION)</strong></label><input readonly class="form-control" type="text" value="{{operation_payload}}"></div>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Client secret to check webhook call</strong></label><input readonly class="form-control" type="text" value={{client_secret}}></div>
                          </div>
                        
                          
                          <div class="col-6">
                            <div class="form-group"><label><strong>Webhook URL of your application</strong><br></label><input  required class="form-control" type="text" value="{{webhook}}" name="webhook" ></div>
                          </div> 
                        </div>

                        <div class="form-row">
                          <div class="col">
                            <button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="qrcode" type="submit">Test with wallet and QR code</button>
                          </div>
                          {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 
                          <div class="col">
                            <button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="update" type="submit">Refresh</button>
                          </div>
                          {% endif %}
                          </div>
                        </div>
                        </div>

                      
                     
                          
                        <div class="card shadow mt-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color:#09060f;"  class=" m-0 font-weight-bold">Select user requested credentials</p>
                            </div>
                          </div>
                          <div class="card-body">
                           
                            {% if session['client_data']['user'] == 'admin' %}
                            <div class="form-row mb-3">
                            <div class="col">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" {{standalone}} name="standalone" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Data transfered to application : if <strong>checked</strong> application receives the credential data, if <strong>unchecked</strong>, application receives a proof of a successful verification of the credentials</label>
                              </div>
                            </div> 
                            </div>
                            {% endif %}

                        <div class="form-row">
                          <div class="col-6">
                              <div class="form-group"><label><strong>Credential 1</strong></label><select name="vc_1" class="form-control">
                                {{vc_select_1|safe}}  
                                </select></div>

                        </div>  
                        <div class="col">
                          <div class="form-group"><label><strong>If credential 1 is a Pass : Issuer Id</strong><br></label><input class="form-control" type="text" name="vc_issuer_id" value="{{vc_issuer_id}}"></div>
                        </div>
                       
                        </div>
                        <div class="form-row">

                          <div class="col-6">
                              <div class="form-group"><label><strong>Credential 2</strong></label><select name="vc_2" class="form-control">
                                {{vc_select_2|safe}}  
                                </select></div>
                          </div>      
                        </div>
                        </div>
                        </div>


                        <div class="form-group mt-3">
                          <div class="form-row">
                                <div class="col"><button  class="btn btn-primary btn-sm" name="button" style="background-color: #09060f;" value="advanced" type="submit">Advanced configuration</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="copy" type="submit">Copy</button></div>
                            {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color:#09060f;"name="button" value="update" type="submit">Save</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="delete" type="submit">Delete</button></div>
                            {% endif %}
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" style="background-color: #09060f;" value="activity" type="submit">Activity</button></div>

                          </div>
                        </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
         
      </div>

      {% include 'user_footer.html' %}
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


<script>
if ("{{time_remaining}}" == "N/A")
  {document.getElementById("countdown").innerHTML = "TOTP code N/A";}
else 
{
var timeleft = parseInt("{{time_remaining}}");
var downloadTimer = setInterval(function(){
if(timeleft <= 0){
clearInterval(downloadTimer);
document.getElementById("countdown").innerHTML = "TOTP to renew";
} else {
document.getElementById("countdown").innerHTML = "TOTP " +  timeleft + " s remaining";
}
timeleft -= 1;
if (timeleft == -1)
  {window.location.reload();}
}, 1000); 
}
 </script>

</body>
</html>
