@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

#logo {
    width: 127.11px;
    height: 33.15px;
}

#draw {
    width: 447.49px;
    height: 449.19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

#bigBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    gap: 40px;

    width: 1170px;
    height: 850px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
#deeplink{
    display: none;
    background-color: #330080;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 14px;
    font-family: Nunito;
}
#titles {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 1124px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#mainBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 1170px;
    height: 400px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    justify-content: space-between;
}

#leftBox {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 549px;
    height: 500px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#rightBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 551px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 0px;
    gap: 10px;

    width: 100%;



    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#wrapperTop {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 1128px;
    height: 77px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1124px;
    height: 76px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#titleP {
    margin: 0;
    width: 1124px;
    height: 76px;

    /* Heading/h1 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 131.7%;

    /* or 76px */

    /* Purple */
    color: #330080;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /*position: relative;
    bottom: 50px;*/
}

#textTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1170px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#textTopP {
    width: 1170px;

    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#large {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 100%;

    /* Gradient_light */
    background: linear-gradient(180deg, #F8F8FB 0%, #FFFFFF 50%);
}

#leftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 549px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}


#step1 {
    /* Heading/h2 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#choose {
    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#leftMid {
    /* Middle */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 22px;
    width: 549px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#frame4 {
    /* Frame 4 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 549px;
    height: 29px;

    border-bottom: 1px solid rgba(84, 74, 98, 0.19);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

frame7 {
    /* Frame 7 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 47px;
    height: 29px;

    border-bottom: 2px solid #330080;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

frame8 {
    /* Frame 8 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 81px;
    height: 29px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#tezos {
    /* Tezos */

    width: 47px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#ethereum {
    /* Secondary */


    width: 47px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */




    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#fantom {
    /* Tezos */

    width: 47px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#bnb {
    /* Tezos */

    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#polygon {
    /* Tezos */

    width: 47px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#frame11 {
    /* Frame 11 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 549px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#frame10 {
    /* Frame 10 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 51px;
    height: 23px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#popular {
    /* Popular */

    width: 51px;
    height: 23px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 161.7%;

    /* identical to box height, or 23px */

    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#connect_box {

    position: absolute;
    top: 200px;
    left: 0px;
    width: 549px;
    height: 148.89px;


}

#frame1 {
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    width: 560px;
    height: 333px;
    overflow: scroll;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.box1 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    width: 549px;
    height: 65.89px;

    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.box1:hover {
    background: #EDECF2;
}

.box2 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    width: 549px;
    height: 67px;

    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.box2:hover {
    background: #EDECF2;
}

.underbox1 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 501px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.underbox2 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 501px;
    height: 35px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.frame2 {
    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.vector {
    /* Vector */

    width: 9px;
    height: 16px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#beaconlogo {
    /* beacon logo */

    width: 36.5px;
    height: 36.5px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.kvwalletbtn {
    background-color: transparent;
    border: transparent;
    width: 549px;
    height: 67px;
    border-radius: 16px;
    z-index: 100;
    position: absolute;
    left: 166px;

}

#kvwalletmodal_walletconnect_btn {

    position: absolute;
    top: 395px;

}

#kvwalletmodal_walletconnect_btn2 {

    position: absolute;
    top: 559px;

}

#kvwalletmodal_walletconnect_btn3 {

    position: absolute;
    top: 641px;

}

#kvwalletmodal_walletconnect_btn4 {

    position: absolute;
    top: 807px;

}

#kvwalletmodal_walletconnect_btn5 {

    position: absolute;
    top: 724px;

}

#kvwalletmodal_metamask_btn {

    position: absolute;
    top: 478px;
    left: 166px;
}

#frame6 {


    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 549px;
    height: 78px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    top: 30px;
}

#ssi {
    /* Connect wallet */

    width: 549px;
    height: 78px;

    /* Paragraph/16/medium */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;

    /* or 26px */

    /* Purple_light */
    color: #B0A7BC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#templelogo {
    /* temple-wallet 1 */

    width: 36px;
    height: 35px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.walletText {
    /* Beacon Wallet */
    text-align: left;
    padding-left: 25px;
    width: 280px;
    height: 29px;

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#qrcode {
    width: 279px;
}

#success {
    /* Connect wallet */
    margin: 0;
    width: 549px;
    height: 29px;

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.transparent {
    background-color: transparent;
    border: transparent;
}

#connectDesktop {

    position: absolute;
    top: 60px;
    left: 153px;
    font-family: Nunito;
    font-size: 20px;
    color: #330080;
}

#superFaq {
    gap: 90px;
    padding-top: 90px;
    background: #F6F5F9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    padding-bottom: 150px;
}

#faq {
    width: 1128px;

}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1090px;
    align-items: center;
}

.activeAnswer {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;

    /* or 26px */

    /* Secondary */
    color: #544A62;
    margin: 2px;
    max-width: 970px;
    text-align: left;

}

.inactiveAnswer {
    visibility: collapse;
    width: 1128px;
    font-size: 0;
}


.questionP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 650;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #000000;
    height: fit-content;
}

.answerP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;
}

#faqP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;
}

#templeRight {
    width: 50px;
    height: 50px;
}

#kukaiRight {
    width: 50px;
    height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
    opacity: 0.7;
}

footer {
    display: block;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1140px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.nav-02 {
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 70px;

    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-02__box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1170px;
    justify-content: space-between;
}

.nav-02__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-02__list_wrapper {
    align-items: center;
    display: flex;
}

.contactSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e0072;
    width: 120px;
    height: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.contactP {
    color: white;
}

nav {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;

}

nav a {
    text-decoration: none;
    color: #303030;
}

.nav-02__item:hover {
    transform: translateY(-2px);
    transition: color .2s ease, background-color .2s ease, border-color .2s ease, box-shadow .2s ease, transform .2s ease;
    color: #6600FF;
}

#faqNav {}

.linkP:hover {
    color: #6600FF;
}

#roadmapNav {
    position: relative;
    left: 7px;
}

#newsNav {
    position: relative;
    right: 1px;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-white-color {
    width: 100%;
    height: 129.6px;
    background-color: white;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-02 {
    display: flex;
    flex-direction: column;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-around;
    opacity: 0.7;
    position: relative;
    top: 2px;
}

.footer-02__wrapper {
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: 50px;
    justify-content: space-between;

}

.footer-02__text {
    font-size: 15px;
    font-family: 'Nunito';
    color: #3d3d3d;
    font-weight: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#line1Footer {
    margin: 0;
}

#line2Footer {
    margin: 0;
}

.social-buttons__icon {
    width: 18px;
    height: 18px;
}

.footer-02__text a {
    color: #3d3d3d;
}

#frame19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 448px;
    height: 77px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#underFrame19 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 40px;

    height: 77px;

    /* Purple_light */
    background: #F1EDF7;
    border-radius: 76px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.activeButtonFAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 16px 32px;*/
    gap: 10px;

    width: 170px;
    height: 61px;

    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgba(97, 86, 109, 0.2);
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    position: relative;
    bottom: 2.5px;
    right: 4px;
}

.activeButtonFAQ p {

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inactiveButtonFAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 16px 32px;*/
    gap: 10px;

    width: 170px;
    height: 61px;

    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    position: relative;
    bottom: 3px;
    right: 6px;
}

.inactiveButtonFAQ p {


    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttonFAQ {
    height: 61px;

    border-radius: 50px;
    background-color: transparent;
    border: transparent;
    /*border: solid;
    border-width: 1px;
    border-color: #000000;*/

}

.activeQuestions {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1092px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inactiveQuestions {
    visibility: collapse;
    height: 0px;
    font-size: 0;
}

.inactiveQuestions * {
    visibility: collapse;
    height: 0px;
    font-size: 0;
}

#youHaveQuestions {
    width: 561px;
    height: 152px;

    /* Heading/h1 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 131.7%;

    /* or 76px */
    text-align: center;

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

#SSIQuestions {
    position: relative;
    bottom: 180px;

}

#securityQuestions {
    position: relative;
    bottom: 90px;

}

.superQuestions:hover {
    background-color: #F1EDF7;
}

.superQuestions {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 2px solid #DDD8E3;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.arrows {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 4px;
    right: 6px;
    margin: 18px;

}

.showAnswerButton {

    border-radius: 50px;
    background-color: transparent;
    border: transparent;
}

#frame7 a {
    text-decoration: none;
}

.activeNav {
    color: #544A62;
    text-decoration: none;
}

.inactiveNav {
    color: #330080;
    margin: 0;
}

.nav-02__logo_img {
    height: 70px;
}

#logout {
    font-size: 14px;

    height: 44px;
    border: none;
    border-radius: 4px;
    right: 0.5%;
}

#logout2 {
    font-size: 14px;

    height: 44px;
    border: none;
    border-radius: 4px;
    right: 0.5%;
}

.hidden {
    visibility: collapse;
}

nav {
    align-items: center;
}

p {
    margin: 0;
}


a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 55.55%;
}

.accordion .accordion-item {}

.accordion .accordion-item button[aria-expanded='true'] {}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #080F33;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #080F33;
    border: 1px solid #080F33;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #080F33;
}

.accordion button[aria-expanded='true'] .icon::after {
    transform: rotate(45deg);
}

.accordion button[aria-expanded='true'] .icon::before {
    transform: rotate(45deg);
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    padding: 10px 0px 10px 0px;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;
    color: #544A62;
    margin: 2px;
    max-width: 970px;
    text-align: left;
}

.titleFaq {
    font-family: PoppinsSemiBold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #080F33;
    margin-top: 48px;
    margin-bottom: 16px;
}

.accordion-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 650;
    font-size: 18px;
    line-height: 161.7%;
    color: #000000;
    height: fit-content;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1090px) {
    #nav-02__box {
        width: 100%;
    }

    #nav-02 {
        width: 100%;
    }

    #titleP {
        width: 90%;
        height: fit-content;
        font-size: 46px;
    }

    .footer-02__wrapper {
        width: 100%;
    }

    * {
        max-width: 100vw;
    }

    #mainBox {
        flex-direction: column;
        height: fit-content;
        width: fit-content;
    }

    #textTopP {
        width: 90%;
    }

    #titles {
        align-items: center;
    }

    #bigBox {
        height: fit-content;
        width: fit-content;
        align-items: center;
        padding-bottom: 80px;
    }
    #rightBox{
        order: 0;
    }
    #leftBox{
        order: 1;
        height: fit-content;
        align-items: center;
        width: 100%;
    }
    #superFaq{
        position: initial;
    }
    #frame6{
        position: initial;
        height: fit-content;

    }    
    #ssi{
        height: fit-content;

    }
    .bg-white-color{
        position: initial;
    }
    .nav-02__box{
        width: 80%;
    }
    #draw{
        width: 90%;
        height: initial;
    }
    #leftTop{
        height: fit-content;
        max-width: 90%;
        align-self: initial;
    }
    .container{
        width: 90%;
    }
    .walletText{
        width: fit-content;
    }
    .underbox1{
        width: 80vw;
    }
    .underbox2{
        width: 80vw;
    }
    .box1{
        width: fit-content;
    }
    .box2{
        width: fit-content;
    }
    #frame1{
        align-items: center;
    }
    #youHaveQuestions{
        max-width: 90vw;
        font-size: 50px;
    }
    #deeplink{
        display: initial;
    }
    #qrcode{
        display: none;
    }
    #frame11{
        margin-bottom: 80px;
        margin-top: 20px;
    }
}
* {
    max-width: 100vw;
}