* {
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(Barlow-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-SemiBold.ttf);
}

#headerP {
    color: #1336E0;
    font-size: 20px;
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;

}

#header {
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #BDBDBD solid 1px;
}

#verifP {
    color: #000;
    text-align: center;
    font-size: 28px;
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.56px;
}

#img18ans {
    width: 112px;
}

#box {
    border-radius: 32px;
    border: 2px solid #2447F2;
    background: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 85%;
}

#whiteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
}

#greyBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F0F3FF;
    border-radius: 0px 0px 32px 32px;
    padding: 24px;
    gap: 24px;
}

#prouverP {
    color: #0B0514;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.18px;
}

#ouvrirApp {
    border-radius: 12px;
    background: #2447F2;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.16px;
    padding: 12px 16px; 
    align-self: stretch; 
    text-decoration: none;
}
#mainBox{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}