body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    gap: 50px;
}

p {
    margin: 0;
}

@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

#mainBox {
    width: 78%;
    min-height: calc(100vh - 223.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#contentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.nav-02 {
    z-index: 100;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 70px;

    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-02__box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1170px;
    justify-content: space-between;
}

.nav-02__list {
    display: flex;
    flex-direction: row;
    width: 570px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-02__list_wrapper {
    align-items: center;
    display: flex;
}

.contactSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e0072;
    width: 120px;
    height: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.contactP {
    color: white;
}

p {
    font-family: 'Nunito';
}

nav {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;

}

nav a {
    text-decoration: none;
    color: #303030;
}

.nav-02__item:hover {
    transform: translateY(-2px);
    transition: color .2s ease, background-color .2s ease, border-color .2s ease, box-shadow .2s ease, transform .2s ease;
    color: #6600FF;
}



.linkP:hover {
    color: #6600FF;
}



.bg-white-color {
    width: 100%;
    height: 129.6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-02 {
    display: flex;
    flex-direction: column;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-around;
    opacity: 0.7;
    position: relative;
    top: 2px;
}

.footer-02__wrapper {
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: 50px;
    justify-content: space-between;

}

.footer-02__text {
    font-size: 15px;
    font-family: 'Nunito';
    color: #3d3d3d;
    font-weight: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#line1Footer {
    margin: 0;
}

#line2Footer {
    margin: 0;
}

.social-buttons__icon {
    width: 18px;
    height: 18px;
}

.footer-02__text a {
    color: #3d3d3d;
}

#getYourNFT {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    text-align: center;

    /* Purple */
    color: #330080;


}

#bnbIMG {
    width: 52.6px;
    height: 60px;
}


#qrcode {
    width: 300px;
    height:300px;
}

#bnbP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;


    color: #F0B90B;
}

#scanP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #000000;
    max-width: 70%;
    text-align: center;

}

#mainDiv {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    gap: 20px;

    /* Purple_light */
    border: 1px solid #F1EDF7;
    border-radius: 16px;
}

#superFaq {
    gap: 90px;
    padding-top: 90px;
    background: #F6F5F9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq {
    width: 1128px;

}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1090px;
    align-items: center;
}

.activeAnswer {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;

    /* or 26px */

    /* Secondary */
    color: #544A62;
    margin: 2px;
    max-width: 970px;
    text-align: left;

}

.inactiveAnswer {
    visibility: collapse;
    width: 1128px;
    font-size: 0;
}


.questionP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 650;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #000000;
    height: fit-content;
}

.answerP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;
}

#faqP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;
}
#underFrame19 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 40px;

    height: 77px;

    /* Purple_light */
    background: #F1EDF7;
    border-radius: 76px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.activeButtonFAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 16px 32px;*/
    gap: 10px;

    width: 170px;
    height: 61px;

    background: #FFFFFF;
    box-shadow: 0px 2px 13px rgba(97, 86, 109, 0.2);
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    position: relative;
    bottom: 2.5px;
    right: 4px;
}

.activeButtonFAQ p {

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inactiveButtonFAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 16px 32px;*/
    gap: 10px;

    width: 170px;
    height: 61px;

    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    position: relative;
    bottom: 3px;
    right: 6px;
}

.inactiveButtonFAQ p {


    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttonFAQ {
    height: 61px;

    border-radius: 50px;
    background-color: transparent;
    border: transparent;
    /*border: solid;
    border-width: 1px;
    border-color: #000000;*/

}

.activeQuestions {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1092px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inactiveQuestions {
    visibility: collapse;
    height: 0px;
    font-size: 0;
}

.inactiveQuestions * {
    visibility: collapse;
    height: 0px;
    font-size: 0;
}

#youHaveQuestions {
    width: 561px;
    height: 152px;

    /* Heading/h1 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 131.7%;

    /* or 76px */
    text-align: center;

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

#SSIQuestions {
    position: relative;
    bottom: 180px;

}

#securityQuestions {
    position: relative;
    bottom: 90px;

}

.superQuestions:hover {
    background-color: #F1EDF7;
}

.superQuestions {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    width: 1128px;

    background: #FFFFFF;
    border: 2px solid #DDD8E3;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.arrows {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 4px;
    right: 6px;
    margin: 18px;

}

.showAnswerButton {

    border-radius: 50px;
    background-color: transparent;
    border: transparent;
}
