<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'company_nav_bar.html' %}
        <div class="container-fluid mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Add a new Adminitrator</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/add_employee/" method="post">
                                <p>Allows you to give an acces to a new administrator who will get the right to issue credentials an sign them on behalf of the company.<br>
                                    <br>This administrator MUST have his own Identity as a person to be added here. His/her signature
                                    will be added to credential.<br>
                                    <br>
                                </p>
                                <div class="form-group">
                                    <label title="The Manager username of his own Identity"><strong>Administrator username within the company</strong><br></label>
                                    <input class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" required title="The Manager username of his own Identity"  name="employee_username" >
                                </div>

                                <div class="form-group">
                                    <label title="The Manager username of his own Identity"><strong>Identity username</strong><br></label>
                                    {% if manager_username == "" %}
                                    <input class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" required title="The admintrator username of his own Identity"  name="identity_username" >
                                    {% else %}
                                    <input class="form-control" value="" type="text" data-toggle="tooltip" data-bs-tooltip="" required title="The adminisitrator username of his own Identity"  name="identity_username" >
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label title="wallet texte"><strong>Authentification Email</strong><br></label>
                                    <input class="form-control" type="email" data-toggle="tooltip" data-bs-tooltip="" required name="employee_email" title="Email for authentification">
                                </div>

                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit"  >Add</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										   <a href="/user/?username={{username}}">
												<div class="form-group"><button class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Cancel</button></div>
											</a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


                          {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
</body>

</html>
