<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                 {% include 'user_nav_bar.html' %}
        <div class="container-fluid">
          <div class="text-center">
          <h3 class="text-dark mb-4">{{name}}
            <a class="text-secondary" onclick="copyToClipboard('#p100')">
              <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
            </a>
          </h3>
          <p hidden id="p100">{{clipboard}}</p>
          <h6 class="text-dark mb-4">{{profil_title}}</h6>
          </div>
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Create a new Alias for Login</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/add_alias/" method="POST">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Allows you to acces and manage your Identity through different Username and Email. You can for instance create a new access for each of your devices (Smartphone, PC,...) or for your customers...</p>
                                        <div class="form-group"><label><strong>New Userame</strong><br></label><input class="form-control" pattern="[a-z0-9]{3-8}" type="text" data-toggle="tooltip" data-bs-tooltip="" placeholder="alias" required="" title="3 to 12 lowercase letters/numbers"
                                                name="access_username"></div>
                                        <div class="form-group"><label><strong>Authentification Email</strong><br></label><input class="form-control" type="email" data-toggle="tooltip" data-bs-tooltip="" placeholder="your email" required="" title="An email to log"
                                                name="access_email"></div>
									</div>
                                </div>
								<div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit"  value="send">Add an Alias</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										   <a href="/user/">
												<div class="form-group"><button class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Back</button></div>
											</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                 {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script>function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }</script>
</body>

</html>
