<!DOCTYPE html>
<!-- add_credential_supported.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" onload="generateDIDs()"">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                {% include 'company_nav_bar.html' %}
                <div class="container-fluid mt-3">
                <div class="row mb-3">
                    <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold"> {{_('Select credentials supported.')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p></p>
                                    <br>
                                    <form id="form" name="form" action="/company/add_credential_supported/" method="POST"  >

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="pass" id="flexCheckDefault" {{box_pass}} name="pass">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{pass_txt}}
                                            </label>
                                        </div>
                                        <hr>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="experience" id="flexCheckDefault" {{box_experience}} name="experience">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{experience_txt}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="skill" id="flexCheckDefault" {{box_skill}} name="skill">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{skill_txt}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="training" id="flexCheckDefault" {{box_training}} name="training">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{training_txt}}
                                            </label>
                                        </div>
                                                                                
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="work" id="flexCheckDefault" {{box_work}} name="work">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{work_txt}}
                                            </label>
                                        </div>
                                       
                                        <br>
                                        <div class="form-row">
                                            <div class="col">
                                                <div  class="form-group"><button class="btn btn-primary btn-sm" type="submit">{{_('Confirm')}}</button></div>
                                            </div>
                                            <div class="col">
											    <div onclick="goBack()" form-group"><button class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></div>
                                            </div>
                                           
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


    <script>


function goBack() {
    window.history.back();
    }

</script>

</body>
</html>
