<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background.png');">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'user_nav_bar.html' %}
        <div class="container-fluid">
          <div class="text-center mt-3">
          <h3 class="text-dark mb-4">{{name}}
            <a class="text-secondary" onclick="copyToClipboard('#p100')">
              <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
            </a>
          </h3>
          <p hidden id="p100">{{clipboard}}</p>
          <h6 class="text-dark mb-4">{{profil_title}}</h6>
          </div>

            <div class="row">
              <div class="col-lg-8 col-xl-4 offset-xl-4">
                <div class="card shadow mb-5">
                  <div class="card-body">
                    <h4 title="Services available." class="text-center">Advanced</h4>
                    <div role="tablist" id="accordion-2">
                      {% if display_alias == True %}
                      <div class="card">
                        <div class="card-header" role="tab">
                          <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="An Alias allows you to manage your Identity through different username and email."><i class="fa fa-laptop"></i><a class="text-secondary" data-toggle="collapse"
                              aria-expanded="false" aria-controls="accordion-2 .item-1" href="#accordion-2 .item-1">&nbsp; Alias</a></h5>
                        </div>
                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="card-text">{{access|safe}}</p>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="card">
                        <div class="card-header" role="tab">
                          <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="A Referent is an individual or a company you have authorized to issue certificates confirming your skills, experience or abilities."><i
                              class="fa fa-check"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-3" href="#accordion-2 .item-3">&nbsp; Referent List</a></h5>
                        </div>
                        <div class="collapse  item-3" role="tabpanel" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="card-text">{{issuer|safe}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab">
                          <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="A Partner is a Referent with which you aggree to exchange private data. It is the highest ranking."><i class="fa fa-group"></i><a class="text-secondary"
                              data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-2" href="#accordion-2 .item-2">&nbsp; Partner List</a></h5>
                        </div>
                        <div class="collapse item-2" role="tabpanel" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="card-text">{{partner|safe}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab">
                          <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="This is the list of Individuals and Companies you consider as reliable to issue Certificates."><i class="fa fa-user-o"></i><a class="text-secondary"
                              data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-4" href="#accordion-2 .item-4">&nbsp; White List</a></h5>
                        </div>
                        <div class="collapse  item-4" role="tabpanel" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="card-text">{{whitelist|safe}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab">
                          <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="Those certificates are needed to sign/encrypt emails and documents."><i class="fa fa-lock"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false"
                              aria-controls="accordion-2 .item-5" href="#accordion-2 .item-5">&nbsp; X.509 Certificates</a></h5>
                        </div>
                        <div class="collapse  item-5" role="tabpanel" data-parent="#accordion-2">
                          {% if session['rsa_key'] %}
                        <div class="card-body" >
                            <!--  RSA key 
                            <a  title="Download RSA key. Keep this file private." role="presentation" href="/user/download_rsa_key/?filename={{rsa_filename}}"><i class="fa fa-download fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Download : {{session['workspace_contract']}}.key</a>
                            <br><br> -->
                            X509 Certificate
                            <a title="Download this certificate to share your public key." role="presentation" href="/user/download_x509/"><i class="fa fa-download fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Download : {{session['workspace_contract']}}.pem</a>
                            <br><br>
                            PKCS12 Certificate (password = your email)
                            <a title="Download this certificate to sign documents and emails. Keep this certificate private." role="presentation" href="/user/download_pkcs12/"><i class="fa fa-download fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Download : {{session['workspace_contract']}}.p12</a>
                            <br><br>
                            Talao Conformity Authority Certificate
                            <a title="Download this certificate. It could be requested to verify your own certificate." role="presentation" href="/talao_ca/"><i class="fa fa-download fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Download : talao.pem</a>
                          </div> 
                          {% else %}
                          <div class="card m-2">
                            <div class="card-header py-3">
                              <p class="text-primary m-0 font-weight-bold">Import RSA Key</p>
                            </div>
                            <div class="card-body text-center shadow">
                              <form name="form" action="/user/import_rsa_key/" method="POST" enctype="multipart/form-data">
                                <p>Your RSA Key is needed to encrypt data as "Private" or "Secret".<br>
                                  Private files are available for your partners only.<br>
                                  Secret file are only for you.</p>
                                <div class="form-group">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <button id="in_progress_button" class="btn btn-primary btn-sm small" type="submit">Save</button>
                                    </div>
                                    <div class="custom-file">
                                      <label class="custom-file-label" for="inputGroupFile01"></label>
                                      <input type="file" id="inputGroupFile01" onchange="loadFile(event)" class="custom-file-input" name="file">
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>

                    <div class="card">
                      <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="Access to your private key">
                        <h5 class="mb-0"><i class="fa fa-clipboard"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-8" href="#accordion-2 .item-8">&nbsp; Private Key</a></h5>
                      </div>
                      <div class="collapse item-8" role="tabpanel" data-parent="#accordion-2">
                        <div class="card-body">
                          {% if session['private_key'] %}
                          <a onclick="copyToClipboard('#p200')" class="dropdown-item " title="Copy private key to clipboard" role="presentation" href=""><i class="fa fa-clipboard fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Copy Private Key&nbsp;</a>
                          <p hidden id="p200">{{private_key_value}}</p>
                          {% else %}
                          <a class="dropdown-item " title="Import private key" role="presentation" href="/user/import_private_key/"><i class="fa fa-upload fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Import Private Key&nbsp;</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="Advanced information about your Profesionnal Identity ">
                        <h5 class="mb-0"><i class="fa fa-chain"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-7" href="#accordion-2 .item-7">&nbsp; Blockchain Information</a></h5>
                      </div>
                      <div class="collapse item-7" role="tabpanel" data-parent="#accordion-2">
                        <div class="card-body">
                          <div style="height:400px;overflow:auto;overflow-x: hidden;">
                            <p class="card-text">{{advanced|safe}}</p>
                            <hr>
                            <b>Version</b> :{{Version}} <br>
                            <b>Created</b> :{{Created}} <br>

                          </div>
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class="form-row">
                    <div class="col-6 col-xl-3">
                      <a href="/user/">
                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div>
                      </a>
                   </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}


  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>
  <script type="text/javascript">
    window.setTimeout("document.getElementById('successMessage').style.display='none';", 4000);
  </script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
