<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 
   <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                   {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
                     
                       {% include 'guest_nav_bar.html' %}    
    
              
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
									
                                    <p class="text-center" style="margin: 75px 50px 0px;"><br>Enter the secret code you have just received for authentification.<br>
                                    <br>Each time you will connect to your identity your will receive a secret code for authentification.<br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >Check your secret code.</h4></div>
                                   
                                    <form class="user" action="/login/authentification/" method="post">
                                   <!--     <h6 class="text-warning">{{get_flashed_messages()[0]}}</h6>		-->	
                       <!--                 <div class="form-group"><input required="" class="form-control" type="password" title="Default password is identity" placeholder="Enter your password" name="password" style="color: rgb(133,135,150);"></div>        -->                              		
                                        <div class="form-group"><input required="" class="form-control" type="password" placeholder="Enter your secret code" name="code" style="color: rgb(133,135,150);"></div>                                      
                                        <button id="loading_button" class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Login</button> 
                                    </form>
                                    <div class="text-center"><a class="small" href="/forgot_password/">Forgot password ?</a></div>
                                    <div class="text-center"><a class="small" href="/login/">Back to Login !</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
                         {% include 'user_footer.html' %}    

        
    </div>
    
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <script src="{{ url_for('static', filename='loading_button.js') }}"></script> 
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
 
</body>

</html>
