<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% include "beacon_nav_bar.html" %}

        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1 ">
              
                  <form action="/sandbox/op/beacon/console" method="POST">

                  <div class="card shadow my-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p style="color:#09060f;" class=" m-0 font-weight-bold">Beacon integration for dApp</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color: #09060f;" class="m-0 font-weight-bold">Company and dApp information</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Company name</strong><br></label><input class="form-control" required type="text" value="{{company_name}}"  name="company_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Application name</strong><br></label><input class="form-control" type="text" value="{{application_name}}"  name="application_name" ></div>
                            </div>
                            <div class="col">
                              {% if session['login_name'] != "admin" %}
                              <div class="form-group"><label><strong>User</strong><br></label><input readonly class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% else %}
                              <div class="form-group"><label><strong>User</strong><br></label><input class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% endif %}
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Issuer Id</strong><br></label><input class="form-control" name="client_id" readonly type="text" value="{{client_id}}" ></div>
                            </div>
                        
                        </div> 
                        <div class="form-row">
                            <div class="col-3">
                              <div class="form-group"><label><strong>Contact name</strong><br></label><input class="form-control" type ="text" value="{{contact_name}}" name="contact_name" ></div>
                            </div>
                            <div class="col-3">
                              <div class="form-group"><label><strong>Contact email</strong><br></label><input class="form-control" type="email" value="{{contact_email}}" name="contact_email" ></div>
                            </div>
                              
                          <div class="col-6">
                            <div class="form-group"><label><strong>Note</strong><br></label><textarea class="form-control" name="note" >{{note}}</textarea></div>
                          </div>
                        </div>


                        </div>
                        </div>

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color: #09060f;" class="m-0 font-weight-bold">Beacon payload and webhook</p>
                            </div>
                          </div>
                          <div class="card-body">

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Payload message</strong></label><input class="form-control" type="text" name="beacon_payload_message" value="{{beacon_payload_message}}"></div>
                              </div>
    
                            </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Beacon payload (RAW)</strong></label><input readonly class="form-control" type="text" value="{{raw_payload}}"></div>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Beacon payload (MICHELINE)</strong></label><input readonly class="form-control" type="text" value="{{micheline_payload}}"></div>
                          </div>

                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Issuer secret to check webhook call</strong></label><input readonly class="form-control" type="text" value={{client_secret}}></div>
                          </div>
                        
                          
                          <div class="col-6">
                            <div class="form-group"><label><strong>Webhook URL of your application</strong><br></label><input  required class="form-control" type="text" value="{{webhook}}" name="webhook" ></div>
                          </div> 
                        </div>

                        <div class="form-row">
                          <div class="col">
                            <button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="qrcode" type="submit">Test with wallet and QR code</button>
                          </div>
                          {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 
                          <div class="col">
                            <button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="update" type="submit">Refresh</button>
                          </div>
                          {% endif %}

                          </div>

                        </div>
                        </div>

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color:#09060f;" class=" m-0 font-weight-bold">Credential to issue</p>
                            </div>
                          </div>
                          <div class="card-body">
                        
                          <div class="form-row">
                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential to issue</strong></label><select  onchange="getResponse();" id="selectCredential" name="credential_to_issue" class="form-control">
                                  <option value="">--Please choose an option--</option>
                                 {{credential_to_issue_select|safe}}
                                  </select></div>
                            </div>   
                            <div class="col-3">
                              <div class="form-group"><label><strong>Duration</strong><br></label><input  required class="form-control" step="10" type="number" value="{{credential_duration}}" name="credential_duration" ></div>
                            </div> 

                            <div class="col-2 offset-1">
                              <div class="form-check"><br><br>
                                <input class="form-check-input" type="checkbox" {{standalone}} name="standalone" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Credential issued with data received from application
                                </label>
                              </div>

                            </div> 
                          </div> 
                          </div>
                          </div>
                     
                          

                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p style="color:#09060f;" class=" m-0 font-weight-bold">Credentials requested to issue or verify</p>
                              </div>
                            </div>
                            <div class="card-body">
  
                            <div class="form-row">
                              <div class="col">
                                  <div class="form-group"><label><strong>Credential 1</strong></label>
                                    <select name="credential_requested" class="form-control">
                                    <option value="">--Please choose an option--</option>
                                   {{credential_requested_select|safe}}
                                    </select></div>
                              </div>  
                            
                              <div class="col">
                                <div class="form-group"><label><strong>Credential 2</strong></label>
                                  <select name="credential_requested_2" class="form-control">
                                  <option value="">--Please choose an option--</option>
                                 {{credential_requested_2_select|safe}}
                                  </select></div>
                            </div>  
                                
                              
                            </div>  
                          

                            <div class="form-row">
                              
                              
                              <div class="col">
                                <div class="form-group"><label><strong>Credential 3</strong></label>
                                 <select name="credential_requested_3" class="form-control">
                                  <option value="">--Please choose an option--</option>
                                 {{credential_requested_3_select|safe}}
                                  </select> </div>
                            </div>  
                            <div class="col">
                              <div  class="form-group"><label><strong>Credential 4</strong></label>
                               <select name="credential_requested_4" class="form-control">
                                <option value="">--Please choose an option--</option>
                               {{credential_requested_4_select|safe}}
                                </select> </div>
                          </div>  
                            </div>

                            </div>
                            </div>


                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p style="color: #09060f;" class="m-0 font-weight-bold">Wallet messages</p>
                              </div>
                            </div>
                            <div class="card-body">

                       

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message for credential requested 1 </strong><br></label><input type="text" class="form-control" name="reason" value="{{reason}}"></div>
                            </div>

                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message for credential requested 2 </strong><br></label><input type="text" class="form-control" name="reason_2" value="{{reason_2}}"></div>
                            </div>

                           
                         </div>
                         <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>In wallet message for credential requested 3 </strong><br></label><input type="text" class="form-control" name="reason_3" value="{{reason_3}}"></div>
                          </div>

                          <div class="col">
                            <div class="form-group"><label><strong>In wallet message for credential requested 4 </strong><br></label><input type="text" class="form-control" name="reason_4" value="{{reason_4}}"></div>
                          </div>

                         
                       </div>


                      

                        </div>
                        </div>



                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p style="color:#09060f;" class="m-0 font-weight-bold">Credential card customization</p>
                            </div>
                          </div>
                          <div class="card-body">

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Card title</strong><br></label><input class="form-control" type="text" name="card_title" value="{{card_title}}"></div>
                              </div>
  
                              <div class="col">
                                <div class="form-group"><label><strong>Card subtitle</strong><br></label><input class="form-control" type="text" name="card_subtitle" value="{{card_subtitle}}"></div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Card description</strong><br></label><textarea class="form-control" rows="5" name="card_description" >{{card_description}}</textarea></div>
                              </div>
                            </div>

                            <div class="form-row">

                              <div class="col">
                                <div class="form-group"><label><strong>Card background color</strong><br></label><input type="color" class="form-control" name="card_background_color" value="{{card_background_color}}"></div>
                              </div>
                         

                            <div class="col">
                              <div class="form-group"><label><strong>Card text color</strong><br></label><input type="color" class="form-control" name="card_text_color" value="{{card_text_color}}"></div>
                            </div>
                    
                            </div>
                      </div>
                      </div>

                        <div class="form-group">
                          <div class="form-row">
                                <div class="col"><button  class="btn btn-primary btn-sm" name="button" style="background-color: #09060f;" value="advanced" type="submit">Advanced configuration</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="copy" type="submit">Copy</button></div>
                            {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color:#09060f;"name="button" value="update" type="submit">Save</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" style="background-color: #09060f;" name="button" value="delete" type="submit">Delete</button></div>
                            {% endif %}
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" style="background-color: #09060f;" value="activity" type="submit">Activity</button></div>

                          </div>
                        </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
         
      </div>

      {% include 'user_footer.html' %}
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


<script>
if ("{{time_remaining}}" == "N/A")
  {document.getElementById("countdown").innerHTML = "TOTP code N/A";}
else 
{
var timeleft = parseInt("{{time_remaining}}");
var downloadTimer = setInterval(function(){
if(timeleft <= 0){
clearInterval(downloadTimer);
document.getElementById("countdown").innerHTML = "TOTP to renew";
} else {
document.getElementById("countdown").innerHTML = "TOTP " +  timeleft + " s remaining";
}
timeleft -= 1;
if (timeleft == -1)
  {window.location.reload();}
}, 1000); 
}
 </script>

</body>
</html>
