<!DOCTYPE html>
<!-- catalog.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
 <!-- Nav Bar  -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">
      <div>
        <a href="https://altme.io"><img  src="/static/img/altme.png" style="width: 40px;border-radius:0px;"></a>
      </div>
      <div class="text-secondary flex-nowrap ml-auto d-none d-sm-block">  
        <h1 class="d-none d-sm-block"style="color: grey ; margin-bottom: 0">Credential catalogue</h1> 
      </div>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">
      </ul>
    </div>
  </nav>
  <!-- Nav Bar  -->
                
    <div class="container-fluid  p-5">

        <div class="" style="background-color: #f0f0f0 ">
            <br>
                    <div class="text-center" >
                        <h3><strong>Personal data without disclosure of identity</strong></h4>
                    </div>
                    
                    <div class="row my-5">
                        <div class="col-3  mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Email proof</strong>
                                <br>User can get that credential with an email test. The process is carried out by Altme.
                                 The credential is issued by Altme. No data are stored by Altme. The validity is 1 year.
                            </div>
                        </div>
                 
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/over18.png"  style="width: 225px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Over 18</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                            </div>
                        </div>  
                    </div>    


                    <div class="row my-5">

                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Nationality</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                            </div>
                        </div>                       
                    
                   
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Gender</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                            </div>
                        </div>                       
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Age range</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year or less.
                            </div>
                        </div>                       
                   
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Proof of humanity</strong>
                                <br>I alm not a bot ! User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Phone proof</strong>
                                <br>User can get that credential with a SMS test. The process is carried out by Altme.
                                 The credential is issued by Altme. No data are stored by Altme. The validity is 1 year..
                            </div>
                        </div>   
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Id card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>ID card</strong>
                                <br>User can get that credentials with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year.
                            </div>
                        </div>     

                    </div>

                    <div class="text-center my-5">
                        <h4>Pack personal data : No setup fees, subscription fees 199€/month, 5€ per user</h4>
                    </div>
                    <br>

        </div>
                    <br>
                    <div class="text-center">
                        <h3><strong>Gaming data, cards and rewards</strong></h3>
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Ranking</strong>
                                <br>This credential is issued by the gaming platform or by Altme on behalf of the gaming platform.
                            </div>
                        </div> 
                 
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Gamer reputation</strong>
                                <br>This credential is issued by the gaming platform or by Altme on behalf of teh gaming platform.
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/voucher_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Voucher</strong>
                                <br>This reward is issued by the gaming platform as a referral for instance.
                            </div>
                        </div> 
                        
                 
                        <div class="col-3  mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Membership card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                       
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Membership card</strong>
                                <br>This card is issued by the gaming platform or by Altme on behalf of the gaming platform. Usually in exchange of personal data and blockchain addresses.

                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Loyalty card Tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Loyalty card</strong>
                                <br>This card is issued by the gaming platform or by Altme on behalf of teh gaming platform.
                                Usually in exchange of personal data and blockchain addresses.
                            </div>
                        </div>  
                    </div>

                    <div class="text-center">
                        <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month, 2€ per user (Pack personal data needed)</h4>
                    </div>

        <div class="mt-5" style="background-color: #f0f0f0 ">
            <br>

                    <div class="text-center">
                        <h3><strong>DeFi</strong></h3>
                    </div>
                   
                    <div class="row my-5">
                       
                   
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>AML</strong>
                                <br>User can get that credentials with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year.
                            </div>
                        </div> 

                        <div class="col-3  mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Proof of residency</strong>
                                <br>User can get that credentials with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year.
                            </div>
                        </div> 

                    </div>

                    <div class="row my-5">
                       
                    </div>

                    <div class="text-center">
                        <h4>Pack DeFi : subscription fees 99€/month, 2€ per user (Pack personal data needed)</h4>
                    </div>
                    <br>
    </div>
                    <div class="text-center">
                        <br>
                        <h4><strong>Education</strong></h4>
                    </div>
                    <div class="row my-5">
                      
                        <div class="col-3  mt-3" >
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/student_card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Student card</strong>
                                <br>User can get that credentials ..............
                            </div>
                        </div>  
                   
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/diploma_card.png"  style="width: 250px;border-radius:0px;">
                            </div> 
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Diploma</strong>
                                <br>User can get that credential .....................
                            </div>
                        </div>  

                    </div>
                        <div class="text-center">
                            <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month, 2€ per user</h4>
                        </div>

                   
        <div class="mt-5" style="background-color: #f0f0f0 ">
                            <br>
                    <div class="text-center">
                        <h4><strong>Human ressource</strong></h4>
                    </div>
                    
                <div class="row my-5">

                    <div class="col-3 mt-4">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/certificate_of_employment.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <div id="id_qrcode" class="text-center">
                            <br><strong>Certificate of employment</strong>
                            <br>User can get that credentiam.............
                        </div>
                    </div> 
                </div>
                <div class="text-center">
                        <h4>Per credential : subscription fees 99€/month, 2€ per user (Pack personal data needed)</h4>
                </div>
                    <br>

    </div>
                    <br>
                    <div class="text-center">
                        <h4><strong>Community</strong></h4>
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Pass</strong>
                                <br>User can get that credential .....................

                            </div>
                        </div> 
                    </div>

                    <div class="text-center">
                        <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month, 2€ per user (Pack personalm data needed)</h4>
                    </div>

    <div class="mt-5" style="background-color: #f0f0f0 ">
                        <br>

                    <div class="text-center">
                        <h4><strong>Others</strong></h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=compellio_ticket.jsonld"><img  src="/static/img/compellio.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>Ticket</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=compellio_club_membership.jsonld"><img  src="/static/img/compellio.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>Membership</strong>
                            </div>
                        </div>
                    </div>
                    <br>
    </div>
                 
                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
