<!DOCTYPE html>
<!-- catalog.html -->
<html>
<head> {% include 'head.html' %}</head>
<body id="page-top" >
<div class="d-flex flex-column" id="content-wrapper">
 <!-- Nav Bar  -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">
      <div>
        <a class=" d-none d-sm-block" href="https://altme.io"><img  src="/static/img/altme.png" style="width: 40px;border-radius:0px;"></a>
      </div>
      <div class="text-secondary flex-nowrap ml-auto ">
        <div class="text-center">  
            <h1 style="color: grey ; margin-bottom: 0">Decentralized Identity for Web3 <a href="https://altme.io">wallets</a> and applications</h1> 
          
        </div>
    </div>

      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">
      </ul>
    </div>
  </nav>
  <!-- Nav Bar  -->
                
    <div class="container-fluid  ">

        <div class="p-5" style="background-color: #f0f0f0 ">

            <div class="text-center" >
                        <h3><strong>Verified user credentials without identity disclosure</strong></h4>
                    </div>
                    
                        <div class="row my-5">
                            <div class="col">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/blockchain_address.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            <div class="col">
                                <div id="id_qrcode" class="text-center">
                                    <strong>Blockchain address ownership</strong>
                                    <br>For web3 applications this is for sure the most important credential as it allows user to bind their decentralized identity to a blockchain address.
                                    Privacy is guaranteed because the private key of the decentralized identity is different from the private key of the blockchain address.
                                    The credential is issued by the non custodial user wallet at creation.
                                </div>
                            </div>   
                      

                        
                 
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Over 18</strong>
                                <br>User can associate their decentralized identity to that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. 
                            </div>
                        </div>  
                    </div>    


                    <div class="row my-5">

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Nationality</strong>
                                <br>User can associate their nationality to their decentralized identity with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider (180 countries are covered), the credential is issued by Altme. Data are stored in the user wallet.
                               
                            </div>
                        </div>                       
                    
                   
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Gender</strong>
                                <br>User can associate their decentralized identity to that credential with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. 
                                <br>
                            </div>
                        </div>                       
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Age range</strong>
                                <br>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their decentralized identity with a KYC process embedded in the wallet.
                                The credential is issued by Altme. Data are stored in the user wallet. 
                                The validity is 1 year or less.
                            </div>
                        </div>                       
                   
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Proof of humanity</strong>
                                <br>I am not a bot ! 
                                <br>The verification process is carried out by a 3D facial liveness test embedded in the wallet.
                                 The credential is issued by Altme. 
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Phone proof</strong>
                                <br>User can associate their phone number to their decentralized identity after having successfully passed an SMS test. The process is carried out by Altme.
                               Data are stored in the user wallet. The validity is 1 year.
                               <a href="https://issuer.talao.co/phonepass"> See issuer of Phone proof here</a> 

                            </div>
                        </div>   
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Email proof</strong>
                                <br>User can associate their email to their decentralized identity after having successfully passed an email test. The process is carried out by Altme.
                                Data are stored in the user wallet. The validity is 1 year.
                                <a href="https://issuer.talao.co/emailproof"> See issuer of Email proof here</a> 
                            </div>
                        </div>

                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Discord account</strong>
                                <br>This is a proof of the ownership of a Discord account, it can be bound to a community. The process is carried out by Altme.
                                  Data are stored in the user wallet.
                            </div>
                        </div>   
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Tweeter account</strong>
                                <br>This is a proof of the ownership of a Tweeter account. The process is carried out by Altme.
                                Data are stored in the user wallet.
                               
                            </div>
                        </div>     

                    </div>
                   

                    <div class="text-center mt-5">
                        <h4>Each of these user credentials (represented by a card in the data crypto wallet) is proposed at €1 per onboarding within the offers (see below)</h4>
                    </div>
             

        </div>
<!--     End of personal data pack    -->
      
<div class="p-5">
                   
    <div class="text-center">
        <h3><strong>Gaming : increase traffic and retain gamers with decentralized CRM</strong></h3>
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/voucher_tezotopia.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Voucher</strong>
                <br>This reward maybe issued by the gaming platform or by Altme on behalf of the gaming plateform to increase traffic.
                Usually as a referral. Blockchain addresses are the only data requested to user.
                Example : <a href = "https://issuer.tezotopia.altme.io/issuer/voucher_62fe4e8eb88bd3be9701997a">Tezotopia voucher</a>.
            </div>
        </div> 

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month
                <br>Setup fees for custom card : 1,500€
            </div>
        </div> 
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/Membership card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
       
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Membership and loyalty cards</strong>
                <br>User gets a benefir in exchange of personal data while keeping their privacy.
                 This is an opportunity for gaming platforms to retain their customers and improve their marketing process.
                 In this example 2 credentials are requested (excluding blockchain address) to get that membership : <a href="https://issuer.tezotopia.altme.io/issuer/membership_6319e578921c3fcd1617e188">Tezotopia membership card </a>on Tezos.
            </div>
        </div> 
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month + 2€/user
                <br>Optional custom card : 1,500€
            </div>
        </div> 
    </div>

   
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Game community on Discord</strong>
                <br>Check that a Discord member is a game player without identity and blockchain address disclosure.

            </div>
        </div> 
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month + 1€/user
                <br>Optional custom card : 1,500€
            </div>
        </div> 
    </div> 
    
    
</div>
<div class="p-5" style="background-color: #f0f0f0 ">
                   
    <div class="text-center">
        <h3><strong>Websites, DAO,... : secure your onboarding process</strong></h3>
    </div>

    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
                <div class="col">
                    <div id="id_qrcode" class="text-center">
                        <strong>Age gated content</strong>
                        <br>User can associate their decentralized identity to that credential with a KYC process embedded in the wallet. 
                        The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. No identity disclosure.
                    </div>
                </div>  
            

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month + 1€/user
            </div>
        </div> 
        
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
                <div class="col">
                    <div id="id_qrcode" class="text-center">
                        <strong>I am not a bot !</strong>
                        <br>The verification process is carried out by a 3D facial liveness test embedded in the wallet.
                                 The credential is issued by Altme. No identity disclosure.
                    </div>
                </div>  
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month + 1€/user
            </div>
        </div> 
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/passport_number.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
                <div class="col">
                    <div id="id_qrcode" class="text-center">
                        <strong>One address, one vote</strong>
                        <br>The verification process is carried out by a KYC process embedded in the wallet. A hash is calculated from the passport MRZ (Machine-Readable Zone).
                        It can be used to avoid a potential sybil attack in a blockchain voting system (unicity of the vote).
                        The credential is issued by Altme. No identity disclosure.
                    </div>
                </div>  
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 149€/month + 1€/user
            </div>
        </div> 
    </div>
  
   

  
</div>

        <div class="p-5" ">
       
                    <div class="text-center">
                        <h3><strong>DeFi : best secure KYC AML process for onboarding</strong></h3>
                    </div>
                   
                    <div class="row my-5">

                        <div class="col-3">                            
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Id card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>KYC bound to one or multiple blockchain addresses</strong>
                                <br>It is today the most secure way to link a blockchain address to a natural person (TFR, ...).
                                The KYC process is carried out through a 3D facial liveness test and an integrated document authentication process in the mobile device with prior biometric authentication of the user.
                                The user can associate multiple blockchain addresses to the same decentralized identity in one step. Privacy (GDPR : right to be forgotten) is guaranteed because the private key of the decentralized identity is different from the private key of the blockchain address.
                                Altme retains the KYC process ID for auditing. KYC data, the decentralized identity and blockchain addresses are linked by cross-signatures.
                            </div>
                        </div> 
                       
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/aml.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Anti money laundering</strong>
                                <br>User can associate their decentralized identity to a watchlist check carried out in the KYC provider backend. 
                               The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
                            </div>
                        </div> 

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Proof of residency</strong>
                                <br>User can associate their decentralized identity to a proof of residency with an extended document authentication process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
                                
                            </div>
                        </div> 

                    </div>

                    

                    <div class="text-center">
                        <h4>Pack DeFi 3 credentials : subscription fees 149€/month, + 3€ per user</h4>
                     
                    </div>
                    <br>
    </div>
    <div class="p-5" style="background-color: #f0f0f0 ">

                    <div class="text-center">
                      
                        <h4><strong>Issuers of educational credentials</strong></h4>
                    </div>
                    <div class="row my-5">
                      
                        <div class="col" >
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/student_card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Student card</strong>
                                <br>User can get that credential through a portal or with another mean of authentication (email, kyc,...).
                                 This credential is signed by a university, a school or a training center.
                                No data are stored by Altme.
                            </div>
                        </div> 
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <br>Setup fees : 2,500€, subscription fees 149€/month
                            </div>
                        </div>  
                    </div>    
                    <div class="row my-5"> 
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/diploma_card.png"  style="width: 250px;border-radius:0px;">
                            </div> 
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Diploma</strong>
                                <br>User can get that credential through a portal or a custom website. This credential is signed by the university and transfered to the wallet by Altme. 
                                The credential is compliant with the EU EBSI project. Diploma data are stored in the non custodial user wallet.
                                
                            </div>
                        </div>  
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <br>Setup fees : 2,500€, subscription fees 149€/month
                            </div>
                        </div> 

                    </div>
   
                       
        </div>
                   
        <div class="p-5" >
                           
                    <div class="text-center">
                        <h4><strong>Issuers for companies</strong></h4>
                    </div>
                    
                <div class="row my-5">

                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/certificate_of_employment.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <strong>Certificate of employment</strong>
                            <br>This certificate is issued by a company or by Altme on behalf of the company. Data are stored in the user wallet only.
                        </div>
                    </div> 
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <br>Setup fees : 2,500€, subscription fees 149€/month
                        </div>
                    </div> 
                
                </div>
               
                <div class="row my-5">
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/level.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <br><strong>Proof of level (ranking)</strong>
                            <br>This credential is issued by operators as gaming platforms or by Altme on behalf of the operator. The credential is stored in the user wallet only.
                             User can display their proof of ranking on a public website or a social network account even transfer it to another user.
                        </div>
                    </div> 

                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <br>Setup fees : 2,500€, subscription fees 149€/month
                        </div>
                    </div> 
                    
                </div>
                <div class="row my-5">
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/arago_card.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <strong>Pass</strong>
                            <br>This pass is issued by a company or by Altme on behalf of the company.
                            This pass maybe used for authentication for online services (Single Sign On) or even as a badge to enter company offices.
                            Example : <a href="https://arago.altme.io?callback=https://talao.co/sandbox/offers" >Arago cultural pass issuer</a>
            
                        </div>
                    </div> 
                    <div class="col">
                        <div id="id_qrcode" class="text-center">
                            <<br>Setup fees : 2,500€, subscription fees 149€/month
                        </div>
                    </div> 
                </div>

               
                 
    </div>
    <div class="p-5" style="background-color: #f0f0f0 ">
                   
                    <div class="text-center">
                        <h4><strong>Issuers for non profit organizations (DAO, communities,...)</strong></h4>
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Membership</strong>
                                <br>This card is usually issued by a non profit organization or by Altme on behalf of the organization.
                                This pass maybe used for authentication for online services (Single Sign On) or even as a badge to enter offices.
                                No data are stored by Altme.

                            </div>
                        </div> 

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <br>Setup fees : 1,500€, subscription fees 99€/month
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/reputation.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Proof of reputation</strong>
                                <br>This credential is issued by a community or by Altme on behalf of the community.
                                User can display this credential on a public website or a social network account or even transfer it to another user.

                            </div>
                        </div> 

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <br>Setup fees : 1,500€, subscription fees 99€/month
                            </div>
                        </div> 

                    </div>

                   
    </div>
   
                 
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
