<!DOCTYPE html>
<!-- catalog.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
 <!-- Nav Bar  -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">
      <div>
        <a href="https://altme.io"><img  src="/static/img/altme.png" style="width: 40px;border-radius:0px;"></a>
      </div>
      <div class="text-secondary flex-nowrap ml-auto d-none d-sm-block">  
        <h1 class="d-none d-sm-block"style="color: grey ; margin-bottom: 0">Altme Decentralized Identity credential catalogue</h1> 
      </div>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">
      </ul>
    </div>
  </nav>
  <!-- Nav Bar  -->
                
    <div class="container-fluid  p-5">

        <div class="p-5" style="background-color: #f0f0f0 ">
            <br>
                    <div class="text-center" >
                        <h3><strong>Personal data without disclosure of identity</strong></h4>
                    </div>
                    
                    <div class="row my-5">
                        <div class="col-3  mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Email proof</strong>
                                <br>User can get that credential with an email test. The process is carried out by Altme.
                                 No data are stored. The validity is 1 year.
                            </div>
                        </div>
                 
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Over 18</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                            </div>
                        </div>  
                    </div>    


                    <div class="row my-5">

                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Nationality</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                            </div>
                        </div>                       
                    
                   
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Gender</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                            </div>
                        </div>                       
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Age range</strong>
                                <br>User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                                The validity is 1 year or less.
                            </div>
                        </div>                       
                   
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Proof of humanity</strong>
                                <br>I am not a bot ! User can get that credential with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Phone proof</strong>
                                <br>User can get that credential with a SMS test. The process is carried out by Altme.
                                 The credential is issued by Altme. No data are stored. The validity is 1 year.
                            </div>
                        </div>   
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Id card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>ID card</strong>
                                <br>User can get that credentials with a KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored. 
                                The validity is 1 year.
                            </div>
                        </div>     

                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/discord_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Discord account</strong>
                                <br>This is a proof of the ownership of a Discord account. The process is carried out by Altme.
                                 The credential is issued by Altme. No data are stored.
                            </div>
                        </div>   
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Tweeter account</strong>
                                <br>This is a proof of the ownership of a Tweeter account. The process is carried out by Altme.
                                 The credential is issued by Altme. No data are stored.
                               
                            </div>
                        </div>     

                    </div>
                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/blockchain_address.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Blockchain address ownership</strong>
                                <br>For web3 applications this if for sure the most important credential as it allows to associate any piece of personal data to a blockchain address without disclosing identity of the owner.
                                The credential is issued by the user wallet (non custodial wallet) at creation. No data are stored.
                            </div>
                        </div>   
                        
                         

                    </div>

                    <div class="text-center mt-5">
                        <h4>Pack personal data : No setup fees, subscription fees 199€/month, 5€ per user</h4>
                    </div>
             

        </div>
<!--     Enf of personal data pack    -->
        <div class="p-5">
                    <br>
                    <div class="text-center">
                        <h3><strong>Gaming</strong></h3>
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Ranking</strong>
                                <br>This credential is issued by the gaming platform or by Altme on behalf of the gaming platform. No data are stored.
                            </div>
                        </div> 
                 
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Gamer reputation</strong>
                                <br>This credential is issued by the gaming platform or by Altme on behalf of the gaming platform. No data are stored.
                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/voucher_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Voucher</strong>
                                <br>This reward maybe issued by the gaming platform or by Altme on behalf of the gaming plateform. Usually as a referral.
                            </div>
                        </div> 
                        
                 
                        <div class="col-3  mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Membership card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                       
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Membership card</strong>
                                <br>This card is issued by the gaming platform or by Altme on behalf of the gaming platform. Usually in exchange of personal data and blockchain addresses.

                            </div>
                        </div> 
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Loyalty card Tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Loyalty card</strong>
                                <br>This card is issued by the gaming platform or by Altme on behalf of the gaming platform.
                                Usually in exchange of personal data and blockchain addresses.
                            </div>
                        </div>  
                    </div>

                    <div class="text-center">
                        <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month (Pack personal data needed)</h4>
                    </div>
        </div>

        <div class="p-5" style="background-color: #f0f0f0 ">
            <br>
                    <div class="text-center">
                        <h3><strong>DeFi</strong></h3>
                    </div>
                   
                    <div class="row my-5">
                       
                   
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>AML</strong>
                                <br>User can get that credential with an extended KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year. This credential can be revoked anytime if needed.
                            </div>
                        </div> 

                        <div class="col-3  mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Proof of residency</strong>
                                <br>User can get that credentials with an extended KYC process embedded in the wallet. 
                                The process is carried out by a KYC provider, the credential is issued by Altme. No data are stored by Altme. 
                                The validity is 1 year.
                            </div>
                        </div> 

                    </div>

                    <div class="row my-5">
                       
                    </div>

                    <div class="text-center">
                        <h4>Pack DeFi : No setup fees, subscription fees 99€/month, + 2€ per user (Pack personal data needed)</h4>
                    </div>
                    <br>
    </div>
    <div class="p-5"">

                    <div class="text-center">
                        <br>
                        <h4><strong>Education</strong></h4>
                    </div>
                    <div class="row my-5">
                      
                        <div class="col-3  mt-3" >
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/student_card.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Student card</strong>
                                <br>User can get that credential through a Oniversity portal. This credential is signed by the University, a school or training center.
                                No data are stored by Altme.
                            </div>
                        </div>  
                   
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/diploma_card.png"  style="width: 250px;border-radius:0px;">
                            </div> 
                        </div>
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Diploma</strong>
                                <br>User can get that credential through an University portal. This credential is signed by the University. 
                                The credential is compliant with the EU EBSI model and regulation. No data are stored by Altme.
                                
                            </div>
                        </div>  

                    </div>
   
                        <div class="text-center">
                            <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month (Pack personal data needed)</h4>
                        </div>
        </div>
                   
        <div class="p-5" style="background-color: #f0f0f0 ">
                            <br>
                    <div class="text-center">
                        <h4><strong>Human ressources</strong></h4>
                    </div>
                    
                <div class="row my-5">

                    <div class="col-3 mt-3">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/certificate_of_employment.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <div id="id_qrcode" class="text-center">
                            <br><strong>Certificate of employment</strong>
                            <br>This certificate is issued by a company or by Altme on behalf of the company. No data are stored by Altme.
                        </div>
                    </div> 

                    <div class="col-3 mt-3">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    
                    <div class="col-3 mt-3">
                        <div id="id_qrcode" class="text-center">
                            <br><strong>Company pass</strong>
                            <br>This pass is issued by a company or by Altme on behalf of the company.
                            This pass maybe used for authentication for online services (Single Sign On) or even as a badge to enter company offices.
                            No data are stored by Altme.

                        </div>
                    </div> 
                </div>

                <div class="text-center">
                        <h4>Per credential : Setup fees 2,000€, subscription fees 99€/month (Pack personal data needed)</h4>
                </div>
                 
    </div>
    <div class="p-5">
                    <br>
                    <div class="text-center">
                        <h4><strong>Community</strong></h4>
                    </div>

                    <div class="row my-5">
                        <div class="col-3 mt-4">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/7.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col-3 mt-3">
                            <div id="id_qrcode" class="text-center">
                                <br><strong>Membership</strong>
                                <br>This card is usually issued by a non profit organization or by Altme on behalf of the organization.
                                This pass maybe used for authentication for online services (Single Sign On) or even as a badge to enter offices.
                                No data are stored by Altme.

                            </div>
                        </div> 
                    </div>

                    <div class="text-center">
                        <h4>Per credential : Setup fees : 2,000€, subscription fees 99€/month (Pack personal data needed)</h4>
                    </div>
    </div>
   
                 
                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
