


 <!-- Nav Bar User -->

 <nav class="navbar navbar-custom navbar-dark navbar-expand shadow mb-4 topbar static-top p-0.5" style="background-color: #033f79;">

   <!-- Logo Talao -->
   <div class="container-fluid"><a href="/user/"><img src="/static/img/logo.png" style="width: 50px;height: 50px;"></a>

     <!-- Titre  -->
     <h6 class="text-secondary flex-nowrap ml-auto">
       <h4 style="color: white; margin-bottom: 0">Talao Professional Identity</h4>
     </h6>

     <ul class="nav navbar-nav flex-nowrap ml-auto">



      {% if session['username'] == 'talao' %}
       <!-- Identity List-->
   <!--  <li class="nav-item  no-arrow mx-1" role="presentation"> -->
    <li class="nav-item d-none d-none d-md-block" role="presentation">
         <div class="nav-item dropdown show"><a class=" nav-link active " title="" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenuButton" href="">User List</a>
           <div class="dropdown-menu shadow  dropdown-menu-right animated--grow-in" role="menu" aria-labelledby="dropdownMenuButton">
             {{list|safe}}
           </div>
         </div>
       </li>

       <!-- Bar -->
       <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/issue_kbis/" >Issue a Kbis</a></li>
       <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/issue_kyc/" >Issue a Kyc</a></li>
       <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/issue_skill_certificate/" >Issue a Skill Certificate</a></li>


       {% else %}
       <!--	<li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="http://talao.rtfd.io/" style="color: rgb(133,135,150);">How-To</a></li>  -->
       {% endif %}
       <!--			<li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/search/" style="color: rgb(133,135,150);">Search</a></li>  -->

       {% if session['username'] == 'skillvalue' %}
       <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/issue_skill_certificate/" >Issue a Skill Certificate</a></li>
       {% endif %}

       <!-- Search  -->
       <form action="/user/search/" method="POST" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
         <div class="input-group">
          <input type="text" class="typeahead form-control bg-light border-0 small" autocomplete="off" spellcheck="false" name="username_to_search" placeholder="Search by username" pattern="[a-z0-9]{3,30}">
           <!--<input class="bg-light form-control border-0 small" name="username_to_search" required="" pattern="[a-z0-9]{3,30}" type="text" placeholder="Search for Identity..." />-->
           <div class="input-group-append">
             <button class="btn btn-primary btn-sm " type="submit"><i class="fas fa-search"></i></button>
           </div>
         </div>
       </form>


       <!-- Menu Droite  -->
       <li class="nav-item dropdown no-arrow" role="presentation">
         <div class="nav-item dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{name}}</span><img class="border rounded-circle img-profile"
               src="{{ url_for('send_file', filename=picturefile) }}" style="width: 30px;height: 30px;">
             <!--retrer dropdown-toggle de la class du nav linkComment-->
           </a>
           <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
             <a class="dropdown-item " role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit a Talent&nbsp;</a>

            {% if session['username'] == 'talao' %}
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" role="presentation" href="/api/v1"><i class="fa fa-id-card-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Config API Server&nbsp;</a>
              <a class="dropdown-item" role="presentation" href="/user/create_company/"><i class="fa fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Create Company&nbsp;</a>
              {% endif %}
              <a class="dropdown-item" role="presentation" href="/user/create_person/"><i class="fa fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Create User&nbsp;</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" role="presentation" href="http://talao.rtfd.io/"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" role="presentation" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
           </div>
         </div>
       </li>
     </ul>
   </div>
 </nav>
