
<!-- Company Nav Bar -->


<nav class="navbar navbar-light navbar-expand-md sticky-top shadow" style="filter: blur(0px);opacity: 1;background: rgba(11,69,128,0.93);">
  <ul class="navbar-nav ml-2" style="flex-direction: row;">

    <!-- Logo Talao -->
    <div class="container-fluid"><a href="/user/"><img class="rounded-0" src="/static/img/logo.png" style="width: 120px;"></a> </div>

</ul>
    <ul class="navbar-nav w-100 d-none d-md-block" style="flex-direction: row;">
      <!-- search only for large device -->


      <form action="/user/search/" method="POST" class="form-inline d-none d-md-inline-block w-100 navbar-search ">
        <div class="input-group justify-content-center">
          <button class="btn p-2" type="submit"><i class="fas fa-search my-auto" style="color: rgba(255,255,255,0.71);"></i></button>
          <input id="typeaheadElement" class="form-control-md rounded-pill px-3" type="text" name="username_to_search" pattern="[a-zA-Z0-9.]{3,30}" placeholder="Search"
            style="width: 300px;height: 30px;margin: 5px;padding: 5px;background: rgba(255,255,255,0.17);border-width: 1px;border-style: none;color: rgba(255,255,255,0.82);outline:none;color:white;">
        </div>
      </form>

    </ul>

    <ul class="navbar-nav ml-2" style="flex-direction: row;">


    {% if session['username'] == 'talao' %}
    <!-- Identity List-->
    <!--  <li class="nav-item  no-arrow mx-1" role="presentation"> -->
    <li class="nav-item d-none d-none d-md-block" role="presentation">
      <div class="nav-item dropdown show"><a style="color: white;" class=" nav-link active " title="" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenuButton" href="">User List</a>
        <div class="dropdown-menu shadow  dropdown-menu-right animated--grow-in" role="menu" aria-labelledby="dropdownMenuButton">
          {{list|safe}}
        </div>
      </div>
    </li>

    <!-- Bar -->
    <li class="nav-item d-none d-none d-md-block" role="presentation"><a style="color: white;" class="nav-link active" href="/user/issue_kbis/">Issue a Kbis</a></li>
    <li class="nav-item d-none d-none d-md-block" role="presentation"><a style="color: white;" class="nav-link active" href="/user/issue_kyc/">Issue a Kyc</a></li>
    <li class="nav-item d-none d-none d-md-block" role="presentation"><a style="color: white;" class="nav-link active" href="/user/issue_skill_certificate/">Issue a Skill Certificate</a></li>
    <li class="nav-item d-none d-none d-md-block" role="presentation"><a style="color: white;" class="nav-link active" href="/user/add_key/">Add key</a></li>


    {% else %}
    <!--	<li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="http://talao.rtfd.io/" style="color: rgb(133,135,150);">How-To</a></li>  -->
    {% endif %}
    <!--			<li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="/user/search/" style="color: rgb(133,135,150);">Search</a></li>  -->


  </ul>

  <ul class="navbar-nav mr-2 " style="flex-direction: row;">
    <div class="d-inline-flex justify-content-center">
    <li class="nav-item mx-1"><a class="nav-link active py-auto" href="/user/" style="color: rgba(255,255,255,0.9);"><h4><strong>Identity</strong></h4></a></li>
    <li class="nav-item mx-1"><a class="nav-link active py-auto" href="/user/issuer_explore/?issuer_username={{username}}" style="color: rgba(255,255,255,0.9);"><h4><strong>Board</strong></h4></a></li>

    </div>

    <!-- Menu Droite  -->
    <li class="nav-item dropdown no-arrow" role="presentation" >
      <div class="nav-item dropdown show">
        <a class="nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
          <img class="border rounded-circle img-profile" src="{{ url_for('send_file', filename=picturefile) }}" style="width: 30px;height: 30px;">
          <!--retrer dropdown-toggle de la class du nav linkComment-->
        </a>
        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
          <a class="dropdown-item " role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit a Talent&nbsp;</a>

          {% if session['username'] == 'talao' %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="presentation" href="/api/v1"><i class="fa fa-id-card-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Config API Server&nbsp;</a>
          <a class="dropdown-item" role="presentation" href="/user/create_company/"><i class="fa fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Create Company&nbsp;</a>
          {% endif %}
          <a class="dropdown-item" role="presentation" href="/user/create_person/"><i class="fa fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Create User&nbsp;</a>
          {% if session['username'] == 'newco' %}
          <a class="dropdown-item" role="presentation" href="/user/create_company/"><i class="fa fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Create Company&nbsp;</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/delete_identity/"><i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Delete Identity</a>
          <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/update_password/"><i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Update password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="presentation" href="http://talao.rtfd.io/"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="presentation" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>
<script>
  // Defining the local dataset

  // Constructing the suggestion engine
  var ind = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    identify: function(obj) {
      return obj.username;
    },
    prefetch: {
      url: "{{ url_for('static', filename='username.json') }}",
      ttl: 1000
    }
  });
  ind.initialize();
  // Initializing the typeahead
  $('#typeaheadElement').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'ind',
    displayKey: "username",
    source: ind.ttAdapter(),
    templates: {
      empty: [
        '<div class="empty-message">',
        'No other suggestion found',
        '</div>'
      ].join('\n'),
      suggestion: function(item) {
        return "<p style='padding:6px'><b>" + item.name + "</b> - Username: " + item.name + "</p>";
      }
    }
  });
  // Initializing the typeahead
  $('#typeaheadElementSM').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'ind',
    displayKey: "username",
    source: ind.ttAdapter(),
    templates: {
      empty: [
        '<div class="empty-message">',
        'No other suggestion found',
        '</div>'
      ].join('\n'),
      suggestion: function(item) {
        return "<p style='padding:6px'><b>" + item.name + "</b> - Username: " + item.name + "</p>";
      }
    }
  });

</script>
