<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material-icons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Article-Cards.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% include 'guest_nav_bar.html' %}

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 ml-3">
              <div class="card shadow mb-2">
                <div class="card-body">
                  <div class="text-center">
                  <img src="{{ url_for('send_file', filename=issuer_logo) }}" style="max-width: 250px;">
                  </div>
                </div>
              </div>
              <div class="card shadow my-2">
                <div class="card-body" >
                  <h1 style="text-align: center;">{{issuer_name}}</h1>
                  <hr>
                  <h5><i class="fa fa-phone-square"></i>&nbsp;Contact :</h5>
                  <p>Name : {{contact_name}}<br>Phone number : {{contact_phone}}<br>Email : {{contact_email}}<br>Website : <a href="{{website}}">{{website}}</a></p>
                  <hr>
                  <h5><i class="fa fa-info-circle"></i>&nbsp;General Informations :&nbsp;</h5>
                  <p>Manager<br>Staff : {{staff}}<br>CA :<br>SIRET :<br>Associated Members</p>
                  <hr>
                  <h5><i class="fa fa-bars"></i>&nbsp;About :</h5>
                  <p class="text-justify">{{about}}</p>
                  <hr>
                  <div class="text-center"><button class="btn btn-primary shadow" type="button" style="background: rgba(30,170,220,0.95);width: 150px;font-size: 14px;border-width: 0px;/*margin-top: 35px;*/">Get more features</button></div>
                </div>
              </div>
            </div>
            <div class="col-md">
              <!-- Agreement carousel large screen  -->
              {% if carousel_rows_agreement != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100 ">
                  <div class="card-header">
                    <h4>Agreement</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="agreement-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#agreement-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#agreement-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>

                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_agreement|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_agreement|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- /.Agreement carousel  -->
              <!-- Reference carousel large screen  -->
              {% if carousel_rows_reference != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100 ">
                  <div class="card-header">
                    <h4>Reference</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="reference-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#reference-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#reference-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>

                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_reference|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_reference|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- /.Reference carousel  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include 'user_footer.html' %}

  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
