<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

	<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                                                        {% include 'guest_nav_bar.html' %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
                                    <p class="text-center" style="margin: 75px 50px 0px;"><br><br>Enter your firstname and lastname. Email and Phone number for authentification.<br>
                                    <br><br>
                                    <br>You will receive by email your username and password needed to login and request certificates or contact companies.<br></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Create a new Professional Identity</h4>
                                    </div>
                                <div class="col" style="color: rgb(255,2,2);">
									<small>{{message}}</small>
								</div>
                                    <form class="user" action="/register/" method="post">
                                        <div class="form-group"><input class="form-control" type="text" placeholder="Firstname" name="firstname"  style="color: rgb(133,135,150);" required="" ></div>
                                         <div class="form-group"><input class="form-control" type="text" placeholder="Lastname" name="lastname"  style="color: rgb(133,135,150);" required="" ></div>

                                        <div class="form-group"><input class="form-control" type="email" placeholder="Email" name="email" required="" ></div>

                                    <!--    <div class="form-row">
                                            <div class="col">  -->
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                            <select name="code" class="form-control">
                                                                <optgroup>
                                                                    {% include 'country_code.html' %}
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><input title="Leave this field blank and update if you want to delete your phone number." placeholder="Phone number" class="form-control" type="text" name="phone" required></div>
                                                    </div>
                                                </div>
                                      <!--      </div>
                                        </div>  -->
                                        <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="CheckBox" id="Check1" {{checkBox}}>
                                        <label class="form-check-label mb-3" title="The name directory is used to provide suggestion in the search bar. It links your username with your firstname and lastname. " for="Check1">I would like to have my name in the Name Directory</label>
                                        </div>

                                        <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Start the process</button>


                                    </form>
                                  <div class="text-center"><a class="small" href="/starter/">Back to Starter</a></div>
                                    <div class="text-center"><a class="small" href="/login/">Login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                                     {% include 'user_footer.html' %}


    </div>

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
