<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>
<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                      <div class="flex-grow-1 bg-login-image">
                        <p class="text-center" style="margin: 75px 50px 0px;"><br>
                          The password must contain a number, a uppercase letter and a lowercase letter. <br>
                          It also must contain at least 8 characters.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-4">
                        <div class="text-center">
                          <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Choose your password</h4>
                        </div>
                        <form class="user" action="/register/password/" method="POST">
                          <div class="form-group">
                            <input class="w-100" id="password" title=" The password must contain a number, a uppercase letter and a lowercase letter. <br>
                            It also must contain at least 8 characters." name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must contain number, uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
                            placeholder="Password" required>
                          </div>
                          <div class="form-group">
                            <input class="w-100"  id="password_two" title=" The password must contain a number, a uppercase letter and a lowercase letter. <br>
                            It also must contain at least 8 characters." name="password_two" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required>
                          </div>
                          <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Next</button>
                        </form>
                        <div class="text-center"><a class="small" href="/starter/">Back to Starter</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include 'user_footer.html' %}
        </div>
        <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
