<!DOCTYPE html>
<!-- catalog.html -->
<html>
<head> {% include 'head.html' %}</head>
<body id="page-top" >
<div class="d-flex flex-column" id="content-wrapper">
    {% include 'saas_nav_bar.html' %}

                
    <div class="container-fluid  ">

        <div class="p-5" style="background-color: #f0f0f0 ">

            <div class="text-center" >
                        <h3><strong>User credentials without identity disclosure</strong></h4>
            </div>
                    
                        <div class="row my-5">
                            <div class="col-3">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/blockchain_address.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="id_qrcode" class="text-center">
                                    <strong>Blockchain address ownership</strong>
                                    <br>For web3 applications this is for sure the most important credential as it allows user to bind their decentralized identity to a blockchain address.
                                    Privacy is guaranteed because the private key of the decentralized identity is different from the private key of the blockchain address.
                                    The credential is issued by the non custodial user wallet at creation.
                                </div>
                            </div>   
                      

                        
                  
                    </div>   
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Phone proof</strong>
                                <br>User can associate their phone number to their decentralized identity after having successfully passed an SMS test. The process is carried out by Altme.
                               Data are stored in the user wallet. The validity is 1 year.
                               <a href="https://issuer.talao.co/phonepass"> See issuer of Phone proof here</a> 

                            </div>
                        </div>   
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Email proof</strong>
                                <br>User can associate their email to their decentralized identity after having successfully passed an email test. The process is carried out by Altme.
                                Data are stored in the user wallet. The validity is 1 year.
                                <a href="https://issuer.talao.co/emailproof"> See issuer of Email proof here</a> 
                            </div>
                        </div>

                    </div> 
                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Discord account</strong>
                                <br>This is a proof of the ownership of a Discord account, it can be bound to a community. The process is carried out by Altme.
                                  Data are stored in the user wallet.
                            </div>
                        </div>   
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Tweeter account</strong>
                                <br>This is a proof of the ownership of a Tweeter account. The process is carried out by Altme.
                                Data are stored in the user wallet.
                               
                            </div>
                        </div>   


                    </div>

                    <div class="row my-5">

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/reputation.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Community reputation proof</strong>
                                <br>This credential is issued by Altme on behalf of a community. User can access to a proof og their reputation in different communities.
                                User can display this credential on a public website or a social network account or even transfer it to another user.
                
                            </div>
                        </div> 
            
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/level.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Ranking</strong>
                                <br>This credential is issued by Altme on behalf of the operators. User can access to a proof og their rankings on different games.
                                The credential is stored in the user wallet only.
                                 User can display their proof of ranking on a public website or a social network account even transfer it to another user.
                            </div>
                        </div> 
                        
                    </div>

                   
                    
    </div>
    <div class="p-5" >
        <div class="text-center" >
            <h3><strong>User credentials with identity verification and limited disclosure</strong></h4>
        </div>

                    <div class="row my-5">

                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Nationality</strong>
                                <br>User can associate their nationality to their decentralized identity with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider (180 countries are covered), the credential is issued by Altme. Data are stored in the user wallet.
                               
                            </div>
                        </div>                       
                    
                   
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Gender</strong>
                                <br>User can associate their decentralized identity to that credential with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. 
                                <br>
                            </div>
                        </div>                       
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Age range</strong>
                                <br>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their decentralized identity with a KYC process embedded in the wallet.
                                The credential is issued by Altme. Data are stored in the user wallet. 
                                The validity is 1 year or less.
                            </div>
                        </div>                       
                   
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Proof of humanity</strong>
                                <br>I am not a bot ! 
                                <br>The verification process is carried out by a 3D facial liveness test embedded in the wallet.
                                 The credential is issued by Altme. 
                            </div>
                        </div> 
                    </div>
                <div class="row my-5">
                   
             
                    <div class="col-3">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col-3">
                        <div id="id_qrcode" class="text-center">
                            <strong>Over 18</strong>
                            <br>User can associate their decentralized identity to that credential with a KYC process embedded in the wallet. 
                            The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. 
                        </div>
                    </div>  
                  
                <div class="col">
                    <div id="id_qrcode" class="text-center">
                        <img  src="/static/img/passport_number.png"  style="width: 250px;border-radius:0px;">
                    </div>
                </div>
                
                        <div class="col">
                            <div id="id_qrcode" class="text-center">
                                <strong>Passport number footprint</strong>
                                <br>The verification process is carried out by a KYC process embedded in the wallet. A hash is calculated from the passport MRZ (Machine-Readable Zone).
                                The credential is issued by Altme. No identity disclosure.
                            </div>
                        </div>   
            </div>        

                    
             

        </div>
<!--     End of personal data pack    -->
      
<div class="p-5" style="background-color: #f0f0f0 ">
    <div class="text-center" >
        <h3><strong>User credentials with extended identity verification</strong></h4>
    </div>
    <div class="row my-5">

        <div class="col">                            
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/Id card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Identity card - KYC</strong>
                <br>The KYC process is carried out through a 3D facial liveness test and an integrated document authentication process in the mobile device with prior biometric authentication of the user.
                Altme retains the KYC process ID for auditing. No personal data are stored by Altme.
            </div>
        </div> 
       
    
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/aml.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Anti money laundering</strong>
                <br>User can associate their decentralized identity to a watchlist check carried out in the KYC provider backend. 
               The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
            </div>
        </div> 
    </div>

    <div class="row my-5">
        <div class="col-3">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col-3">
            <div id="id_qrcode" class="text-center">
                <strong>Proof of residency</strong>
                <br>User can associate their decentralized identity to a proof of residency with an extended document authentication process embedded in the wallet. 
                The process is carried out by a KYC provider, the credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
                
            </div>
        </div> 

    </div>

   

</div>



                   

        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
