<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'sandbox_nav_bar.html' %}


        <form action="/sandbox/presentationRequest" method="POST">
              <div class="text-center mt-5">  
                <input type="radio" name="query" value="DIDAuth"><strong> DIDAuth -> No VC selection</strong><br><br>


                <input type="radio" name="query" checked value="QueryByExample"><strong> QueryByExample -> VC to be selected in a filtered list</strong><br><br>
              
              <div class="row">
                  <div class="col">
                Reason : <input type=""text" name="reason_1" size="50" ><br><br>
                Type  : <input type="text" name="type_1" ><br><br>
                Issuer : <input type="text" name="trustedIssuer_1" size="100" ><br><br>
                </div>
              </div>
<hr>
              <div class="row">
                <div class="col">
              Reason : <input type=""text" name="reason_2" size="50" ><br><br>
              Type  : <input type="text" name="type_2" ><br><br>
              Issuer : <input type="text" name="trustedIssuer_2" size="100"><br><br>
              </div>
            </div>
<hr>
            <div class="row">
              <div class="col">
            Reason : <input type=""text" name="reason_3" size="50" ><br><br>
            Type  : <input type="text" name="type_3" ><br><br>
            Issuer : <input type="text" name="trustedIssuer_3" size="100" ><br><br>
            </div>
            </div>

              <div class="row mt-5">  
                <div class="col">
                  <div class="text-center">
                  <button  type="submit">Generate QR code</button>
                  </div>
                </div>
              </div>

              </form>
              <br><br>


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script>

        var source = new EventSource('/sandbox/presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/sandbox/presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/sandbox/presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>