<!DOCTYPE html>
<!-- credential_offer_back.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'simulator_nav_bar.html' %}


    <div class="text-center mt-5">
        <br><br><br>
        <h2>The verifiable credential has been signed and transfered to your wallet</h2<
        <br><br><br>
        <form action="/playground" method="GET" >
                <button class="btn btn-primary" type"submit" >Back to the Sandbox</button>
        </form>
   </div>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>