<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 


    <div class="row mt-5">
        <div class="col-lg-10 offset-lg-1 col-sm-12 text-center mt-5">
            <div class="p-2">
                <h1 ><strong>More than 20 user credentials specifically designed for Web3 applications
                   </strong></h1>
            </div> 
       </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center">
            <div class="p-2">                
                   <h3>
                    We issue verifiable credentials in the format of Self Sovereign Identity for users of Crypto games, NFT Marketplaces, DeFi and Metaverse
                    <br><br>We apply the principle of data minimization and thus credentials always carry the minimum data required for user needs
                    <br><br>
                    <h4><strong>DID issuer: did:web:app.altme.io:issuer</strong></h4>

            </div> 
       </div>
    </div>

   

    <div id="gaming" class="mb-5"></div>
    <div class="p-5" style="background-color: #f0f0f0 "  >
        <div class="text-center" >
            <h3>Credentials for Crypto gamers and Metavers users</h3>
            <h5>Those credentials include user age verification (over 13)</h5>

        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/loyalty_card_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Loyalty card</h5>
                                <h6>This type of custom credential which gives the right to discounts on NFT drops and access to private sales 
                                    is offered by a Web3 application to its most loyal users, sometimes in exchange for verified data as their age, nationality. 
                                    <br>Get a 25% discount on Tezotpia NFT <a href = "https://issuer.tezotopia.altme.io/issuer/membership_6319e578921c3fcd1617e188" >here !</a></h6>
                              
                            </div>
                        </div>  
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/commitment.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Commitment level</h5>
                                <h6>This credential is issued by Altme. The user can access proof of his commitment to different games and for one or more of his blockchain addresses.
                                    The user can post their credential on a public website or social media account, or even transfer it to another user or game to access benefits.
                                     The blockchain address is not disclosed</h6>
                            </div>
                        </div> 
                
                   
            </div>        

            </div>

        <!-- end or fid -->

        <div id="social" class="mb-5"></div>
        <div class="p-5" >
                            <div class="text-center" >
                                <h3>Credentials for NFT creators and social identification</h3>
                                <h5> Currently in development</h5>
                                    . 
                            </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Discord account</h5>
                                <h6>This is a proof of the ownership of a Discord account, it can be bound to a community. The process is carried out by Altme.
                                  Data are stored in the user wallet</h6>
                            </div>
                        </div>   
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Twitter account</h5>
                                <h6>This is a proof of the ownership of a Tweeter account. The process is carried out by Altme.
                                Data are stored in the user wallet</h6>
                               
                            </div>
                        </div>   


                    </div>

                             
    </div>

      

        <div id="age" class="mb-5"></div>
    <div class="p-5"  style="background-color: #f0f0f0 " >
        <div class="text-center" >
            <h3>Credentials for age-restricted sites</h3>
                <h5>This only requires a one-time selfie</h5> 
        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Age range</h5>
                                <h6>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their blockchain address with 
                                    an age estimate provided by an Artificial Intelligence engine.
                                    Age estimate is processed by Yoti and the credential is signed by Altme<h6>

                            </div>
                        </div>                       
                
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <h5>Age verification +13, +18, +21</h5>
                            <h6>User can bind their blockchain address to that credential with an age estimate provided by an Artificial Intelligence engine.
                            Personal data is fully protected. Age estimate is processed by Yoti and the credential is signed by Altme</h6> 
                        </div>
                    </div>  
            </div>        
        </div>
        <!-- end or age content -->


        <div id="blockchain" class="mb-5"></div>
        <div class="p-5"  >

            <div class="text-center" >
                        <h3>Credentials for blockchains accounts and crypto wallets accounts</h3>
                            <h5>This is for sure the most important credentials as they allow users to bind their decentralized identity 
                                to blockchain addresses without any public on-chain dislosure</h5>
            </div>
                    
                      
            <div class="row ">
                <div class="col mt-5">
                    <div id="id_qrcode" class="text-center">
                        <img  src="/static/img/blockchain_account.png"  style="width: 250px;border-radius:0px;">
                    </div>
                </div>
                <div class="col mt-5">
                    <div id="id_qrcode" class="text-center">
                        <h5>Tezos blockchain address ownership</h5>
                        <h6>Privacy is guaranteed because the private key of the identity is different from the private key of the blockchain address.
                        The credential is issued by the non custodial user wallet at creation</h6>
                    </div>
                </div>     

                <div class="col mt-5">
                    <div id="id_qrcode" class="text-center">
                        <img  src="/static/img/ethereum_blockchain_account.png"  style="width: 250px;border-radius:0px;">
                    </div>
                </div>
                <div class="col  mt-5">
                    <div id="id_qrcode" class="text-center">
                        <h5>Ethereum blockchain address ownership</h5>
                        <h6>Privacy is guaranteed because the private key of the identity is different from the private key of the blockchain address.
                        The credential is issued by the non custodial user wallet at creation</h6>
                    </div>
                </div>     
                </div>    
                <div class="row ">
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/kukai_card.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <h5>Kukai wallet account</h5>
                            <h6>Privacy is guaranteed because the private key of the crypto wallet is not disclosed</h6>
                        </div>
                    </div>     
    
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/polygon.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col  mt-5">
                        <div id="id_qrcode" class="text-center">
                            <h5>Polygon blockchain address ownership</h5>
                            <h6>Privacy is guaranteed because the private key of the identity is different from the private key of the blockchain address.
                            The credential is issued by the non custodial user wallet at creation. Currently in development</h6>
                        </div>
                    </div>     
                    </div>             
                        
        </div> 
        

        <div id="authentication" class="mb-5"></div>
        <div class="p-5"  style="background-color: #f0f0f0 " >
            <div class="text-center" >
                <h3>Credentials to authenticate</h3>
                <h5>Credential authentication with user private key is the most secure method available today. It no longer requires a login and password</h5>
                    . 
            </div>

    <div class="row">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
            <h5>Phone proof</h5>
                <h6>User can associate their phone number to their decentralized identity after having successfully passed an SMS test. 
                    The process is carried out by Altme.<a href="https://issuer.talao.co/phonepass"> See issuer of Phone proof here</a></h6>
                

            </div>
        </div>   
        
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Email proof</h5>
                <h6>User can associate their email to their decentralized identity and blockchain address after having successfully passed an email test.
                     The process is carried out by Altme. <a href="https://issuer.talao.co/emailproof"> See issuer of Email proof here</a></h6>
                 
            </div>
        </div>

    </div> 

    <div class="row">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/arago_card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Website Pass</h5>
                <h6>Companies can define according to their needs credentials to access their online service or even local office</h6>

            </div>
        </div>   

        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/bloometa_card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Community Pass</h5>
                <h6>This type of custom credential allows access to a community. It can carry information on the reputation of the player, 
                    rankings on games and also accumulate advantages</h6>
              
            </div>
        </div>  
        

    </div> 
  
    
</div>



    <div id="identity" class="mb-5"></div>
    <div  class="p-5">
        <div class="text-center" >
            <h3>Credentials with identity verification</h3>
            <h5>This requires a one-time onboarding process with ID and address documents. An active facial liveness test and a whatchlist check is provided. 
            Once created, users can present those credentials multiple times</h5>
               
        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Nationality</h5>
                                <h6>User can associate their nationality to their blockchain address with a document authentication  process embedded in the wallet.
                                The process is carried out by a KYC provider (180 countries are covered), the credential is issued by Altme. Data are stored in the user wallet only</h6>
                            </div>
                        </div>                       
                    
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Gender</h5>
                                <h6>User can associate their blockchain address to that credential with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet</h6>
                                
                            </div>
                        </div>                       
                    </div>

                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Age range</h5>
                                <h6>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their blockchain address with a KYC process embedded in the wallet.
                                The credential is issued by Altme. Data are stored in the user wallet</h6>
                            </div>
                        </div>                       
                   
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Proof of humanity</h5>
                                <h6>I am not a bot. The verification process is carried out by a 3D facial liveness test embedded in the wallet.
                                 The credential is issued by Altme</h6>
                            </div>
                        </div> 
                    </div>
                <div class="row ">
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <h5>Age verification +13, +18, +21</h5>
                            <h6>User can bind their blockchain address to that credential with a document authentication process embedded in the wallet. 
                            The credential is issued by Altme. Data are stored in the user wallet</h6> 
                        </div>
                    </div>  
                  
                <div class="col mt-5">
                    <div id="id_qrcode" class="text-center">
                        <img  src="/static/img/passport_footprint.png"  style="width: 250px;border-radius:0px;">
                    </div>
                </div>
                
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <h5>Passport footprint</h5>
                                <h6>The verification process is carried out by a KYC process embedded in the wallet. A hash is calculated from the passport MRZ (Machine-Readable Zone).
                                The credential is issued by Altme. No identity disclosure</h6>
                            </div>
                        </div>   
            </div>        

                    
             

        </div>
<!--     End of personal data pack    -->

<div id="defi" class="mb-5"></div>
<div class="p-5" style="background-color: #f0f0f0 ">
    <div class="text-center" >
        <h3>User credentials with extended identity verification</h5></h3>
            <h5>This requires a one-time onboarding process with ID and address documents. An active facial liveness test and a whatchlist check is provided. 
            Once created, users can present those credentials multiple times</h5>
    </div>
    <div class="row">

        <div class="col mt-5">                            
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/identity.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Identity card - KYC</h5>
                <h6>The KYC process is carried out through an active 3D facial liveness test and an integrated document authentication process in the mobile device with prior biometric authentication of the user.
                Altme retains the KYC process ID for auditing. No personal data are stored by Altme</h6>
            </div>
        </div> 
       
    
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/aml.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Anti money laundering</h5>
                <h6>User can associate their blockchain address to AML checks on global sanctions watchlists carried out in the KYC provider backend. 
               The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme</h6>
            </div>
        </div> 
    </div>

    <div class="d-none d-md-block">
    <div class="row ">
        <div class="col-3  mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col-3 mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Proof of residency</h5>
                <h6>User can associate their blockchain address to a proof of residency with an extended document authentication process embedded in the wallet. 
                The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme</h6>
                
            </div>
        </div> 
    </div>

    </div>

    <div class="row d-md-none">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <h5>Proof of residency</h5>
                <h6>User can associate their blockchain address to a proof of residency with an extended document authentication process embedded in the wallet. 
                The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme</h6>
                   
                
            </div>
        </div>                 
    </div>  
    
   

</div>

<div class="row">
    <div class="col text-center ">
        <a href="https://altme.io"><button type="button" class="btn btn-outline-dark mt-2">Download Altme wallet</button></a></h3>
    </div>
</div>

</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>