<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material-icons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Article-Cards.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% include 'guest_nav_bar.html' %}

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 ml-3 p-0">
              <div class="card shadow mb-2">
                <div class="card-body">
                  <div class="text-center">
                    <img class="mx-auto d-block card-img" src="{{ url_for('send_file', filename=issuer_picturefile) }}">
                  </div>
                </div>
              </div>
              <div class="card shadow my-2 sticky-top" style="top:80px;z-index:1">
                <div class="card-body">
                  <h1 style="text-align: center;">{{issuer_name}}</h1>
                  <h5 style="text-align: center;">{{issuer_profil_title}}</h5>
                  <hr>
                  <h5><i class="fa fa-phone-square"></i>&nbsp;Contact :</h5>
                  <p>Adress : {{adress}}<br>Phone number : {{phone}}<br>Email : {{email}}</p>
                  <hr>
                  <h5><i class="fa fa-info-circle"></i>&nbsp;General Informations :&nbsp;</h5>
                  <p>Birth Date : {{birth_date}}<br>Education : {{education}}</p>
                  <hr>
                  <h5><i class="fa fa-bars"></i>&nbsp;About :</h5>
                  <p class="text-justify">{{about}}</p>
                  <hr>
                  <div class="text-center"><a href="/login/"><button class="btn btn-primary shadow" type="button" style="background: rgba(30,170,220,0.95);font-size: 14px;border-width: 0px;/*margin-top: 35px;*/"><strong>Log in</strong> to get more
                        features</button></a></div>
                </div>
              </div>
            </div>
            <!-- Col carousels -->
            <div class="col-md p-0">
              <!-- Experience carousel large screen  -->
              {% if carousel_rows_experience != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100 ">
                  <div class="card-header">
                    <h4>Experience</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="experience-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#experience-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#experience-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>

                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_experience|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_experience|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- /.Experience carousel  -->
              <!-- Recommendation carousel large screen -->
              {% if carousel_rows_recommendation != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100">
                  <div class="card-header">
                    <h4>Recommendation</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="recommendation-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#recommendation-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#recommendation-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>

                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_recommendation|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_recommendation|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>

              {% endif %}
              <!-- /.Recommendation carousel  -->
              <!-- Education carousel large screen -->
              {% if carousel_rows_education != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100">
                  <div class="card-header">
                    <h4>Education</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="education-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#education-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#education-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>
                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_education|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_education|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- /.Education carousel  -->
              <!-- Skills carousel large screen -->
              {% if carousel_rows_skill != "" %}
              <div class="row mb-3">
                <div class="card shadow mx-lg-5 mx-1 w-100">
                  <div class="card-header">
                    <h4>Skills</h4>
                  </div>
                  <div class="card-body ">
                    <!--Carousel Wrapper-->
                    <div id="skill-carousel" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">

                      <!--Controls-->
                      <div class="controls-top text-center">
                        <a class="btn-floating" href="#skill-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#skill-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                      </div>
                      <!--/.Controls-->

                      <!--Indicators-->
                      <ol class="carousel-indicators " style="margin-bottom: 0;">
                        {{carousel_indicators_skill|safe}}
                      </ol>

                      <!--/.Indicators-->

                      <!--Slides-->

                      <div class="carousel-inner" role="listbox">
                        {{carousel_rows_skill|safe}}
                      </div>

                      <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- ./Skills carousels -->
              <!-- Row for skills and stored files  -->
              <div class="row mb-3">
                <div class="col px-5">
                  <div class="card shadow">
                    <div class="card-header">
                      <h4 class="text-dark"> Stored file </h4>
                    </div>
                    <div class="card-body ">
                      <p class="card-text text-dark">{{digitalvault|safe}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.Row for skills and stored files  -->
            </div>
            <!-- /.Col carousels -->
          </div>
        </div>
      </div>
    </div>


  {% include 'user_footer.html' %}

  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
