<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

				  {% if viewer == 'guest' %}
                 {% include 'guest_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}


            <div class="container-fluid mt-3">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Professional Identity (Fiability Index = {{index}})</h3>

      <!--              <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a> -->
                    </div>
                <div class="row">
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Last update</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{last_update}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Profil completion</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>{{completion}}</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-info" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{completion}};"><span class="sr-only">{{completion}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Data</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{nb_data}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-database fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Certificates</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{nb_certificate}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-certificate fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Referents</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{issuers}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-check fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Proof of Identity</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{kyc}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-address-card fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-xl-3">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Certificates Repartition</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">Experience<span class="float-right">{{cert_experience}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{cert_experience}};"><span class="sr-only">{{cert_experience}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Education<span class="float-right">{{cert_education}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{cert_education}};"><span class="sr-only">{{cert_education}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Languages<span class="float-right">{{cert_language}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{cert_language}};"><span class="sr-only">{{cert_language}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Skills<span class="float-right">{{cert_skills}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{cert_skills}};"><span class="sr-only">{{cert_skills}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Recommendation<span class="float-right">{{cert_recommendation}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{cert_recommendation}};"><span class="sr-only">{{cert_recommendation}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Source of Data</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">Self Declaration<span class="float-right">{{self_completion}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{self_completion}};"><span class="sr-only">{{self_completion}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Certificates issued by Individuals<span class="float-right">{{person_completion}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{person_completion}};"><span class="sr-only">{{person_completion}}</span></div>
                                </div>
                                <h4 class="small font-weight-bold">Certificates issued  by Companies/Organizations<span class="float-right">{{company_completion}}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{company_completion}};"><span class="sr-only">{{company_completion}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Strengths and Weaknesses</h6>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word0}}</p>
                                        </div>
                                        <div class="col-auto text-success"><i class="fa fa-thumbs-up border-danger"></i></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word1}}</p>
                                        </div>
                                        <div class="col-auto text-success"><i class="fa fa-thumbs-up border-danger"></i></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word2}}</p>
                                        </div>
                                        <div class="col-auto text-success"><i class="fa fa-thumbs-up border-danger"></i></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word3}}</p>
                                        </div>
                                        <div class="col-auto text-danger"><i class="fa fa-thumbs-down"></i></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word4}}</p>
                                        </div>
                                        <div class="col-auto text-danger"><i class="fa fa-thumbs-down"></i></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <p>{{word5}}</p>
                                        </div>
                                        <div class="col-auto text-danger"><i class="fa fa-thumbs-down"></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                       <div class="row">
                            <div class="col-xl-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0">Experiences by Duration</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6 class="small font-weight-bold">{{exp_name0}}<span class="float-right">{{exp_dur0}}</span></h6>
                                            <h6 class="small font-weight-bold">{{exp_name1}}<span class="float-right">{{exp_dur1}}</span></h6>
                                            <h6 class="small font-weight-bold">{{exp_name2}}<span class="float-right">{{exp_dur2}}</span></h6>
                                            <h6 class="small font-weight-bold">{{exp_name3}}<span class="float-right">{{exp_dur3}}</span></h6>
                                            <h6 class="small font-weight-bold">{{exp_name4}}<span class="float-right">{{exp_dur4}}</span></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0">Referents by Frequency</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6 class="small font-weight-bold">{{issuer_word0}}<span class="float-right">{{issuer_freq0}}</span></h6>
                                            <h6 class="small font-weight-bold">{{issuer_word1}}<span class="float-right">{{issuer_freq1}}</span></h6>
                                            <h6 class="small font-weight-bold">{{issuer_word2}}<span class="float-right">{{issuer_freq2}}</span></h6>
                                            <h6 class="small font-weight-bold">{{issuer_word3}}<span class="float-right">{{issuer_freq3}}</span></h6>
                                            <h6 class="small font-weight-bold">{{issuer_word4}}<span class="float-right">{{issuer_freq4}}</span></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0">Skills key words by Frequency</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6 class="small font-weight-bold">{{ski_word0}}<span class="float-right">{{ski_freq0}}</span></h6>
                                            <h6 class="small font-weight-bold">{{ski_word1}}<span class="float-right">{{ski_freq1}}</span></h6>
                                            <h6 class="small font-weight-bold">{{ski_word2}}<span class="float-right">{{ski_freq2}}</span></h6>
                                            <h6 class="small font-weight-bold">{{ski_word3}}<span class="float-right">{{ski_freq3}}</span></h6>
                                            <h6 class="small font-weight-bold">{{ski_word4}}<span class="float-right">{{ski_freq4}}</span></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0">Project key words by Frequency</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6 class="small font-weight-bold">{{des_word0}}<span class="float-right">{{des_freq0}}</span></h6>
                                            <h6 class="small font-weight-bold">{{des_word1}}<span class="float-right">{{des_freq1}}</span></h6>
                                            <h6 class="small font-weight-bold">{{des_word2}}<span class="float-right">{{des_freq2}}</span></h6>
                                            <h6 class="small font-weight-bold">{{des_word3}}<span class="float-right">{{des_freq3}}</span></h6>
                                            <h6 class="small font-weight-bold">{{des_word4}}<span class="float-right">{{des_freq4}}</span></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0">Position by Frequency</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6 class="small font-weight-bold">{{pos_word0}}<span class="float-right">{{pos_freq0}}</span></h6>
                                            <h6 class="small font-weight-bold">{{pos_word1}}<span class="float-right">{{pos_freq1}}</span></h6>
                                            <h6 class="small font-weight-bold">{{pos_word2}}<span class="float-right">{{pos_freq2}}</span></h6>
                                            <h6 class="small font-weight-bold">{{pos_word3}}<span class="float-right">{{pos_freq3}}</span></h6>
                                            <h6 class="small font-weight-bold">{{pos_word4}}<span class="float-right">{{pos_freq4}}</span></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">History</h4>
                                        <h6 class="text-muted card-subtitle mb-2">Transactions of the last 2 weeks</h6>
                                     <div  style="height:300px;overflow:auto;overflow-x: hidden;">
                                      <p class="card-text">{{history|safe}}</p>
                                      </div>

                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">Back</button></div>
                </div>
            </div>
        </div>
                                                               {% include 'user_footer.html' %}

    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
     <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script>function goBack() {  window.history.back();}</script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
 days
