<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
  
  
    
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
				
				
                               {% include 'user_nav_bar.html' %}    

        
        <div class="container-fluid">
            <h3 class="text-dark mb-4">{{topic}}</h3>
            <div class="row">
                <div class="col-xl-4 offset-xl-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{visibility}}</h6>
                            <p class="card-text">{{summary}}</p>
                            <div role="tablist" id="accordion-1">
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="This is the value of the data"><i class="fa fa-gear"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">&nbsp; Value</a></h5>
                                    </div>
                                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">{{value|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="text issuerr"><i class="fa fa-user"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2">&nbsp; Issuer</a></h5>
                                    </div>
                                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">{{issuer|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="text privacy"><i class="fa fa-lock"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3">&nbsp; Privacy</a></h5>
                                    </div>
                                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">{{privacy|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                -->
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0" title="text advaanced"><i class="fa fa-search-plus"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="#accordion-1 .item-4">&nbsp;Advanced</a></h5>
                                    </div>
                                    <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">{{advanced|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                <script> document.write('<a class="card-link" data-toggle="tooltip" data-bs-tooltip=""  href="' + document.referrer + '">Go Back</a>');</script>
                           
                        <!--    <a class="card-link" data-toggle="tooltip" data-bs-tooltip="" href="/talao/api/data/delete/"title="text update">Update this data</a></div> -->
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
   
                       {% include 'user_footer.html' %}    

        
        
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
