<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                      {% if session['type'] == "company" %}
                 {% include 'company_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}

        <div class="container-fluid mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Data Check</p>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>All data are JSON-LD tamper proof, signed and traceable.&nbsp; Clic on  <i data-toggle="tooltip" class="fa fa-search-plus" title="Data Check"></i> to get more details.</p>
                                           <div> <textarea id='myTextArea' class="form-control" rows="15">{{credential}}</textarea></div>
                                           <br>
                                           <div class="col text-center">
                                                <button class="btn btn-primary btn-sm" type="button" value="download" onclick="doDL(document.getElementById('myTextArea').value)">Download Credential</button>
                                            </div>
                                          <br><br>
                                        {{verif|safe}}
                                    </div>
                                </div>
                                <br>

                                  <div class="col-6 col-xl-3">

												<div class="form-group"><button onclick="goBack()"  class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Back</button></div>

                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                          {% include 'user_footer.html' %}
    </div>
     <script>function goBack() {  window.history.back();}</script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>



    <script type='text/javascript'>
        function doDL(s){
            function dataUrl(data) {return "data:x-application/text," + escape(data);}
            window.open(dataUrl(s));
        }
        </script>    
</body>

</html>
