<!DOCTYPE html>
<!-- delete_identity.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" onload="page_onload()">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if session['type'] == "company" %}
            {% if session['role'] == 'creator' %}
              {% include 'company_nav_bar.html' %}
            {% else %}
              {% include 'manager_nav_bar.html' %}
            {% endif %}
          {% else %}
            {% include 'user_nav_bar.html' %}
          {% endif %}

        <div class="container-fluid mt-3">
                <h3 class="text-dark mb-4">{{name}}</h3>
                <h6 class="text-dark mb-4">{{profil_title}}</h6>
            <div class="row mb-3">
                <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Delete your portfolio</p>
                        </div>
                        <div class="card-body">
                            <form  id="form" action="/user/delete_identity/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p class="text-left">{{_('Your potfolio will be definitly deleted with all your credentials.')}}<br><br>
                                            {{_('Confirm with your password to proceed.')}}</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="form-group"><input placeholder='{{_("Enter your password")}}'' class="form-control"  type="password" name="password" required></div>
                                        <div class="form-row">
                                            <div class="col-6">
                                                <div class="form-group"><button  id="in_progress_button"  class="btn btn-primary btn-sm" type="submit">{{_('Delete')}}</button></div>
                                            </div>
                                            <div class="col-6">
                                                <a href="/user/"><button class="btn btn-primary btn-sm" type="button">{{_('Back')}}</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    {% include 'user_footer.html' %}

    </div>

      <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>



    <script>
        function page_onload(){
          window.getAccountAddress().then(value => {
            console.log('value dans page_onload = ', value);
          });
        }
        </script>

</body>

</html>
