<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
   
</head>

<body>
    <div class="contact-clean" style="background-color: rgb(255,255,255);">
        <form method="get" action="/talao/api/data/code/">
            <h2 class="text-center">Professional Identity</h2>
            <div class="col"><small style="color: rgb(255,3,3);">{{message}}</small></div><button class="btn btn-primary" type="submit">Back To Resume</button></form>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
