<!DOCTYPE html>
<html title="Talao">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Delete Data</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
   
</head>

<body>
    <div class="contact-clean" style="background-color: rgb(255,255,255);">
        <form method="post" action=".">
            <h2 class="text-center">Delete Data of a Professional Identity</h2>
            <div class="form-group"></div>
            <div class="form-group">
                <p>Your want to delete data of your Professional Identity. <br>After confirmation you will recieve a secret code by email to authentify.</p>
            </div>
            <div class="form-group"><label style="margin: 0px;">Your username </label><input class="form-control" type="text" name="username"  value ="{{myusername}}" style="font-size: 16px;"></div>
            <div class="form-row">
                <div class="col"></div>
            </div>
            <div class="form-row">
                <div class="col"><button class="btn btn-primary" type="submit">CONFIRM DELETION</button></div>
            </div>
        </form>
    </div>
     
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
