<!DOCTYPE html>
<!-- menu.html-->
<html>
  <head>
    {% include 'head.html' %}

   

  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %}

    <div class="text-center mt-5">


            <div class="row my-5">
            
                <div class = "col-8 offset-2">

           <h2 class="mt">We use several DIDs to sign and to issue verifiable credentials. <br>Here is a list of our DIDs : </h2>
            
          <h3  class="mt-5">Primary DID</h3>

        <li><h3><strong>did:web:app.altme.io:issuer</strong></h3></li>

        <h3  class="mt-5 mb-3">Secondary DIDs</h3>
           <h4 class="mt">Tezos (did:tz) : </h4>
            <strong>did:tz:tz1NyjrTUNxDpPaqNZ84ipGELAcTWYg6s5Du</strong>
          <h4 class="mt-3">DNS (did:web) : </h4>
            <strong>did:web:talao.co</strong>
          <h4 class="mt-3">Ethereum (did:ethr) : </h4>
            <strong>did:ethr:0x61fb76ff95f11bdbcd94b45b838f95c1c7307dbd</strong>

            </div>
      </div>

        </div>
    
   {% include 'user_footer.html' %}


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>