<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Floating-Button.css') }}">

<div class="footer-clean" >
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="https://altme.io">Consulting</a></li>
            <li><a href="https://altme.io">Development</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="/company">Company</a></li>
            <li><a href="/sandbox/md_file?file=privacy">Privacy Policy</a></li>
            <li><a href="/sandbox/md_file?file=terms_and_conditions">Terms & Conditions</a></li>

          </ul>
        </div>
   
        <div class="col-lg-3 item social"><a href="https://wwww.facebook.com/TalaoDAO/"><i class="fab fa-facebook"></i></a><a href="https://twitter.com/Talao_io"><i class="fab fa-twitter"></i></a><a href="https://t.me/TalaoCommunity"><i
              class="fab fa-telegram"></i></a><a href="mailto:contact@altme.io"><i class="fas fa-envelope"></i></a>
          <p class="copyright">© AltMe Issuer 2022 Version : {{Version}}</p>
          <!--    <p class="copyright">Created : {{Created}}</p> -->
        </div>
      </div>
    </div>
  </footer>
  </div>
