<!DOCTYPE html>
<!-- register_identity.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" onload="generateDIDs()"">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'user_nav_bar.html' %}
                <div class="container-fluid mt-3">
                    <h3 class="text-dark mb-4">{{name}}</h3>
                    <h6 class="text-dark mb-4">{{profil_title}}</h6>
                <div class="row mb-3">
                    <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold">&nbsp;Generate an Identity.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>
                                    You can now choose the registry to support your Decentralized Identity. In case you don't have specific expectations, keep the Identity selected by default.<br>
                                    <br>Your cryptographic keys to manage your Identity, authenticate and sign verifiable credentials will be stored encrypted on this browser
                                     and an encrypted file will be saved on your desktop.
                                    </p>
                                    <br>
                                    <form id="form" name="form" action="/user/generate_identity/" method="POST"  >
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="ethr" type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_ethr" style="color: rgb(133,135,150);" title="" >did:ethr. This Identity is supported by the Ethereum blockchain.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                            
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="tz" checked type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_tz" style="color: rgb(133,135,150);" title="" >did:tz. This Identity is supported by the Tezos blockchain.</label>

                                                </div>
                                            </div>
                                        </div> 
                                        <br>
                                        <div class="form-row">
                                            <div class="col-sm">
                                                <div  class="form-group"><button onclick="storeKeyPair()" class="btn btn-primary btn-sm" type="button">Next</button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>
    <script src="{{ url_for('static', filename='bn.js') }}"></script>
    <script src="{{ url_for('static', filename='secp256k1.js') }}"></script>


    <script>

var KeyPair;

async function generateDIDs() {

    const privateKeyBuf = window.crypto.getRandomValues(new Uint8Array(32))
    const privateKey = Secp256k1.uint256(privateKeyBuf, 16)
    // Generating public key
    const publicKey = Secp256k1.generatePublicKeyFromPrivateKeyData(privateKey)
    const pubX = Secp256k1.uint256(publicKey.x, 16) 
    const pubY = Secp256k1.uint256(publicKey.y, 16)
    const x = base64ToUrlBase64(bnToB64(pubX))
    const y = base64ToUrlBase64(bnToB64(pubY))
    const d = base64ToUrlBase64(bnToB64(privateKey))

    KeyPair = {
            "publicJwk": {
                "crv": "secp256k1",
                "kty": "EC",
                "alg" : "ES256K-R",
                "x": x,
                "y": y
                },
            "privateJwk": {
                "crv": "secp256k1",
                "d": d,
                "kty": "EC",
                "alg" : "ES256K-R",
                "x": x,
                "y": y
                }
            }

    // did:tz build on server with didkit
    const tzDID = await fetchDID(JSON.stringify(KeyPair.publicJwk), 'tz');
    // did:ethr build on server with didkit
    const ethrDID = await fetchDID(JSON.stringify(KeyPair.publicJwk), 'ethr');

    document.getElementById("tz").value = tzDID;
    document.getElementById("ethr").value = ethrDID;
}



// get DID unpublishd built on server with didkit
async function fetchDID(key, method) {
  const response = await fetch("{{session['mode_server']}}" + "getDID/?key="+ key + "&method=" + method);
  return response.json();
}

// store keypair on session storage and desktop. kid(did) is added to the key pai
async function storeKeyPair(){
    const did = getradio();
    KeyPair.publicJwk['kid'] = did;
    KeyPair.privateJwk['kid'] = did;
    sessionStorage.setItem('did', did );
    sessionStorage.setItem(did, JSON.stringify(KeyPair) );
    // Next button
    document.getElementById("form").submit();
    }


// rerurn the value of the radion button checked
function getradio(){
    var did;
    var radios = document.getElementsByName('did');
    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            did = radios[i].value;
            break;
            }
        }
    return did;
    }


// https://coolaj86.com/articles/bigints-and-base64-in-javascript/
function bnToB64(bn) {
  var hex = BigInt(bn).toString(16);
  if (hex.length % 2) { hex = '0' + hex; }
  var bin = [];
  var i = 0;
  var d;
  var b;
  while (i < hex.length) {
    d = parseInt(hex.slice(i, i + 2), 16);
    b = String.fromCharCode(d);
    bin.push(b);
    i += 2;
  }
  return btoa(bin.join(''));
}


function base64ToUrlBase64(str) {
  return str.replace(/\+/g, '-').replace(/\//g, '_').replace(/=/g, '');
}

</script>


</body>

</html>