<!DOCTYPE html>
<!-- register_identity.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" onload="generateDIDs()"">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'user_nav_bar.html' %}
                <div class="container-fluid mt-3">
                    <h3 class="text-dark mb-4">{{name}}</h3>
                    <h6 class="text-dark mb-4">{{profil_title}}</h6>
                <div class="row mb-3">
                    <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold">&nbsp;Generate an Identity.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>
                                    You have now to choose the support of your Decentralized Identity. Talao has selected 4 options as your can see below.
                                    In case you don't have specific expectations, keep the Identity selected by default.<br>
                                    Your cryptographic keys to manage your Identity and sign verifiable credentials will be stored encrypted on this browser.
                                    </p>
                                    <br>
                                    <form id="form" name="form" action="/user/generate_identity/" method="POST"  >
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="ethr" type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_ethr" style="color: rgb(133,135,150);" title="" ></label>
                                                    <p style="color: rgb(133,135,150);">This Identity is supported by the Ethereum blockchain.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="ion" type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_ion" style="color: rgb(133,135,150);" title="" ></label>
                                                    <p style="color: rgb(133,135,150);">This Identity is supported by the Bitcoin blockchain.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="tz" type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_tz" style="color: rgb(133,135,150);" title="" ></label>
                                                    <p style="color: rgb(133,135,150);">This Identity is supported by the Tezos blockchain.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input id="key" checked type="radio" class="form-check-input" value="" name="did">
                                                    <label id="label_key" style="color: rgb(133,135,150);" title="" ></label>
                                                    <p style="color: rgb(133,135,150);">This Identity is not registered on a blockchain.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-row">
                                            <div class="col-sm">
                                                <div  class="form-group"><button onclick="storeKeyPair('{{session['username']}}')" class="btn btn-primary btn-sm" type="button">Next</button></div>
                                            </div>
                                            
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ion.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>

var KeyPair;

async function generateDIDs() {
    // create a secp255k1 key pair for all
    KeyPair = await ION.generateKeyPair();
    // did:ion build on browser with ion.js
    const ionDID = await getIONDID(KeyPair.publicJwk);
    // did:tz build on server with didkit
    const tzDID = await fetchDID(JSON.stringify(KeyPair.publicJwk), 'tz');
    // did:ethr build on server with didkit
    const ethrDID = await fetchDID(JSON.stringify(KeyPair.publicJwk), 'ethr');
    // did:key build on server with didkit
    const keyDID = await fetchDID(JSON.stringify(KeyPair.publicJwk), 'key');

    document.getElementById("label_tz").innerHTML = tzDID ;
    document.getElementById("label_ion").innerHTML = ionDID ;
    document.getElementById("label_ethr").innerHTML = ethrDID ;
    document.getElementById("label_key").innerHTML = keyDID ;
    document.getElementById("tz").value = tzDID;
    document.getElementById("ion").value = ionDID;
    document.getElementById("ethr").value = ethrDID;
    document.getElementById("key").value = keyDID;
}

// get DID built on server with didkit
async function fetchDID(key, method) {
  const response = await fetch("{{session['mode_server']}}" + "getDID/?key="+ key + "&method=" + method);
  return response.json();
}

// get DID build on browser with ion.js
async function getIONDID(key) {
    let did = new ION.DID({
    content: {
        publicKeys: [
      {
        id: 'key-1',
        type: 'EcdsaSecp256k1VerificationKey2019',
        publicKeyJwk: key,
        purposes: [ 'authentication' ]
      }
        ],
        services: [
        {
        id: 'domain-1',
        type: 'LinkedDomains',
        serviceEndpoint: 'https://foo.example.com'
      }
    ]
    }
    });

    return await did.getURI('short');
}

async function storeKeyPair(password){
    const encryptedKeyPair = await Encode(JSON.stringify(KeyPair), password)
    localStorage.setItem('identity_key', encryptedKeyPair );
    const filename = 'identity_key.txt'
    save_file(encryptedKeyPair, filename, 'text/plain');
    document.getElementById("form").submit();
    }


function save_file(data, filename, type) {
    var file = new Blob([data], {type: type});
    if (window.navigator.msSaveOrOpenBlob) // IE10+
        window.navigator.msSaveOrOpenBlob(file, filename);
    else { // Others
        var a = document.createElement("a"),
                url = URL.createObjectURL(file);
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        setTimeout(function() {
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);  
        }, 0); 
    }
}
</script>


</body>

</html>
