  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: rgba(11,69,128,0.93);">
    <div class="container-fluid">

      <div class="">
        <a href="/"><img src="/static/img/logo.png" style="width: 120px;border-radius:0px;"></a>
      </div>
      <!-- Title for large devices -->
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h4 class="d-none d-sm-block"style="color: white; margin-bottom: 0">Professional Identity</h4>
      </h6>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">


        <li class="nav-item mx-1 h-100 d-none d-sm-block"><a class="nav-link active" href="/register/" style="color: rgba(255,255,255,0.9);">
          <button class="btn btn-primary rounded-pill border-0 px-3 d-none d-sm-block" type="button" style="background: rgba(6,169,222,0.65);">
            <h4 class="mb-0">Register</h4></button></a></li>


        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">

            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: white;"><i class="fa fa-navicon fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
              <a class="dropdown-item" role="presentation" href="https://talao.readthedocs.io/en/latest/contents/"><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;What is Talao ?</a>
              <a class="dropdown-item" role="presentation" href="/login/"><i class="fa fa-sign-in fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login</a>
              <a class="dropdown-item d-block d-sm-none " role="presentation" href="/register/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Register</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
