<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                
                <!-- Nav Bar Guest -->
                <nav class="navbar navbar-light navbar-expand bg-white shadow d-flex mb-4 topbar static-top">
                    <div class="container-fluid">
						<a href="https://talao.io"><img src="/uploads/talao3.png" style="width: 30px;height: 30px;"></a>
                        <h6 class="text-secondary flex-nowrap ml-auto" style="color: rgb(133,135,150);">Talao Professional Identity</h6>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li>
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li>
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);">How-to</a></li>
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li>
                            
                               
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#"><i class="fa fa-navicon fa-sm fa-fw mr-2 text-gray-400"></i><!--<span class="d-none d-lg-inline mr-2 text-gray-600 small">{{name}}</span>--><!--retrer dropdown-toggle de la class du nav linkComment--></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
										<a class="dropdown-item" role="presentation" href="/starter/"><i class="fa fa-registered fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Register</a>
										<a class="dropdown-item" role="presentation" href="/login/"><i class="fa fa-sign-in fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login</a>
										<a class="dropdown-item" role="presentation" href="#"><i class="fa fa-calculator fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Buy/Sell TALAO token&nbsp;</a>
                                        <div class="dropdown-divider"></div>
                                        <!--<a class="dropdown-item" role="presentation" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div> -->
                                </div>
                            </li>	
						</ul>
					</div>
				</nav>
            
		        <!-- End of Nav Bar Guest -->     
            
            
            
            <div class="container-fluid">
                <h3 class="text-dark mb-4">{{issuer_name}}</h3>
                 <h6 class="text-info">{{get_flashed_messages()[0]}}</h6>
       
                <div class="row">
					
                    <div class="col-xl-3 offset-xl-4">
                        <div class="card-deck">
                    
                    
                            <div class="card shadow mb-5">
                                <div class="card-body">
                                    <div role="tablist" id="accordion-1">
                                        
                                        
                                        <div class="card">
                                            <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text personal">
                                                <h5 class="mb-0"><i class="fa fa-id-card"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1.item-1" href="#accordion-1 .item-1">&nbsp; Company</a></h5>
                                            </div>
                                            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <p class="card-text">{{personal|safe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                       
                                      <div class="card">
                                            <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text contact">
                                                <h5 class="mb-0"><i class="fa fa-file-text-o"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1.item-2" href="#accordion-1 .item-2">&nbsp; Certificate of Incorpation</a></h5>
                                            </div>
                                            <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body"><a href="#"></a>
                                                    <p class="card-text">{{kbis|safe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                                        
                                           <div class="card">
                                            <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text account">
                                                <h5 class="mb-0"><i class="fa fa-chain"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3">&nbsp; Advanced</a></h5>
                                            </div>
                                            <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <p class="card-text">{{advanced|safe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="card">
                                            <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="text account">
                                                <h5 class="mb-0"><i class="fa fa-briefcase"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="#accordion-1 .item-4">&nbsp; Services</a></h5>
                                            </div>
                                            <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <p class="card-text">{{services|safe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                         </div>
                                    <a class="card-link" href="#" onclick="history.go(-1)">Back</a>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                         
                           
                
                
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-telegram"></i></a><a href="mailto:contact@talao.io"><i class="fa fa-envelope-o"></i></a>
                        <p class="copyright">Talao © 2020</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
   </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
