  <!-- Nav Bar Guest -->
                <nav class="navbar navbar-light navbar-expand bg-white shadow d-flex mb-4 topbar static-top">
                    <div class="container-fluid">
						
						<a href="https://talao.io"><img src="/uploads/QmX1AKtbV1F2L3HDFPgyaKeXKHhihS1P6sBAX9sC27xVbB" style="width: 30px;height: 30px;"></a>
                        <h6 class="text-secondary flex-nowrap ml-auto" style="color: rgb(133,135,150);">Talao Professional Identity</h6>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                           
                <!--           <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="http://talao.rtfd.io/" style="color: rgb(133,135,150);">How-To</a></li> -->
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li>
                            
                               
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown show">
									
									<a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#"><i class="fa fa-navicon fa-sm fa-fw mr-2 text-gray-400"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
										<a class="dropdown-item" role="presentation" href="http://talao.rtfd.io/" ><i class="fa fa-question-circle-o fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;How-To</a>
										<a class="dropdown-item" role="presentation" href="/login/" ><i class="fa fa-sign-in fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login</a>
										<a class="dropdown-item" role="presentation" href="/register/" ><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Register</a>

										
                                </div>
                            </li>
                            
                            	
						</ul>
					</div>
				</nav>
            
		        <!-- End of Nav Bar Guest -->     
