<!-- Talao @copyright 2021 -->
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Professional Decentralized Identity Solution">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>

<title>Web3 Decentralized Identity</title>

<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}"> 
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='typeahead.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css')}}">