<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">

    <div class="row">

        <div class="col text-center my-5 p-2">
             
            <h1>A turnkey solution to add decentralized identities to Tezos Web3 applications</h1>
        </div>
    </div>

    <div class="row">
        
        <div class="col-lg-6 offset-lg-3 text-center">
            <div class="p-2">
            <h3><strong>Obtain personal data from the owner of a blockchain address or bind data to a blockchain address while maintaining user control and privacy</strong></h3>
            </div> 
        </div>   
    </div>

    <div class="row">
        <div class="col text-center mt-5">

            <img src="/static/img/im1.png" style="width: 350px;border-radius:0px;"><img src="/static/img/im2.png" style="width:300px;border-radius:0px;" >        
        
        <h4 class="my-5">Wallet, credentials, issuers, verifiers and registries
        <br>Tezos token support, NFT FA1.2, FA2 and Beacon
        <br>EBSI/ESSIF, GDPR, OpenID and W3C compliant</h4>
       </div>
    </div>
       

       
    <div class="p-5 my-2" style="background-color: #f0f0f0 ">
            <div class="row">
                <div class="col text-center">
                            <h3><strong>Over 15 immediately usable verifiable credentials</strong></h4>
                </div>                            
            </div> 

            <div class="row">
                                <div class="col mt-5">
                                    <div id="id_qrcode" class="text-center">
                                        <img  src="/static/img/blockchain_account.png"  style="width: 250px;border-radius:0px;">
                                    </div>
                                </div>
                           
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                           
                            
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                          
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                </div> 


                <div class="row ">
                           
                           
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                       
                 
    
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/reputation.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                       
                
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/level.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            
           
                       
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                
                </div>
                <div class="row ">
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                                             
                        
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                                           
                       
                            <div class="col mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            
                          
                     
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                       
                </div>
            <div class="row ">

                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/passport_number.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    

    
            <div class="col mt-5">                            
                <div id="id_qrcode" class="text-center">
                    <img  src="/static/img/identity.png"  style="width: 250px;border-radius:0px;">
                </div>
            </div>
           
           
        
            <div class="col mt-5">
                <div id="id_qrcode" class="text-center">
                    <img  src="/static/img/aml.png"  style="width: 250px;border-radius:0px;">
                </div>
            </div>
            
           
        
            <div class="col-3  mt-5">
                <div id="id_qrcode" class="text-center">
                    <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
                </div>
            </div>
            
            
        </div>
    
       
    


<!--
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <h3>Our partners</h3>
                <br><br>
        <div class="row">
            <div class="col mb-3">
                <a class="press-01__link" href="https://www.w3.org/" target="_blank">
                <img loading="lazy" alt="W3c logo 1. large" class="" src="https://ucarecdn.com/fa404d60-2f59-493b-829c-db39ce942e9b/w3c-logo-1.-large.png" height="70" />
                </a>
            </div>
        <div class="col mb-3">
            <a class="press-01__link" href="https://identity.foundation/" target="_blank">
            <img loading="lazy" alt="Logo inatba pda61o2ozx62sisx9l8mr8m142rcmtfupl46wc22g8" class="" src="/static/img/dif.png" height="70" />
            </a>
        </div>
            <div class="col mb-3">
            <a class="press-01__link" href="https://www.spruceid.com/" target="_blank">
            <img loading="lazy" alt="Spruce systems" class="" src="https://ucarecdn.com/759291c0-5cb1-41f6-b18e-3bd3cbf8d2e8/spruce-systems.png" height="70" />
            </a>
        </div>
            <div class="col mb-3">
            <a class="press-01__link" href="https://tezos.com/" target="_blank">
            <img loading="lazy" alt="1200px tezos logo.svg" class="" src="https://ucarecdn.com/cc0c735b-873f-48db-adab-3b23a105a9da/1200px-tezos-logo.svg.png" height="70" />
            </a>
        </div> -->
            
   
    </div>
          
    
   </div>

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>