<!doctype html> <html lang= "en ">

<title>Talao Explorer</title>

<head>
	
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao</title></title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Pretty-Footer.css') }}">

</head>

<body>
    <div class="contact-clean" style="height: 900px;">
        <form method="get" action="./did/" name="did">
            <h2 class="text-center">Professional Identity Explorer</h2>
            <div class="form-row" style="height: 39px;">
                <div class="col" style="height: 30px;">
				<!-- gestion des flash message -->
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class=flashes>
							{% for message in messages %}
                    <p style="font-size: 12px;color: rgb(247,17,2);margin: 20px -40px;">{{message}}</p>
							{% endfor %}
						</ul>
					{% endif %}
					{% endwith %}
                    
                </div>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="did" placeholder="Email or Identifiant"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
    
    
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>



</html>

