<!DOCTYPE html>
<!-- home.html
last one-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'nav_bar.html' %} 

    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
            <h5 >{{ message }}</h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


        <br><br><br>


        <div class="row mt-5">
            <div class="col-lg-8 col-sm-12  offset-lg-2 text-center mt-5">
                <div class="my-2 p-2">                
                       <h2 style="color: rgb(54, 24, 88); margin-bottom: 0" ><strong>Light and easy server</strong> to integrate Verifiable Credentials and DIDs in applications with OIDC4VC</h2>
                        <br><br><br>    
         
                </div>
           </div>
        </div>

   

</div>


</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>