<!doctype html> <html lang= "en ">

<title>Resolver</title>

<head>
	
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao</title></title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Pretty-Footer.css') }}">

</head>

<body>
    <div class="contact-clean" style="height: 900px;">
        <form method="post" action="./did/" name="did">
            <h2 class="text-center">Talao Professional Identity API Explorer</h2>
            <div class="form-group"><input class="form-control" type="text" name="did" placeholder="Email or Identifiant"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
    
    
    
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
</body>



</html>



<!--
<body>
<h1>Talao Resolver</h1> 
<h1></h1>
<h3>Distributed IDentifierd </h3> 
<form action= "./did/" method= "POST">
<input type= "text" name= "did"> <button type= "submit">Resolve</button>
</form>
-->
