<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
            <h6 style="background-color : rgb(245, 207, 207)">{{ message }}</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-10 offset-1 text-center my-5">
            <h1 ><strong>Altme is the leading Self Sovereign Identity Issuer for Web3 applications
                <br> Crypto games - NFT Marketplace - DeFi - Metaverse</h1>
        </div>
    </div>

   
    <div class="row">
        <div class="col text-center ">
            <img class="mt-5" src="/static/img/im1.png" style="width: 350px;border-radius:0px;"><img class="mt-5" src="/static/img/im2.png" style="width:300px;border-radius:0px;" >        
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center my-5">
            <div class="p-2">
                <h1 ><strong>Altme helps Web3 companies enter a new world of decentralized data to secure their transactions and better know their users</h1>

            </div> 
       </div>
    </div>
       
    

    <div id="gaming" class="mb-5"></div>
    <div class="p-5" style="background-color: #f0f0f0 "  >
        <div class="text-center" >
            <h3><strong>User credentials for Crypto games and Metavers communities</strong></h3> . 
        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/Loyalty card Tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Loyalty card</strong>
                                <br>This type of credential which gives the right to discounts on NFT drops and access to private sales is offered by a Web3 application to its most loyal users, sometimes in exchange for verified data on their age, nationality or other.
                            </div>
                        </div>                       
                
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/bloometa_card.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <strong>Gamer pass</strong>
                            <br>This type of credential allows access to a community of players, it can carry information on the reputation of the player, rankings on games and also accumulate advantages. 
                        </div>
                    </div>  
            </div>        
        </div>
        <!-- end or fid -->

        <div id="age" class="mb-5"></div>
    <div id="blockchain" class="mb-5"></div>
    <div class="p-5" >
        <div class="text-center" >
            <h3><strong>User credentials for age-restricted sites</strong></h3>
                This requires a one-time selfie. 
        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Age range</strong>
                                <br>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their blockchain address with an age estimate with Artificial Intelligence.
                                The credential is issued by Altme. Personal data is fully protected.  

                            </div>
                        </div>                       
                
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <strong>Age verification +13, +18, +21</strong>
                            <br>User can bind their blockchain address to that credential with awith an age estimate with Artificial Intelligence.
                            <br>Personal data is fully protected.The credential is issued by Altme. Data are stored in the user wallet.  
                        </div>
                    </div>  
            </div>        
        </div>
        <!-- end or age content -->


        <div id="blockchain" class="mb-5"></div>
        <div class="p-5" style="background-color: #f0f0f0 " >

            <div class="text-center" >
                        <h3><strong>User credentials for blockchains and crypto wallets</strong></h4>
                            For web3 applications this is for sure the most important credential as it allows user to bind their identity to a blockchain address.
            </div>
                    
                            <div class="row ">
                            <div class="col-3 mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/blockchain_account.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            <div class="col-3 mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <strong>Tezos blockchain address ownership</strong>
                                    <br>Privacy is guaranteed because the private key of the identity is different from the private key of the blockchain address.
                                    The credential is issued by the non custodial user wallet at creation.
                                </div>
                            </div>     

                            <div class="col-3 mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/ethereum_blockchain_account.png"  style="width: 250px;border-radius:0px;">
                                </div>
                            </div>
                            <div class="col-3 mt-5">
                                <div id="id_qrcode" class="text-center">
                                    <strong>Ethereum blockchain address ownership</strong>
                                    <br>Privacy is guaranteed because the private key of the identity is different from the private key of the blockchain address.
                                    The credential is issued by the non custodial user wallet at creation.
                                </div>
                            </div>     
                            </div>            
                        
        </div> 
        

        <div id="authentication" class="mb-5"></div>
        <div class="p-5">
            <div class="text-center" >
                <h3><strong>User credentials for authentication</strong></h3>
                    . 
            </div>

    <div class="row">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/phone_proof.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Phone proof</strong>
                <br>User can associate their phone number to their decentralized identity and blockchain address after having successfully passed an SMS test. The process is carried out by Altme.
               Data are stored in the user wallet. The validity is 1 year.
               <a href="https://issuer.talao.co/phonepass"> See issuer of Phone proof here</a> 

            </div>
        </div>   
        
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/emailproof.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Email proof</strong>
                <br>User can associate their email to their decentralized identity and blockchain address after having successfully passed an email test. The process is carried out by Altme.
                Data are stored in the user wallet. The validity is 1 year.
                <a href="https://issuer.talao.co/emailproof"> See issuer of Email proof here</a> 
            </div>
        </div>

    </div> 

    <div class="row">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/arago_card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Custom Pass</strong>
                <br>Companies can define according to their needs credentials to access their online service or even local office.

            </div>
        </div>   
        
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src=""  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                
            </div>
        </div>

    </div> 
  
    
</div>
<div id="social" class="mb-5"></div>
        <div class="p-5" style="background-color: #f0f0f0 "  >
                            <div class="text-center" >
                                <h3><strong>User credentials for social network identification</strong></h3>
                                    . 
                            </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Discord account</strong>
                                <br>This is a proof of the ownership of a Discord account, it can be bound to a community. The process is carried out by Altme.
                                  Data are stored in the user wallet.
                            </div>
                        </div>   
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img src="/static/img/twitter_account.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Twitter account</strong>
                                <br>This is a proof of the ownership of a Tweeter account. The process is carried out by Altme.
                                Data are stored in the user wallet.
                               
                            </div>
                        </div>   


                    </div>

                    <div  class="row">

                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/reputation.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Community reputation proof</strong>
                                <br>This credential is issued by Altme on behalf of a community. User can access to a proof of their reputation in different communities.
                                User can display this credential on a public website or a social network account or even transfer it to another user or community.
                
                            </div>
                        </div> 
            
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/level.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Ranking</strong>
                                <br>This credential is issued by Altme on behalf of the operators. User can access to a proof og their rankings on different games.
                                The credential is stored in the user wallet only.
                                 User can display their proof of ranking on a public website or a social network account even transfer it to another user.
                            </div>
                        </div> 
                        
                    </div>                    
    </div>


    <div id="identity" class="mb-5"></div>
    <div  class="p-5">
        <div class="text-center" >
            <h3><strong>User credentials with ID verification and limited disclosure</strong></h3>
                This requires a one-time onboarding process with an ID document and an active facial liveness test. 
                <br>Once created, users are verified for life and can use their credentials to prove their age or identity details bound to a blockchain address with businesses online and in person.
        </div>
                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/nationality.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Nationality</strong>
                                <br>User can associate their nationality to their blockchain address with a document authentication  process embedded in the wallet.
                                The process is carried out by a KYC provider (180 countries are covered), the credential is issued by Altme. Data are stored in the user wallet only.
                            </div>
                        </div>                       
                    
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/gender.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Gender</strong>
                                <br>User can associate their blockchain address to that credential with a KYC process embedded in the wallet.
                                The process is carried out by a KYC provider, the credential is issued by Altme. Data are stored in the user wallet. 
                                <br>
                            </div>
                        </div>                       
                    </div>

                    <div class="row ">
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/age_range.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Age range</strong>
                                <br>User can associate their age range (-18, 18-24, 25-34, 35-44, 45-54, 55-64, 64+) to their blockchain address with a KYC process embedded in the wallet.
                                The credential is issued by Altme. Data are stored in the user wallet. 
                                The validity is 1 year or less.
                            </div>
                        </div>                       
                   
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <img  src="/static/img/humanity.png"  style="width: 250px;border-radius:0px;">
                            </div>
                        </div>
                        
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Proof of humanity</strong>
                                <br>I am not a bot ! 
                                <br>The verification process is carried out by a 3D facial liveness test embedded in the wallet.
                                 The credential is issued by Altme. 
                            </div>
                        </div> 
                    </div>
                <div class="row ">
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <img  src="/static/img/over18.png"  style="width: 250px;border-radius:0px;">
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div id="id_qrcode" class="text-center">
                            <strong>Age verification +13, +18, +21</strong>
                            <br>User can bind their blockchain address to that credential with a document authentication process embedded in the wallet. 
                            The credential is issued by Altme. Data are stored in the user wallet.  
                        </div>
                    </div>  
                  
                <div class="col mt-5">
                    <div id="id_qrcode" class="text-center">
                        <img  src="/static/img/passport_footprint.png"  style="width: 250px;border-radius:0px;">
                    </div>
                </div>
                
                        <div class="col mt-5">
                            <div id="id_qrcode" class="text-center">
                                <strong>Passport footprint</strong>
                                <br>The verification process is carried out by a KYC process embedded in the wallet. A hash is calculated from the passport MRZ (Machine-Readable Zone).
                                The credential is issued by Altme. No identity disclosure.
                            </div>
                        </div>   
            </div>        

                    
             

        </div>
<!--     End of personal data pack    -->

<div id="defi" class="mb-5"></div>
<div class="p-5" style="background-color: #f0f0f0 ">
    <div class="text-center" >
        <h3><strong>User credentials with extended ID verification</strong></h3>
            This requires a one-time onboarding process with ID and address documents, an active facial liveness test and a  whatchlist check. 
            <br>Once created, users are verified for life and can use their credentials to prove their identity details ound to a blockchain address with businesses online and in person.
    </div>
    <div class="row">

        <div class="col mt-5">                            
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/identity.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Identity card - KYC</strong>
                <br>The KYC process is carried out through an active 3D facial liveness test and an integrated document authentication process in the mobile device with prior biometric authentication of the user.
                Altme retains the KYC process ID for auditing. No personal data are stored by Altme.
            </div>
        </div> 
       
    
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/aml.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Anti money laundering</strong>
                <br>User can associate their blockchain address to AML checks on global sanctions watchlists carried out in the KYC provider backend. 
               The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
            </div>
        </div> 
    </div>

    <div class="d-none d-md-block">
    <div class="row ">
        <div class="col-3  mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col-3 mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Proof of residency</strong>
                <br>User can associate their blockchain address to a proof of residency with an extended document authentication process embedded in the wallet. 
                The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
                
            </div>
        </div> 
    </div>

    </div>

    <div class="row d-md-none">
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/residency.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col mt-5">
            <div id="id_qrcode" class="text-center">
                <strong>Proof of residency</strong>
                <br>User can associate their blockchain address to a proof of residency with an extended document authentication process embedded in the wallet. 
                The credential is issued by Altme. Altme retains the KYC process ID for audit. No data are stored by Altme.
                   
                
            </div>
        </div>                 
    </div>      

</div>

</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>