<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>HomePage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Carousel-Hero.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="d-flex flex-column" id="content-wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% include 'user_nav_bar.html' %}

    <!-- Carousel News -->
    <div class="row">
      <div class="carousel slide w-100" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="jumbotron hero-3 carousel-hero">
              <h1 class="hero-title">Welcome !</h1>
              <p class="hero-subtitle">If you need help we have some video tutorial for you !</p>
              <p><a class="btn btn-primary btn-lg hero-button" style="background: rgb(6,169,222);border-style: none;" role="button" href="/user/tutorial">Video tutorial</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="jumbotron hero-1 carousel-hero">
              <h1 class="hero-title">Talao launches it's own private Blockchain</h1>
              <p class="hero-subtitle">Great speed and easier onboarding than ever while maintaining security for your data</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="jumbotron hero-2 carousel-hero">
              <h1 class="hero-title">Ma societe has joined Talao</h1>
              <p class="hero-subtitle">Ma societe is a test company contact us if you want your name here</p>
              <p><a class="btn btn-primary btn-lg hero-button" style="background: rgb(6,169,222);border-style: none;" role="button" href="/user/issuer_explore/?issuer_username=masociete">Check there board</a></p>
            </div>
          </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
            data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
    <!-- Job offers -->
    <div class="row justify-content-center mt-3" style='height:650px'>
      <div class="row  w-100">
        <h2 class="text-center w-100" style="color: rgb(6,169,222);font-size: 45px;"> <strong>Job offers</strong> </h2>
      </div>
      <div class="row justify-content-center w-100 overflow-auto border rounded mx-md-5" style='height:550px'>
        <div class="card shadow w-100 mt-4 mb-2 mx-5" style="max-width: 1000px">
          <a href="/view_job_offer?offer=1">
            <div class="card-body">
              <div class="d-inline-flex w-100 m-0">
                <div class="col-md-2"><img src="https://remoteok.io/assets/jobs/9c5575e19af49e0b36f113ca19c070111606338825.png?1606338826" style="width: 110px;"></div>
                <div class="col-md-10 text-dark">
                  <p style="font-size: 18px;margin-bottom: 2px;"><strong>Senior Software Engineer</strong></p>
                  <p style="color: rgb(59,59,59);margin-bottom: 0px;">Message Bird</p>
                    <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;(Remote) Time zone: Worldwide&nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <p style="margin-top: 5px;">
                    <!-- <i class="fa fa-map-marker"></i>&nbsp;Madrid&nbsp; &nbsp; &nbsp; &nbsp; -->
                    <!-- <i class="fa fa-pencil"></i>&nbsp;Stage -->
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card shadow w-100 my-2 mx-5" style="max-width: 1000px">
          <a href="/view_job_offer?offer=2">
            <div class="card-body">
              <div class="d-inline-flex w-100 m-0">
                <div class="col-md-2"><img src="https://remoteok.io/assets/jobs/e2010fabb8ee4790893304be300b1a1a1606338563.png?1606338563g" style="width: 110px;"></div>
                <div class="col-md-10 text-dark">
                  <p style="font-size: 18px;margin-bottom: 2px;"><strong>Head of Demand Generation</strong></p>
                  <p style="color: rgb(59,59,59);margin-bottom: 0px;">Catapult</p>
                  <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;(Remote) Time zone: Worldwide&nbsp; &nbsp; &nbsp; &nbsp;</p>
                  <!-- <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;Paris&nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-pencil"></i>&nbsp;CDD</p> -->
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card shadow w-100 my-2 mx-5" style="max-width: 1000px">
          <a href="/view_job_offer?offer=3">
            <div class="card-body">
              <div class="d-inline-flex w-100">
                <div class="col-md-2"><img src="https://remoteok.io/assets/jobs/cc56ebc7b233b6f48fecad5a443a6ced1606287634.png?1606287634" style="width: 110px;"></div>
                <div class="col-md-10 text-dark">
                  <p style="font-size: 18px;margin-bottom: 2px;"><strong>WP All Import Customer Support</strong></p>
                  <p style="color: rgb(59,59,59);margin-bottom: 0px;">Soflyy</p>
                  <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;(Remote) Time zone: Worldwide&nbsp; &nbsp; &nbsp; &nbsp;</p>
                  <!-- <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;Paris&nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-pencil"></i>&nbsp;CDD</p> -->
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card shadow w-100 my-2 mx-5" style="max-width: 1000px">
        <a href="/view_job_offer?offer=4">
          <div class="card-body">
            <div class="d-inline-flex w-100">
              <div class="col-md-2"><img src="https://remoteok.io/assets/jobs/fad53491c6ead3968bd151440ca6474c1606240028.png?1606240028" style="width: 110px;"></div>
              <div class="col-md-10 text-dark">
                <p style="font-size: 18px;margin-bottom: 2px;"><strong>Web Developer</strong></p>
                <p style="color: rgb(59,59,59);margin-bottom: 0px;">LearnCube</p>
                <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;(Remote) Time zone: Worldwide&nbsp; &nbsp; &nbsp; &nbsp;</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="article-list py-5" style="background: url('/static/img/Petit_BG.jpg') center / contain repeat;">
      <div class="container">
        <div class="intro text-center">
          <h2 class="text-center " style="color: rgb(6,169,222);font-size: 45px;"><b>Congratulations</b></h2>
          <p class="text-center w-100" style="color: rgb(255,255,255);font-size: 30px;width: 500px;"><br>You are now in control of your professional Digital Identity<br><br><br></p>
        </div>
        <div class="row articles">
          <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="/static/img/Phone.png" style="width: 140px;">
            <h3 class="name" style="color: rgb(255,255,255);font-size: 20px;">Get verifiable digital certificates</h3>
            <p class="description" style="color: rgb(255,255,255);">Once you have completed a mission or training, request a Blockchain certificate from your Blockchain worspace.</p><a class="action" href="#"></a>
          </div>
          <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="/static/img/Computer.png" style="width: 300px;">
            <h3 class="name" style="background: rgba(255,255,255,0);font-size: 20px;color: rgb(255,255,255);">Protect your data</h3>
            <p class="description" style="color: rgb(255,255,255);">Manage and store your most confidential information. Encrypt any sensitive data and choose who you give an access to.</p><a class="action" href="#"></a>
          </div>
          <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="/static/img/Mobile.png" style="width: 230px;">
            <h3 class="name" style="color: rgb(255,255,255);font-size: 20px;">Be the sole owner of your data</h3>
            <p class="description" style="color: rgb(255,255,255);">With the Blockchain technology, you are in control of your data. Data is stored and duplicated to thousands of computers, no more private database.</p><a class="action" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
