<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                     {% if session['type'] == "company" %}
                 {% include 'company_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}







            <div class="container-fluid mt-3">
                <h3 class="text-dark mb-4">{{name}}
                    <a class="text-secondary" onclick="copyToClipboard('#p100')">
                    <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
                    </a>
                </h3>
                    <p hidden id="p100" >{{clipboard}}</p>
                <h6 class="text-dark mb-4">{{profil_title}}</h6>

                <div class="row mb-3">
                    <div class="col-lg-4 offset-xl-4">
                        <div class="card mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Import RSA Key</p>
                            </div>
                            <div class="card-body text-center shadow">
                                <form name="form" action="/user/import_rsa_key/" method="POST"  enctype="multipart/form-data">
                                    <p>Your RSA Key is needed to encrypt data as "Private" or "Secret".<br>
                                    Private files are available for your partners only.<br>
                                    Secret file are only for you.</p>





                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
													<button id="in_progress_button" class="btn btn-primary btn-sm small" type="submit">Save</button></div>
                                            <div class="custom-file">
												<label class="custom-file-label" for="inputGroupFile01"></label>
												<input type="file" id="inputGroupFile01" onchange="loadFile(event)" class="custom-file-input" name="file">
											</div>
										  <button  onclick="goBack()"  class="btn btn-primary text-left" type="button">Back</button></div>

                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                           {% include 'user_footer.html' %}

       </div>
          <script>function goBack() {  window.history.back();}</script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
     <script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }</script>



</body>

</html>
