<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col-xl-4 offset-xl-4">
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">&nbsp;Issue an Agreement Certificate to {{session['user_name']}}</p>
                </div>
                <div class="card-body">
                  <form action="/issue/" method="post">
                    <div class="form-row">
                      <div class="col text-dark">
                        <p>Complete or correct this Certificate form as precisely as possible. Data below has been proposed by {{session['user_name']}}.</p>
                      </div>
                    </div>
                    {% if not session['issuer_name'] %}
                    <div class="form-row">
                      <div class="col-lg-6">
                        <div class="form-group"><label>Your firstname</label><input Title="Your name will be needed to access the company Identity" class="form-control" type="text" value="{{issuer_firstname}}" name="issuer_firstname" required=""></div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group"><label>Your lastname</label><input class="form-control" Title="Your name will be needed to access the company Identity" type="text" value="{{issuer_lastname}}" name="issuer_lastname" required=""></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg-6">
                          <div class="form-group"><label>Manager name (Optional)</label><input class="form-control" type="text" value="{{manager}}" name="manager"></div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group"><label>Company name</label><input class="form-control" type="text" value="{{company_name}}" name="company_name" required=""></div>
                      </div>
                  </div>
                    {% endif %}
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Title</label><input title="Title for the certificate" required="" class="form-control" type="text" value="{{title}}" name="title"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Registration number</label><input required="" class="form-control" type="text" value="{{registration_number}}" name="registration_number"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Project description</label><textarea rows="4" title="A description of the project, objectives, technologies, team, delay..." required="" class="form-control"  name="description">{{description}}</textarea></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Issue date</label><input class="form-control" required="" type="date" value="{{date_of_issue}}" name="date_of_issue"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>End of validity date</label><input class="form-control" required="" type="date" value="{{valid_until}}" name="valid_until"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Location</label><input class="form-control" required="" type="text" value="{{location}}" name="location"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Standard used</label><input title="ex: ISO 9001"  class="form-control" required="" type="text" value="{{standard}}" name="standard"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Agreement scopes (Optional)</label><input title="List of scopes with comma separator : scope1, scope2, ..." class="form-control" type="text" value="{{service_product_group}}" name="service_product_group"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button class="btn btn-primary btn-sm" title="Send the form to your Referent." type="submit" name="choice" value="send">Send</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <a href="/issue/logout/">
                          <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Cancel</button></div>
                        </a> 
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}

  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
