<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                                                                                           {% include 'guest_nav_bar.html' %}    

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 offset-xl-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title">Professional Certificate for {{talent_name}}.</h4>
                            <p class="card-text">This certificate will be signed by you. Data below has been proposed by {{talent_name}}, you can update them as you want.</p>
                        </div>
                        <form method="post" action="/issue/">
                            <div class="container shadow-sm" style="background-color: #ffffff;">
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group"><label>Title</label><input class="form-control" placeholder="Talent title in the project team" type="text" name="title" required="" value="{{title}}"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label>Company Name</label><input class="form-control" type="text" name="company_name" required=""></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group"><label>Your firstname</label><input class="form-control" type="text" value="{{issuer_firstname}}" name="issuer_firstname" required=""></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label>Your lastname</label><input class="form-control" type="text" value="{{issuer_lastname}}" name="issuer_lastname" required=""></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label>Project Description</label><textarea class="form-control" name="description" >{{description}}</textarea></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-12">
                                        <div class="form-group"><label>Skills (skill1, skill2, ...)</label><input value="{{skills}}"  class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" placeholder="skill1, skill2, skill3,..." name="skills"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-6 col-xl-6 order-2 order-xl-1">
                                        <div class="form-row">
                                            <div class="col-xl-3"><label class="col-form-label">From :</label></div>
                                            <div class="col-xl-9"><input class="form-control" data-toggle="tooltip" data-bs-tooltip="" type="date" value="{{start_date}}" name="start_date" placeholder="From" required=""></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6 order-2 order-xl-1">
                                        <div class="form-row">
                                            <div class="col-xl-3"><label class="col-form-label">To :</label></div>
                                            <div class="col-xl-9"><input class="form-control" data-toggle="tooltip" data-bs-tooltip="" type="date" value="{{end_date}}" name="end_date" required=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                                
                                
                                
                               
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-7 col-xl-6 order-1" style="height: 60px;">
                                        <div class="form-group">
                                            <p style="font-size: 12px;">How satisfied are you with the overall elivery ?</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5 col-xl-6 order-1">
										<div class="form-group">    
											<input  class="form-control-range" type="range" name="score_delivery" id="score_delivery" value="3" min="0" max="5" step="1" oninput="score_delivery_disp.value = score_delivery.value">
											<output  id="score_delivery_disp"></output>	
											<output  <i style ="color: rgb(251,211,5);" class="fas fa-star"></i></output>
										</div>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-7 col-xl-6 order-1" style="height: 60px;">
                                        <div class="form-group">
                                            <p style="font-size: 12px;">How likely are you to recommend this talent to others ?</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5 col-xl-6 order-1" style="height: 60px;">
										<div class="form-group">    
											<input  class="form-control-range" type="range" name="score_recommendation" id="score_recommendation" value="3" min="0" max="5" step="1" oninput="score_recommendation_disp.value = score_recommendation.value">
											<output  id="score_recommendation_disp"></output>	
											<output  <i style ="color: rgb(251,211,5);" class="fas fa-star"></i></output>
										</div>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-7 col-xl-6 order-1" style="height: 60px;">
                                        <div class="form-group">
                                            <p style="font-size: 12px;">How would you rate his/her ability to deliver to schedule ?</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5 col-xl-6 order-1">
										<div class="form-group">    
											<input  class="form-control-range" type="range" name="score_schedule" id="score_schedule" value="3" min="0" max="5" step="1" oninput="score_schedule_disp.value = score_schedule.value">
											<output  id="score_schedule_disp"></output>	
											<output  <i style ="color: rgb(251,211,5);" class="fas fa-star"></i></output>
										</div>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-7 col-xl-6 offset-xl-0 order-1">
                                        <div class="form-group">
                                            <p style="font-size: 12px;">How would you rate his/her overall communication skills ?</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5 col-xl-6 order-1" style="height: 60px;">
                                        <div class="form-group">    
											<input  class="form-control-range" type="range" name="score_communication" id="score_communication" value="3" min="0" max="5" step="1" oninput="score_communication_disp.value = score_communication.value">
											<output  id="score_communication_disp"></output>	
											<output  <i style ="color: rgb(251,211,5);" class="fas fa-star"></i></output>
										</div>
                                   
                                    </div>
                                </div>
                                
                                
                                <div class="form-row"></div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3 order-xl-1">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Next&nbsp;</button></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                                {% include 'user_footer.html' %}    

    </div>
      <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>  
 
</body>

</html>
