<!DOCTYPE html>
<!-- issue_reference_certificate.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'company_nav_bar.html' %}

        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col">
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">&nbsp;Issue a Reference</p>
                </div>
                <div class="card-body">
                  <form id="form" action="/company/issue_reference_credential/" method="post">
                    <div class="form-row">
                      <div class="col text-dark">
                        <p>Complete this form as precisely as possible.</p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Title</label><input title="" required class="form-control" type="text" name="title"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Location (Optional)</label><input class="form-control" type="text" name="location"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Project description</label><textarea rows="4" title="A description of the project, objectives, technologies, team, delay..." required class="form-control" name="description"></textarea></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Start date</label><input class="form-control" required type="date" name="startDate"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>End date</label><input class="form-control" required type="date" name="endDate"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Budget in EUR (Optional)</label><input class="form-control"  type="text" name="budget"></div>
                      </div>
                      
                    </div>
                   
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Review</label><textarea rows="4" title="Your review..." required class="form-control" name="review"></textarea></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button class="btn btn-primary btn-sm" title="Send the form to your Referent." id="in_progress_button" type="submit" >Issue</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button onclick="goBack()" title="Cancel the request." class="btn btn-primary btn-sm" type="button" value="Back">Back</button></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script>function goBack() {window.history.back();}</script>
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
   <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
   <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
</body>

</html>
