<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
     
      <div id="content">
        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <form action="/sandbox/op/issuer/console" method="POST">

                  <div class="card shadow my-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p class="text-primary m-0 font-weight-bold">Generate an Issuer for your application</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                   

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Enter your Issuer information</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Issuer name</strong><br></label><input class="form-control" required type="text" value="{{company_name}}""  name="company_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Contact name</strong><br></label><input class="form-control" type ="text" value="{{contact_name}}" name="contact_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Contact email</strong><br></label><input class="form-control" type="email" value="{{contact_email}}" name="contact_email" ></div>
                            </div>
                        </div>


                        </div>
                        </div>




                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Copy parameters to setup your Ressource server</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Issuer landing page URL</strong></label><input readonly class="form-control" type="text" value={{issuer_landing_page}}></div>
                          </div>

                          <div class="col" hidden>
                            <div class="form-group"><label><strong>Issuer Id</strong></label><input readonly class="form-control" name="client_id" type="text" value={{client_id}}></div>
                          </div>
                          
                        </div>
                        <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label><strong>Public key</strong><br></label><textarea rows="5" class="form-control" readonly >{{public_key}}</textarea></div>
                        </div>
                        </div>




                        <!--

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Authorization endpoint</strong></label><input readonly class="form-control" type="text"  value={{authorization}}></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Token endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{token}}></div>
                            </div> 

                        </div>
                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Logout endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{logout}}></div>
                            </div> 
                            <div class="col">
                              <div class="form-group"><label><strong>User info endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{userinfo}}></div>
                            </div> 
                          </div>
                        -->
                          </div>
                          </div>

                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p class="text-primary m-0 font-weight-bold">Select user requested credentials</p>
                              </div>
                            </div>
                            <div class="card-body">

                          <div class="form-row">
                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential</strong></label><select name="vc" class="form-control">
                                  {{vc_select|safe}}  
                                  </select></div>
                            </div>      
                          </div>

                        

                          </div>
                          </div>


                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p class="text-primary m-0 font-weight-bold">Customize your issuer landing page</p>
                              </div>
                            </div>
                            <div class="card-body">

                         <div class="form-row">
                  
                            <div class="col">
                              <div class="form-group"><label><strong>Title QR code page for desktop </strong><br></label><textarea required class="form-control" name="title" >{{title}}</textarea></div>
                            </div>

                            <div class="col">
                              <div class="form-group"><label><strong>Subtitle QR code page for desktop</strong><br></label><textarea class="form-control" name="qrcode_message" >{{qrcode_message}}</textarea></div>
                            </div>
                         </div>

                         <div class="form-row">
                          
                     
                        <div class="col">
                          <div class="form-group"><label><strong>Message for mobile</strong><br></label><textarea class="form-control" name="mobile_message" >{{mobile_message}}</textarea></div>
                        </div>
                   
                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message</strong><br></label><textarea class="form-control" name="reason" >{{reason}}</textarea></div>
                            </div>

                           
                         </div>


                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Application page URL</strong><br></label><input class="form-control" type="text" value="{{landing_page_url}}""  name="landing_page_url" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Privacy URL</strong><br></label><input class="form-control" type ="text" value="{{privacy_url}}" name="privacy_url" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Terms & conditions URL</strong><br></label><input class="form-control" type="text" value="{{terms_url}}" name="terms_url" ></div>
                          </div>
                      </div>

                        </div>
                        </div>

                        <div class="form-group">
                          <div class="form-row">
                                <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="advanced" type="submit">Advanced configuraion</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="update" type="submit">Save</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="delete" type="submit">Delete</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="preview" type="submit">Preview your Issuer</button></div>




                          </div>
                        </div>
                     
                    </div>
                  </div>

                  <div class="form-row">
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="logout" type="submit">Logout</button></div>
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="select" type="submit">Select issuer</button></div>
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="new" type="submit">Create issuer</button></div>
                  </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
