<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
     
      <div id="content">
        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <form action="/sandbox/op/issuer/console" method="POST">

                  <div class="card shadow my-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p class="text-primary m-0 font-weight-bold">Generate an Issuer for your application, your login name is {{login_name}}</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                   

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Enter your application and issuer information</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Application or issuer name</strong><br></label><input class="form-control" required type="text" value="{{company_name}}""  name="company_name" ></div>
                            </div>
                            <div class="col">
                              {% if session['login_name'] != "admin1234" %}
                              <div class="form-group"><label><strong>User</strong><br></label><input readonly class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% else %}
                              <div class="form-group"><label><strong>User</strong><br></label><input class="form-control" type ="text" value="{{user}}" name="user" ></div>
                              {% endif %}
                            </div>
                        
                        </div> 
                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>Contact name</strong><br></label><input class="form-control" type ="text" value="{{contact_name}}" name="contact_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Contact email</strong><br></label><input class="form-control" type="email" value="{{contact_email}}" name="contact_email" ></div>
                            </div>
                        </div>

                        <div class="form-row">           
                          <div class="col">
                            <div class="form-group"><label><strong>Note</strong><br></label><textarea class="form-control" name="note" >{{note}}</textarea></div>
                          </div>
                        </div>


                        </div>
                        </div>




                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Your application code</p>
                            </div>
                          </div>
                          <div class="card-body">

                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Issuer landing page to redirect your user</strong></label><input readonly class="form-control" type="text" value={{issuer_landing_page}}></div>
                          </div>

                          <div class="col" hidden>
                            <div class="form-group"><label><strong>Issuer Id</strong></label><input readonly class="form-control" name="client_id" type="text" value={{client_id}}></div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col" >
                            <div class="form-group"><label><strong>Callback URL of your application</strong></label><input required class="form-control" name="callback" type="text" value={{callback}}></div>
                          </div>
                          
                          <div class="col-6">
                            <div class="form-group"><label><strong>Webhook URL of your application</strong><br></label><input  required class="form-control" type="text" value="{{webhook}}" name="webhook" ></div>
                          </div> 

                        </div>
                        
                        </div>
                        </div>


                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Your credentials</p>
                            </div>
                          </div>
                          <div class="card-body">

                          <div class="form-row">
                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential 1 requested for issuance</strong></label>
                                  <select name="credential_requested" class="form-control">
                                  <option value="">--Please choose an option--</option>
                                 {{credential_requested_select|safe}}
                                  </select></div>
                            </div>  
                            
                            <div class="col-6">
                              <div class="form-group"><label><strong>Credential 2 requested for issuance (Not available today)</strong></label>
                                <select disabled name="credential_requested_2" class="form-control">
                                <option value="">--Please choose an option--</option>
                               {{credential_requested_select|safe}}
                                </select></div>
                          </div>  
                            
                            

                          </div>

                          <div class="form-row">
                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential to issue</strong></label><select  onchange="getResponse();" id="selectCredential" name="credential_to_issue" class="form-control">
                                  <option value="">--Please choose an option--</option>
                                 {{credential_to_issue_select|safe}}
                                  </select></div>
                            </div>   
                          </div>                    

                          </div>
                          </div>


                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p class="text-primary m-0 font-weight-bold">Customize your issuer page</p>
                              </div>
                            </div>
                            <div class="card-body">

                              <div class="form-row">
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page title</strong><br></label><input class="form-control" type="text" name="page_title" value="{{page_title}}"></div>
                                </div>
    
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page subtitle</strong><br></label><input class="form-control" type="text" name="page_subtitle" value="{{page_subtitle}}"></div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page description</strong><br></label><textarea class="form-control" rows="5" name="page_description" >{{page_description}}</textarea></div>
                                </div>
                              </div>

                              <div class="form-row">

                                <div class="col">
                                  <div class="form-group"><label><strong>Page background color</strong><br></label><input type="color" class="form-control" name="page_background_color" value="{{page_background_color}}"></div>
                                </div>
                           

                              <div class="col">
                                <div class="form-group"><label><strong>Page text color</strong><br></label><input type="color" class="form-control" name="page_text_color" value="{{page_text_color}}"></div>
                              </div>
                          

                            <div class="col">
                              <div class="form-group"><label><strong>QR code background color</strong><br></label><input type="color" class="form-control" name="qrcode_background_color" value="{{qrcode_background_color}}"></div>
                            </div>
                          </div>

                         <div class="form-row">
                  
                            <div class="col">
                              <div class="form-group"><label><strong>QR code title</strong><br></label><input type="text" required class="form-control" name="title" value="{{title}}"></div>
                            </div>

                            <div class="col">
                              <div class="form-group"><label><strong>QR code subtitle</strong><br></label><input type="text" class="form-control" name="qrcode_message" value="{{qrcode_message}}"></div>
                            </div>
                         </div>

                         <div class="form-row">
                          
                     
                        <div class="col">
                          <div class="form-group"><label><strong>Message for mobile deeplink</strong><br></label><input type="text" class="form-control" name="mobile_message" value="{{mobile_message}}"></div>
                        </div>
                   
                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message for credential requested</strong><br></label><input type="text" class="form-control" name="reason" value="{{reason}}"></div>
                            </div>

                           
                         </div>


                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label><strong>Application page URL</strong><br></label><input class="form-control" type="text" value="{{landing_page_url}}"  name="landing_page_url" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Privacy URL</strong><br></label><input class="form-control" type ="text" value="{{privacy_url}}" name="privacy_url" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Terms & conditions URL</strong><br></label><input class="form-control" type="text" value="{{terms_url}}" name="terms_url" ></div>
                          </div>
                      </div>
                      <div class="form-row text-center">
                        <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="preview" type="submit">Preview your landing page</button></div>
                      </div>

                        </div>
                        </div>



                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p class="text-primary m-0 font-weight-bold">Customize your card (no design)</p>
                            </div>
                          </div>
                          <div class="card-body">

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Card title</strong><br></label><input class="form-control" type="text" name="card_title" value="{{card_title}}"></div>
                              </div>
  
                              <div class="col">
                                <div class="form-group"><label><strong>Card subtitle</strong><br></label><input class="form-control" type="text" name="card_subtitle" value="{{card_subtitle}}"></div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Card description</strong><br></label><textarea class="form-control" rows="5" name="card_description" >{{card_description}}</textarea></div>
                              </div>
                            </div>

                            <div class="form-row">

                              <div class="col">
                                <div class="form-group"><label><strong>Card background color</strong><br></label><input type="color" class="form-control" name="card_background_color" value="{{card_background_color}}"></div>
                              </div>
                         

                            <div class="col">
                              <div class="form-group"><label><strong>Card text color</strong><br></label><input type="color" class="form-control" name="card_text_color" value="{{card_text_color}}"></div>
                            </div>
                    
                            </div>
                      </div>
                      </div>

                        <div class="form-group">
                          <div class="form-row">
                                <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="advanced" type="submit">Advanced configuration</button></div>
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="update" type="submit">Save</button></div>
                            {% if session['login_name'] == "admin1234" %}
                            <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="delete" type="submit">Delete</button></div>
                            {% endif %}



                          </div>
                        </div>
                     
                    </div>
                  </div>

                  <div class="form-row">
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="logout" type="submit">Logout</button></div>
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="new" type="submit">Create issuer</button></div>
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="select" type="submit">Select issuer</button></div>
                  {% if session['login_name'] == "admin1234" %}
                  <div class="col"><button  class="btn btn-primary btn-sm" name="button" value="demo" type="submit">Create demo issuer</button></div>
                    {% endif %}
                  </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
