<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
           {% include 'company_nav_bar.html' %}  
                <div class="container-fluid mt-3">
                    <h3 class="text-dark mb-4">{{name}}</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8 col-xl-6 offset-xl-3">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <p class="text-primary m-0 font-weight-bold">&nbsp;Create Kyc</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form action="/user/issue_kyc/" method="POST">
                                                <p>Attendre la fin du process qui peut prendre un peu de temps...</p>
                                                <div class="form-row">
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>Username</strong><br></label><input class="form-control" type="text" name="username" required=""></div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>Phone</strong></label><input class="form-control" type="text" name="phone" required=""></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>Firstname</strong></label><input class="form-control" type="text" name="given_name" required=""></div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group"><label><strong>Lastname</strong></label><input class="form-control" type="text" name="family_name" required=""></div>
                                                    </div>
                                                </div>
                                            
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label><strong>Address</strong></label><textarea class="form-control" type="text" name="address" required=""></textarea></div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>Birthdate</strong><br></label><input class="form-control" type="date" name="birthdate"></div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>Email</strong></label><input class="form-control" type="text" name="email"></div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>Gender</strong><br></label>
                                                        <select class="form-control" name="gender" >
                                                            <option value="m" selected="">M</option>
                                                            <option value="f">F</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group"><label><strong>ID checking</strong><br></label>
                                                        <select class="form-control" name="identification" >
                                                            <option value="Electronic Check" selected="">Electronic check</option>
                                                            <option value="Face to Face Check">Face to Face check</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                           <div class="form-row">
                                                <div class="col-6 col-xl-3">
                                                    <div class="form-group"><button  id="in_progress_button" class="btn btn-primary btn-sm " type="submit">Issue Kyc</button></div>
                                                </div>
                                                <div class="col-6 col-xl-3">
										            <a href="/user/">
                                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Cancel</button></div>
                                                    </a>
                                                </div>
                                            </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'user_footer.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
