<!DOCTYPE html>
<!-- issue_certifcate.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% if session['role'] == "creator" %}
                    {% include 'company_nav_bar.html' %}
                {% else %}
                    {% include 'manager_nav_bar.html' %}
                {% endif %}
        <div class="container-fluid mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Issue a Credential</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/issue_certificate/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Select the type of credential :</p>
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="wallet texte"><strong>Credential Type</strong><br></label>
                                        <select class="form-control" name="certificate_type">
										{% if session["issuer_explore"]["type"] == "person"  %}
                                            <option value="experience" >Professional Experience</option>
                                            <option value="recommendation">Recommendation</option>
										{% else %}
                                            <option value="reference" >Reference</option>
                                            <option value="ccicertificate" >Certicat UdF CCI</option>
                                        {% endif %}
                                        </select></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Next</button></div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" onclick="goBack()" type="button">Back</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                            {% include 'user_footer.html' %}

    </div>
    <script>function goBack() {  window.history.back();}</script>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
     <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
     <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
