<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Je prouve mon âge</title>
    <link rel="stylesheet" href="/static/jeprouvemonage.css">

</head>
<body>
    <div id="headerJPMA">
        <p id="JPMAp">Jeprouvemonage.fr</p>
    </div>
    <div id="mainBoxJPMA">
        <p id="verifJPMA">Vérification de l’âge</p>
        <div id="secondBoxJPMA">
            <div id="leftBoxJPMA">
                <p id="leftTextJPMA">Scanner le QRcode 
                    avec l’application   <span style="color: #4755D2">Jeprouvemonage</span>
                    pour partager votre âge </p>
                    <img id="qrcodeJPMA" src="{{ qrcode(url) }}">

            </div>
            <div id="rightBoxJPMA">
                <p id="rightBoxP1JPMA">Comment faire ?</p>
                <div class="rightBoxP2JPMAdiv"><p class="rightBoxP2JPMA">1 - Téléchargez l’application </p><p class="rightBoxP2JPMA2">Jeprouvemonage.</p></div>
                <div id="rightBoxDivJPMA">
                    <a  href="https://apps.apple.com/fr/app/altme/id1633216869"><img class="ios" src="/static/ios.png"></a>
                    <a  href="https://play.google.com/store/apps/details?id=co.altme.alt.me.altme&gl=US"><img class="ios" src="/static/android.png"></a>
                </div>
                <div id="rightBoxP3JPMAdiv"><p class="rightBoxP2JPMA">2 - Ouvrez l’application et ajouter une preuve d’âge</p><p class="rightBoxP2JPMA2">en vérifiant votre identité avec un service tiers.</p></div>
                <div class="rightBoxP2JPMAdiv"><p class="rightBoxP2JPMA">3 - Scannez le QRcode</p><p class="rightBoxP2JPMA2">afin de partager la preuve.</p></div>

            </div>
        </div>
    </div>

    <div id="footerJPMA">
        <p class="footerJPMAP">Besoin d’aide</p>
        <img class="imgfooterJPMA" src="/static/line.png">
        <p class="footerJPMAP">Mentions légales</p>
        <img class="imgfooterJPMA" src="/static/line.png">
        <p class="footerJPMAP">CGU</p>
        <img class="imgfooterJPMA" src="/static/line.png">
        <p class="footerJPMAP">Charte informatique et liberté</p>
        <img class="imgfooterJPMA" src="/static/line.png">
        <p class="footerJPMAP">Accessibilité</p>
        <img class="imgfooterJPMA" src="/static/line.png">
        <p class="footerJPMAP">Gérer mes cookies</p>

    </div>
    <script>
        var source = new EventSource('/sandbox/login_presentation_stream');
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.stream_id == '{{stream_id}}' ){
          window.location.href='/sandbox/login_followup?stream_id=' + result.stream_id;
          }
        };
      </script>
    
</body>
</html>