<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/appJpma.png">
    <title>Je prouve mon âge</title>
    <link rel="stylesheet" href="/static/jeprouvemonage.css">

</head>

<body>
    <div id="headerJPMA">
        <p id="JPMAp">Jeprouvemonage.fr</p>
    </div>

    <div id="mainBoxJPMA">
        <p id="verifJPMA">Vérification de votre âge</p>
        <div id="secondBoxJPMA">
            <div id="leftBoxJPMA">
                <p id="scannerP">Scannez le QR code avec
                    l’application <span style="color:#2447F2">Jeprouvemonage</span></p>
                <img id="qrcodeJPMA" src="{{ qrcode(url) }}">

            </div>
            <div id="rightBoxJPMA">
                <p id="jpmaP1">Partage de la preuve : </p>
                <img id="img18ans" src="/static/img/+18ans.png">
                <p class="jpmaP2">1. Ouvrez l’application <span style="color: #4F4F4F; font-family: PoppinsSemiBold;">Jeprouvemonage</span></p>

                <p class="jpmaP2">2. Ajoutez la preuve d’âge <span style="color: #4F4F4F">si vous ne l’avez pas en vérifiant votre identité.</span></p>
                <p class="jpmaP2">3. Scannez le QR code <span style="color: #4F4F4F">afin de partager la preuve préalablement ajoutée.</span></p>

            </div>
        </div>

        <div id="lowsP">
            <div id="logoLine"><img id="logo" src="/static/img/jpma.png"><p id="jpmaLowP">Jeprouvemonage</p></div>
            <p id="teleLowP">Télécharger l’application sur <span style="color: #0000FF">IOS</span> ou <span style="color: #0000FF">Android</span></p>
        </div>
    </div>
    <div id="footerJPMA">
        <p class="footerJPMAP">Besoin d’aide</p>
        <img class="imgfooterJPMA" src="/static/img/line.png">
        <p class="footerJPMAP">Mentions légales</p>
        <img class="imgfooterJPMA" src="/static/img/line.png">
        <p class="footerJPMAP">CGU</p>
        <img class="imgfooterJPMA" src="/static/img/line.png">
        <p class="footerJPMAP">Charte informatique et liberté</p>
        <img class="imgfooterJPMA" src="/static/img/line.png">
        <p class="footerJPMAP">Accessibilité</p>
        <img class="imgfooterJPMA" src="/static/img/line.png">
        <p class="footerJPMAP">Gérer mes cookies</p>

    </div>


</body>

</html>