<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
</head>

 
   <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                 <!-- Nav Bar Guest -->
                <nav class="navbar navbar-light navbar-expand bg-white shadow d-flex mb-4 topbar static-top">
                    <div class="container-fluid">
						<a href="https://talao.io"><img src="/uploads/talao3.png" style="width: 30px;height: 30px;"></a>
                        <h6 class="text-secondary flex-nowrap ml-auto" style="color: rgb(133,135,150);">Talao Professional Identity</h6>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li> <!-- menu vide -->
                            <li class="nav-item d-none d-none d-md-block" role="presentation"><a class="nav-link active" href="" style="color: rgb(133,135,150);"></a></li>
                            
                               
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#"><i class="fa fa-navicon fa-sm fa-fw mr-2 text-gray-400"></i><!--<span class="d-none d-lg-inline mr-2 text-gray-600 small">{{name}}</span>--><!--retrer dropdown-toggle de la class du nav linkComment--></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
										<a class="dropdown-item" role="presentation" href="/starter/"><i class="fa fa-registered fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Register</a>
                                     <!--   <div class="dropdown-divider"></div>  -->
                                        <!--<a class="dropdown-item" role="presentation" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div> -->
                                </div>
                            </li>	
						</ul>
					</div>
				</nav>
            
		        <!-- End of Nav Bar Guest -->     
              
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
									
                                    <p class="text-center" style="margin: 75px 50px 0px;"><br>You are going to receive an email with a secret code. Copy this secret code for authentification.<br>
                                    <br>Each time you will connect to your identity your will receive a secret code for authentification.<br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >Check your email</h4></div>
                                   
                                    <form class="user" action="/login/authentification/" method="post">
                                        <h6 class="text-warning">{{get_flashed_messages()[0]}}</h6>										
                                        <div class="form-group"><input class="form-control" type="text" placeholder="Enter your secret code" name="code" style="color: rgb(133,135,150);"></div>                                      
                                        <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Send Code</button> 
                                    </form>
                                    <div class="text-center"><a class="small" href="">Forgot username ?</a></div>
                                    <div class="text-center"><a class="small" href="/login/">Back to Login !</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
                         {% include 'user_footer.html' %}    

        
    </div>
    
<!--    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div> -->
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
 
</body>

</html>
