<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>

<body style="background-color: rgb(255,254,254);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
				
				<div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">				
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
                                    <p class="text-center" style="margin: 75px 50px 0px;"><br><br>Enter your username and you
                                        will receive a secret code by email to confirm your identity.<br><br>There is no centralized database.<br>Your data are protected by your cryptographics keys.<br><br></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back</h4>
                                    </div>
                                    <form class="user" action="/login/" method="POST">
                                           
                                        <div class="form-group">
											<div class="custom-control custom-checkbox small"><h6 class="text-warning">{{get_flashed_messages()[0]}}</h6></div>
										</div>	
                                        
                                        <div class="form-group">
											<input class="form-control" type="text" placeholder="Enter your username" name="username" style="color: rgb(133,135,150);" required>
										</div>
										
                                        
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                                        
                                        <br>
                                        
                                    </form>
                                    <div class="text-center"><a class="small" href="">Forgot username ?</a></div>
                                    <div class="text-center"><a class="small" href="/talao/register/">Create a new professional Identity</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
