<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}

 <style type="text/css">
      #qrcode {
    width: 244px;
    margin-right: auto;
    margin-left: auto;
   }
</style>

</head>
<body id="page-top" onload="page_onload()">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
			    {% if messages %}
				{% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				{% endfor %}
			    {% endif %}
		        {% endwith %}
                {% include 'guest_nav_bar.html' %}
                <div class="container d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col-4 ">
				            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body">
                                    <div class="text-center"><h4 class="text-dark mb-4">Register or connect with your smartphone wallet</h4></div>
                                    <div id="qrcode">
                                        <canvas id="canvas" width="244" title="Scan with your mobile wallet." style="border:1px solid #000000;" ></canvas>
                                    </div>
                                    <div class="text-center"><a class="small" href="/help/?file=wc_help.html" >Help</a></div>  
                                    <div class="text-center"><a class="small" href="/login/?mode=mobile_on" >Try larger !</a></div>  
                                    <div class="text-center"><a class="small" href="/login/?mode=password" >Connect with password</a></div>  
                                    <div class="text-center"><a class="small" href="/register/" >Register with password</a></div>  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container d-block d-lg-none">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-10 col-xl-8">
				            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                            <div class="text-center"><h4 class="text-dark mb-4">Connect with password</h4></div>
                                                <form class="user" action="/login/" method="POST">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input class="form-control" type="text" title="Enter your username" value="{{username}}" name="username" style="color: rgb(133,135,150);" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input required="" class="form-control"  type="password" title="Default password is identity"  name="password" style="color: rgb(133,135,150);"></div>
                                                    <br>
                                                    <button class="btn btn-primary btn-block text-white btn-user" id="" type="submit">Next</button>
                                                </form>
                                                <div class="text-center"><a class="small" href="/forgot_password/">Forgot Password</a></div>  
                                                <div class="text-center"><a class="small" href="/forgot_username/">Forgot Username</a></div>
                                                <div class="text-center"><a class="small" href="/login/?mode=mobile_on">Connect with wallet</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   <<script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>

    <script>async function page_onload() {
        window.onEnd();
        let value = await window.onInit('mobile_off');
        window.location = "/wc_login/?wallet_address=" + value[0] + '&wallet_name=' + value[1] + '&wallet_logo=' + value[2];
        }
        </script>

</body>
</html>
