<!DOCTYPE html>
<!-- menu.html-->
<html>
  <head>
    {% include 'head.html' %}

   

  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %}

    <div class="text-center mt-5">
        <br><br><br>


        <h1  style="color: rgb(54, 24, 88);"">Choose your Issuer or Verifier connector</h1>
        <br><br>


        <div class="row my-5">

            <div class="col-4 mx-auto">
              <div id="id_qrcode" class="text-center">
                 <a href="/sandbox/saas4ssi/verifier"> 
                 <h3><strong>Verifier with OpenID for Altme Wallet</strong></h3>
                 </a>
                 Web2 or Web3 applications with a backend. Standard OIDC authorization code flow or implicit flow.
                 More than 20 librairies for popular frameworks (Nodejs, Python,  C, Rust, PHP, Go, Ruby, ...).
                 CMS as Webflow, Wordpress with OpenID pluggins.
              </div> 
          </div>

          <div class="col-4 mx-auto">
            <div id="id_qrcode" class="text-center">
                <a href="/sandbox/saas4ssi/beacon/verifier">
                <h3><strong>Verifier with Beacon for Altme Wallet</strong></h3>
                </a>
                Web3 applications on Tezos. Beacon is the protocol used between dApps and wallets in the Tezos ecosystem. 
                You can now request credentials to your users through a unique Beacon QRcode.
                 Integration in minutes through a Beacon payload. Backend recieves data in a webhook and user's addresses could be whitelisted or a SBT could be minted.
            </div> 
        </div>

        </div>
        <div class="row my-5">


        <div class="col-4 mx-auto">
          <div id="id_qrcode" class="text-center">
              <a href="/sandbox/saas4ssi/ebsi/verifier">
              <h3><strong>Verifier with OpenID for EBSI wallets</strong></h3>
              </a>
              For web2 applications with all frameworks (Nodejs, Python, C, Ruby, Java,...) and popular CMS (Webflow, Wordess,...).
              Connect with standard OpenID auhorization code flow or implicit flow. This verifiers accepts EBSI compliant wallets with support for
              did:ebsi. 
          </div> 
      </div>

        <div class="col-4 mx-auto">
          <div id="id_qrcode" class="text-center">
              <a href="">
              <h3><strong>Verifier with WalletConnect for Altme Wallet (soon)</strong></h3>
              </a>
              Web3 applications on Ethereum, Polygon, Fantom, Binance. WalletConnect is the protocol used between dApp and wallet in the EVM ecosystem. 
              You can now request credentials to your users through WalletConnect QR code.
               Integration in minutes with a personal sign walletconnect message. Backend recieves data in a webhook and addresses could be whitelisted or a SBT could be minted.
          </div> 
      </div>

        </div>
<hr>
        <div class="row my-5">

        <div class="col-4 mx-auto">
          <div id="id_qrcode" class="text-center">
              <a href="/sandbox/saas4ssi/issuer">           
                <h3><strong>Issuer with a Webhook for Altme Wallet</strong></h3>
              </a>
              Web2 or Web3 applications with a backend. More than 20 supported VC. KMS support.
              Simply add a webhook in your application to receive requested VCs for issuance and export user data.
              Support of login/password pre authentication method with static password or TOTP.
          </div> 
      </div>

        <div class="col-4 mx-auto">
          <div id="id_qrcode" class="text-center">
              <a href="/sandbox/saas4ssi/beacon">
              <h3><strong>Issuer with Beacon for Altme Wallet</strong></h3>
              </a>
              Web3 applications on Tezos. Beacon is the protocol used between dApp and wallet in the Tezos ecosystem. 
              You can now issue credentials to your users through Beacon. Integration in minutes with a beacon payload.
          </div> 
      </div>

    </div>
    <div class="row my-5">


      <div class="col-4 mx-auto">
        <div id="id_qrcode" class="text-center">
            <a href="">
            <h3><strong>Issuer with WalletConnect for Altme WAllet (soon)</strong></h3>
            </a>
            Web3 applications on Ethereum, Polygon, Fantom, Binance. WalletConnect is the protocol used between dApps and wallets in the EVM ecosystem.
          You can now issue credentials to your users through WallketConnect pairing. Integration in minutes with a personal sign message.
        </div> 
    </div>


    <div class="col-4 mx-auto">
      <div id="id_qrcode" class="text-center">
          <a href="">
          <h3><strong>Issuer with a Webhook for EBSI wallets (soon)</strong></h3>
          </a>
         to be explained
      </div> 
  </div>
   
        </div>
       
   </div>
   {% include 'user_footer.html' %}


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>