<!DOCTYPE html>
<!-- menu.html-->
<html>
  <head>
    {% include 'head.html'  %}

   

  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %}

    <div class="text-center mt-5">
        <br><br><br>
        <h1  style="color: rgb(54, 24, 88);"">Choose your Issuer or Verifier</h1>
        <br><br>


       
     
    <div class="row my-5">
    <div class="col-6 mx-auto">
      <div id="id_qrcode" class="text-center">
          <a href="/verifier">
          <h3><strong>SIOPV2-OIDC4VP verifiers for mobile wallets</strong></h3>
          </a>
          This is a bridge between the SIOPv2/OIDC4VP verifier flow and a standard OpenID authorization code flow and implicit flow.
          For web2 applications with all frameworks (Nodejs, Python, C, Ruby, Java,...) and popular CMS (Webflow, Wordess,...).
          This verifier supports different profiles as EBSIV2, GAIA-X, ....
        This verifier accepts EBSI compliant wallets with support for did:ebsi.<br>
        <a href="https://openid.net/specs/openid-4-verifiable-presentations-1_0.html">See OIDC4VP standards</a><br>
        <a href="https://openid.net/specs/openid-connect-self-issued-v2-1_0.html">See SIOPV2 standards</a>


      </div> 
  </div>
    </div>



    <div class="row my-5">
    <div class="col-4 mx-auto">
      <div id="id_qrcode" class="text-center">
        <a href="/issuer">
          <h3><strong>OIDC4VCI issuers for mobile wallets</strong></h3>
          </a>
         This verifier supports different profiles as EBSIV2, GAIAX, ...(In progress)<br>
         Support of authorization code flow and pre-authorized_code flow <br>
         <a href="https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html">See OIDC4VCI standards</a>
      </div> 
  </div>
        </div>


           
       
   </div>
   {% include 'user_footer.html' %}
              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>