<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                                                                                                             {% include 'guest_nav_bar.html' %}    

                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-8 col-xl-4 offset-xl-4">
                            <div class="row">
                                <div class="col-lg-9 col-xl-12 offset-lg-4 offset-xl-0">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-xl-9">
                                                    <p class="text-secondary m-0 font-weight-bold"><strong>{{firstname}} {{lastname}}&nbsp;</strong>Professional Certificate issued by {{manager}}.</p>
                                                </div>
                                                
                                                
												<div class="col">
                                                    <p class="text-right">
                                                  {% if call_from == 'user' %}
														<a href="/user/" ><strong>Back</strong> </a>&nbsp;&nbsp;
                                                  {% endif %}  
                                                   {% if call_from == 'explore' %}
														<a href="/user/issuer_explore/?issuer_username={{issuer_username}}" ><strong>Back</strong></a>&nbsp;&nbsp;
                                                  {% endif %} 
                                                
                                                    <a href="/certificate/verify/?certificate_id={{certificate_id}}&call_from={{call_from}}"><strong>Check Data</strong></a></p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                                
                                   <!--             <div class="col">
                                                    <p class="text-right">&nbsp;<a href="/certificate/verify/?certificate_id={{certificate_id}}&call_from={{call_from}}"><strong>Check data</strong></a></p>
                                                </div>
                                            </div>
                                        </div>   -->
                                        
                                        
                                        
                                        <div class="card-body">
                                            <form action="/user/user_settings/" method="POST">
                                                <div class="form-row">
                                                    <div class="col-xl-12 offset-xl-0">
                                                        <p class="text-center"><strong>{{title}}</strong><br></p>
                                                        <p class="text-center" style="font-size: 12px;">from {{start_date}} to {{end_date}}</p>
                                                        <textarea class="form-control" row="(" style="font-size: 16-px;">{{description}}</textarea>
                                                        <hr>
                                                        <div>
                                                            <div class="text-center">
                                                                  		{{badge|safe}}  
                                                            </div>
                                                            <hr>
                                                            
                                                               
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How satisfied are you with the overall elivery ?</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star00}}"></i><i class="fa fa-star" style="{{star01}}"></i><i class="fa fa-star" style="{{star02}}"></i><i class="fa fa-star" style="{{star03}}"></i><i class="fa fa-star" style="{{star04}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How likely are you to recommend this talent to others ?</p>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star10}}"></i><i class="fa fa-star" style="{{star11}}"></i><i class="fa fa-star" style="{{star12}}"></i><i class="fa fa-star" style="{{star13}}"></i><i class="fa fa-star" style="{{star14}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How would you rate his/her ability to deliver to schedule ?</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star20}}"></i><i class="fa fa-star" style="{{star21}}"></i><i class="fa fa-star" style="{{star22}}"></i><i class="fa fa-star" style="{{star23}}"></i><i class="fa fa-star" style="{{star24}}"></i></div>
                                                            </div>
                                                          
                                                          
                                                           <div class="form-row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <p style="font-size: 16px;">How would you rate his/her overall communication skills ?</p>
                                                                    </div>
                                                                </div>
                                                                   <div class="col-md-12 col-xl-2 order-1" style="height: 60px;"><i class="fa fa-star" style="{{star30}}"></i><i class="fa fa-star" style="{{star31}}"></i><i class="fa fa-star" style="{{star32}}"></i><i class="fa fa-star" style="{{star33}}"></i><i class="fa fa-star" style="{{star34}}"></i></div>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               {% include 'user_footer.html' %} 
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>  
</body>

</html>
