<!DOCTYPE html>
<!-- qrcode 2 -->
<html style="background-color: {{ page_background_color }} ">
  <head>
   
    <meta charset="utf-8">
   <meta name="viewport" content="width=300px, initial-scale=1, maximum-scale=1">  
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>
    <title>{{company_name}}</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome/css/all.css') }}"> 
  </head>
  <body >

        <div id="content_desktop" class="d-none d-sm-block " style="background-color: {{page_background_color}} " >

          
          <font color="{{page_text_color}}">  

          <div class="mt-2 p-2">
            <a href="https://altme.io"><img  src="/static/img/bloometa.png" style="width: 200px;border-radius:0px;"></a>
          </div>
          
          <div class="text-center mt-5">
            <h1 class="card-text">{{page_title}}</h1><br>
            <h3 class="card-text">{{page_subtitle}}</h3><br>
            <div class="row">
              <div class="col-6 offset-3">
                <h5 class="card-text">{{page_description}}</h5>
              </div>
            </div>
          </div> 

          <div class="row d-flex justify-content-center ">    
              <div class="col-2">

              <div class="text-center border-radius: 20%">
                <div class="card shadow border-dark mt-5 " style="border-radius: 4%; background-color: {{qrcode_background_color}} ">
                <img class="card-img-top p-3 " src="{{ qrcode(url) }}">
                  
                </div>
              </div>
              <div class="row">
                <div class="col">
                <a class="text-secondary" href={{privacy_url}}><small>Privacy</small></a>
                </div>
                <div class="col">
                <a class="text-secondary" href={{terms_url}}><small>Terms & conditions</small></a>
                </div>
              </div>  
            </div>  
          </div>  

          {% if back_button  %}
          <div class="text-center mt-5">
            <button  onclick="goBack()" class="btn btn-outline-secondary mt-2">Back to configurator</button>
          </div>  
          {% endif %}
        </div>
        
        
          
        <div id="content_smartphone" class="d-block d-sm-none mt-5 "> 
          <font color="{{page_text_color}}">  
      
            <a href="{{deeplink_altme}}"><img src="/static/img/bloometa_card.png" class="card-img-top mt-3 p-3"></a>
           
                <div class="text-center">
                  <div class="text-center my-1 p-3">
                    <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;">Click here to get your Bloometa Pass into your wallet</p>
                    <div class="col mb-3"></a>
                                
                    </div>
                  </div>      
              
            
            </div>  

            {% include 'footer.html' %}
       
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
 
      <script>      
                function goBack() {  window.history.back();}
      </script>
       
      <script>
        var source = new EventSource('/sandbox/op/issuer_stream');
        source.onmessage = function (event) {
        const data = JSON.parse(event.data)
        if (data.stream_id == '{{stream_id}}' && data.result == true){
          window.location.href='/sandbox/op/issuer_followup?issuer_id=' + '{{issuer_id}}';
          }
          if (data.stream_id == '{{stream_id}}' && data.result == false){
          window.location.href='/sandbox/op/issuer_followup?issuer_id=' + '{{issuer_id}}' + '&message=' + data.message;
          }
        };
      </script>
      
      
    
     

      </font>
  </body>
</html>