<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background.png');">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
              <span>{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% include 'user_nav_bar.html' %}

        <div class="container-fluid">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}
            <a class="text-secondary" onclick="copyToClipboard('#p100')">
              <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your portfolio."></i>
            </a>
            <p hidden id="p100">{{clipboard}}</p></h3>
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
          </div>
            <div class="row">
              <div class="col-xl-8 offset-xl-2">
                <div class="card-deck">
                  <div class="card shadow mb-5">
                    <div class="card-body">
                      <h4 class="text-center" title="Complete your Resume.">{{_('My Resume')}}</h4>
                      <div role="tablist" id="accordion-1">

                        <div class="card">
                          <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="List of all your personal details.">
                            <h5 class="mb-0"><i class="fa fa-user"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1.item-1" href="#accordion-1 .item-1"> {{_('Personal Details')}}</a></h5>
                          </div>
                          <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                              <div style="overflow:auto;overflow-x: hidden;">
                                <p class="card-text">{{personal|safe}}</p>
                                <a href="/user/update_personal_settings/">
                                <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button">{{_('Update')}}</button></div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="card">
                          <div class="card-header" role="tab" title="The File Store is a personal digital storage to save your files (public or encrypted).">
                            <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0"><i class="fa fa-database"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5"
                                href="#accordion-1 .item-5"> {{_('File Store')}}</a></h5>
                          </div>
                          <div class="collapse  item-5" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                              <div style="overflow:auto;overflow-x: hidden;">
                              <p class="card-text">{{digitalvault|safe}}</p>
                              <a href="/user/store_file/">
                              <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button"> {{_('Store file')}}</button></div>
                              </a>
                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" role="tab" data-toggle="tooltip" data-bs-tooltip="" title="List of all the experiences you provided.">
                            <h5 class="mb-0"><i class="fa fa-briefcase"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordio-1.item-2" href="#accordion-1 .item-3"> {{_('Experience and current activities')}}</a></h5>
                          </div>
                          <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                              <div style="height:400px;overflow:auto;overflow-x: hidden;">
                                <p class="card-text">{{experience|safe}}</p></div>

                                <div class="form-row">
                                  <div class="col">
                                    <a href="/user/add_experience">
                                      <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button">{{_('Add Experience')}}</button></div>
                                    </a>
                                  </div>
                                  <div class="col">
                                    <a href="/user/add_activity">
                                      <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button">{{_('Add Current')}}</button></div>
                                    </a>
                                  </div>
                                </div>  



                                <br>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" role="tab" title="List of all your education and training degrees you provided.">
                            <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0"><i class="fa fa-graduation-cap"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4"
                                href="#accordion-1 .item-4"> {{_('Education')}}</a></h5>
                          </div>
                          <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">

                              <div style="overflow:auto;overflow-x: hidden;">
                                <p class="card-text">{{education|safe}}</p>
                                <a href="/user/add_education">
                                <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button">{{_('Add Education')}}</button></div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" role="tab" title="List of all your technical skills, soft skills or languages capacity.">
                            <h5 data-toggle="tooltip" data-bs-tooltip="" class="mb-0"><i class="fa fa-language"></i><a class="text-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-6"
                                href="#accordion-1 .item-6"> {{_('Skills')}}</a></h5>
                          </div>
                          <div class="collapse item-6" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                              <div style="overflow:auto;overflow-x: hidden;">
                              <p class="card-text">{{skills|safe}}</p>
                              <a href="/user/update_skills">
                              <div class="form-group"><button class="btn btn-primary btn-sm pull-right" type="button">{{_('Update Skills')}}</button></div>
                              </a>
                            </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="card shadow mb-5">
                    <div class="card-body">
                      <h4 class="text-center">{{nb_certificates}} {{_('Credential(s)')}} </h4>
                      {% if session['all_certificate'] == [] %}
                      <div style="height:50px;overflow:auto;overflow-x: hidden;">
                        <p class="card-text">{{certificates|safe}}</p>
                      </div>
                      {% else %}
                      <div style="height:400px;overflow:auto;overflow-x: hidden;">
                        <p class="card-text">{{certificates|safe}}</p>
                      </div>
                      {% endif %}
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-3 text-center">
                <a class="dropdown-item" title="Download your personal QRCode" role="presentation" href="/user/download_QRCode/"><i class="fa fa-download fa-sm fa-fw mr-2 text-gray-400"></i>{{_('QRCode to link your portfolio')}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>

  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='encryption.js') }}"></script>


<script>

var KeyPair;

async function pageonload(){
  if ("{{session['check_identity_key']}}" != "False")
    {return ;}
  const encrypted_key = localStorage.getItem('identity_key');
  var key;
  if (!encrypted_key) {
      promptUser();
      }
  else {
      key = await Decode(encrypted_key, "{{session['username']}}");
      if (key == 'error') {
        promptUser();
        }
    return ;
  }

function promptUser(){
  var answer = window.confirm("{{_("Your local Identity keys are no more available. Update your browser with new keys ?")}}");  
  if (answer) {
      window.location.href = "/user/import_identity_key/";
      }
  else {
    window.location.href = "/user/";
    }
  }

}


</script>
</body>
</html>
