<!DOCTYPE html>
<!-- playground.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include 'sandbox_nav_bar.html' %}
                <div class="container-fluid my-5">

                 
            
                <hr>
                    <div class="text-center">
                        <h4>Verifiable Credentials for wallet Demo</h4>
                    </div>
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Voucher.jsonld"><img  src="/static/img/voucher.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a NFT voucher</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/certificate_of_employment.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a certificate of employment</strong>
                            </div>
                        </div>
                      
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=LearningAchievement.jsonld"><img  src="/static/img/diploma.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a Diploma</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=emailpass.jsonld"><img  src="/static/img/email_proof.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get an email proof (fake)</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=StudentCard.jsonld"><img  src="/static/img/student_card.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a Student Card</strong>
                            </div>
                        </div>
                        
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Over18.jsonld"><img  src="/static/img/over18.jpg"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get an Over 18 proof (fake)</strong>
                            </div>
                        </div>
                       
                       
                    </div>

                    <hr>

                    <div class="text-center">
                        <h4>Tools</h4>
                    </div>
                   
                    <div class="row my-5">

                       

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/display_VP"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Display a Verifiable Presentations content</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/presentationRequest"><img  src="/static/img/7.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>QueryByExample test</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/credentialOffer2"><img  src="/static/img/8.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Issuer simulator for all VCs</strong>
                            </div> 
                        </div>

                       

                    </div>
                    
                    <hr>
                    <div class="text-center">
                        <h4>Under dev</h4>
                    </div>

                    <div class="row my-5">
            
                
                        
                        <div class="col mt-4">
                            <div  class="text-center">
                                <form name="form" action="/sandbox/direct_offer" method="GET">
                                    <img src="/static/img/Associated-wallet-orange.png"  style="width: 300px;border-radius:0px;">
                                    <br><strong>Talao account</strong>
                                    <div class="form-group"><label>simulate a TALAO token account :  </label><br><input type="text" name="talao"></div>
                                    <input hidden type="text" name="VC" value="TalaoAssociatedAddress.jsonld">
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Get your TALAO account proof</button></div>
                                </form> 
                            </div>
                        </div>

                        
<!--
                        <div class="col mt-4">
                            <div  class="text-center">
                                <form name="form" action="/sandbox/direct_offer" method="GET">
                                    <img src="/static/img/Associated-wallet-orange.png"  style="width: 300px;border-radius:0px;">
                                    <br><strong>Tezos Associated Address</strong>
                                    <div class="form-group"><label>simulate a Tezos associated address :  </label><br><input type="text" name="address"></div>
                                    <input hidden type="text" name="VC" value="TezosAssociatedAddress.jsonld">
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Get your associated wallet proof</button></div>
                                </form> 
                            </div>
                            </div>
                        </div>  -->
                        
                       
                    </div>
                    <hr>
                    <div class="text-center">
                        <h4>Issuer and Verifier generator experiment tool</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/saas4ssi"><img  src="/static/img/12.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Enter Saas for SSI tool</strong>
                            </div> 
                        </div>


                    </div>




                    <hr>
                    <div class="text-center">
                        <h4>Issuer with credential manifest and output descriptor</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=compellio_ticket.jsonld"><img  src="/static/img/compellio.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>Compellio ticket</strong>
                            </div>
                        </div>


                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=TezVoucher_1.jsonld"><img  src="/static/img/12.png"  style="width: 250px;border-radius:0px;"></a>
                                <br><strong>Tezotopia Voucher</strong>
                            </div>
                        </div>


                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=compellio_club_membership.jsonld"><img  src="/static/img/compellio.jpeg"  style="width: 150px;border-radius:0px;"></a>
                                <br><strong>Compellio club membership</strong>
                            </div>
                        </div>

                    </div>

                    <hr>
                    <div class="text-center">
                        <h4>Type and format</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Test.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Test for format and type for wallet rendering</strong>
                            </div>
                        </div>
                    </div>


                    <hr>
                    <div class="text-center">
                        <h4>EBSI simulation</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=VerifiableDiploma.jsonld"><img  src="/static/img/15.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>EBSILUX verifiable diploma signed with did:ebsi</strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
