<!DOCTYPE html>
<!-- playground.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include 'saas_nav_bar.html' %}
                <div class="container-fluid my-5">

                    <div class="text-center">
                        <h4>On-chain DeFi compliance with non transferable NFT and Decentralized Identity (verifiable credentials)</h4>
                    </div>

                    <div class="row my-5">  
                        <div class="col-4 offset-4">
                            <form action="/sandbox/playground/nft" method="POST">
                                <div id="id_qrcode" class="text-center">
                                    <br><br>
                                    <button class="btn btn-light shadow-none"  type="submit">
                                        <img  src="/static/img/defi.jpeg"  style="width: 600px;">
                                    </button>
                                </div>
                             </form>
                        </div>
                    </div>


                    <div class="text-center">
                        <h4>Verifiable Credentials for wallet Demo (fake data)</h4>
                    </div>
                    <div class="row my-5">
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=TalaoCommunity.jsonld"><img  src="/static/img/talao_community_card.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a Talao community card</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=CertificateOfEmployment.jsonld"><img  src="/static/img/certificate_of_employment.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a certificate of employment</strong>
                            </div>
                        </div>
                      
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=VerifiableDiploma.jsonld"><img  src="/static/img/diploma_card.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a Diploma</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row my-5">
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=StudentCard.jsonld"><img  src="/static/img/student_card.png"  style="width: 360px;border-radius:0px;"></a>
                                <br><strong>Get a Student Card</strong>
                            </div>
                        </div>
                        
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Over18.jsonld"><img  src="/static/img/over18.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get an Over 18 proof</strong>
                            </div>
                        </div>

                        </div>

                    <div class="row my-5">  
                        <div class="col-4 offset-4">
                            <form action="/sandbox/playground" method="POST">
                                <div id="id_qrcode" class="text-center">
                                    <img  src="/static/img/nationality.png"  style="width: 350px;border-radius:0px;">
                                    <br><strong>Nationality : </strong><input type="text" name="nationality" size="10">
                                    <button  class="btn btn-primary btn-sm" style="background-color: #09060f;" value="activity" type="submit">Issue</button>
                                </div>
                             </form>        
                        </div>
                    </div>
                  

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Over13.jsonld"><img  src="/static/img/over13.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get an Over13 proof</strong>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="https://issuer.talao.co/phonepass"><img  src="/static/img/phone_proof.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Get a proof of phone number (real)</strong>
                            </div>
                        </div>
                        
                        
                       
                    
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=TezVoucher_1.jsonld"><img  src="/static/img/voucher_tezotopia.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Get a Tezotopia voucher</strong>
                            </div>
                        </div>
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=MembershipCard_1.jsonld"><img  src="/static/img/Membership card.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Get a Tezotopia membership card</strong>
                            </div>
                        </div>
                       
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=AragoPass.jsonld"><img  src="/static/img/arago_card.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Get an Arago Pass</strong>
                            </div>
                        </div>
                    
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=DefiCompliance.jsonld"><img  src="/static/img/defi_card.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Get a DeFi Compliance card</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=EthereumAssociatedAddress.jsonld"><img  src="/static/img/ethereum_blockchain_account.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Ethereum associated address</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=LinkedAddress.jsonld"><img  src="/static/img/linked_blockchain_account.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Linked address</strong>
                            </div>
                        </div>
                        
                       
                       
                    
                    </div>

                    <hr>

                    <div class="text-center">
                        <h4>Tools</h4>
                    </div>
                   
                    <div class="row my-5">


                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/presentationRequest"><img  src="/static/img/7.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>QueryByExample test</strong>
                            </div>
                        </div>
                        
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=Test.jsonld"><img  src="/static/img/7.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Test format</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/credentialOffer2"><img  src="/static/img/8.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Issuer simulator for all VCs</strong>
                            </div> 
                        </div>

                        

                    </div>

                 



                    
                    <hr>
                    <div class="text-center">
                        <h4>Under dev</h4>
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=CustomType.jsonld"><img  src="/static/img/linked_blockchain_account.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Custom Type credential design </strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=GamerPass.jsonld"><img  src="/static/img/commitment.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>GamerPass with optional DeviceInfo</strong>
                            </div>
                        </div>

                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=LoyaltyCard.jsonld"><img  src="/static/img/loyaltycard.png"  style="width: 325px;border-radius:0px;"></a>
                                <br><strong>Loyalty card/Voucher multiple blockchain</strong>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row my-5">
                        <div class="col mt-4">
                            <div id="id_qrcode" class="text-center">
                                <a href="/sandbox/direct_offer?VC=PCDSAgentCertificate.jsonld"><img  src="/static/img/pcds.png"  style="width: 350px;border-radius:0px;"></a>
                                <br><strong>Compellio PCDS Agent Certificate</strong>
                            </div>
                        </div>
                     
                    </div> 

                </div>
            </div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

</body>

</html>
