<!DOCTYPE html>
<!-- pricing.html -->
<html>
<head> {% include 'head.html' %}</head>
<body id="page-top" >
<div class="d-flex flex-column" id="content-wrapper">
    {% include 'saas_nav_bar.html' %}

                
    <div class="container-fluid  ">

      
<div class="p-5" >
  
                   
    <div class="text-center">
        <h3><strong>Increase traffic, retain users and improve user experience</strong></h3>
        <br>Decentralized CRM is now the best option for developing innovative customer relationship management while preserving the confidentiality of user data.
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/level.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Gaming ranking</strong>
                <br>Tezos operators can update the ranking of the gamers through an open access API. User can access to their ranking in real time. The credential is stored in the user wallet only.
                 User can display their proof of ranking on a public website or a social network account even transfer it to another user.
            </div>
        </div> 

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Free
            </div>
        </div> 
        
    </div>
    <div class="row my-5">

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/reputation.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Community reputation</strong>
                <br>This credential is issued by Altme on behalf of a Tezos community. Tezos operators can update the reputation of their gamers through an open access API.
                User can display this credential on a public website or a social network account or even transfer it to another user.

            </div>
        </div> 

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Free
            </div>
        </div> 

    </div>

    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/voucher_tezotopia.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Voucher</strong>
                <br>This reward maybe issued by the gaming platform or by Altme on behalf of the gaming plateform to increase traffic 
               (sometimes as a referral). Blockchain addresses are the only data requested to user.
                Example : <a href = "https://issuer.tezotopia.altme.io/issuer/voucher_62fe4e8eb88bd3be9701997a">Tezotopia voucher</a>.
            </div>
        </div> 

        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 49€/month
                <br>Optional custom card : 1,500€
            </div>
        </div> 
    </div>
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/Membership card.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
       
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Membership and loyalty cards</strong>
                <br>User gets a benefit in exchange of personal data while keeping their privacy.
                 This is an opportunity for gaming platforms to retain their customers and improve their marketing process.
                 In this example 2 credentials with limited identity disclosure are requested to get that membership : <a href="https://issuer.tezotopia.altme.io/issuer/membership_6319e578921c3fcd1617e188">Tezotopia membership card </a>on Tezos.
            </div>
        </div> 
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 49€/month + 2€/user
                <br>Optional custom card : 1,500€
            </div>
        </div> 
    </div>

   
    <div class="row my-5">
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/discord_tezotopia.png"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <strong>Game community on Discord</strong>
                <br>Verify that a Discord member is a game player without identity and blockchain address disclosure.

            </div>
        </div> 
        <div class="col">
            <div id="id_qrcode" class="text-center">
                <br>Subscription fees 49€/month
            </div>
        </div> 
    </div> 
    
    
    
</div>


           
</div>
        </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>

</html>
