<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}

                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Privacy</p>
                                </div>
                                <div class="card-body">
                                    <form action="/user/add_controller/" method="post">
                                        <div class="form-row">
                                            <div class="col">

<div style="height:600px;overflow:auto;overflow-x: hidden;"> <!-- debut de scroll -->


</p>
<p>Last Updated: November 17, 2020<br>
    <br>
    Protecting your privacy is important to us. Talao is committed to protecting the privacy, security and accuracy of personal information they collect,
    use or disclose in accordance with applicable law. This privacy protection policy (the « Policy of privacy ») is a statement of principles and guidelines concerning the privacy of individuals using the services offered by Talao (except our personnel, whose personal information is collected, used and disclosed in accordance with our policy of protection of confidentiality for staff).</p>
<p>



</p>
<p>CONSENT <br />BY SUBMITTING PERSONAL INFORMATION TO TALAO OR ITS AGENTS, YOU AGREE THAT WE MAY COLLECT, USE AND DISCLOSE SUCH PERSONAL INFORMATION IN ACCORDANCE WITH THIS PRIVACY POLICY OF PRIVACY PREFERENCE REGARDING THE PROTECTION OF THAT CONFIDENTIALITY YOU WE HAVE INDICATED AND AS PERMITTED OR REQUIRED BY LAW. Subject to legal and contractual requirements, you may refuse or withdraw your consent to certain of the identified purposes at any time by contacting us. If you refuse or withdraw your consent, it may be that we are unable to provide or continue to provide certain services or information that may be helpful.</p>
<p>
</p>
<p><strong>1. Talao</strong><br />Talao is an French company registered in Paris.
    Talao provides a self sovereign identity based on decentralized ledgers as Blockchain pubic and private network.
    Traditionnal architectures to validate, certify, and manage professional data are based on centralized, top-down approaches that rely on third-party private operators. Unfortunatky these solutions often lead to inappropriate use of personal data and hacks.
    Talao approaches this issue starting from a user perspective through a Blockchain decentralized Identity focused on professional data.
    <br>
    Talao allows Professional Identities for Talents, Companies and certificates issuers such as Schools or Training Centers.
    It is for everyone the opportunity to use a new technology to get tamper proof professional data while keping the ownership of those data.
<br>
Identities with their certificates can be displayed anywhere on digital plateforms : social medias, websites, Jobboards, etc.
 They provide to third parties reliable data about professional experiences, skills and education.
 </p>
<p>
</p>
<p>This policy of privacy applies to the collection, use and disclosure of any personal information about users of our services.</p>
<p>

</p>
<p><strong>2. The type of personal information collected</strong> <br />
Legislation on privacy defines personal information very broadly as information about an « identifiable individual » or as information that identifies an individual.
The types of personal information we may collect from you from time to time include: your email address, your service preferences,
information about your education, your professional experience, your previous and current employers, your skills and information about the content you post to Talao.</p>
<p></p>
<p><strong>3. The reasons for the collection of personal information</strong> <br>
We collect your personal information for the purposes to provide the product, service or information you requested <br />
If you are a user of our services,
we use your professional data to build professional certificates and resume.
we use your email address and phone number for authentification.
we use your email address to provide you with any information you requested following a report.</p>
<p></p>

<p><strong>4. The communication of your personal information</strong></p>
<p></p>
<p>(a) Law enforcement and communication under legislation <br>
    Talao may disclose your personal information to a government agency that has asserted its lawful authority to obtain the information or where Talao has reasonable grounds to believe that the information could be useful in the investigation of unlawful activity, or to comply with a subpoena, warrant or court order, a person or body with jurisdiction requiring the submission of information, or to comply with a court decision concerning the presentation of information records. <br />
    Talao may also disclose your personal information to legal counsel.</p>
<p></p>
<p><strong>5. Control of Your Personal Information</strong> <br />Talao wants you to be able to maintain control over how we use your personal information. 
    <br />In particular: <br>
    You can have the right not to participate in some or all of those purposes, uses and disclosures listed in sections 3 and 4 above. <br>
    You always have the choice to ask us not to use your e-mail address, etc. and to provide the service or information you requested. <br>
    See « How to Contact Us » below.</p>
<p>
</p>
<p><strong>6. The storage of your personal information</strong> <br>
    Your personal information is stored on Private/Public Ethereum Blockchain and decentralized file system as IPFS. Your personal information is always encrypted.
    There are 3 different levels of data encryption. If you chose to let your data 'public', your data will be encrypted with a public key which can be found in the open code.
    If you chose to let your data 'private', your data will be encrypted with a special key you could communicate to "partners" you have chosen.
    If you chose to let your data 'secret', your data will be encrypted with a special key we cannot communicate through the platform.<br>
    For your information, please contact our responsible for the protection of confidentiality as identified in the section « Contact us » below) or 
    go to our online documentation <a href ="https://talao.readthedocs.io/en/latest/privacy/">https://talao.readthedocs.io/en/latest/privacy/</a></p>
<p>
</p>
<p><strong>7. The consultation of your personal information</strong> <br>
    Upon written request, subject to certain exceptions,
    Talao inform you of the existence, use and disclosure of your personal information and you will see them.
    You must send your request for our responsibility for protecting the confidentiality, details of which are classified « Contact us » below).</p>
<p></p>
<p><strong>8. The protection of your Personal Information</strong> <br>
    We make every reasonable effort to protect the loss,misuse and alteration of personal information under our control.
    Our security policies are periodically reviewed and enhanced as necessary.</p>
<p></p>
<p>Only authorized employees and suppliers have access to your personal information.
    When personal information is sent to a third party for processing, we make sure, through contractual agreements with it,
    that your personal information remains secure. We keep your personal information during the period when we provide a product or service and for a reasonable time thereafter in the event you wish to resume service.</p>
<p></p>
<p>We operate secure servers protected by firewall systems and password protection consistent with industry standards.</p>
<p></p>
<p><strong>9. The protection of confidentiality and websites</strong> <br>
    Talao sometimes collects personal information through its various websites.
    This clause provides additional information regarding the collection of personal information.</p>
<p></p>
<p>Cookies &#8211; When an individual visitor accesses the website Talao, we may use a browser feature called a « cookie » (cookie) to collect information such as browser type and operating system operating the visitor is using, the Web site domain name from which a visitor came, date and duration of the visit, number of visits, average time spent on our websites, pages viewed and number of cookies accumulated. A cookie is a small text file containing a unique identification number that identifies the visitor&rsquo;s browser (without necessarily identifying it) for our computers each time our websites are visited. Unless a visitor specifically informs us (p. Ex., by subscribing to our services or sending us a message from web sites), we will not know the identity of visitors. Visitors can reset their browser to notify them when they receive a cookie or decline cookies. 
    However, when visitors refuse cookies, it may be unable to use some of the features available on our websites.</p>
<p></p>
<p><strong>10. Changes to the privacy protection policy</strong><br />Talao reserves the right to modify or supplement this privacy protection policy at any time. If we make changes to this policy of privacy, we will post those changes on our websites and the amended policy available upon request to the responsible for the Talao privacy protection. However, Talao will obtain the necessary consents required under the law on the protection of applicable personal information if it seeks to collect, use or disclose personal information about an individual for purposes other than those for which the consent was given, unless it is otherwise required or permitted by law.</p>
<p>
</p>
<p><br><strong>11. How to Contact Us </strong><br />
    Talao has appointed an official of the privacy which oversees compliance with this privacy protection policy and applicable laws for the protection of personal information. 
    The contact information for the Talao protection of privacy are:</p>
<p>
</p>
<p>Responsible for protecting the confidentiality of Talao <br />Email: contact@talao.io</p>
<p></p>

<hr>

<b>Appendix 1</b><br>
Personal data protection - Your data on Talao<br>
<br>

<b>What personal data collected about me ?</b><br>

When you create a Talao identity, you provide us with personal information that includes your lastname, firstname, wallet addresses, username and a password. You can also choose to add a phone number
to your account for a better authentification process.Those data are stored on Talao servers.
When you fill your resume, you also provide us with professional data as educational degrees, professional experiences. skills.
When you store data files, you also provide us with the file content. Those information we collect are only duplicated on servers of a Blockchain network.
Depending of the Blockchain Network, Talao might eventually owns some on those servers for persistence.<br>
<br>

<b>When ?</b><br>
We collect the information you provide us including when: <br>
• you contact us via our contact form on our website <br>
* you create your identity and fill your resume<br>
<br>
<br>
<b>On what legal basis and what times are my personal data processed ?</b>
<br>
The processing of your personal data is justified by various foundations (legal basis) depending on the use we make of personal data. You will find below the legal basis that we apply to our main treatments. <br />• Legal basis treatments <br>
<br>
• With your consent. We ask for your agreement to process your information for specific purposes and you have the right to withdraw your consent at any time.
The processing of personal data is necessary for the performance of the service to which you have agreed.<br>
• When we’re providing a service. We process your data to provide a service you’ve asked for under a contract. For example we can process your information to request a 
professional exeperience certificate to a former employer. 
Without exception, you can at any time object to processing based on the legitimate interest by notifying Talao.</p>
<p>
</p>
<p>1. The data you provide us &#8211; Legal Basis Contract <br>
• firstname, lastname, E-mail address, phone<br>
We have these data to process authentification, improve our product, create services and generating reports.</p>
<p>2. The information we collect &#8211; Legal basis: Legitimate interest <br>
• IP Addresses <br>
• Browser <br>
• Clicks <br>
• Mapping <br>
We store this data to improve our product, create services and generate reports.<br>
<br>
<b>How we use the information we collect ?</b><br>
1. To provide, improve and develop our services <br>
2. To create and maintain a reliable and secure environment.</p>
<p></p>
<p><b>My rights as users</b><br>

<li>Manage your information</li>
You can access and update your information through your Account Settings Talao or by sending us a contact request.<br>

<li>Correction of inaccurate or incomplete</li>
You can correct inaccurate or incomplete personal information directly via your profile or sending us a contact request. <br />

<li>Objection and deletion of data</li>li>
After closing the account, the data is permanently deleted except for those that can afford to Talao justifying the execution of its legal or contractual obligations.
The data retained are for a limited period of one month and subject to no use during this time. <br />
You may terminate your account at any time by going directly to your Talao account to "delete your Identity".<br>
When you delete your identity, data collected by us (username, wallet address, password, email, phone) are deleted and
all links to your data stored on Blockchain servers are deleted. Data on Blockchain Network cannot be deleted but are no more accessible.

<li>Data protection and security infrastructure</li>
We attach great importance to the protection of customer information and privacy of their users.
We have established high safety standards. Talao is committed to take all reasonable measures to avoid any unwanted event (illegitimate access, modification or unwanted and disappearance of personal data). <br />
We collect navigational data to allow us to ensure the safety of our services and to detect, prevent or track any attempt of malice or computer intrusion or violation of the conditions of use of our services. <br />
Data is stored using the security concepts as: <br>
    • Firewall; <br />
    • Load balancers;<br/>
    • Data encryption; <br/>
    • Data replication in different geographical areas. <br />

<li>Delegate for Data Protection </li>
Thierry Thevenet<br />Role: Data protection Officer (DPO)<br />
Email: thierry.thevenet@talao.io</p>
<p>
</p>


<hr>
<p><b>Appendix 2</b>

   <br />The fair practices regarding information <br />Talao collects, uses and discloses your personal information using fair practices regarding information that correspond to the 10 principles of protection of the following personal information:</p>
<p>

</p>
<p><strong>Principle 1 Responsibility</strong><br />Talao is responsible for personal information 
    under its control and has designated an official of the privacy that must ensure compliance with Talao of this policy to protect the confidentiality and laws Privacy. 
    The contact information of the privacy protection are classified in « Contact us » of this policy of privacy. Furthermore, our liability for the personal information we collect continues even if we communicate such information to other organizations. For example, when we disclose your information to another organization (eg. Ex., One of our service providers)</p>
<p>
</p>
<p><strong>Principle 2 &#8211; Identifying Purposes for Collection of Personal Information</strong> <br />
    Talao will determine the purposes for which personal information is collected prior to collection or during it. Some of the purposes for which Talao collects, uses and discloses usually personal information are described in Section 3 of this policy privacy. If we intend to collect, use or disclose your personal information for additional purposes, we will amend this privacy protection policy (and we will notify you) or we will seek to obtain your consent.</p>
<p>


</p>
<p><strong>Principle 3 &#8211; Obtaining consent to the collection, use or disclosure of personal information</strong><br />We will obtain your consent to the collection, use or disclosure of your personal information, except as permitted by law. For example, we ask for your consent to the collection, use and disclosure of your personal information for the purposes described in clause 3 of this policy of privacy. You may withdraw your consent at any time with regard to some or all of the stated purposes, subject to legal or contractual restrictions and reasonable notice. However, please note that in certain circumstances, we may not be able to provide our services if you withdraw your consent with respect to our use of your personal information.</p>
<p>



</p>
<p><strong>Principle 4 &#8211; Limiting Collection of Personal Information</strong> <br />Talao will limit the collection of personal information, both in terms of quantity and type of information to what is necessary for the purposes identified by Talao. In addition, Talao will collect your personal information by fair and lawful way, without deceiving you or mislead you about the purpose for which the information is collected.</p>
<p>



</p>
<p><strong>Principle 5 &#8211; Limiting Use, Disclosure, and Retention of Personal Information </strong>
<br>Talao does not use or disclose personal information for purposes other than those for which it was collected unless you do there consent or that the law requires. Talao will keep your personal information as long as necessary for the fulfillment of those purposes.</p>
<p>



</p>
<p><strong>Principle 6 &#8211; Accuracy of Personal Information</strong> <br />Talao will endeavor to ensure that your personal information is as accurate, complete and current as necessary for the purposes for which they are intended. Talao will update personal information when necessary to achieve the purposes or upon notice of the individual concerned. Point Contact.ne not routinely update personal information, unless such process is necessary to fulfill the purposes identified. If your contact information and / or other personal information changes, please contact us so we can update our records.</p>
<p>



</p>
<p><strong>Principle 7 &#8211; Safeguards</strong> <br />
Talao will protect your personal information by security safeguards appropriate to the degree of sensitivity of the information. For example, computer servers in which we store your personal information is protected by firewalls and other security devices corresponding to industry standards. In addition, your personal information is made available to our employees and our service providers as a function of selective access to offer our services or otherwise fulfill the purposes specified in clause 3 above above.</p>
<p>
</p>
<p><strong>Principle 8 &#8211; Openness concerning policies and practices</strong>
 <br>Talao will ensure that specific information about its policies and practices regarding the management of your personal information is readily accessible.
  For example, the latest version of this policy of privacy will always be available on the Talao website at talao.co/privacy/ 
  and request protection officer confidentiality as identified in clause « contact us ».</p>
<p>
</p>
<p><strong>Principle 9 &#8211; Individual Access to Personal Information</strong>
<br />Upon written request, 
    subject to certain exceptions, Talao inform you of the existence of personal information about you, the use made of it and the fact that they been 
    disclosed to third parties, and you will see them. If we do not allow you to consult, Talao will notify you in writing, give reasons for the refusal 
    and inform you of possible remedies. If access is granted, Talao will give you a reasonable opportunity to review your personal information. You can challenge the accuracy and completeness of the information and have it amended as appropriate.<br />
</p>
<p></p>
<p><strong>Principle 10 &#8211; Challenging complaint regarding non-compliance of the principles </strong><br />you have the right to complain of non-compliance with this privacy protection policy by contacting the responsible for the Talao protection of privacy.</p>
</p>

</div> <!-- fin de scroll -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        {% include 'user_footer.html' %}

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
   <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
</body>

</html>