<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-12 col-xl-10">
                            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-login-image">
                                                <p class="text-center" style="margin: 75px 50px 0px;">
                                                    <br><br>
                                                    <br>Talao is a Blockchain protocol to manage a professional Self Sovereign Identity.<br><br>
                                                    * You own your data for your lifetime.</br>
                                                    * No one can access your encrypted data without your permission.</br>
                                                    * No storage costs.</br>
                                                    * Claims are verifiable,tamper proof and tracable.</br>
                                                    * Claims issuers are identified.<br>
                                                    <br>Enter your firstname, lastname, email and phone number for authentification.<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Create a new Professional Digital Identity</h4>
                                                </div>
                                            <div class="col" style="color: rgb(255,2,2);">
									            <div class="form-group"><div class="custom-control custom-checkbox small"><h6 class="text-danger" >{{message}}</h6></div>
								            </div>
                                            <form class="user" action="/register/" method="POST">
                                                <div class="form-group"><input class="form-control" type="text" placeholder="Firstname" value="{{firstname}}" name="firstname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="text" placeholder="Lastname" value="{{lastname}}" name="lastname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="email" placeholder="Email" value="{{email}}" name="email" required="" ></div>
                                                <div class="form-group"><input class="form-control" title="International phone numbers start with +, then country code and national phone number" 
                                                    pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
                                                     placeholder="International phone number" value="{{phone}}" name="phone" required ></div>

                                             <!--   <div class="form-group">  
                                                    <div class="form-row">
                                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                            <select name="code" class="form-control">
                                                                <optgroup>
                                                                    {% include 'country_code.html' %}
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><input title="Leave this field blank and update if you want to delete your phone number." placeholder="Phone number" class="form-control" type="text" name="phone" required></div>
                                                    </div>
                                                </div>-->

                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" name="CheckBox"  checked>
                                                    <label style="color: rgb(133,135,150);" title="The name directory is used to provide suggestion in the search bar. It links your username with your firstname and lastname. " >I accept to have my name in the Name Directory</label>
                                                </div>
                                                <button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Next</button>
                                            </form>
                                        <div class="text-center"><a class="small" href="/starter/">Back to Starter</a></div>
                                        <div class="text-center"><a class="small" href="/login/">Login</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% include 'user_footer.html' %}
                <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
                <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
                <script src="{{ url_for('static', filename='theme.js') }}"></script>
                <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        </div>
    </div>
</body>
</html>
