<!DOCTYPE html>
<!-- swap_ivacy.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                                            {% include 'user_nav_bar.html' %}
        <div class="container-fluid mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
            {% if session['type'] == 'company' %}
            <h6 class="text-dark mb-4">{{session['employee']}}, {{session['role']}} </h6>
            {% else %}
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
            {% endif %}
            <div class="row mb-3">
                <div class="col-lg-4 offset-lg-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold text-center">{{_('Remove a Credential')}}</p>
                        </div>
                        <div class="card-body">
                            <form name="form" action="/user/remove_certificate/" method="post">
                                <div class="form-row">
                                        <div class="col-6 col-md-3 offset-md-3 ">
                                            <div class="form-group"><button id="in_progress_button" class="btn btn-primary btn-sm" type="submit">{{_('Confirm')}}</button></div>
                                        </div>
                                        <div class="col-6 col-md-3">
										<a href="/user/?username={{username}}">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">{{_('Cancel')}}</button></div>
                                        </a>
                                    </div>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                           {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

</body>

</html>
