<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        {% include 'user_nav_bar.html' %}
        <div class="container-fluid  mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}
              <a class="text-secondary" onclick="copyToClipboard('#p100')">
                <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
              </a>
            </h3>
            <p hidden id="p100">{{clipboard}}</p>
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
          </div>
          <div class="row mb-3">
            <div class="col-lg col-xl">

              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <div class="row">
                    <div class="col-xl-6">
                      <p class="text-primary m-0 font-weight-bold">&nbsp;Bug repport</p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form name="form" action="/report" method="POST">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group text-dark"><label><strong>Email</strong> (we migth need to contact you)<br></label><input class="form-control" type="email" title="Your email" name="email" required></div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <div class="form-group text-dark"><label><strong>Please describe the bug you had :</strong></label><textarea title="" class="form-control" data-toggle="tooltip"
                            data-bs-tooltip="" rows="8" name="description" required=""></textarea></div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button id="in_progress_button" title="Add this experience to my Identity." class="btn btn-primary btn-sm" type="submit">Send</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <a href="/user/">
                          <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script>
    datePickerId2.max = new Date().toISOString().split("T")[0];
  </script>
  <script>
    datePickerId1.max = new Date().toISOString().split("T")[0];
  </script>



</body>

</html>
