<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
	
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
				
			                {% include 'user_nav_bar.html' %}    

        
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Request an Experience Certificate</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/request_certificate_new_issuer/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>This new Issuer will receive an email to register and complete the Experience Certificate form.</p>
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="name text"><strong>Issuer Email</strong><br></label><input class="form-control" type="email" required="" name="issuer_email"></div>
                                        <div class="form-group">
                                            <div class="form-inline">
                                                <div class="form-check col-6"><input class="form-check-input" type="radio" id="formCheck-1" name="type" required><label class="form-check-label" for="formCheck-1">Company&nbsp; &nbsp; &nbsp;</label></div>
                                             
													<div class="form-check col-6"><input class="form-check-input" type="radio" id="formCheck-2" name="type" required><label class="form-check-label" for="formCheck-2">Individual</label></div>
												
                                            </div>
                                        </div>
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="Project Description"><strong>Project Description</strong><br></label><input class="form-control" type="text" required name="project_description"></div>
                                         <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="Project Skills"><strong>Project Skills (Optional)</strong><br></label><input class="form-control" type="text"  name="project_skills"></div>
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="wallet texte"><strong>Memo (Optional)</strong><br></label><input class="form-control" type="text"  name="issuer_memo"></div>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" name="choice" value="send">Send the Request</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										   <a href="/user/?username={{username}}">
												<div class="form-group"><button class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Cancel</button></div>
											</a>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
                        {% include 'user_footer.html' %}    

    </div>
   
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   
   
   
</body>

</html>
