<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'company_nav_bar.html' %}

        <div class="container-fluid mt-3">
          <div class="row mb-3">
            <div class="col">
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">&nbsp;Request an Reference Certificate</p>
                </div>
                <div class="card-body">
                  <form action="/user/request_reference_certificate/" method="post">
                    <div class="form-row">
                      <div class="col text-dark">
                        <p>Complete this request form as precisely as possible to help your Referent to draft the final Certificate. He will receive an email with this information.</p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Title</label><input title="Title for the certificate" required="" class="form-control" type="text" name="title"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Location</label><input class="form-control" required="" type="text" name="project_location"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Project description</label><textarea rows="4" title="A description of the project, objectives, technologies, team, delay..." required="" class="form-control" name="description"></textarea></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Start date</label><input class="form-control" required="" type="date" name="start_date"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>End date</label><input class="form-control" required="" type="date" name="end_date"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Budget</label><input class="form-control" required="" type="number" name="project_budget"></div>
                      </div>
                      <div class="col-xl-6 text-dark">
                        <div class="form-group"><label>Project Staff</label><input title="ex: ISO 9001"  class="form-control" required="" type="number" name="project_staff"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-dark">
                        <div class="form-group"><label>Core competencies (Optional)</label><input title="List of competencies with comma separator : competency1, competency2, ..." class="form-control" type="text" name="competencies"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button class="btn btn-primary btn-sm" title="Send the form to your Referent." type="submit" name="choice" value="send">Send</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button onclick="goBack()" title="Cancel the request." class="btn btn-primary btn-sm" type="button" value="Back">Back</button></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script>function goBack() {window.history.back();}</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
