<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background.png');">
                  {% if session['type'] == "company" %}
                 {% include 'company_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}
            <div class="container-fluid">
                    <h3 class="text-dark mb-4">{{name}}
                    <a class="text-secondary" onclick="copyToClipboard('#p100')">
                    <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
                    </a>
                    <p hidden id="p100" >{{clipboard}}</p>
                    <h6 class="text-dark mb-4">{{profil_title}}</h6>
                <div class="row mb-3">
					<div class="col-md-10 col-lg-6 col-xl-4 offset-md-1 offset-lg-3 offset-xl-4">
                        <div class="card mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Request a Proof of Identity</p>
                            </div>
                            <div class="card-body text-center shadow">
                                <form action="/user/request_proof_of_identity/" method="POST" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="col">
                                            <p class="text-left">In order to allow you to provide reliable data, you need to give a Proof of Identity. This data issued by Talao after a checking process will be shown to public. Upload one picture of your ID Card/ Passport
                                                and&nbsp;one selfie with your ID/Passport in hand.&nbsp;&nbsp;<br><br>You will receive your Proof of Identity within 48 hours.</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Upload your ID or Passport.</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"></div>
                                                    <div class="custom-file"><label class="custom-file-label" onchange="loadFile(event)" for="inputGroupFile01"></label><input title="Data must be readable. " type="file" id="inputGroupFile01" class="custom-file-input" name="id_file"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Upload your selfie.</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"></div>
                                                    <div class="custom-file"><label class="custom-file-label" onchange="loadFile(event)" for="inputGroupFile02"></label><input title="Data must be readable and we must see your face." type="file" id="inputGroupFile02" class="custom-file-input" name="selfie_file"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="text-left">Do you want to include your Phone number and your Email as a proof of Identity ?
                                             It will be much more efficient to provide at least one of them.</p>
                                        <div class="form-inline custom-control-inline">
                                            <div class="form-check">
												<input class="form-check-input" type="checkbox"  value = "on" name="phone">
												<label class="form-check-label" >Phone</label></div>
                                        </div>
                                        <div class="form-inline custom-control-inline">
                                            <div class="form-check">
												<input class="form-check-input" type="checkbox"  checked value = "on" name="email">
												<label class="form-check-label" >Email</label></div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="col-6 col-xl-3"><button class="btn btn-primary btn-sm" title="Upload your files." id="loading_button" type="submit">Upload</button></div>
                                        <div class="col-6 col-xl-3"><a href="/user/">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div>
                                        </a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                  {% include 'user_footer.html' %}

    </div></div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="{{ url_for('static', filename='loading_button.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }</script>

</body>

</html>
