<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                                                                                          {% include 'user_nav_bar.html' %}    

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Request a Recommendation</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/request_recommendation_certificate/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Complete this request. Your referent will receive an email with this information.</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title="name text">How to you know him/her ?<br></label>
                                    <select name="relationship" class="form-control">
										<optgroup label="Select a relationship">
										<option value="You managed him/her directly">You managed him/her directly</option>
										<option value="You reported directly to him/her">You reported directly to him/her</option>
										<option value="You worked with him/her in the same company">You worked with him/her in the same company</option>
										<option value="He/She was a client of yours">He/She was a client of yours</option>
										<option value="You were a client of him/her">You were a client of him/her</option>
										<option value="You studied together">You studied together</option>
										<option value="None">None</option>
										
										</optgroup></select></div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label>Memo (Optional, it will be added on top of the email.)</label><textarea class="form-control" name="memo" rows="5"></textarea></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" name="choice" value="send">Send</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><a href="/user/"><button class="btn btn-primary btn-sm" type="button" value="cancel">Cancel</button></a></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                                {% include 'user_footer.html' %}    

    </div>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
