<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
   
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background.png');">
                  {% if session['type'] == "company" %}
                 {% include 'company_nav_bar.html' %}
             {% else %}
                 {% include 'user_nav_bar.html' %}
             {% endif %}
            <div class="container-fluid">
              <div class="text-center mt-3">
              <h3 class="text-dark mb-4">{{name}}
                <a class="text-secondary" onclick="copyToClipboard('#p100')">
                  <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
                </a>
              </h3>
              <p hidden id="p100">{{clipboard}}</p>
              <h6 class="text-dark mb-4">{{profil_title}}</h6>
              </div>
                <div class="row mb-3">
					<div class="col-md-10 col-lg-6 col-xl-4 offset-md-1 offset-lg-3 offset-xl-4">
                        <div class="card mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Request an Identity verification (French citizen only)</p>
                            </div>
                            <div class="card-body text-center shadow">
                                <form name="form" action="/user/request_proof_of_identity/" method="POST" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="col">
                                            <p class="text-left">L’utilisateur est invité à scanner une pièce d’identité, un justificatif de domicile de moins de 3 mois et une photo récente de son visage.
                                                  Si les documents envoyés sont illisibles ou si par exemple la photo du visage est trop différente de la photo de la carte nationale d’identité,
                                                  l'utilisateur sera invité à envoyer de nouvelles pièces.  Le service de Identité Digitale Professionnelle ne conserve pas les fichiers téléchargés.
                                                .</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Télécharger un scan de votre CNI ou de votre passeport en cours de validité.</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"></div>
                                                    <div class="custom-file"><label class="custom-file-label" onchange="loadFile(event)" for="inputGroupFile01"></label><input title="Le docuemnt doit etre lisible" type="file" id="inputGroupFile01" class="custom-file-input" name="id_file"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Télécharger un scan d'un justificatif de domicile de moins de 3 mois (factures EDF, ...).</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"></div>
                                                    <div class="custom-file"><label class="custom-file-label" onchange="loadFile(event)" for="inputGroupFile03"></label><input title="Le document doit etre lisible." type="file" id="inputGroupFile01" class="custom-file-input" name="address_file"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Télécharger un photo récente de votre visage.</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"></div>
                                                    <div class="custom-file"><label class="custom-file-label" onchange="loadFile(event)" for="inputGroupFile02"></label><input title="Votre visage doit etre facilement reconnaissable." type="file" id="inputGroupFile02" class="custom-file-input" name="selfie_file"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                       
                                        <div class="form-inline custom-control-inline">
                                            <div class="form-check">
												<input class="form-check-input" type="checkbox"  value = "on" name="phone">
												<label class="form-check-label" >
                                                    <div>J’ai lu et j’accepte les Conditions Générales d’Utilisation (<a href="/help/?file=cgu.html">CGU</a>) de l’Identité Digitale Professionelle de Talao.</div>
                                                </label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="col-6 col-xl-3"><button class="btn btn-primary btn-sm" title="Upload your files." id="loading_button" type="submit">Upload</button></div>
                                        <div class="col-6 col-xl-3"><a href="/user/">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div>
                                        </a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                  {% include 'user_footer.html' %}

    </div></div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="{{ url_for('static', filename='loading_button.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }</script>

</body>

</html>
