<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Professional Decentralized Identity Solution">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>

<title>Talao Resolver</title>
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='all.css') }}">
<link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='typeahead.css') }}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}

        <div class="container-fluid">
            <div class="row mb-3" rows="10">
                <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Talao Resolver (did:talao method based on ERC725 method)</p>
                        </div>
                        <div class="card-body">
                            <form action="/resolver" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Allows you to get public data about an Identity.&nbsp;<br></p>
                                        <div class="form-group"><input class="form-control" type="text" data-toggle="tooltip" data-bs-tooltip="" placeholder="did or username" required="" name="input"></div>
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" >DID Document</label><textarea rows="10" class="form-control">{{output}}</textarea></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                      <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Get Data</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
                                      <a href="/resolver">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">New</button></div>
                                      </a>
                                    </div>
                                  </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
        {% include 'user_footer.html' %}
        <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
        <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>