<!DOCTYPE html>
<!-- saas_verfier.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'sandbox_nav_bar.html' %}

    <div class="text-center mt-5">
        <br><br>
        <h1>Welcome to the issuer generator and bridge</h1>
        <br><br>
        <h3>You can add an issuer to your code as a webhook.</h3>
        <br>
        <h3>What you need to do is to install in your code a webhook and redirect your user to an URL It takes no more than 2 hours.</h3>
        <br>

        <br><br><h3>To activate the bridge you will need the following link : {{link}}</h3><br>
      
        <br><br><br>
        <h3>How it works ?</h3>
        <br>When the user scans the QR code, the third-party application receives a call on the “credential” webhook with the user's credentials in the form of a json web token.
        <br> The application produces the attestation and the transfer in response to the API. Talao's back end signs the certificate and transfers it to the user's wallet. 
        <br>The credential is stored on the wallet. 


        <br><br><br>
        <form action="/sandbox/saas2ssi/issuer" method="POST" >
                <button class="btn btn-primary" type"submit" >Update your issuer or generate a new one</button>
        </form>
   </div>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>