  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: #500bf5;">
    <div class="container-fluid">

      <div class="">
        <a href="https://altme.io"><img  src="/static/img/altme.png" style="width: 25px;border-radius:0px;"></a>
      </div>
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h4 class="d-none d-sm-block"style="color: white; margin-bottom: 0">Issuer</h4>
      </h6>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item active">
          <a class="nav-link" style="color: white; margin-bottom: 0" href="/sandbox/op/issuer/nav/create">Create</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: white; margin-bottom: 0" href="/sandbox/op/issuer/console/select">Select</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: white; margin-bottom: 0" href="/sandbox/op/issuer/nav/logout">Logout</a>
        </li>
      
      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
