  <!-- Nav Bar saas-->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow " style="filter: blur(0px);opacity: 1;background: #ffffff;">
    
    <div class="container-fluid">

        <a href="https://talao.co"><img  src="/static/img/altme_logo_2.png" style="width: 100px;border-radius:0px;"></a>
      
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item active d-none d-md-block">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/admin"></a>
        </li>
       
        <li class="nav-item active d-none d-md-block">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi">Home</a>
        </li>
       

        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link " style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Credentials supported
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/sandbox/saas4ssi#gaming">Gaming and metaverses</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi#blockchain">Blockchains and crypto wallets</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi#age">Age restriction</a>

            <a class="dropdown-item" href="/sandbox/saas4ssi#social">Social Network</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi#identity">Identity</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi#defi">DeFi</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi#authentication">Authentication</a>
          </div>
        </li> 
       

        {% if session['pricing']  %}
        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link " style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pricing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/gaming">Gaming and metaverses</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/marketplace">NFT marketplace and DAO</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/defi">DeFi</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/web2">Web2</a>
           <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/issuer">Issuers</a>
          </div>
        </li> 
        {% endif %}

        <li class="nav-item dropdown d-none d-md-block">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Developers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://sandbox-doc.readthedocs.io/en/latest/index.html">Full documentation</a>
            <a class="dropdown-item" href="https://sandbox-doc.readthedocs.io/en/latest/code_openid.html">OpenID bridge for verifier</a>
            <a class="dropdown-item" href="https://sandbox-doc.readthedocs.io/en/latest/code_beacon.html">Beacon integration for verifier</a>
            <hr>
            <a class="dropdown-item" href="/sandbox/saas4ssi/dids">Our DIDs</a>
            <hr>

    <!--        <a class="dropdown-item" href="/sandbox/saas4ssi/dapp/demo">dApp demo</a>  -->
            <a class="dropdown-item" href="/sandbox/dapp/check_gamer_pass">Demo : Verify a Gamer Pass with Beacon</a>
            <a class="dropdown-item" href="/sandbox/dapp/check_over13">Demo : Verify an Over13 proof with Beacon</a>
            
            <hr>
            <a class="dropdown-item" href="/sandbox/saas4ssi/dapp">Beacon dApp simulator</a>
            <a class="dropdown-item" href="/sandbox/playground">Get credentials for demo</a>
            <a class="dropdown-item" href="https://issuer.talao.co/register_gamer_pass">Get a Gamer Pass with Beacon</a>
            <a class="dropdown-item" href="/sandbox/display_VP">Display VC/VP</a>
          </div>
        </li>

        <!--  <li  class="nav-item active d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="https://altme.io">Wallet</a>
          </li>  -->

          {% if session['is_connected']  %}
          <li class="nav-item active d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item active d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/login">Login</a>
          </li>
          <li class="nav-item active d-none d-md-block">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/signup">Sign-Up</a>
          </li>
          {% endif %}

          <li class="nav-item active d-none d-md-block">
            <a class="nav-link" style="background-color: rgb(54, 24, 88); margin-bottom: 0; color: #ffffff; " href="mailto:thierry@altme.io">Contact</a>
          </li>
      
          <li class="nav-item dropdown no-arrow h-100 d-md-none" role="presentation">
            <div class="nav-item dropdown show">
              <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
                <span  style="color: grey;"><i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i></span>
              </a>
              <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
                  <a class="dropdown-item" role="presentation" href="/sandbox/saas4ssi/credentials">Credentials</a>
                  <a class="dropdown-item" role="presentation" href="https://altme.io">Wallet</a>
                  <a class="dropdown-item" role="presentation" href="https://issuer.talao.co/emailpass">Email proof issuer</a>
                  <a class="dropdown-item" role="presentation" href="https://issuer.talao.co/phonepass">Phone proof issuer</a>
                  <a class="dropdown-item" role="presentation" href="mailto:thierry@altme.io">Contact</a>

              </div>
          </li>

      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
