<!DOCTYPE html>
<!-- saas_signup.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %}


    <div class="text-center mt-5">
        <div class="mt-5">
            <br><br>
            <h4>1) Install the Altme mobile wallet on your smartphone from Apple Store or Google Store with that QR code</h4>

            <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url) }}"  width="200" ></div>
          </div>
          <form action="/sandbox/saas4ssi/signup" method="POST" >

            <h4 class="mt-5">When your wallet is installed on your phone and set up :</h4>
            <button class="btn btn-primary" type"submit" >Next</button>
        
              <div class="form-row mt-5">
              </div>
            
            </form> 
      </div>
   </div>


   <br><br> <br><br> <br><br> <br><br>
   {% include 'user_footer.html' %}


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>