<!DOCTYPE html>
<!-- saas_verfier.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'sandbox_nav_bar.html' %}

    <div class="text-center mt-5">
        <br><br>
        <h1>Welcome to the issuer configurator and generator.</h1>
        <br><br>
        <h3>You can add an issuer to your code as a webhook.</h3>
        <br>
        <h3>What you need to do is to install in your code a webhook and a callback endpoint and redirect your user to a QR code page.
          <br> It takes no more than 2 hours.</h3>
      
        <br>
        <h3>How it works ?</h3> 
        <br>When you want the user to collect her credential you redirect her browser to the issuer page provided by the platform so she can scan a QR code (or activate a deeplink).
        <br>Then your application receives a call on its webhook endpoint with eventually the requested credential of your choice in the form of a json web token.
        <br>Your application prepares the credential json data to issue and transfers it in response to the webhook call. The platform signs the credential and transfers it to the user's wallet. 
        <br>If the transfer is sccessful the user is redirected to your application callback endpoint.
        <br>The credential is then accepted or rejected by the user and stored in the wallet.
        <br>Most of the parameters (DID method, keys, credentials, page design,...) can be configured on the platform in a couple of minutes.

        <br><br>An example of a minimal application (python) using this platform is <a href= "https://github.com/TalaoDAO/sandbox/blob/master/issuer_app_diploma.py ">here</a>.

        <br><br><br>
        <form action="/sandbox/saas4ssi/issuer" method="POST" >
                <button class="btn btn-primary" type"submit" >Configure your issuer or generate a new one</button>
        </form>
   </div>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>