<!DOCTYPE html>
<!-- saas_issuer.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'issuer_nav_bar.html' %}

    <div class="text-center mt-5">
        <br><br>
        
      
        <h2 class="mt-5">How it works ?</h2> 
        <br>When you want the user to collect her credential you redirect her browser to the issuer page provided by the platform so she can scan a QR code (or activate a deeplink).
        <br>Then your application receives a call on its webhook endpoint with eventually the requested credential of your choice in the form of a json.
        <br>Your application sends back either the data to include in a credential or the signed credential to transfer to the wallet.
        <br>If needed the platform signs the credential and transfers it to the user's wallet. 
        <br>If the transfer is successful the user is redirected to your application callback endpoint.
        <br>Most of the parameters (DID method, keys, credentials, page design,...) can be configured on the platform in a couple of minutes.

        <br><br>An example of a minimal application (python) using this platform is <a href= "https://github.com/TalaoDAO/sandbox/blob/master/issuer_app_diploma.py ">here</a>.

      
       
   </div>

   {% include 'user_footer.html' %}


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>