<!DOCTYPE html>
<!-- saas_login.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %}


    <div class="text-center mt-5">
    
        <div class="mt-5">
            <h4>1) Install the Altme wallet on your smartphone from that <a href="/sandbox/saas4ssi/qrcode">QR code</a>.</h4><br>
            <h4>2) Log-in below to configure an issuer or a verifier (guest accepted).</h4><br>
        </div>
            <form action="/sandbox/saas4ssi/login" method="POST" >
            <div class="form-row mt-5">
                <div class="col-2 offset-5">
                  <div class="form-group"><input class="form-control" required type="text" value="guest"  name="login_name" ></div>
                </div>
               
            </div>
                <button class="btn btn-primary" type"submit" >Next</button>
        </form>
   </div>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>