<!DOCTYPE html>
<!-- saa2ssi.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'sandbox_nav_bar.html' %}


    <div class="text-center mt-5">
        <br><br>
        <h1>Saas for Self Sovereign Identity Issuers and Verifiers</h1>
        <br><h3>Add and an Issuer or a Verifier for mobile wallets to your application in <strong>2 hours</strong></h3>
        <br><br>
        <h4>1) Install the Talao wallet on your smartphone from that <a href="/sandbox/saas2ssi/qrcode">QR code</a>.</h4><br>
        <h4>2) Get into your wallet a verifiable credential for testing <a href="https://talao.co/sandbox">there</a>.</h4><br>
        <h4>3) Log to go forward (guest accepted)</h4><br>
        <form action="/sandbox/saas2ssi" method="POST" >
            <div class="form-row">
                <div class="col-2 offset-5">
                  <div class="form-group"><input class="form-control" required type="text" value=""  placeholder="Your login name" name="login_name" ></div>
                </div>
               
            </div>
                <button class="btn btn-primary" type"submit" >Next</button>
        </form>
   </div>

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
  </body>
</html>