  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: #ffffff;">
    <div class="container-fluid">

      <div class="">
        <a href="https://altme.io"><img  src="/static/img/altme_logo_2.png" style="width: 100px;border-radius:0px;"></a>
      </div>
      
      
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item active">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link " style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Solutions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sandbox/saas4ssi/credentials">User credentials</a>
            <a class="dropdown-item" href="https://issuer.talao.co/emailpass">Email proof issuer</a>
            <a class="dropdown-item" href="https://issuer.talao.co/phonepass">Phone issuer issuer</a>
            <a class="dropdown-item text-secondary" href="#">Decentralized Identifier</a>
            <a class="dropdown-item text-secondary" href="#">Issuer/Verifier registry</a>


           <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>  -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " style="color: rgb(54, 24, 88); margin-bottom: 0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pricing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/gaming">Gaming and metaverses</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/marketplace">NFT marketplace and DAO</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/defi">DeFi</a>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/web2">Web2</a>

           <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/sandbox/saas4ssi/pricing/issuer">Issuers</a>
          </div>
        </li>

      


       
       

        <li class="nav-item active">
            <a class="nav-link text-secondary" disabled style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/issuer">Developpers</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="https://altme.io">Wallet</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/login">Login</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" style="background-color: rgb(54, 24, 88); margin-bottom: 0; color: #ffffff; " href="mailto:thierry@altme.io">Contact</a>
          </li>
      
      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
