  <!-- Nav Bar  -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" style="filter: blur(0px);opacity: 1;background: rgba(256, 256, 256, 0.93);">
    <div class="container-fluid">

      <div class="">
        <a href="https://talao.io"><img  src="/static/img/logo.png" style="width: 120px;border-radius:0px;"></a>
      </div>
      <!-- Title for large devices -->
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">  
        <h1 class="d-none d-sm-block"style="color: grey ; margin-bottom: 0">Developer Sandbox {{Version}}</h1> 
      </h6>
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">


        


       

        <li class="nav-item dropdown no-arrow h-100" role="presentation">
          <div class="nav-item dropdown show">
            <a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="#">
              <span  style="color: grey;"><i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i></span>
            </a>
            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" style="position:absolute;" role="menu">
                
                <a class="dropdown-item" role="presentation" href="/sandbox">Sandbox</a>
                <a class="dropdown-item" role="presentation" href="/sandbox/saas4ssi">Saas 4 SSI</a>
                <a class="dropdown-item" role="presentation" href="/sandbox/saas4ssi/offers">Offers</a>
                <a class="dropdown-item" role="presentation" href="/sandbox/display_VP">Display VC/VP</a>

                 
           
            </div>
        </li>

      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar -->
