<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
     
      <div id="content">
        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col">
                  <div class="card shadow mt-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p class="text-primary m-0 font-weight-bold">OpenID to Web3 Authentication</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                      <form action="/sandbox/console/select" method="POST">

                       
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label><strong>Client data</strong></label><select name="client_id" class="form-control">
                                  {{select|safe}}  
                                  </select></div>
                            </div>      
                       
                        
                          </div>

                          

                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-xl-3"><button  class="btn btn-primary btn-sm" name="button" value="update" type="submit">Next</button></div>

                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
