<!DOCTYPE html>
<!-- select_identity.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% if session['type'] == "company" %}
                {% if session['role'] == 'creator' %}
                    {% include 'company_nav_bar.html' %}
                {% else %}
                    {% include 'manager_nav_bar.html' %}
                {% endif %}
            {% else %}
                {% include 'user_nav_bar.html' %}
            {% endif %}


                <div class="container-fluid mt-3">
                <h3 class="text-dark mb-4">{{name}}</h3>
                <div class="row mb-3">
                    <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="row">
                        <div class="col-xl-12 offset-lg-0 offset-xl-0">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <p class="text-primary m-0 font-weight-bold">&nbsp;Select an Identity to sign or receive credentials</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p></p>
                                    <form name="form" action="/user/select_identity/" method="POST">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input {{ethr_box}} type="radio" class="form-check-input" value="ethr" name="method">
                                                    <label style="color: rgb(133,135,150);" title="" >{{did_ethr}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input {{tz_box}} type="radio" class="form-check-input" value="tz" name="method">
                                                    <label style="color: rgb(133,135,150);" title="" >{{did_tz}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group form-check">
                                                    <input {{web_box}} type="radio" class="form-check-input" value="web" name="method">
                                                    <label style="color: rgb(133,135,150);" title="" >{{did_web}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-sm">
                                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Select</button></div>
                                            </div>
                                            <div class="col-sm">
											    <a href="/user/"><div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div></a>                                              
                                            </div>
                                           
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



</body>

</html>
