<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                      <span>{{ message }}</span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
      
              {% if session['type'] == "company" %}
                {% if session['role'] == 'creator' %}
                  {% include 'company_nav_bar.html' %}
                {% else %}
                  {% include 'manager_nav_bar.html' %}
                {% endif %}
              {% else %}
                {% include 'user_nav_bar.html' %}
              {% endif %}
        <div class="container-fluid mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
            {% if session['type'] == 'company' %}
            <h6 class="text-dark mb-4">{{session['employee']}}, {{session['role']}} </h6>
            {% else %}
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
            {% endif %}
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-lg-2 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Send a Memo</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/send_memo/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>This memo will be send by email to <strong>{{memo_username}}</strong>.</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><textarea required="" class="form-control" placeholder="Enter a memo...." title="This memo will be added on top of the email." name="memo" rows="5"></textarea></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" id="sending_button" type="submit" name="choice" value="send">Send</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">Back</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                                {% include 'user_footer.html' %}

    </div>
    	<script>function goBack() {  window.history.back();}</script>

        <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   
</body>

</html>
