<!DOCTYPE html>
<html>
<!-- add_experience.html-->
<head>
  {% include 'head.html' %}

</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'user_nav_bar.html' %}
        <div class="container-fluid mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
         
          <div class="row mb-3">
            <div class="col-xl-8 offset-xl-2">

              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <div class="row">
                    <div class="col-xl-6">
                      <p class="text-primary m-0 font-weight-bold">&nbsp;Sign your presentation</p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <p>Check and sign your presentation.</p>
                  <br>
                    <form id="form" action="/user/" method="POST">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><textarea id='text' title="" class="form-control" data-toggle="tooltip"
                            data-bs-tooltip="" readonly rows="15" name="description" >{{presentation_displayed}}</textarea></div>
                      </div>
                    </div>
                        <br>


                    <div class="form-row">
                      <div class="col-6 col-xl-3">
                        <div class="form-group"><button onclick="sign()"" class="btn btn-primary btn-sm" type="button">Sign</button></div>
                      </div>
                      <div class="col-6 col-xl-3">
                        <a href="/user/"><div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div></a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='encryption.js') }}"></script>
  <script src="../../static/didkitwasm.js" type="module"></script>


<script>

async function sign(){
    var key = await decrypt_key();
    if (!key){
      document.getElementById("form").submit();
      }
    if (key == 'error'){
      alert('password error, try a new password')
      key = await decrypt_key();
      }
    const did = '{{did}}';
    var presentationString = '{{presentation}}';
    presentationString = presentationString.replace(/&#34;/g, '"')
    const method = did.split(":")[1];
    const mykey = JSON.parse(key)['privateJwk']
    const keyString = JSON.stringify(mykey)
    const verificationMethod = await DIDKit.keyToVerificationMethod(method, keyString );

    const proofOptions = {
		  verificationMethod: verificationMethod,
		  proofPurpose: "assertionMethod",
	      };
    const optionsString = JSON.stringify(proofOptions);

    const signed_presentation = await DIDKit.issuePresentation(presentationString, optionsString, keyString);
    sessionStorage.setItem('presentation', signed_presentation)
    document.getElementById("form").submit();
  }

async function decrypt_key(){
    var key;
    const encrypted = localStorage.getItem('{{did}}');
    if (!encrypted) {
        alert('Your cryptographic key is not available.')
        document.getElementById("form").submit();
    } else {
        const password = prompt("Please enter password for your cryptographic keys : ");
        if (!password)
          {key = null;
        }else
          {key = await Decode(encrypted, password);}
    }
    return key;
    }



</script>


</body>

</html>
