<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>
 
   <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                
                {% include 'guest_nav_bar.html' %}    
     

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div>
                               <!--     <div>
                                        <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">&nbsp;</h4>
                                    </div> -->
                                    <p class="text-center" style="margin: 75px 50px 0px;">Request tamper proof professional certificates from companies or indivIduals in 5 minUtes.<br>
												<br>Become the sole owner of your professional data for your entire life.<br>
												<br>If you are new with Blockchain technology chose the Quick Start option.  <br> <br></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Welcome</h4>
                                    </div>
                                    <form class="user" action="/starter/" method="post">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="start" value="quick" required><label class="form-check-label"  for="formCheck-2">Quick Start</label></div>
                                            </div>
                                        </div>
                                        
                                   {% if not True %}
									   
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="start" value="advanced" required><label class="form-check-label" for="formCheck-2">Advanced or Curious</label></div>
                                            </div>
                                        </div>
                                     {% endif %}
                                        
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="start" value="user" required><label class="form-check-label"  for="formCheck-2">I already have an Identity</label></div>
                                            </div>
                                            
                                            <br><br>
                                        </div><button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Let's start</button>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
                    {% include 'user_footer.html' %}    
        
        
    </div>
    
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
