<!DOCTYPE html>
<!-- swap_ivacy.html-->
<html>

<head>
    {% include 'head.html' %}
</head>

<body >
    <div id="wrapper">
            <div id="content">
                {% include 'user_nav_bar.html' %}
               



                
                           {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

</body>

</html>
