<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                       {% include 'user_nav_bar.html' %}
       <div class="container-fluid mt-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Update wallet address</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/update_wallet/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Update wallet address of an Identity.</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title=""><strong>Username</strong><br></label>
                                            <input class="form-control" type="text" required="" name="username">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip="" title=""><strong>Wallet address</strong><br></label>
                                            <input class="form-control" type="text" required="" name="wallet">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">

                                        <div class="form-group"><button onclick="goBack()" class="btn btn-primary btn-sm" type="button">Back</button></div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                      {% include 'user_footer.html' %}

    </div>
    <script>function goBack() {  window.history.back();}</script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
