<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

                {% include 'user_nav_bar.html' %}

        <div class="container-fluid">
                <h3 class="text-dark mb-4">{{name}}
                <a class="text-secondary" onclick="copyToClipboard('#p100')">
                <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
                </a>
                <p hidden id="p100" >{{clipboard}}</p>
                <h6 class="text-dark mb-4">{{profil_title}}</h6>
            <div class="row mb-3">
                <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Update your password</p>
                        </div>
                        <div class="card-body">
                            <form  action="/user/update_password/" method="post">
                                <div class="form-row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="form-group"><input placeholder="Current password" class="form-control"  type="password" name="current_password" required="" title="Default password is identity"></div>
                                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                       <div class="form-group"><input placeholder="New password" class="form-control" id="password" type="password" name="password" required="" pattern=".{8,}" title="Eight or more characters"></div>
                                        <div class="form-group"><input placeholder="Confirm new password" class="form-control" id="confirm_password" type="password" name="confirm_password" required="" pattern=".{8,}" title="Eight or more characters"><span id='message'></span></div>

                                        <div class="form-row">
                                        <div class="col-6 col-xl-4">
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                                        </div>
                                        <div class="col-6 col-xl-3">
                                            <a href="/user/"><button class="btn btn-primary btn-sm" type="button">Back</button></a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    {% include 'user_footer.html' %}

    </div>
   <script>$('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
          $('#message').html('Matching').css('color', 'green');
        } else
          $('#message').html('Not Matching').css('color', 'red');
      });</script>
       <script>function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }</script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>



</body>

</html>
