<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div id="content">
        {% include 'company_nav_bar.html' %}
        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p class="text-primary m-0 font-weight-bold">{{_('Company Settings')}}</p>
                        <a href="/user/update_company_settings?siren=true"><button class="btn btn-primary btn-sm mr-0" type="button">{{_('Pre-fill info with SIREN')}}</button></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <form action="/user/update_company_settings/" method="POST">
                        <div class="form-row">
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Company Name')}}</strong></label><input class="form-control" type="text" name="name" required="" value="{{name}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Website')}}</strong><br></label><input class="form-control" type="text" placeholder="https://..." name="website" value="{{website}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Contact Name')}}</strong><br></label><input class="form-control" type="text" name="contact_name" value="{{contact_name}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><br></label><select name="contact_name_select" class="form-control">
                                {{contact_name_privacy|safe}}
                              </select></div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Contact  Email')}}</strong><br></label><input class="form-control" type="email" name="contact_email" value="{{contact_email}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label for="email"><br></label><select name="contact_email_select" class="form-control">
                                {{contact_email_privacy|safe}}
                              </select></div>
                          </div>
                          <div class="col-xl-3 offset-xl-0">
                            <div class="form-group"><label><strong>{{_('Contact  Phone')}}</strong><br></label><input class="form-control" type="tel" name="contact_phone" value="{{contact_phone}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><br></label><select name="contact_phone_select" class="form-control">
                                {{contact_phone_privacy|safe}}
                              </select></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-xl-12">
                            <div class="form-group"><label><strong>{{_('About (Activity, ...)')}}' </strong><br></label><textarea rows="5" class="form-control" value="{{about}}" name="about">{{about}}</textarea></div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-xl-12">
                            <div class="form-group"><label><strong>{{_('Postal Address')}}</strong><br></label><textarea rows="3" class="form-control" value="{{postal_address}}" name="postal_address">{{postal_address}}</textarea></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Group')}}</strong><br></label><input class="form-control" value="{{mother_company}}" name="mother_company"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Staff')}}</strong><br></label><input class="form-control" type="text" name="staff" value="{{staff}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('Sales(€)')}}</strong><br></label><input class="form-control" type="text" name="sales" value="{{sales}}"></div>
                          </div>
                          <div class="col-xl-3">
                            <div class="form-group"><label><strong>{{_('SIREN')}}</strong><br></label><input class="form-control" type="text" name="siren" value="{{siren}}"></div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-xl-3"><button id="in_progress_button" class="btn btn-primary btn-sm" type="submit">{{_('Update')}}</button></div>
                            <div class="col-xl-3"><a href="/user/"><button class="btn btn-primary btn-sm" type="button" value="cancel">{{_('Back')}}</button></a></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
