<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Talao Professional Identity</title>
  <!--     <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30%;background-repeat:no-repeat;background-image: url('/static/img/background.png');">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if session['type'] == "company" %}
        {% include 'company_nav_bar.html' %}
        {% else %}
        {% include 'user_nav_bar.html' %}
        {% endif %}

        <div class="container-fluid">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}
            </h3>
            <h6 class="text-dark mb-4">{{profil_title}}</h6>
          </div>
          <div class="row">
            <div class="col-md-10 col-lg-6 col-xl-4 offset-md-1 offset-lg-3 offset-xl-4">

              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <div class="row">
                    <div class="col-xl-6">
                      {% if session['type'] == 'person' %}
                      <p class="text-primary m-0 font-weight-bold">&nbsp;Skills</p>
                      {% else%}
                      <p class="text-primary m-0 font-weight-bold">&nbsp;Core Competencies</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form name="form" action="/user/update_skills/" method="POST">
                    <div class="form-row">
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <p><strong>
                              {% if session['type'] == 'person' %}
                              Skills
                              {% else%}
                              Core Competencies
                              {% endif %}
                            </strong></p>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <p><strong>Level</strong></p>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <div></div>
                        </div>
                      </div>
                    </div>
                    {% if session['skills'] != [] %}
                    <div style="height:200px;overflow:auto;overflow-x: hidden;">
                      {% endif %}
                      {{skills_row|safe}}
                      {% if session['skills'] != [] %}
                    </div>
                    {% endif %}

                    <hr>

                    <div class="form-row">
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group"><label><strong>&nbsp;
                              {% if session['type'] == 'person' %}
                              Skills
                              {% else%}
                              Core Competencies
                              {% endif %}
                              &nbsp;</strong><br></label><input class="form-control" type="text" title="Your skill" name="skill_name"></div>
                      </div>
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group"><label><strong>Level</strong><br></label>
                          <select name="skill_level" class="form-control">
                            <option value="Never heard">Never heard</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate" selected="">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                            <option value="Expert">Expert</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-4 col-sm-4 col-lg-4 col-xl-4">
                        <div class="form-group"><label><br></label>
                          <div class="text-center"><button class="btn btn-secondary btn-sm" name="choice" value="add" type="submit">Add</button></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"> <button type="submit" title=" Update at the end of the process only." id="loading_button" name="choice" value="update" class="btn btn-sm btn-primary">Update</button> </div>
                      </div>
                      <div class="col">
                        <a href="/user/">
                          <div class="form-group"><button title="Update before leaving to save skills." class="btn btn-primary btn-sm" type="button">Back</button></div>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'user_footer.html' %}


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='loading_button.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
        }
      </script>
</body>

</html>
