<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'company_nav_bar.html' %}
              <div class="container-fluid mt-3">
                <h3 class="text-dark mb-4">{{name}}</h3>
                <div class="row mb-3">
                    <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <p class="text-primary m-0 font-weight-bold">&nbsp;Company Settings</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form action="/user/update_company_settings/" method="POST">
                                            <div class="form-row">
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Name</strong></label><input class="form-control" type="text" name="name" required="" value="{{name}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Website</strong><br></label><input class="form-control" type="text" name="website" value="{{website}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Contact Name</strong><br></label><input class="form-control" type="text" name="contact_name" value="{{contact_name}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label><br></label><select name="contact_name_select"  class="form-control">
														{{contact_name_privacy|safe}}
														</select></div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Contact Email</strong><br></label><input class="form-control" type="email" name="contact_email" value="{{contact_email}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label for="email"><br></label><select name="contact_email_select" class="form-control">
                                                    {{contact_email_privacy|safe}}
                                                    </select></div>
                                                </div>
                                                <div class="col-xl-3 offset-xl-0">
                                                    <div class="form-group"><label ><strong>Contact Phone</strong><br></label><input class="form-control" type="tel" name="contact_phone" value="{{contact_phone}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><br></label><select name="contact_phone_select" class="form-control">
													{{contact_phone_privacy|safe}}
														</select></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-12">
                                                    <div class="form-group"><label ><strong>About (Activity, ...) </strong><br></label><textarea rows="5" class="form-control"value="{{about}}" name="about">{{about}}</textarea></div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-xl-12">
                                                    <div class="form-group"><label ><strong>Postal Address</strong><br></label><textarea rows="3" class="form-control"value="{{postal_address}}" name="postal_address">{{postal_address}}</textarea></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Group</strong><br></label><input class="form-control"value="{{mother_company}}" name="mother_company"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Staff</strong><br></label><input class="form-control" type="text" name="staff" value="{{staff}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>Sales (€)</strong><br></label><input class="form-control" type="text" name="sales" value="{{sales}}"></div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="form-group"><label ><strong>SIREN</strong><br></label><input class="form-control" type="text" name="siren" value="{{siren}}"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col-xl-3"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                                                    <div class="col-xl-3"><a href="/user/"><button class="btn btn-primary btn-sm" type="button"  value="cancel">Back</button></a></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                                    {% include 'user_footer.html' %}

    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
