<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Talao Professional Identity</title>
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Contact-Form-Clean.css') }}">    
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Login-Form-Clean.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ionicons.min.css') }}">   
    <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">  -->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
               
                     {% include 'user_nav_bar.html' %}    
   
              
                
            <div class="container-fluid">
                <div class="row mb-3">
					  <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold">&nbsp;Personal</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/user/update_personal_settings/" method="POST">
                                    <div class="form-row">
										  <div class="col-md-6 col-lg-6 col-xl-3">
                                      
                                            <div class="form-group"><label><strong>Firstname</strong><br></label><input class="form-control" type="text" name="firstname" required="" value="{{firstname}}"></div>
                                        </div>
                                         <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><strong>Lastname</strong><br></label><input class="form-control" type="text" required="" name="lastname" value="{{lastname}}"></div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group"><label><strong>Profil Title</strong><br></label><input class="form-control" type="text" name="profil_title"  value="{{profil_title}}"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label><strong>About </strong></label><textarea name="about" class="form-control">{{about}}</textarea></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-6">
                                            <div class="form-group"><label><strong>Education</strong><br></label><input class="form-control" type="text" name="education"  value="{{education}}"></div>
                                        </div>
                                         <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><strong>Contact Email</strong><br></label><input class="form-control" type="email" name="contact_email" value="{{contact_email}}"></div>
                                        </div>
                                         <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><br></label>
                                            										
												<select name="contact_email_select" class="form-control">
													{{contact_email_privacy|safe}}
												</select>
										
										</div>
                                        
                                        </div>
                                    </div>
                                    <div class="form-row">
                                         <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><strong>Birth Date</strong><br></label><input class="form-control" value="{{birthdate}}" name="birthdate" type="date"></div>
                                        </div>
                                         <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><br></label>
                                            
											<select name="birthdate_select" class="form-control">
													{{birthdate_privacy|safe}}
											</select>
											
											
											</div>
                                        </div>
                                         <div class="col-md-6 col-lg-6 col-xl-3 offset-xl-0">
                                            <div class="form-group"><label ><strong>Contact Phone</strong><br></label><input class="form-control" type="tel" name="contact_phone" value="{{contact_phone}}"></div>
                                        </div>
                                          <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><br></label>
                                            
												<select name="contact_phone_select" class="form-control">
													{{contact_phone_privacy|safe}}
												</select>
											
											</div>
                                        
                                        
                                        
                                        </div>
                                    </div>
                                    <div class="form-row">
                                          <div class="col-md-6 col-lg-6 col-xl-9">
                                            <div class="form-group"><label><strong>Postal Address</strong><br></label><textarea name="postal_address" class="form-control">{{postal_address}}</textarea></div>
                                        </div>
                                           <div class="col-md-6 col-lg-6 col-xl-3">
                                            <div class="form-group"><label><br></label>
                                            
                                      
												
											<select name="postal_address_select" class="form-control">
													{{postal_address_privacy|safe}}
											</select>
												
												</div>
                                        </div>
                                    </div>
                                    
                                 <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button id="in_progress_button" class="btn btn-primary btn-sm" type="submit">Update</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										<a href="/user/">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="button">Back</button></div>
                                        </a>
                                    </div>
                                </div>
                                    
                                    
                                  
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
                            {% include 'user_footer.html' %}    

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script> 
   <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
