<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Floating-Button.css') }}">
{% if session['type'] == "company" or session['type'] == "person" %}
<div class="float btn-group dropup" style="z-index:102000;">
  <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='outline: none;box-shadow: none;'>
    <i class="fa fa-question my-float" style="color: rgb(255,255,255)"></i>
  </button>
  <div class="dropdown-menu mx-4 my-2" style="min-width:200px">
    <a class="dropdown-item " title="" role="presentation" href="/user/tutorial">&nbsp;Video tutorial&nbsp;</a>
    <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/contents/">&nbsp;What is Talao ?&nbsp;</a>
    <a class="dropdown-item " title="" role="presentation" href="/report">&nbsp;Report a bug&nbsp;</a>
  </div>
</div>
{% endif %}
<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="https://talao.io">Certification</a></li>
            <li><a href="https://talao.io">Development</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="/company">Company</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/help/?file=cgu.html">CGU</a></li>

          </ul>
        </div>
       <!--
        <div class="col-sm-4 col-md-3 item">
          <h3>Careers</h3>
          <ul>
            <li><a href="https://talao.io">Job openings</a></li>
            <li><a href="https://talao.io">Employee success</a></li>
          </ul>
        </div> -->
        <div class="col-lg-3 item social"><a href="https://wwww.facebook.com/TalaoDAO/"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/Talao_io"><i class="fa fa-twitter"></i></a><a href="https://t.me/TalaoCommunity"><i
              class="fa fa-telegram"></i></a><a href="mailto:relay@talao.io"><i class="fa fa-envelope-o"></i></a>
          <p class="copyright">© Talao 2021 Version : {{Version}} {{Chain}}</p>
          <!--    <p class="copyright">Created : {{Created}}</p> -->
        </div>
      </div>
    </div>
  </footer>
