<nav class="navbar navbar-dark navbar-expand shadow mb-4 topbar static-top p-0.5" style="background-color: #033f79;">
  <div class="container-fluid">
    <!-- No logo for small divice  -->
    <div class="d-none d-sm-block">
    <a href="/user/"><img src="/uploads/QmUjT5HSGJMCxBtDcXgeTX25SXHa4DRRB7RHhmY3pDJueZ" style="width: 120px;"></a>
    </div>

    <!-- left menu for smartphone devices only -->
    <div class="nav-item d-block d-sm-none dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href=""><i class="fas fa-bars"></i>
        <!--retrer dropdown-toggle de la class du nav linkComment-->
      </a>
      <div class="dropdown-menu shadow dropdown-menu-left animated--grow-in" role="menu">
        <a class="dropdown-item " title="Invit" role="Update account parameters" href="/user/account/"><i class="fa fa-gears fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings&nbsp;</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item " title="Invit" role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit by email&nbsp;</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="More data" href="/user/advanced/"><i class="fa fa-gears fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Advanced</a>
        <a class="dropdown-item " title="Access to the full documentation" role="presentation" href="https://talao.readthedocs.io/"><i class="fa fa-book fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/delete_identity/"><i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Delete Identity</a>
        {% if session['test'] %}
        <a class="dropdown-item" role="presentation" href="/user/test/"><i class="fa fa-wrench fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Test Only</a>

        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="Exit" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>

      </div>
    </div>


    <!-- search only for large device -->
    <form action="/user/search/" method="POST" class="form-inline d-none d-sm-inline-block mr-auto ml-3 my-2 my-md-0 mw-100 navbar-search ">
      <div class="input-group">
        <button class="btn btn-outline-primary btn-sm rounded-left" style="border-bottom-right-radius:0; border-top-right-radius:0; color:#18acdd; border-color:#18acdd;" type="submit"><i class="fas fa-search"></i></button>
        <input class="bg-light form-control border-0 small ml-sm-1" type="text" name="username_to_search" required="" title="Search by username" pattern="[a-zA-Z0-9.]{3,30}" type="text" placeholder="Search ...">
      </div>
    </form>

    <ul class="nav navbar-nav flex-nowrap ml-auto">

      <!-- Search  only for smartphone devices -->
      <li class="nav-item dropdown d-sm-none no-arrow"><a class=" nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
        <div class="dropdown-menu dropdown-menu-left p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
          <form action="/user/search/" method="POST" class="form-inline mr-auto navbar-search w-100">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" name="username_to_search" required="" title="Serach for a Professional Identity by username" pattern="[a-z0-9.]{3,30}" type="text"
                placeholder="Search ...">
              <div class="input-group-append"><button class="btn btn-primary btn-sm py-0" type="submit"><i class="fas fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </li>

      <!-- User List-->
      <!-- <li class="nav-item  no-arrow mx-1" role="presentation">
        <div class="nav-item dropdown show"><a class=" nav-link active " title="" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenuButton" href="">User List</a>
          <div class="dropdown-menu shadow  dropdown-menu-right animated--grow-in" role="menu" aria-labelledby="dropdownMenuButton">
            {{list|safe}}
          </div>
        </div>
      </li> -->

      <!-- Dashboard -->
      <li><a class="navbar" href="/user/data_analysis/" style="color:white; text-decoration: none;">Dashboard</a></li>
      <!-- Resume -->
      <li><a class="navbar" href="/user/" style="color:white; text-decoration: none">Resume</a></li>

      <!-- Help -->
      <li class="nav-item " role="presentation">
        <div class="nav-item dropdown show"><a class=" nav-link active " title="" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenuButton" href="">
            <p style="margin-bottom:0">Help</p>
          </a>
          <div class="dropdown-menu shadow  dropdown-menu-right animated--grow-in" role="menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/contents/">&nbsp;What is Talao ?&nbsp;</a>
            <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/request_a_certificate/">&nbsp;How to request a Certificate ?&nbsp;</a>
            <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/proof_of_identity/">&nbsp;How to request a Proof of Identity ?&nbsp;</a>
            <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/add_a_referent/">&nbsp;How to add a Referent ?&nbsp;</a>
            <a class="dropdown-item " title="" role="presentation" href="https://talao.readthedocs.io/en/latest/get_rewards/">&nbsp;How to get Rewards ?&nbsp;</a>
          </div>
        </div>
      </li>


      <div class="d-none d-sm-block topbar-divider"></div>

      <!-- Name + Picture + menu  -->
      <li class="nav-item d-none d-sm-inline-block dropdown no-arrow" role="presentation">
        <div class="nav-item dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="">
            <!--<span class="d-none d-lg-inline mr-2 text-gray-600 small">{{name}}</span>--><img class="border rounded-circle img-profile" src="{{ url_for('send_file', filename=picturefile) }}" style="width: 30px;height: 30px;">
            <!--retrer dropdown-toggle de la class du nav linkComment-->
          </a>
          <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
            <a class="dropdown-item " title="Change account parameters" role="presentation" href="/user/account"><i class="fa fa-gear fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings&nbsp;</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " title="Invit" role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit by email&nbsp;</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="presentation" title="Manage Referent, Partnership, White List and more information about your Identity" href="/user/advanced/"><i class="fa fa-gears fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Advanced</a>
            <a class="dropdown-item " title="Access to the full documentation" role="presentation" href="https://talao.readthedocs.io/"><i class="fa fa-book fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/delete_identity/"><i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Delete Identity</a>
            {% if session['test'] %}
            <a class="dropdown-item" role="presentation" href="{{clipboard}}"><i class="fa fa-graduation-cap fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;My Blockchain Resume</a>
            <a class="dropdown-item" role="presentation" href="/user/test/"><i class="fa fa-wrench fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Test Only</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="presentation" title="Exit" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
          </div>

        </div>
  </div>
</nav>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
