
<!-- user_nav_bar.html-->
<nav class="navbar navbar-light navbar-expand-md sticky-top shadow " style="filter: blur(0px);opacity: 1;background: rgba(11,69,128,0.93);">
    <ul class="navbar-nav ml-2" style="flex-direction: row;">
    
      <!-- No logo for small divice  -->
    <div class="d-none d-sm-block">
    <a href="/homepage/"><img class="rounded-0" src="/static/img/logo.png" style="width: 120px;"></a>
    </div>

    <!-- left menu for smartphone devices only -->
    <div class="nav-item d-block d-sm-none dropdown show" ><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href=""><span  style="color: white;"><i class="fas fa-bars"></i></span>
        <!--retrer dropdown-toggle de la class du nav linkComment-->
      </a>
      <div class="dropdown-menu shadow dropdown-menu-left animated--grow-in" style="position:absolute;" role="menu">
        <a class="dropdown-item " title="Invit" role="Update account parameters" href="/user/account/"><i class="fa fa-gears fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings&nbsp;</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item " title="Invit" role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit by email&nbsp;</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="More data" href="/user/advanced/"><i class="fa fa-gears fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Advanced</a>
        <a class="dropdown-item " title="Access to the full documentation" role="presentation" href="https://talao.readthedocs.io/"><i class="fa fa-book fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/delete_identity/"><i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Delete Identity</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="presentation" title="Exit" href="/logout/"><i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>

      </div>
    </div>

    <!-- Search  only for smartphone devices -->
    <li class="nav-item dropdown d-sm-none "><a class=" nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
      <span  style="color: white;"><i class="fas fa-search ml-3"></i></span></a>
      <div class="dropdown-menu dropdown-menu-left p-3 animated--grow-in" style="position:absolute;" role="menu" aria-labelledby="searchDropdown">
        <form action="/user/search/" method="POST" class="form-inline mr-auto navbar-search w-100">
          <div class="input-group"><input id="typeaheadElementSM" class="bg-light form-control border-0 small" type="text" name="username_to_search" required="" title="Serach for a Professional Identity by username" pattern="[a-z0-9.]{3,30}" type="text"
              placeholder="Search ...">
            <div class="input-group-append"><button class="btn btn-primary btn-sm py-0" type="submit"><i class="fas fa-search"></i></button></div>
          </div>
        </form>
      </div>
    </li>

    </ul>
    <ul class="navbar-nav w-100 d-none d-md-block" style="flex-direction: row;">
    <!-- search only for large device -->
    <form action="/user/search/" method="POST" class="form-inline d-none d-md-inline-block w-100 navbar-search ">
      <div class="input-group justify-content-center">
        <button class="btn p-2" type="submit"><i class="fas fa-search my-auto" style="color: rgba(255,255,255,0.71);"></i></button>
        <input id="typeaheadElement" class=" rounded-pill px-3" type="text" name="username_to_search" pattern="[a-zA-Z0-9.]{3,30}" placeholder="Search by username" style="width: 300px;height: 30px;margin: 5px; color: white; padding: 5px;background: rgba(255,255,255,0.17);border-width: 1px;border-style: none;outline:none;">
        <div class="nav-item dropdown show">
          <a class="nav-link" title="" aria-haspopup="true" data-toggle="dropdown" id="dropdownSearch" href=""><i class="fa fa-info-circle" style="color: rgba(255,255,255,0.5);" title="Help"></i></a>
          <div class="dropdown-menu shadow  dropdown-menu-left animated--grow-in" role="menu" aria-labelledby="dropdownSearch">
            <p class="m-3" style="min-width: 350px;">This search bar only works with usernames.<br><br>
               For a user to be suggested he would have needed to accept to be on our database</p>
          </div>
        </div>
      </div>
    </form>

    </ul>

    <ul class="navbar-nav mr-2" style="flex-direction: row;">
      <div class="d-inline-flex justify-content-center">
        <li class="nav-item d-none d-none d-md-block" role="presentation"><a style="color: white;" id="id_wc" class="nav-link active"></a></li> 
        <li class="nav-item mx-1"><a class="nav-link active" href="/user/" style="color: rgba(255,255,255,0.9);"><h4><strong>Identity</strong></h4></a></li>
        <li class="nav-item mx-1"><a class="nav-link active" href="/user/issuer_explore/?issuer_username={{username}}" style="color: rgba(255,255,255,0.9);"><h4><strong>Resume</strong></h4></a></li>
      </div>
      <div class="d-none d-sm-block topbar-divider"></div>

      <!-- Name + Picture + menu  -->
      <li class="nav-item d-none d-sm-inline-block dropdown no-arrow" role="presentation">
        <div class="nav-item dropdown show"><a class=" nav-link" data-toggle="dropdown" aria-expanded="true" href="">
            <!--<span class="d-none d-lg-inline mr-2 text-gray-600 small">{{name}}</span>--><img class="border rounded-circle img-profile" src="{{ url_for('send_file', filename=picturefile) }}" style="width: 30px;height: 30px;">
            <!--retrer dropdown-toggle de la class du nav linkComment-->
          <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
            <a class="dropdown-item " title="Access to the full documentation" role="presentation" href="https://talao.readthedocs.io/"><i class="fa fa-book fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Documentation&nbsp;</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " title="Change account parameters" role="presentation" href="/user/account"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Account&nbsp;</a>
            {% if not session['has_vault_access'] %}
            <a class="dropdown-item" role="presentation" title="For Metamask wallet only" href="/wc_register_activate/"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activate wallet</a>
            {% endif %}
            <a class="dropdown-item" role="presentation" title="Manage Referent, Partnership, White List and more information about your Identity" href="/user/advanced/"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Advanced</a>
            <a class="dropdown-item" role="presentation" title="Delete all data" href="/user/delete_identity/"><i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Delete Identity</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="presentation" title="Exit"  href="/logout/"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " title="Invit" role="presentation" href="/user/invit/"><i class="fa fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Invit by email&nbsp;</a>
          </div>
        </div>
      </li>
    </ul>
</nav>


<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Typeahead.js') }}"></script>
