<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">
       

    <div class="row">
        <div class="col  text-center mt-5">
            <h1 class="my-5" ><strong>Build Self Sovereign Identity issuers and verifiers in minutes</strong></h1>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center">
            <div class="my-2 p-2">                
                   <h2>Altme Saas is a <strong>next-generation platform</strong> to integrate Decentralized Identity solutions in an application.
                    <br><br><br>
                    To use Altme Saas, you don't need to learn Verifiable Credentials standards, DIDs signature or how to work with a complex SDK. 
                    <br><br><br>
                    Instead, Altme uses OpenID, WalletConnect or Beacon as a simple, familiar method to integrate issuers and verifiers in your Web3, Web2 or CMS application with no code or low code.
                    <br><br><br>
                    <strong>You can now launch your SSI project in hours, not weeks !</strong>
                   <br></h2>
            </div>
       </div>
    </div>


       
    <div class="row ">
        <div class="col-qm-12 col-lg-2 offset-lg-3 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/openid.jpeg"  style="width: 200px;border-radius:0px;">
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/walletconnect.jpeg"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/beacon.jpeg"  style="width: 250px;border-radius:0px;">
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col  text-center mt-2">
            <h1 class="mt-5" ><strong>Onboard your users with Verifiable Credentials and <br>check address with your smart contracts in a whitelist or with a SBT</strong></h1>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center">
            <div class="p-2"><h3>In some situations an application only needs an API to verify credentials but                
                decentralized applications (dApp) need to have on-chain information. 
                <br><br>For us it's all about integrating with our clients' architectures that's why our verifiers and issuers can mint SBTs or write data to on-chain whitelists 
                while keeping user privacy at its main objective.</h3>
                </div> 
       </div>
    </div>


    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1 col-sm-12 text-center mt-5">
            <div class="p-2">
                <h1 ><strong>SSI can now become mainstream</h1>
            </div> 
       </div>
    </div>



        <div class="row mt-2 mb-5">
            <div class="col text-center">
        <a href="/sandbox/saas4ssi/signup"><button type="button" class="btn btn-outline-dark mt-2">Get started, it's free !</button></a></h3>
           </div>
           </div>         
   

</div>


</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>