<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">
       

    <div class="row">
        <div class="col  text-center mt-5">
            <h1 class="mt-5" ><strong>Integrate Self Sovereign Identity issuers and verifiers in minutes
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center">
            <div class="p-2">                
                   <h3>Altme is a next-generation platform to integrate Decentralized Identity solutions in an application.
                    <br><br>
                    To use Altme, you don't need to learn Verifiable Credentials standards, DIDs signature or how to work with a complex SDK. 
                    <br><br>
                    Instead, Altme uses WalletConnect, Beacon or OpenID as a simple, familiar method for building your application - 
                    you can now launch your SSI project in hours, not weeks.
                   <br></h3>
            </div>
       </div>
    </div>



    
       
    <div class="row ">
        <div class="col-qm-12 col-lg-2 offset-lg-3 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/openid.jpeg"  style="width: 150px;border-radius:0px;">
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/walletconnect.jpeg"  style="width: 150px;border-radius:0px;">
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 mt-2">
            <div id="id_qrcode" class="text-center">
                <img  src="/static/img/beacon.jpeg"  style="width: 150px;border-radius:0px;">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col  text-center mt-2">
            <h1 class="mt-5" ><strong>On-chain and off-chain data check triggered by Verifiable Credentials</strong></h1>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center">
            <div class="p-2"><h3>In some situations an application only needs an API to verify credentials, in                  
                other situations decentralized applications (dApp) need to have on-chain information. Several technologies are possible for this (SBT, Whitelist,...). 
                <br><br>For us it is mainly a question of integrating ourselves with the architectures of our customers.</h3>
                </div> 
       </div>
    </div>



        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1 col-sm-12 text-center mt-5">
                <div class="p-2">
                    <h1 ><strong>SSI can now become mainstream !</h1>
                </div> 
           </div>
        </div>


        <div class="row mt-2 mb-5">
            <div class="col text-center">
        <a href="/sandbox/saas4ssi/signup"><button type="button" class="btn btn-outline-dark mt-2">Get started, it's free !</button></a></h3>
           </div>
           </div>         
   

</div>


</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>