<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">
        <br><br><br>
        <div class="row ">
            <div class="col  text-center mt-5">
                <h1 style="color:rgb(255,0,0);" >{{counter}} verifiable credentials issued for Web3 users <br>since January 1, 2023</h1>
                <h3>of which :</h3>
                <h3 > {{auth}} for authentication</h3>
                <h3 > {{gaming}} for crypto gaming loyalty cards</h3>
                <h3 > {{age}} for proof of age</h3>
            </div>
        </div>

   

   


    <div class="row">
        <div class="col-lg-8 col-sm-12  offset-lg-2 text-center mt-5">
            <div class="my-2 p-2">                
                   <h2>Altme Saas is a <strong>next-generation platform</strong> to integrate SSI issuers and verifiers in Web3 applications</h2>
                    <br><br><br>
                 
                   

                  
            </div>
       </div>
    </div>






        <div class="row mt-2 mb-5">
            <div class="col text-center">
        <a href="/sandbox/saas4ssi/signup"><button type="button" class="btn btn-outline-dark mt-2">Get started, it's free !</button></a></h3>
           </div>
           </div>         
   

</div>


</div>
                               
       
   

   {% include 'user_footer.html' %}

              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>