  <!-- Nav Bar Guest -->
  <nav class="navbar navbar-light navbar-expand-md sticky-top shadow mb-3" style="filter: blur(0px);opacity: 1;background: #ffffff;">
    <div class="container-fluid">

      <div class="">
        <a href="https://altme.io"><img  src="/static/img/altme_logo_2.png" style="width: 100px;border-radius:0px;"></a>
      </div>
      <h6 class="text-secondary flex-nowrap ml-auto d-none d-sm-block">
        <h4 class="d-none d-sm-block"style="color: rgb(54, 24, 88); margin-bottom: 0">Verifier</h4>
      </h6>
      
      <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">

        <li class="nav-item active">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/op/verifier/nav/create">Create</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/op/console/select">Select</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/op/console/logout">Logout</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi/verifier">How it works</a>
          </li>

          <li class="nav-item active">
            <div class="nav-link" style="color: rgb(54, 24, 88) ; margin-bottom: 0" href="">User : {{login_name}}</div>
          </li>
      
      </ul>
    </div>
  </nav>

  <!-- End of Nav Bar Guest -->
