<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
     
      <div id="content">
        {% include 'verifier_nav_bar.html' %}

        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <div class="card shadow mt-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p style="color:#09060f;" class=" m-0 font-weight-bold">Verifier advanced parameters</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                      <form action="/sandbox/op/console/advanced" method="POST">

                        <input value="{{client_id}}" hidden name="client_id">

                          <div class="form-row">
                                                    
                          <div class="col-6">
                            <div class="form-group"><label><strong>Verifier protocol</strong></label><select name="protocol" class="form-control">
                              {{protocol_select|safe}}  
                              </select></div>
                          </div>
                          </div>

                          <div class="form-row">
                            <div class="col">
                    
                          </div>
                          </div>
  
                        <div class="form-group">
                          <div class="form-row">
                            {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 

                            <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="update" type="submit">Update</button></div>
                            {% endif %}
                            <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="back" type="submit">Back</button></div>

                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
