<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include "verifier_nav_bar.html" %}

        <div class="container-fluid mt-3">
          <div class="text-center mt-3">
            <h3 class="text-dark mb-4">{{name}}</h3>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10 offset-lg-1 ">

          
                  <form action="/sandbox/op/console" method="POST">

                  <div class="card shadow my-5">
                    <div class="card-header py-3">
                      <div class="d-flex justify-content-between">
                        <p style="color:#09060f;" class=" m-0 font-weight-bold">Generate a verifier for application</p>
                      
                      </div>
                    </div>
                    <div class="card-body">
                   

                        <div class="card shadow my-3">
                          <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                              <p  style="color:#09060f;"class=" m-0 font-weight-bold">Company Information</p>
                            </div>
                          </div>
                          <div class="card-body">


                          {% if session['login_name'] != session['client_data']['user'] and  session['login_name'] != "admin" %}
                        <div class="form-row">
                            <div class="col">
                            
                              <div class="form-group"><label><strong>User Name (Login)</strong><br></label><input class="form-control" readonly type="text" value="{{user_name}}""  name="user_name" ></div>
                             
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Company Name</strong><br></label><input class="form-control" readonly type="text" value="{{company_name}}""  name="company_name" ></div>
                            </div>
                        </div>
                        <div class="form-row">  
                            <div class="col">
                              <div class="form-group"><label><strong>Contact Name</strong><br></label><input class="form-control" readonly type ="text" value="{{contact_name}}" name="contact_name" ></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>Contact Email</strong><br></label><input class="form-control" readonly type="email" value="{{contact_email}}" name="contact_email" ></div>
                            </div>
                        </div>
                        <div class="form-row">           
                          <div class="col">
                            <div class="form-group"><label><strong>Note</strong><br></label><textarea readonly class="form-control" name="note" >{{note}}</textarea></div>
                          </div>
                        </div>
                        {% else %}
                        <div class="form-row">
                          <div class="col">
                          
                            <div class="form-group"><label><strong>User Name (Login)</strong><br></label><input class="form-control" required type="text" value="{{user_name}}""  name="user_name" ></div>
                           
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Company Name</strong><br></label><input class="form-control" type="text" value="{{company_name}}""  name="company_name" ></div>
                          </div>
                      </div>
                      <div class="form-row">  
                          <div class="col">
                            <div class="form-group"><label><strong>Contact Name</strong><br></label><input class="form-control" type ="text" value="{{contact_name}}" name="contact_name" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Contact Email</strong><br></label><input class="form-control" type="email" value="{{contact_email}}" name="contact_email" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Application Name (required)</strong></label><input required class="form-control" type="text" name="application_name"  value="{{application_name}}"></div>
                          </div>
                      </div>
                      <div class="form-row">           
                        <div class="col">
                          <div class="form-group"><label><strong>Note</strong><br></label><textarea class="form-control" name="note" >{{note}}</textarea></div>
                        </div>
                      </div>

                     
                      {% endif %}

                      <div class="form-row">  
                        <div class="col">
                          <div class="form-group"><label><strong>Website URL (required)</strong><br></label><input class="form-control" required type="text" value="{{landing_page_url}}""  name="landing_page_url" ></div>
                        </div>         
                        <div class="col">
                          <div class="form-group"><label><strong>Callback URL (required)</strong><br></label><input class="form-control" required type="text" name="callback" value={{callback}}></div>
                        </div>
                      </div>

                        </div>
                        </div>


   <div class="card shadow my-3">
              

                          <div class="card-header py-3">
                  
                         
                              <p style="color:#09060f;" class="card-title m-0 font-weight-bold">Parameters to setup the client</p>
                            
                          </div>
                          <div class="card-body">

                              <div class="form-row mb-3">
                                <div class="col">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" {{pkce}} name="pkce" id="flexCheckDefault_1">
                                    <label class="form-check-label" for="flexCheckDefault_1">PKCE : <strong>checked</strong> if application is a dApp and you do not use client secret in authorization code flow</label>
                                  </div>
                                </div> 
                                </div>

                              
                              <ul class="nav nav-tabs card-header-tabs pull-right mb-3"  id="myTab" role="tablist">
                                
                                <li class="nav-item">
                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#oidc" role="tab" aria-controls="oidc" aria-selected="true">OIDC Discovery</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#dhcp" role="tab" aria-controls="standard" aria-selected="true">OIDC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#static" role="tab" aria-controls="miniorange" aria-selected="false">miniOrange</a>
                                </li>

                                <li class="nav-item">
                                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#webflow" role="tab" aria-controls="webflow" aria-selected="false">Webflow</a>
                              </li>
                               
                            </ul>


                          


                         
             

              <div class="tab-content" id="myTabContent">


                <div class="tab-pane active" id="oidc" role="tabpanel" aria-labelledby="oidc-tab">

                  <div class="form-row">
                    
                      <div class="col">
                        <div class="form-group"><label><strong>Issuer URL</strong></label><input readonly class="form-control" type="text" name="issuer"  value={{issuer}}></div>
                      </div>
                  </div>

                  <div class="form-row">
                  <div class="col">
                    <div class="form-group"><label><strong>Client ID</strong></label><input readonly class="form-control" type="text" name="client_id"  value={{client_id}}></div>
                  </div>
                  <div class="col">
                    <div class="form-group"><label><strong>Client Secret</strong><br></label><input readonly size="50" class="form-control" type="text"  name="client_secret" value={{client_secret}}></div>
                  </div> 
                </div>

                </div>
                        
                    <div class="tab-pane " id="dhcp" role="tabpanel" aria-labelledby="standard-tab">

                        <div class="form-row">
                          
                            <div class="col">
                              <div class="form-group"><label><strong>Issuer URL</strong></label><input readonly class="form-control" type="text" name="issuer"  value={{issuer}}></div>
                            </div>
                        </div>

                        <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label><strong>Client ID</strong></label><input readonly class="form-control" type="text" name="client_id"  value={{client_id}}></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label><strong>Client Secret</strong><br></label><input readonly size="50" class="form-control" type="text"  name="client_secret" value={{client_secret}}></div>
                        </div> 
                      </div>

                        
                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>OAuth Authorize Endpoint</strong></label><input readonly class="form-control" type="text"  value={{authorization}}></div>
                            </div>
                            <div class="col">
                              <div class="form-group"><label><strong>OAuth Token Endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{token}}></div>
                            </div> 
                        </div>

                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>OAuth Logout Endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{logout}}></div>
                            </div> 
                            <div class="col">
                              <div class="form-group"><label><strong>OAuth Get User Info Endpoint</strong><br></label><input readonly size="50" class="form-control" type="text" value={{userinfo}}></div>
                            </div> 
                        </div>    

                            <div class="form-row">
                              <div class="col-6">
                                <div class="form-group"><label><strong>OAuth callback URL</strong><br></label><input readonly class="form-control" type="text" value="{{callback}}"></div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Request for authorization code flow</strong><br></label><input readonly class="form-control" type="text" name="authorization_request" value="{{authorization_request}}"></div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="col">
                                <div class="form-group"><label><strong>Request for implicit flow </strong><br></label><input readonly class="form-control" type="text" name="implicit_request" value="{{implicit_request}}"></div>
                              </div>
                            </div>

                </div>
                         
                <div class="tab-pane" id="static" role="tabpanel" aria-labelledby="miniorange-tab">

                  <div class="form-group row">
                    <label class="col-sm-6  col-form-label"><strong>IdP Name</strong></label>
                        <div class="col-sm-6">Custom Provider                         
                      </div>
                  </div>

                                 
                  <div class="form-group row">
                    <label class="col-sm-6  col-form-label"><strong>OAuth callback URL</strong></label>
                    <div class="col-sm-6">
                      <input class="form-control" type="text" readonly  value="{{callback}}"></div>
                  </div>


                  <div class="form-group row">
                    <label class="col-sm-6  col-form-label">
                      <strong>IdP Display Name</strong></label>
                      <div class="col-sm-6">
                      <input class="form-control" type="text" readonly value="{{application_name}}"></div>
                   
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-6  col-form-label">
                      <strong>OAuth Authorize Endpoint</strong></label>
                      <div class="col-sm-6">
               
                        <input readonly class="form-control" type="text"  value={{authorization}}></div>
                    
                    </div>

                <div class="form-group row">
                    <label class="col-sm-6  col-form-label">
                      <strong>OAuth Token Endpoint</strong><br></label>
                      <div class="col-sm-6">
                        <input readonly size="50" class="form-control" type="text" value={{token}}></div>
                   
                </div>

                <div class="form-group row">
                <label class="col-sm-6  col-form-label">
                  <strong>OAuth Get User Info Endpoint</strong><br></label>
                  <div class="col-sm-6">
                    <input readonly size="50" class="form-control" type="text" value={{userinfo}}></div>
               
                </div>

                  <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Client ID</strong></label>
                    <div class="col-sm-6">
                      <input readonly class="form-control" type="text" name="client_id"  value={{client_id}}></div>
                
                  </div>

                  <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Client Secret</strong><br></label>
                    <div class="col-sm-6">
                      <input readonly size="50" class="form-control" type="text"  name="client_secret" value={{client_secret}}></div>
                  
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Send client credentials in Header</strong><br></label>
                    <div class="col-sm-6">ON
                      </div>
                </div>     
                
                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Grant Type</strong><br></label>
                    <div class="col-sm-6">Authorization Code Grant
                      </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Scope</strong><br></label>
                    <div class="col-sm-6">openid
                      </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Enable Enduser Login</strong><br></label>
                    <div class="col-sm-6">ON
                      </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Show IdP to Users</strong><br></label>
                    <div class="col-sm-6">ON
                      </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Prompt for User Registration</strong><br></label>
                    <div class="col-sm-6">OFF
                      </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-6  col-form-label">
                    <strong>Send configuration Attribute</strong><br></label>
                    <div class="col-sm-6">OFF
                      </div>
                </div>
                        
                </div>

                <div class="tab-pane " id="webflow" role="tabpanel" aria-labelledby="webflow-tab">
                  <div class="form-row">
                  </div>

                  <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label><strong>Logout button link</strong><br></label><input title="The link to put on the Logout button" readonly size="50" class="form-control" type="text" value={{logout}}></div>
                      </div> 
                  </div>    

                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label><strong>Sign In button link</strong><br></label><input readonly title="The link to put on the Sign In button" class="form-control" type="text" name="implicit_request" value="{{implicit_request}}"></div>
                        </div>
                      </div>

          </div>



          </div>
          </div>
           </div>
                          

                          <div class="card shadow mt-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p style="color:#09060f;"  class=" m-0 font-weight-bold">Select user requested credentials</p>
                              </div>
                            </div>
                            <div class="card-body">

                              <div class="form-row mb-3">
                              <div class="col">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" {{standalone}} name="standalone" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">Data transfered to application : if <strong>checked</strong> application receives the credential data, if <strong>unchecked</strong>, application receives a proof of a successful verification of the credentials</label>
                                </div>
                              </div> 
                              </div>

                              

                          <div class="form-row">
                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential 1</strong></label><select name="vc_1" class="form-control">
                                  {{vc_select_1|safe}}  
                                  </select></div>

                          </div>  
                          <div class="col">
                            <div class="form-group"><label><strong>If credential 1 is a Pass : Issuer Id</strong><br></label><input class="form-control" type="text" name="vc_issuer_id" value="{{vc_issuer_id}}"></div>
                          </div>
                         

                          </div>
                          <div class="form-row">

                            <div class="col-6">
                                <div class="form-group"><label><strong>Credential 2</strong></label><select name="vc_2" class="form-control">
                                  {{vc_select_2|safe}}  
                                  </select></div>
                            </div>      
                          </div>
                       
                          </div>
                          </div>


                          <div class="card shadow my-3">
                            <div class="card-header py-3">
                              <div class="d-flex justify-content-between">
                                <p style="color:#09060f;" class="m-0 font-weight-bold">Customize verifier landing page</p>
                              </div>
                            </div>
                            <div class="card-body">

                              <div class="form-row">
                                <div class="col-2">
                                  <div class="form-group"><label><strong>Landing page style</strong></label><select  name="verifier_landing_page_style" class="form-control">
                                    <option value="">--Please choose an option--</option>
                                   {{verifier_landing_page_style_select|safe}}
                                    </select></div>
                              </div>
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page title</strong><br></label><input class="form-control" type="text" name="page_title" value="{{page_title}}"></div>
                                </div>
    
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page subtitle</strong><br></label><input class="form-control" type="text" name="page_subtitle" value="{{page_subtitle}}"></div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col">
                                  <div class="form-group"><label><strong>Landing page description</strong><br></label><textarea class="form-control" rows="5" name="page_description" >{{page_description}}</textarea></div>
                                </div>
                              </div>

                         <div class="form-row">
                  
                            <div class="col">
                              <div class="form-group"><label><strong>Title QR code page for desktop </strong><br></label><textarea required class="form-control" name="title" >{{title}}</textarea></div>
                            </div>

                            <div class="col">
                              <div class="form-group"><label><strong>Subtitle QR code page for desktop</strong><br></label><textarea class="form-control" name="qrcode_message" >{{qrcode_message}}</textarea></div>
                            </div>
                         </div>


                         <div class="form-row">

                          <div class="col">
                            <div class="form-group"><label><strong>Page background color</strong><br></label><input type="color" class="form-control" name="page_background_color" value="{{page_background_color}}"></div>
                          </div>
                     

                        <div class="col">
                          <div class="form-group"><label><strong>Page text color</strong><br></label><input type="color" class="form-control" name="page_text_color" value="{{page_text_color}}"></div>
                        </div>
                    

                      <div class="col">
                        <div class="form-group"><label><strong>QR code background color</strong><br></label><input type="color" class="form-control" name="qrcode_background_color" value="{{qrcode_background_color}}"></div>
                      </div>
                    </div>

                         <div class="form-row">
                          
                     
                        <div class="col">
                          <div class="form-group"><label><strong>Message for mobile</strong><br></label><textarea class="form-control" name="mobile_message" >{{mobile_message}}</textarea></div>
                        </div>
                   
                         </div>
                        <div class="form-row">
                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message credential 1</strong><br></label><textarea class="form-control" name="reason" >{{reason}}</textarea></div>
                            </div>

                            <div class="col">
                              <div class="form-group"><label><strong>In wallet message credential 2</strong><br></label><textarea class="form-control" name="reason_2" >{{reason_2}}</textarea></div>
                            </div>
                         </div>


                        <div class="form-row">
                         
                          <div class="col">
                            <div class="form-group"><label><strong>Privacy URL</strong><br></label><input class="form-control" type ="text" value="{{privacy_url}}" name="privacy_url" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label><strong>Terms & conditions URL</strong><br></label><input class="form-control" type="text" value="{{terms_url}}" name="terms_url" ></div>
                          </div>
                      </div>
                      <div class="form-row text-center">
                        <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="preview" type="submit">Preview landing page</button></div>
                      </div>

                        </div>
                        </div>

                        <div class="form-group">
                          <div class="form-row">
                                <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="advanced" type="submit">Advanced configuration</button></div>
                                <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="copy" type="submit">Copy</button></div>

                                {% if session['client_data']['user'] == session['login_name'] or session['login_name'] == 'admin' %} 
                                <div class="col"><button style="background-color: #09060f;"  class="btn btn-primary btn-sm" name="button" value="update" type="submit">Save</button></div>
                            <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="delete" type="submit">Delete</button></div>
                            {% endif %}
                            <div class="col"><button  style="background-color: #09060f;" class="btn btn-primary btn-sm" name="button" value="activity" type="submit">Activity</button></div>





                          </div>
                        </div>
                     
                    </div>
                  </div>

               

                </form>
                </div>
              
          </div>
        </div>
      </div>

      {% include 'user_footer.html' %}

      <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='theme.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


    </body>

</html>
