<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>HomePage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Contact-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5-overrides.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Carousel-Hero.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="d-flex flex-column" id="content-wrapper">
    <div>
      <div id="content" style="background-attachment:local;background-size:cover;background-position:50%30% ;background-repeat:no-repeat;background-image: url('/static/img/background.png');">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'user_nav_bar.html' %}

        <div class="row justify-content-center  mt-3">
          <div class="card w-100 m-md-5 shadow" style="max-width: 1200px;">
            <div class="card-body">
              <div class="d-inline-flex w-100 m-0">
                <div class="col-md-2"><img src="{{offer['logo']}}" style="width: 110px;"></div>
                <div class="col-md-10 text-dark">
                  <p style="font-size: 18px;margin-bottom: 2px;"><strong>{{offer['title']}}</strong></p>
                  <div class="row">
                    <div class="col">
                      <p style="color: rgb(59,59,59);margin-bottom: 0px;">{{offer['company']}} </p>
                      <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;{{offer['location']}}&nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-pencil"></i>&nbsp;{{offer['position']}}</p>
                    </div>
                    <div class="col text-right">
                      <form name="form" action="/view_job_offer?offer={{offer['number']}}" method="POST">
                        <button title="Apply to this job offer" class="btn btn-primary btn-lg mx-5" type="submit">Apply for this job</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row my-4">
                <p class="p-4 text-justify">{{offer['description']|safe}}</p>
              </div>
            </div>
          </div>
        </div>

        {% include 'user_footer.html' %}
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
