<!DOCTYPE html>
<html>
  <head>{% include 'head.html' %}</head>
  <body>
        {% include 'sandbox_nav_bar.html' %}
          
        
  <div id="content_desktop" class="d-none d-sm-block">
      <div class="text-center">  
                <div id="id_text" class="m-5">
                  <h1>Display your VP and VC</h1>
                  <br><br>Scan the QRCode below with your wallet (Talao or Altme). 
                <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(url) }}" class=" w-30 h-30"></div>
                <br>
                <br>
                <br>
                <br><br>Scan the QRCode below with your wallet camera. 
                <div id="id_qrcode" class="mt-5"><img src="{{ qrcode(altme_deeplink) }}" class=" w-30 h-30"></div>
                <p><button  type="button"  onclick="goBack()">Back</button></p>
                </div>
      </div>
       
  </div>

  <div id="content_smartphone" class="d-block d-sm-none">
    <div class="text-center m-5 mt-5"> 
      <h1>Display your VP and VC</h1>
      <br><br>
      <a href="{{deeplink}}" class="btn btn-primary">Open the Talao wallet</a>
      <br> <br><br>
      <a href="{{altme_deeplink}}" class="btn btn-primary">Open the Altme wallet</a>
      <br><br>
      <p><button  type="button"  onclick="goBack()">Back</button></p>


      </div>
    </div>






  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
             
      <script>      
                function goBack() {  window.history.back();}
      </script>
      <script>
        var source = new EventSource('/sandbox/VP_presentation_stream');
        console.log(source);
        source.onmessage = function (event) {
        const result = JSON.parse(event.data)
        if (result.message == 'ok' & result.stream_id == '{{stream_id}}' ){
          window.location.href='/sandbox/VP_presentation_display?stream_id=' + result.stream_id;
          }
        if (result.message != 'ok' & result.stream_id == '{{stream_id}}' ) {
          window.location.href='/sandbox/VP_presentation_display?message=' + result.message;
        } 
        };
      </script>
  </body>
</html>