<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}

</head>
<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                      <div id="display">
                        <div class="text-center"><h4 class="text-dark mb-4">Connect with your mobile wallet</h4>
                        <button  class="btn btn-primary center-block text-white " onclick="Init()">Scan WalletConnect QR code</button>
                        </div>
                      </div>
                      <br>
                      <div id="reset"></div>

                      <div class="text-center"><a class="small" href="/login/" >Login with passsword</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wcbundle.js') }}"></script>

  <script>
    function mydisplay(){
    var htmli =  "<div class='text-center'><h4 class='text-dark mb-4'>Connect with your Wallet</h4><form class='user' action='/wc/' method='POST'>Your address : <input class='text-secondary' name='address' type='text' id='test_address' readonly size = '40' style='border :0'></input><br><br><button class='btn btn-primary text-white btn-user' type='submit'>Confirm and connect</button></form></form></div>";
    var htmli2 =  '<div class="text-center"><a class="small" onclick="End()" href="#" >Change address</a></div>'

    $("#display").html(htmli);
    $("#reset").html(htmli2);
    }
  </script>

  <script> function Init() {
    window.onInit();
    mydisplay();
    }
  </script>

  <script> function End() {
    window.onEnd();
    window.location.href = "/wc/";
  }
  </script>

  <script> function call_sendToken() {
      let one_address = document.getElementById("address").value ;
      window.sendToken(one_address);
    };
  </script>

</body>
</html>