<!DOCTYPE html>
<!-- wc_activate.html-->
<html>
<head>
  {% include 'head.html' %}
</head>
<body id="page-top"  onload="page_onload()">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'user_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4  id="id_page"  class='text-dark mb-4'>Activate your wallet</h4>
                            <p>To activate your wallet to get a full control of your Identity, you must execute a transaction on the Bockchain.
                                This feature is available for Metamask mobile wallet only. Your wallet has been provided with the gas fees and TALAO tokens needed for the transaction.
                                This is free on the Talaonet private blockchain.
                            </p>
                          <form id="dynForm" action="/user/" method="post">
                          </form>
                          <div class="">
                         <!--   <img id="id_wallet_logo" src="{{wallet_logo}}" style="width: 120px;border-radius:0px;">  -->
                            <div id="id_wallet_name">{{wallet_name}}</div>
                          </div>
                            <br>
                        <!--    <span>Your wallet account :</span> -->
                            <p id='id_address_html'></p>
                            <br>
                            <button class='btn btn-primary text-white btn-user' onclick="activate()" id="in_progress_button" type='button'>Activate</button>
                            <br><br>
                        <div class="text-center"><a class="small" href="/user/" >Back/Cancel</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



  <script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

<script> async function activate() {
  await window.createVaultAccess();
  document.getElementById("dynForm").submit();
    }

</script>

<script>
function page_onload(){
  window.getAccountAddress().then(value => {
    console.log('value dans page_onload = ', value);
    document.getElementById("id_address_html").innerHTML = 'Wallet account : ' + value[0];

  });
}
</script>



</body>
</html>