<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body id="page-top"  >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 class='text-dark mb-4'>Your wallet is connected</h4>
                        <form class='user' action='/wc_login_sign/' method='POST' >
                          <div class="">
                            <a href="/"><img id="id_wallet_logo" src="" style="width: 120px;border-radius:0px;"></a>
                          </div>
                            <p>Your wallet account :</p>
                            <p id='id_address_html'>{{wallet_address}}</p>
                            <input hidden name='wallet_address' value="{{wallet_address}}" type='text' id='id_wallet_address'></input>
                            <input hidden name='wallet_name'  type='text' id='id_wallet_name'></input>
                            <input hidden name='wallet_logo' type='text' id='id_wallet_logovalue'></input>
                            <br>
                            <button class='btn btn-primary text-white btn-user' type='submit'>Authenticate your account</button>
                        </form>
                        <br>
                        <div class="text-center"><a class="small" onclick="End()" href="#" >Change wallet account</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



  <script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

  

<script>
function page_onload(){
  console.log('page onload de wc_confirm.html');
  let value = "";
  let src = "";
  window.getAccountAddress().then(value => {
    console.log('value = ', value);
    //document.getElementById("id_wallet_address").value = value[0];
    //document.getElementById("id_address_html").innerHTML = value[0];
    document.getElementById("id_wallet_name").value = value[1];
    if (value[2] == null)
      {var filename= value[1].replace(' ', '').toLowerCase();
      src = "/static/img/wallet/" + filename + ".png";}
    else
      {src=value[2];}
    console.log('src = ', src);
    document.getElementById("id_wallet_logo").src = src;
    document.getElementById("id_wallet_logovalue").value = src;
    document.getElementById("id_wallet_name").value = value[1];
  });
}
</script>

<script> window.onload = page_onload()</script>


</body>
</html>