<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body id="page-top"  onload="page_onload()">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4  id="id_page"  class='text-dark mb-4'>Your wallet is connected</h4>
                          <form id="dynForm" action="/wc_login/" method="post">
                            <input id="id_wallet_signature" type="hidden" name="wallet_signature" value="">
                            <input value={{wallet_address}} type="hidden" name="wallet_address" value="">
                          </form>
                          <div class="">
                            <img id="id_wallet_logo" src="{{wallet_logo}}" style="width: 120px;border-radius:0px;">
                            <div id="id_wallet_name">{{wallet_name}}</div>
                          </div>
                            <br>
                            <span>Your wallet account :</span>
                            <p id='id_address_html'>{{wallet_address}}</p>
                            <br>
                            <button class='btn btn-primary text-white btn-user' onclick="sign_message()" id="in_progress_button" type='button'>Authenticate your account</button>
                            <br><br>
                            <p id="id_code" >Code to confirm :  {{wallet_code}} / {{wallet_code_hex}}</p>
                        <div class="text-center"><a class="small" onclick="End()" href="#" >Change wallet account</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



  <script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

<script> async function sign_message() {
  let code = "{{wallet_code}}";
  document.getElementById("id_page").innerHTML = "Waiting for wallet signature...";
  await generateRSA();
  let signature = await window.sign(code);
  if (signature){
  document.getElementById("id_page").innerHTML = "Identity loading...";
  document.getElementById("id_wallet_signature").value = signature;
  document.getElementById("dynForm").submit();
  document.getElementById("id_code").innerHTML = "";
  console.log("call sign message, dans signature");
  window.onEnd();

  }
};
</script>

<script>
function page_onload(){
  window.getAccountAddress().then(value => {
    console.log('value dans page_onload = ', value);
  
  });
  //console.log('cle RSA = ', window.generateRSA());
}
</script>



</body>
</html>