<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Professional Decentralized Identity Solution">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/3D.ico') }}"/>

  <title>Talao Professional Identity</title>
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='Footer-Clean.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body id="page-top"  >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 id="id_page" class='text-dark mb-4'>Authenticate your wallet account</h4>
                        <form class='user' action='/wc_login/' method='POST' >
                          <div class="">
                            <a href="/"><img  src="{{wallet_logo}}" style="width: 120px;border-radius:0px;"></a>
                          </div>
                            <p id="id_text" >Confirm with your wallet the code below : {{wallet_code}}</p>
                            <input hidden name='wallet_signature' type='text' id='id_wallet_signature'></input>
                            <div id="id_button"></div>
                        </form>
                        <br>
                        <div class="text-center"><a class="small" onclick="End()" href="#" >Change wallet account</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



  <script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>


<script> async function sign_message() {
    signature = await window.sign("{{wallet_code}}");
    if (signature){
    document.getElementById("id_wallet_signature").value = signature;
    document.getElementById("id_page").innerHTML = "Your wallet account is authenticated";
    document.getElementById("id_text").innerHTML = "";
    document.getElementById("id_button").innerHTML ='<button class="btn btn-primary text-white btn-user" id="in_progress_button" type="submit">Go to your Identity</button>';

    }
  };

</script>
<script>
function page_onload(){
  console.log('page onload de wc_confirm.html');
  let signature = "";
  window.getAccountAddress().then(value => {
    console.log('value = ', value);
    sign_message();
    });
}
</script>

<script> window.onload = page_onload()</script>


</body>
</html>