<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
  

</head>
<body id="page-top"  >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 id="id_page" class='text-dark mb-4'>Authenticate your wallet account</h4>
                        <form class='user' action='/wc_login/' method='POST' >
                          <div class="">
                            <a href="/"><img  src="{{wallet_logo}}" style="width: 120px;border-radius:0px;"></a>
                          </div>
                            <p id="id_text" >Confirm with your wallet the code : {{wallet_code}}</p>
                            <input hidden name='wallet_signature' type='text' id='id_wallet_signature'></input>
                            <div id="id_button"></div>
                            <button class="btn btn-primary text-white btn-user" id="in_progress_button" type="submit">Check signature and go to your Identity</button>'
                        </form>
                        <br>
                        <div class="text-center"><a class="small" onclick="End()" href="#" >Change wallet account</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>
  <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>



  <script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

<script> async function sign_message() {
    let code = "{{wallet_code}}";
    console.log('code = ', code);
    let signature = await window.sign(code);
    console.log('signature dans wc_confirm_sign.html = ', signature);
    if (signature){
    document.getElementById("id_wallet_signature").value = signature;
    document.getElementById("id_page").innerHTML = "Your wallet signature has been received";
    document.getElementById("id_text").innerHTML = "";
    document.getElementById('in_progress_button').style.visibility = 'visible';
    await window.onEnd();
    }
  };


</script>


<script>
function page_onload(){
  document.getElementById('in_progress_button').style.visibility = 'hidden'
  console.log('page onload de wc_confirm.html');
  window.getAccountAddress().then(value => {
    console.log('value = ', value);
    sign_message();
    }); 
}
</script>

<script> window.onload = page_onload()</script>


</body>
</html>