<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}

</head>
<body id="page-top" onload="page_onload()" >
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'guest_nav_bar.html' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <div class='text-center'><h4 class='text-dark mb-4'>Scan with your smartphone Crypto Wallet</h4>
                            You can access your Digital Identity from your desktop or from your smartphone. In any case you will need a smartphone crypto wallet to authenticate yourself.
                            We support through <a href="https://walletconnect.org/" >WalletConnect</a> 
                            more than <a href="https://walletconnect.org/wallets" >50</a> crypto mobile wallets (<a href="https://metamask.io/
                            ">Metamask</a>, <a href="https://trustwallet.com/
                            ">Trust</a>, <a href="https://rainbow.me/">Rainbow</a>, <a href="https://token.im/" >ImToken</a>, <a href="">Matic Wallet</a>,...).
                            <br>
                            <br>
                            To connect with your mobile wallet, go to Settings or Options of your Crypto Wallet and select WalletConnect.
                            This opens the smarphone camera to scan the QR code. If the scan does not accept the small QR Code try a larger one. After scanning, if you already have an Digital Identity, it should prompt you to approve the connection to <b>Talao Professional Identity.</b>
                            <br><br>
                            If you do not have a Digital Identity, it will propose you to register a new Professional Digital Identity.
                            <br><br>
                            If you use your smartphone browser to access the Talao website, your crypto mobile app will open automatically.
                            Your mobile will allow you to list the supported mobile linking wallets and provide you with logo, name, color and targetted deep links.
                            <br>
                        <br>
                        <div class="form-group"><button  onclick="goBack()" class="btn btn-primary btn-sm" type="button" name="choice" value="cancel">Back</button></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'user_footer.html' %}
    <script>function goBack() {  window.history.back();}</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>
</html>