<!DOCTYPE html>
<!-- wc_register_phone.html -->
<html>

<head>
    {% include 'head.html' %}
</head>
 <body id="page-top" onload="page_onload()">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-12 col-xl-10">
                            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-login-image">
                                                <p class="text-center" style="margin: 75px 50px 0px;">
                                                    <br><br>You are going to receive an SMS with a secret code. 
                                                    <br>Copy this secret code for phone verification.<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 id="id_page" class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Check your phone for SMS</h4>
                                                </div>
                                                <form id="form" class="user" action="/wc_register/" method="POST">
                                                    <input id="id_public_rsa" value="" type="hidden" name="public_rsa" >
                                                    <input id="id_aes_private" value="" type="hidden" name="aes_private" >
                                                    <input id="id_aes_secret" value="" type="hidden" name="aes_secret" >
                                                    <input id="id_user_aes_encrypted_with_talao_key" value="" type="hidden" name="user_aes_encrypted_with_talao_key" >
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox small"><h6 class="text-danger" >{{message}}</h6></div>
                                                    </div>
                                                    <div class="form-group"><input class="form-control" type="password" placeholder="Enter your verification code" name="mycode" style="color: rgb(133,135,150);"></div>
                                                    <div class="form-group"><button class="btn btn-primary text-white btn-block border rounded btn-user" id="in_progress_button" onclick="on_click()" type="button">Next</button></div> 
                                                </form>
                                                <div class="text-center"><a class="small" onclick="End()" href="#">Login</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
    <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>



    <script>async function on_click() {
        console.log('appel de on click');
        /* one starts the createidentity process with key creation from the wallet smartphone.
        Those keys (public Rsa and 2 AES) will be transfered encrypted to the server to start the workspace setup.
        The process will use a local ethereum address to avois the need of transactions from the wallet.
        At the end of the process the workspace will be transfered to the wallet account.
        The walet will be used only to sign data. No blockchain transaction are done at that point.
        */
          document.getElementById("id_page").innerHTML = "Waiting for wallet signature...";
          const data = await window.createWorkspaceKeys();
          document.getElementById("id_page").innerHTML = "Identity is being deployed (3 minutes)...";
          document.getElementById("id_public_rsa").value = data[0];
          document.getElementById("id_aes_private").value = data[1];
          document.getElementById("id_aes_secret").value = data[2];
          document.getElementById("id_user_aes_encrypted_with_talao_key").value = data[3];
          document.getElementById("form").submit();
          window.onEnd();
    }
    </script>
    
    <script>
        function page_onload(){
          window.getAccountAddress().then(value => {
            console.log('value dans page_onload = ', value);
          });
        }
        </script>


<script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

</body>
</html>
