<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>
 <body id="page-top" onload="page_onload()">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-12 col-xl-10">
                            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-login-image">
                                                <p class="text-center" style="margin: 75px 50px 0px;">
                                                    <br><br><br>You are going to receive an email with a verification code. 
                                                    <br>Copy this code for email verification.<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Check your email</h4>
                                                </div>
                                                <form class="user" action="/wc_register/" method="POST">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox small"><h6 class="text-danger" >{{message}}</h6></div>
                                                    </div>
                                                    <div class="form-group"><input class="form-control" type="password" placeholder="Enter your verification code" name="mycode" style="color: rgb(133,135,150);"></div>
                                                    <div class="form-group"><button class="btn btn-primary text-white btn-block border rounded btn-user" id="" type="submit">Next</button></div> 
                                                </form>
                                                <div class="text-center"><a class="small" conclick="End()" href="#">Login</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user_footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>

  <script>
    function page_onload(){
      window.getAccountAddress().then(value => {
        console.log('value dans page_onload = ', value);
      });
    }
    </script>



<script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

</body>
</html>
