<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}

</head>
<body id="page-top" onload="page_onload()">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
                {% include 'guest_nav_bar.html' %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-12 col-xl-10">
                            <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-login-image">
                                                <p class="text-center" style="margin: 75px 50px 0px;">
                                                    <br><br><br>
                                                    <br>Talao is a Blockchain protocol to manage a professional Self Sovereign Identity (Digital Identity).<br>
                                                    <br>Enter your firstname, lastname and email. Your smartphone crypto wallet will be used for authentification.<br>
                                                    <br>Your email, phone number and crypto wallet signature with be checked through the process. <br>
                                                    <br>Your Digital Identity will be secured by your cryptographic keys. Make sure you have a copy of the passphrase of your crypto wallet.<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 id="id_page" class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Create a new Digital Identity with your wallet account</h4>
                                                  <!--  {{wallet_address}}  -->
                                                </div>
                                            <div class="col" style="color: rgb(255,2,2);">
									            <div class="form-group"><div class="custom-control custom-checkbox small"><h6 class="text-danger" >{{message}}</h6></div>
								            </div>
                                            <form id="form" class="user" action="/wc_register/" method="POST">
                                                <div class="form-group"><input class="form-control" type="text" placeholder="Firstname" value="{{firstname}}" name="firstname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="text" placeholder="Lastname" value="{{lastname}}" name="lastname"  style="color: rgb(133,135,150);" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="email" placeholder="Email" value="{{email}}" name="email" required="" ></div>
                                                <div class="form-group"><input class="form-control" type="tel" title="Phone number with country code ex : +33 6007080900)" placeholder="Phone Number (International)" value="{{phone}}" name="phone" required="" ></div>

                                                <input id="id_public_rsa" value="" type="hidden" name="public_rsa" >
                                                <input id="id_aes_private" value="" type="hidden" name="aes_private" >
                                                <input id="id_aes_secret" value="" type="hidden" name="aes_secret" >
                                                <input id="id_user_aes_encrypted_with_talao_key" value="" type="hidden" name="user_aes_encrypted_with_talao_key" >

                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" name="CheckBox"  checked>
                                                    <label  style="color: rgb(133,135,150);" title="The name directory is used to provide suggestion in the search bar. It links your username with your firstname and lastname. " >I accept to have my name in the Name Directory</label>
                                                </div>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" name="CheckBox1" >
                                                    <label  style="color: rgb(133,135,150);" title="" >I agree to Talao's Privacy Policy and Terms and Conditions(French)</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input checked class="form-check-input" type="radio" name="CheckBox2" id="inlineRadio1" value="wallet_login">
                                                    <label style="color: rgb(133,135,150);"  class="form-check-label" title="Wallet will be used for login (Recommended)." for="inlineRadio1">Workspace</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="CheckBox2" id="inlineRadio2" value="digital_identity">
                                                    <label  style="color: rgb(133,135,150);" class="form-check-label"title="Wallet will be used to access a Digital Identity. French citizen over 18 only. Have a look at the CGU for requirements." for="inlineRadio2">Digital Identity (Test)</label>
                                                </div>
                                                <br><br>
                                                <div id="a"></div>
                                                <button class="btn btn-primary btn-block text-white border rounded btn-user" onclick="on_click()" id="in_progress_button" type="button">Next</button>
                                            </form>
                                        <div class="text-center"><a class="small" onclick="End()" href="#">Login</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% include 'user_footer.html' %}
                <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
                <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
                <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
                <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>
                <script src="{{ url_for('static', filename='wc-talao.min.js') }}"></script>

        </div>
    </div>


<script>async function on_click() {
    /* 
    One checks if this is an Digital Identity or a standard workspace creation.
    In case of a Digital Identity we verify email and phone number. In that case
    the Identity will be created by the register_phone.html dapp...
    */
    console.log('appel de on click');
    console.log('checkbox2 = ', document.getElementById("inlineRadio1").checked);
    if (document.getElementById("inlineRadio1").checked ){
        document.getElementById("id_page").innerHTML = "Waiting for wallet signature...";
        const data = await window.createWorkspaceKeys();
        document.getElementById("id_page").innerHTML = "Identity is being deployed (3 minutes)...";
        document.getElementById("id_public_rsa").value = data[0];
        document.getElementById("id_aes_private").value = data[1];
        document.getElementById("id_aes_secret").value = data[2];
        document.getElementById("id_user_aes_encrypted_with_talao_key").value = data[3];
        document.getElementById("form").submit();
        window.onEnd();
    }
    else {
        document.getElementById("form").submit();
    }

}
</script>

<script>
    function page_onload(){
      window.getAccountAddress().then(value => {
        console.log('value dans page_onload = ', value);
      });
    }
    </script>

<script> function End() {
    window.onEnd();
    window.location.href = "/login/";
  }
  </script>

</body>
</html>
