<!DOCTYPE html>
<html>
<head>


</head>
<body id="page-top"  onoad="page_onload()">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
       
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">

                      <button class='btn btn-primary text-white btn-user' onclick="window.onEnd()" type='button'>End</button>

                        <br><br>
                            <button class='btn btn-primary text-white btn-user' onclick="call()" type='button'>appel fonction</button>
                        <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="/home/thierry/Talao/static/wc-talao.min.js"></script>


<script>
function page_onload(){

}
</script>

<script>function call(){
  
//  window.window.getAccountAddress();
  console.log(window.signtransaction());
  
  }</script>


</body>
</html>