<!DOCTYPE html>
<html>
<head>


</head>
<body id="page-top"  onoad="page_onload()">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
       
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-10 col-xl-8">
              <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">
                <div class="card-body p-0">
                  <div class="col">
                    <div  class="p-5">
                        <br><br>
                            <button class='btn btn-primary text-white btn-user' onclick="call_checkmessage()" type='button'>appel fonction</button>
                        <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="/home/thierry/Talao/static/wc-talao.min.js"></script>

<script>function call_checkmessage(){
    window.checkmessage();
}


</script>

  

<script>
function page_onload(){
 window.onInit();
}
</script>



</body>
</html>