<!DOCTYPE html>
<html>
<!-- end_of_registration_fr.html-->
<head>
    {% include 'head.html' %}
</head>
    <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'guest_nav_bar.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-offset-2">

                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">

                     
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4" style="font-family: Nunito, sans-serif;">Votre Identité Numérique Professionelle et votre portfolio ont été installés</h4>
                                    </div>
                                    <div class="flex-grow-1 bg-login-image">
                                            <p class="text-center" ">
                                            <br><br>Vous pouvez maintenant vous connecter à votre Identité et demander une attestation à votre employeur.<br><br></p>
                                    </div>
                                    <form class="user" action="/register/post_code" method="GET">
                                        <div class="form-group">
                                            <div class="custom-control text-center custom-checkbox small"><h6 class="text" >
                                              <br>Votre login est <b>{{username}}.</b></h6></div>
                                        </div><button class="btn btn-primary btn-block text-white border rounded btn-user" type="submit">Connexion</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                            {% include 'user_footer.html' %}
    </div>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
