<!DOCTYPE html>
<html>
<!-- hrid_company_register.html -->
<head>
  {% include 'head.html' %}
 
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'guest_nav_bar.html' %}

        <div class="container-fluid mt-3">
          <div class="row  mb-3 ">
            <div class="col">
              <div class="card shadow mb-3 ">
              <br>
              <h4 class="text-center">Créez vous même votre site web de gestion des attestations professionelles au format de l'Identité Numérique.</h4>

                <div class="card-body">
                    <p class="text-center">L'Identité Numérique pour chacun d'entre nous se déploie rapidement. 
                      <br>Bientôt nous disposerons d'une application sur smartphone dans laquelle nous conserverons nos documents d'identité, nos diplômes, nos certificats et qualifications professionnelles.
                      <br>Ces attestations nous permettront d'accéder aux services en ligne publics et privés en toute sécurité et dans le respect de notre vie privée.
                      <br>Talao propose dès à présent de mettre en place pour son entreprise et ses salariés une Identité Numérique pour produire les attestations nécessaires aux salariés dans leur vie professionnelle.
                      <br>Après saisie des informations de ce formulaire, une Identité Numérique va être créée pour votre entreprise.
                      Cette Identité vous permettra de signer électroniquement les attestations demandées par vos salariés. 
                      <br>Ces attestations seront disponibles pour vos salariés dans leur smartphone et dans un coffre fort numérique mis à leur disposition.
                        </p><br>
                  <form id="form" action="/hrid/register/company" method="post">

     <!-- row--> <div class="row mb-3">
      <div class="col">
        <div class="card shadow mb-3 h-100">
          <div class="row">
            <div class="col">
              <div class="card-body">


                      <p><strong>Entreprise :</strong></p>
                      <div class="form-row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label>Nom de l'entreprise&nbsp;<br></label>
                            <input class="form-control" type="text" value="{{company_name}}" required name="company_name">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label >Site internet<br></label>
                                    <input class="form-control" type="text" required value="{{website}}" name="website" placeholder="sous la forme https://talao.io">
                                </div>
                            </div>
                       
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label data-toggle="tooltip" data-bs-tooltip="" title="">SIREN (Optionel)<br></label>
                                    <input class="form-control" type="text" value="{{siren}}" pattern="(?=.*\d).{9,9}" name="siren">
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label >Adresse postale<br></label>
                                    <textarea class="form-control" rows="2"  type="text" required  name="postal_address" placeholder="">{{postal_address}}</textarea>
                                </div>
                            </div>
                        </div>

                        <br>
                            <p><strong>Représentant de l'entreprise :</strong></p>


                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label data-toggle="tooltip" data-bs-tooltip="" title="">Nom et prénom<br></label>
                                    <input class="form-control" type="text"  value="{{contact_name}}" required name="contact_name">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label data-toggle="tooltip" data-bs-tooltip="" title="">Email<br></label>
                                    <input class="form-control" type="email"  value="{{contact_email}}" required name="contact_email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label data-toggle="tooltip" data-bs-tooltip="" required title="">Téléphone<br></label>
                                    <input class="form-control" placeholder="+33......" value="{{contact_phone}}" type="text"  value="{{contact_phone}}" name="contact_phone">
                                </div>
                            </div>
                        </div>

                        <br>

</div>
</div>
</div>
</div>
</div>
  <div class="col">
    <div class="card shadow mb-3 h-100">
      <div class="row">
        <div class="col">
          <br>


                        <p class="text-center"><strong>{{_('Choisissez les attestations à proposer à vos salariés')}} :</strong></p>
<div class="card-body">

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="pass" checked id="flexCheckDefault" name="pass" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{pass_txt}}
                          </label>
                        </div>
                        <hr>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="experience" {{experience_box}} id="flexCheckDefault" name="experience" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{experience_txt}}
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="skill" {{skill_box}} id="flexCheckDefault" name="skill" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{skill_txt}}
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="training" {{training_box}} id="flexCheckDefault" name ="training" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{training_txt}}
                          </label>
                        </div>
                        
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="recommendation" {{recommendation_box}} id="flexCheckDefault" name="recommendation" >
                        <label class="form-check-label" for="flexCheckDefault">
                            {{recommendation_txt}}
                        </label>
                        </div>
                    
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="hiring" {{hiring_box}} id="flexCheckDefault" name="hiring" >
                          <label class="form-check-label" for="flexCheckDefault">
                              {{hiring_txt}}
                          </label>
                        </div>
                        <hr>
                        
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="work" {{work_box}} id="flexCheckDefault" name="work">
                          <label class="form-check-label" for="flexCheckDefault">
                              {{work_txt}}
                          </label>
                        </div>
                        
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="vacation" {{vacation_box}} id="flexCheckDefault" name="vacation">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{vacation_txt}}
                          </label>
                        </div>
                        
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="internship" {{intership_box}} id="flexCheckDefault" name="internship">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{internship_txt}}
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="relocation" {{relocation_box}} id="flexCheckChecked" name="relocation">
                            <label class="form-check-label" for="flexCheckChecked">
                            {{relocation_txt}}
                            </label>
                        </div>
                                                
                        <div hidden class="form-check">
                          <input class="form-check-input" type="checkbox" value="end_of_work" {{end_of_work_box}} id="flexCheckCheckedDisabled" name="end_of_work">
                          <label class="form-check-label" for="flexCheckCheckedDisabled">
                              {{end_of_work_txt}}
                          </label>
                        </div>
                        <hr>
                      
</div>                       
</div>
</div>
</div>
</div>
<!-- end of row--> </div>
<div class="row mb-3">
<div class='col'>
                        <div class="form-row">
                           <div class="col-lg-2 offset-lg-5">
                              <div class="form-group">
                                <label data-toggle="tooltip" data-bs-tooltip="" title="">Code promotionel :<br></label>
                                <input class="form-control" type="text"  name="promo">
                              </div>
                          </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-4 offset-lg-4">
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="CGU" >
                                <label style="color: rgb(133,135,150);"  >J'ai lu et j'accepte les conditions générales d'utilisation du service (CGU).Conformément au RGPD et aux recommandations de la CNIL aucune donnée concernant votre entreprise et vos salariés ne sont sauvegardées sur la blockchain.</label>
                              </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col text-center">
                              <div class="form-group"><button id="in_progress_button" class="btn btn-primary btn-sm" type="submit">S'inscrire</button></div>
                              10 attestations offertes à l'inscription.
                            </div>
                           
                      </div>
                    </div>
</div>
   </div>
<!-- end of row--> </div>


                  </form>
                  <div class="text-center"><a class="small" href="/login">Se connecter</a></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}
  <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
   <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
   <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='in_progress_button.js') }}"></script>

   <script>


    function goBack() {
        window.history.back();
        }
    </script>

</body>

</html>
