<!DOCTYPE html>
<!-- app_download.html -->
<html>

<head>
    {% include 'head.html' %}
</head>

<body id="page-top" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" >
                {% include 'guest_nav_bar_2.html' %}

                <div class="container">
                    <div class="row mt-5">
                        <div class="col-sm-6 offset-sm-3">
                            <div id = "id_loading">
                                <div class="card">
                                    <img src="/static/img/7.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title">{{_('The Talao SSI wallet is not installed on your phone')}}</h5>
                                            <p class="card-text">{{_('Download the app')}}</p>
                                            <div class="col mt-4">
                                                <div id="logo" class="text-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>                                      
                                    <form id="id_token" action="/user/" method="POST">
                                        <input id="input_token" hidden  name="token" >
                                    </form>
                                    <form id="id_failed" action="/app/login" method="GET">
                                    </form>
                            
                            </div>
                            <div id="space"></div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
     {% include 'user_footer.html' %}  

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>   

    <script>
		var isMobile = /iPhone|iPad/i.test(navigator.userAgent);
		var element = document.getElementById('logo');
		if (isMobile) {
            element.innerHTML = '<a href="https://apps.apple.com/fr/app/talao-wallet/id1582183266#?platform=iphone"><img  src="/static/img/apple-appstore-badge.svg"  style="width: 200px;border-radius:0px;"></a>'

		} else {
			element.innerHTML = ' <a href="https://play.google.com/store/apps/details?id=co.talao.wallet&hl=fr_FR"><img  src="/static/img/google-play-badge.svg"  style="width: 200px;border-radius:0px;"></a>'
;
		}
	</script>
    
    </script>

</body>
</html>
