
<html >
  <head> 
    {% include 'head.html' %}
    <script src="/static/walletbeacon.min.js"></script>
  </head>

  <body style="background-color: rgb(185, 179, 243) ">


    <nav class="navbar navbar-light navbar-expand-md sticky-top  mb-3" >
      <div class="container-fluid">
        <div>
          <a href="https://altme.io"><img  src="/static/img/altme_logo_2.png" alt="text" style="width: auto; max-width: 127px;  height: 70;"></a>
        </div>      
        <ul class="nav navbar-nav ml-auto d-lg-flex align-items-center" style="flex-direction: row;">
          <li class="nav-item active">
              <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="https://altme.io">Altme wallet</a>
            </li>
          <li class="nav-item active">
              <a class="nav-link" style="color: rgb(54, 24, 88); margin-bottom: 0" href="/sandbox/saas4ssi">Home</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class=" text-center"> 

    <div id="pairing">
        <h1 class="mt-5" >Onboard users with their Gamer Pass & register new users</h1>
     <!--   <h4>Secure your onboarding, know your users and respect their privacy with decentralized identities on Web3 apps</h4>
        <h6> Download the Altme wallet from <a href="https://play.google.com/store/apps/details?id=co.altme.alt.me.altme">Google play</a> or <a href="https://apps.apple.com/fr/app/altme/id1633216869">Apple store</a> and create a new wallet</h6>
     -->
        <br>
        <button  class="btn btn-outline-dark" id="requestPermission">SYNCHRONIZE YOUR ALTME WALLET</button><br>
    <!--    <button class="btn btn-outline-dark" id="reset">RESET</button><br>  -->

        <br /><br />
    </div>
    

    <div id="haveGamerPass">
      <h3>Do you have a Gamer Pass ?</h3>
      <button class="btn btn-outline-dark" id="haveGamerPassYes" >YES</button>
      <button class="btn btn-outline-dark" id="haveGamerPassNo" >NO</button>
      <br><br>  <br><br>
      <hr> 
      <div id="webhook">
          <h3>The Developers' Corner : data received on webhook</h3>
          <textarea id="dataSent" rows="10" cols="100"></textarea>
      </div>
      <button class="btn btn-outline-dark my-2" onclick="Reset();" id="reset">RESET</button><br>
      {% include 'use_case/dapp_footer.html' %}
  </div>


  <div id="registerGamerPass">
    <h3>Do you want to register a Gamer Pass ?</h3>
    <button class="btn btn-outline-dark" id="registerGamerPassYes" >YES</button>
    <button class="btn btn-outline-dark" id="registerGamerPassNo" >NO</button>
    <br><br>  <br><br>
    <hr> 
    <div id="webhook">
        <h3>The Developers' Corner : data received on webhook</h3>
        <textarea id="dataSent" rows="10" cols="100"></textarea>
    </div>
    <button class="btn btn-outline-dark my-2" onclick="Reset();" id="reset">RESET</button><br>
    {% include 'use_case/dapp_footer.html' %}
</div>



<div id="over13">
  <h3>Do you have a certificate proving that you are over 13 years old ?</h3>
  <button class="btn btn-outline-dark" id="over13Yes" >YES</button>
  <button class="btn btn-outline-dark" id="over13No" >NO</button>
  <br><br> <br><br>
  <hr> 
  <div id="webhook">
      <h3>The Developers' Corner : data received on webhook</h3>
      <textarea id="dataSent" rows="10" cols="100"></textarea>
  </div>
  <button class="btn btn-outline-dark my-2" onclick="Reset();" id="reset">RESET</button><br>
  {% include 'use_case/dapp_footer.html' %}
</div>

  <div id="account">
  <h3>Do you want to add another wallet account ?</h3>
  <button class="btn btn-outline-dark" id="accountYes" >YES</button>
  <button class="btn btn-outline-dark" id="accountNo" >NO</button>
  <br><br> <br><br>
  <hr> 
  <div id="webhook">
      <h3>The Developers' Corner : data received on webhook</h3>
      <textarea id="dataSent" rows="10" cols="100"></textarea>
  </div>
  <button class="btn btn-outline-dark my-2" onclick="Reset();" id="reset">RESET</button><br>
  {% include 'use_case/dapp_footer.html' %}
</div>

    <div id="downloadGamerPass">
        <h3>Download your Gamer Pass ?</h3>
        <button  class="btn btn-outline-dark" id="downloadGamerPassYes" >YES</button>
        <button class="btn btn-outline-dark" id="downloadGamerPassNo"" >NO</button>  
        <br><br>  <br><br>
        <hr> 
        <div id="webhook">
            <h3>The Developers' Corner : data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
        <button class="btn btn-outline-dark my-2" onclick="Reset();" id="reset">RESET</button><br>
        {% include 'use_case/dapp_footer.html' %}
    </div>

    <div id="welcome">
        <h3 id="welcomeText"></h3>
        <button  class="btn btn-outline-dark" onclick="Reset();"  >RESET</button>
        <br><br>  <br><br>
        <hr> 
        <div id="webhook">
            <h3>The Developers' Corner : data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
        <br>
        {% include 'use_case/dapp_footer.html' %}
    </div>
  </div>
  
  



    <script>
    document.getElementById('reset').style.visibility = 'hidden';
    document.getElementById('registerGamerPass').style.visibility = 'hidden';
    document.getElementById('account').style.visibility = 'hidden';
    document.getElementById('over13').style.visibility = 'hidden';
    document.getElementById('haveGamerPass').style.visibility = 'hidden';
    document.getElementById('downloadGamerPass').style.visibility = 'hidden';
    document.getElementById('welcome').style.visibility = 'hidden';

    var newGamerPass = false

    // Initiate DAppClient
    const client = beacon.getDAppClientInstance({
        name: 'Altme', // Name of the DApp,
        disclaimerText: 'https://altme.io',
        //errorMessages: {
        //  KT1RPW5kTX6WFxg8JK34rGEU24gqEEudyfvz: {
        //    NOT_OWNER: 'You are not the owner of this token.'
        //  }
        //}
      })

    // Display the active account in the UI
    const updateActiveAccount = () => {
        client.getActiveAccount().then((activeAccount) => {
          if (activeAccount) {
            console.log(activeAccount)
            document.getElementById("requestPermission").style.visibility = 'hidden';
            document.getElementById("haveGamerPass").style.visibility = 'visible';
            document.getElementById("reset").style.visibility = 'visible';
          } else {
            //document.getElementById('activeAccount').innerText = ''
            //document.getElementById('activeAccountNetwork').innerText = ''
            //document.getElementById('activeAccountTransport').innerText = ''
          }
        })
    }

    updateActiveAccount()


      // Initiate a permission request
    const requestPermission = (callback) => {
        client
          .requestPermissions(/*{ network: { type: beacon.NetworkType.DELPHINET } }*/)
          .then((permissions) => {
            console.log('permissions', permissions)
            if (callback) {
              callback(permissions)
            }
            updateActiveAccount()
          })
          .catch((error) => {
            console.log('error during permission request', error)
          })
      }


      // Add event listener to the button
    document.getElementById('requestPermission').addEventListener('click', () => {
        requestPermission()
    })
/*
    // Add event listener to the RESET button
    document.getElementById('reset').addEventListener('click', () => {
        client.destroy().then(() => {
          window.location.reload()
        })
    })
*/
    // RESET button
    function Reset() {
        client.destroy().then(() => {
          window.location.reload()
        })
    }


    // Add event listener "Do you have a Gamer Pass" YES button
    document.getElementById('haveGamerPassYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_gamer_pass}}'
               })
        console.log('signature:', signature);  
    })
    // Add event listener "Do you have a Gamer Pass" NO button
    document.getElementById('haveGamerPassNo').addEventListener('click', async () => {
        document.getElementById("haveGamerPass").innerHTML = '';
        document.getElementById("registerGamerPass").style.visibility = 'visible';
    })


  // Add event listener "Do you want to register a Gamer Pass" YES button
     document.getElementById('registerGamerPassYes').addEventListener('click', async () => {
        document.getElementById("registerGamerPass").innerHTML = '';
        document.getElementById("over13").style.visibility = 'visible';
    })
    // Add event listener "Do you want to register a Gamer Pass" NO button
    document.getElementById('registerGamerPassNo').addEventListener('click', async () => {
        document.getElementById("registerGamerPass").innerHTML = '';
        document.getElementById("haveGamerPass").innerHTML = '';
        document.getElementById("account").innerHTML = '';
        document.getElementById("downloadGamerPass").innerHTML = '';
        document.getElementById("over13").innerHTML = '';
        document.getElementById("welcomeText").innerHTML = 'Thank you for your visit !';
        document.getElementById("welcome").style.visibility = 'visible';
    })


    // Add event listener to the OVER13 YES button
    document.getElementById('over13Yes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_over13}}'
               })
        console.log('signature:', signature);
    })
    // Add event listener to the OVER13 SKIP button
    document.getElementById('over13No').addEventListener('click', async () => {
        document.getElementById("over13").innerHTML = '';
        document.getElementById("account").style.visibility = 'visible';
      })


      // Add event listener to the account YES button
    document.getElementById('accountYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_account}}'
               })
        console.log('signature:', signature);
    })
    // Add event listener to the account NO button
    document.getElementById('accountNo').addEventListener('click', async () => {
        document.getElementById("account").innerHTML = '';
        document.getElementById("downloadGamerPass").style.visibility = 'visible';
      })
     

    // Add event listener "do you want a Gamer Pass" YES button
    document.getElementById('downloadGamerPassYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_download_gamer_pass}}'
               })
        console.log('signature:', signature);
        newGamerPass = true;
    })
    // Add event listener "do you want a Gamer Pass" NO button
    document.getElementById('downloadGamerPassNo').addEventListener('click', async () => {
        document.getElementById("downloadGamerPass").innerHTML = '';
        document.getElementById("welcome").style.visibility = 'visible';
        document.getElementById("welcomeText").innerHTML = 'Thank you for your visit !';
    })
  
    </script>

<script>
        var source = new EventSource('/sandbox/dapp/use_case/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data)
            //document.getElementById('dataSent').innerText = result.data;
         
            if (result.over13 == 'verified' && result.id == '{{id}}' ){
                console.log("result = ", result);
                document.getElementById("over13").innerHTML = '';
                document.getElementById("account").style.visibility = 'visible';  
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.account == 'verified' && result.id == '{{id}}' ){
                console.log("result = ", result);
                document.getElementById("account").innerHTML = '';
                document.getElementById("downloadGamerPass").style.visibility = 'visible';  
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.gamer_pass == 'verified' && result.id == '{{id}}' ){
              console.log("result = ", result);
                document.getElementById("haveGamerPass").innerHTML = '';
                document.getElementById("account").innerHTML = '';
                document.getElementById("registerGamerPass").innerHTML = '';
                document.getElementById("downloadGamerPass").innerHTML = '';
                document.getElementById("over13").innerHTML = '';
                document.getElementById("welcomeText").innerHTML = 'Congrats !';
                document.getElementById("welcome").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.gamer_pass == 'issued' && result.id == '{{id}}'){
              console.log("result = ", result);
                document.getElementById("downloadGamerPass").innerHTML = '';
                document.getElementById("welcomeText").innerHTML = 'Congrats you have now your Gamer Pass !';
                document.getElementById("welcome").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
        };
</script>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


  </body>
</html>