<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html >
  <head> 
    {% include 'head.html' %}
    <script> window.beaconSdkDebugEnabled = false    </script>
    <script src="/static/walletbeacon.min.js"></script>
  </head>


  <body style="background-color: rgb(185, 179, 243) ">
    {% include 'use_case/dapp_demo_nav_bar.html' %}

    <div class="p-5 text-center"> 

    <div id="pairing">
        <h1 class="mt-5" >Demo : onboard users on Tezos dApps with Beacon and Altme wallet</h1>
        <h4>Secure your onboarding, know your users and respect their privacy with Self Sovereign Identity on Web3 apps</h4>
     <!--   <h6> Download the Altme wallet from <a href="https://play.google.com/store/apps/details?id=co.altme.alt.me.altme">Google play</a> or <a href="https://apps.apple.com/fr/app/altme/id1633216869">Apple store</a> and create a new wallet</h6>
     -->
        <br>
        <button  class="btn btn-outline-dark" id="requestPermission">SYNCHRONIZE YOUR ALTME WALLET</button><br>
        <button class="btn btn-outline-dark" id="reset">RESET</button><br>

        <br /><br />
    </div>
    

    <div id="have_loyalty">
      <h2>Do you have your loyalty card ?</h2>
      <button class="btn btn-outline-dark" id="signPayloadHaveLoyaltyYes" >YES</button>
      <button class="btn btn-outline-dark" id="signPayloadHaveLoyaltyNo" >NO</button>
      <br><br>  <br><br>
      <hr> 
      <div id="webhook">
          <h3>The Developers' Corner : data received on webhook</h3>
          <textarea id="dataSent" rows="10" cols="100"></textarea>
      </div>
  </div>


    <div id="over13">
        <h2>Are you over 13 ?</h2>
        <button class="btn btn-outline-dark" id="signPayloadOver13Yes" >YES</button>
        <button class="btn btn-outline-dark" id="signPayloadOver13No" >SKIP</button>
        <br><br> <br><br>
        <hr> 
        <div id="webhook">
            <h3>The Developers' Corner : data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>

    </div>


    
   

    <div id="want_loyalty">
        <h2>Do you want a loyalty card ?</h2>
        <button  class="btn btn-outline-dark" id="signPayloadWantLoyaltyYes" >YES</button>
        <button class="btn btn-outline-dark" id="signPayloadWantLoyaltyNo"" >NO</button>  
        <br><br>  <br><br>
        <hr> 
        <div id="webhook">
            <h3>The Developers' Corner : data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>


    <div id="welcome">
        <h1>Welcome on our web3 application !</h1>
        <br><br>  <br><br> 
        <hr> 
        <div id="webhook">
            <h3>The Developers' Corner : data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>
  </div>
 </div>         
 {% include 'use_case/dapp_footer.html' %}

    <script>
    document.getElementById('reset').style.visibility = 'hidden';
    document.getElementById('over13').style.visibility = 'hidden';
    document.getElementById('have_loyalty').style.visibility = 'hidden';
    document.getElementById('want_loyalty').style.visibility = 'hidden';
    document.getElementById('welcome').style.visibility = 'hidden';


    // Initiate DAppClient
    const client = beacon.getDAppClientInstance({
        name: 'Demo Altme', // Name of the DApp,
        disclaimerText: 'https://altme.io',
        //errorMessages: {
        //  KT1RPW5kTX6WFxg8JK34rGEU24gqEEudyfvz: {
        //    NOT_OWNER: 'You are not the owner of this token.'
        //  }
        //}
      })

    // Display the active account in the UI
    const updateActiveAccount = () => {
        client.getActiveAccount().then((activeAccount) => {
          if (activeAccount) {
            console.log(activeAccount)
            document.getElementById("requestPermission").style.visibility = 'hidden';
            document.getElementById("have_loyalty").style.visibility = 'visible';
            document.getElementById("reset").style.visibility = 'visible';
          } else {
            //document.getElementById('activeAccount').innerText = ''
            //document.getElementById('activeAccountNetwork').innerText = ''
            //document.getElementById('activeAccountTransport').innerText = ''
          }
        })
    }

    updateActiveAccount()


      // Initiate a permission request
    const requestPermission = (callback) => {
        client
          .requestPermissions(/*{ network: { type: beacon.NetworkType.DELPHINET } }*/)
          .then((permissions) => {
            console.log('permissions', permissions)
            if (callback) {
              callback(permissions)
            }
            updateActiveAccount()
          })
          .catch((error) => {
            console.log('error during permission request', error)
          })
      }


      // Add event listener to the button
    document.getElementById('requestPermission').addEventListener('click', () => {
        requestPermission()
    })

    // Add event listener to the RESET button
    document.getElementById('reset').addEventListener('click', () => {
        client.destroy().then(() => {
          window.location.reload()
        })
    })

    // Add event listener to the STUDENT YES button
    document.getElementById('signPayloadHaveLoyaltyYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_student}}'
               })
        console.log('signature:', signature);
        
    })

    // Add event listener to the STUDENT SKIP button
    document.getElementById('signPayloadHaveLoyaltyNo').addEventListener('click', async () => {
        document.getElementById("have_loyalty").innerHTML = '';
        document.getElementById("over13").style.visibility = 'visible';
    })


    // Add event listener to the OVER13 YES button
    document.getElementById('signPayloadOver13Yes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_over13}}'
               })
        console.log('signature:', signature);
    })
    
    // Add event listener to the OVER13 SKIP button
    document.getElementById('signPayloadOver13No').addEventListener('click', async () => {
        document.getElementById("over13").innerHTML = '';
        document.getElementById("want_loyalty").style.visibility = 'visible';
      })
     

    
    
    // Add event listener to the LOYALTY YES button
    document.getElementById('signPayloadWantLoyaltyYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_loyalty}}'
               })
        console.log('signature:', signature);
        //document.getElementById("loyalty").innerHTML = '';
        //document.getElementById("welcome").style.visibility = 'visible';
    })
    
    // Add event listener to the LOYALTY SKIP button
    document.getElementById('signPayloadWantLoyaltyNo').addEventListener('click', async () => {
        document.getElementById("want_loyalty").innerHTML = '';
        document.getElementById("welcome").style.visibility = 'visible';
    })
  
    </script>

<script>
        var source = new EventSource('/sandbox/dapp/use_case/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data)
            //document.getElementById('dataSent').innerText = result.data;
            console.log(result);
            if (result.over13 == 'ok' && result.id == '{{id}}' ){
                console.log(result);
                document.getElementById("over13").innerHTML = '';
                document.getElementById("want_loyalty").style.visibility = 'visible';  
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.loyalty == 'ok' && result.id == '{{id}}' ){
                document.getElementById("have_loyalty").innerHTML = '';
                document.getElementById("want_loyalty").innerHTML = '';
                document.getElementById("over13").innerHTML = '';
                document.getElementById("welcome").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.issue == 'ok' && result.id == '{{id}}'){
                document.getElementById("want_loyalty").innerHTML = '';
                document.getElementById("over13").innerHTML = '';
                document.getElementById("welcome").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
        };
</script>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


  </body>
</html>