<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html >
  <head> 
    {% include 'head.html' %}
    <script> window.beaconSdkDebugEnabled = false    </script>
    <script src="/static/walletbeacon.min.js"></script>
  </head>


  <body style="background-color: rgb(185, 179, 243) ">
    <div class="p-5 text-center"> 

    <div id="pairing">
        <h1 class="mt-5" >Onboarding with Beacon and Altme wallet</h1>
        <h4> Download the Altme wallet from <a href="https://play.google.com/store/apps/details?id=co.altme.alt.me.altme">Google play</a> or <a href="https://apps.apple.com/fr/app/altme/id1633216869">Apple store</a> and create a new wallet</h4>
        <br>
        <button id="reset">Reset and Refresh</button><br>
        <button  style="btn btn-secondary" id="requestPermission">Synchronize your Altme wallet with Beacon</button><br>
        <br /><br />
    </div>
    

    <div id="over18">
        <h2>Are you over 18 ?</h2>
        <button id="signPayloadOver18Yes" >YES</button>
        <button id="signPayloadOver18No" >SKIP</button>
        <br><br> <br><br>
        <hr> 
        <div id="webhook">
            <h3>Data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>


    <div id="student">
        <h2>We propose a 25% discount to students, Do you have a student card ?</h2>
        <button id="signPayloadStudentYes" >YES</button>
        <button id="signPayloadStudentNo" >SKIP</button>
        <br><br>  <br><br>
        <hr> 
        <div id="webhook">
            <h3>Data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>
   

    <div id="loyalty">
        <h2>Do you want a Loyalty card ?</h2>
        <button id="signPayloadLoyaltyYes" >YES</button>
        <button id="signPayloadLoyaltyNo"" >SKIP</button>  
        <br><br>  <br><br>
        <hr> 
        <div id="webhook">
            <h3>Data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>

    <div id="welcome">
        <h1>Welcome on our web3 dApp !</h1>
        <br><br> 
        <hr> 
        <div id="webhook">
            <h3>Data received on webhook</h3>
            <textarea id="dataSent" rows="10" cols="100"></textarea>
        </div>
    </div>
    
  </div>

 </div>   


    <script>
      document.getElementById('reset').style.visibility = 'hidden';
      document.getElementById('over18').style.visibility = 'hidden';
      document.getElementById('student').style.visibility = 'hidden';
      document.getElementById('loyalty').style.visibility = 'hidden';
      document.getElementById('welcome').style.visibility = 'hidden';

      // Initiate DAppClient
      const client = beacon.getDAppClientInstance({
        name: 'Altme use case ', // Name of the DApp,
        disclaimerText: '',
        errorMessages: {
          KT1RPW5kTX6WFxg8JK34rGEU24gqEEudyfvz: {
            NOT_OWNER: 'You are not the owner of this token.'
          }
        }
      })

      // Display the active account in the UI
      const updateActiveAccount = () => {
        client.getActiveAccount().then((activeAccount) => {
          if (activeAccount) {
            console.log(activeAccount)
            document.getElementById("requestPermission").style.visibility = 'hidden';
            document.getElementById("reset").style.visibility = 'visible';
            document.getElementById("over18").style.visibility = 'visible';

          } else {
            //document.getElementById('activeAccount').innerText = ''
            //document.getElementById('activeAccountNetwork').innerText = ''
            //document.getElementById('activeAccountTransport').innerText = ''
          }
        })
      }


      updateActiveAccount()


      // Initiate a permission request
      const requestPermission = (callback) => {
        client
          .requestPermissions(/*{ network: { type: beacon.NetworkType.DELPHINET } }*/)
          .then((permissions) => {
            console.log('permissions', permissions)
            if (callback) {
              callback(permissions)
            }
            updateActiveAccount()
          })
          .catch((error) => {
            console.log('error during permission request', error)
          })
      }



      // Add event listener to the button
      document.getElementById('requestPermission').addEventListener('click', () => {
        requestPermission()
      })

      // Add event listener to the button
      document.getElementById('reset').addEventListener('click', () => {
        client.destroy().then(() => {
          window.location.reload()
        })
      })


    // Add event listener to the button
   document.getElementById('signPayloadOver18Yes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_over18}}'
               })
        console.log('signature:', signature);
      })
      // Add event listener to the button
   document.getElementById('signPayloadOver18No').addEventListener('click', async () => {
        document.getElementById("over18").innerHTML = '';
        document.getElementById("student").style.visibility = 'visible';
      })
     


    // Add event listener to the button
   document.getElementById('signPayloadStudentYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_student}}'
               })
        console.log('signature:', signature);
      })

      // Add event listener to the button
   document.getElementById('signPayloadStudentNo').addEventListener('click', async () => {
        document.getElementById("student").innerHTML = '';
        document.getElementById("loyalty").style.visibility = 'visible';
      })

        
    // Add event listener to the button
   document.getElementById('signPayloadLoyaltyYes').addEventListener('click', async () => {
        const signature = await client.requestSignPayload({
          signingType: beacon.SigningType.RAW,
          payload : '{{payload_loyalty}}'
               })
        console.log('signature:', signature);
        //document.getElementById("loyalty").innerHTML = '';
        //document.getElementById("welcome").style.visibility = 'visible';
      })
      // Add event listener to the button
   document.getElementById('signPayloadLoyaltyNo').addEventListener('click', async () => {
        document.getElementById("loyalty").innerHTML = '';
        document.getElementById("welcome").style.visibility = 'visible';
      })

      
    </script>




<script>
        var source = new EventSource('/sandbox/dapp/use_case/stream');
        source.onmessage = function (event) {
            const result = JSON.parse(event.data)
            //document.getElementById('dataSent').innerText = result.data;
            console.log(result);
            if (result.over18 == 'ok' && result.id == '{{id}}' ){
                console.log(result);
                document.getElementById("over18").innerHTML = '';
                document.getElementById("student").style.visibility = 'visible';  
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.student == 'ok' && result.id == '{{id}}' ){
                document.getElementById("student").innerHTML = '';
                document.getElementById("loyalty").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
            if (result.welcome == 'ok' && result.id == '{{id}}'){
                document.getElementById("loyalty").innerHTML = '';
                document.getElementById("welcome").style.visibility = 'visible';
                document.getElementById("dataSent").innerHTML = result.data;
            }
        };
</script>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


  </body>
</html>